{form userForm class=>"confirm-leave"}

	{control userForm errors}

	{input id}

	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label n:name="name" class="control-label"><span class="required">*</span> {_"Jméno"}</label>
				<input n:name="name" class="form-control input-lg" type="text" placeholder="{_'Zadejte jméno úživatelského účtu'}" />
			</div>

			<div class="form-group">
				<label n:name="email" class="control-label"><span class="required">*</span> {_"Email"}</label>
				<input n:name="email" class="form-control" type="email" placeholder="{_'Zadejte přihlašovací email pro uživetalský účet'}" />
			</div>

				<div class="form-group">
				<label n:name="phone" class="control-label">{_"Telefon"}</label>
				<input n:name="phone" class="form-control" type="text" placeholder="{_'Zadejte telefonní číslo'}" />
			</div>

			{include CP_DIR."/Users/templates/userFormRole.latte", _form => $_form}

			{include CP_DIR."/Users/templates/userFormLocale.latte", _form => $_form}

		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label class="control-label">{_"Portrét"}</label>

				{include CP_DIR."/Forms/templates/picture.latte", _form => $_form, name => "portrait", forced => true, removeEnabled => false}

			</div>
		</div>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg" type="submit">
			<i class="fa fa-check"></i>
			<span>
				{if $brokerProfilEntity->getId()}
					{_"Uložit změny"}
				{else}
					{_"Vytvořit účet"}
				{/if}
			</span>
		</button>

		{if $brokerProfileEntity->getId()}
			<a n:href="Remove! $brokerProfileEntity->getId()" type="submit" class="btn btn-default remove" data-confirm-title="{_'Odebrat účet'}" data-confirm-message="{_'Opravdu chcete makléřský účet odebrat?'}">
				<i class="fa fa-trash-o"></i>
				<span>{_"Odebrat účet"}</span>
			</a>
		{/if}
	</div>

{/form}