@admin-toolbar-height: 10px;

#admin-toolbar{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: @admin-toolbar-height;
	overflow: hidden;
	background: black;
	z-index: 11;

	&:hover{
		height: auto;
		.transition(0.5s);
	}

	a{
		display: inline-block;
		padding: 1em;
		color: white;
		text-decoration: none;

		&:hover{
			background: @color-secondary;
			text-decoration: none;
		}
	}

	@media(max-width: @screen-xs-max){
		a{
			span{
				display: none;
			}
		}
	}
}