.autocomplete-suggestions { 
	border: 1px solid @color-border; 
	border-top: none;
	background: #FFF; 
	cursor: default; 
	overflow: auto; 
	.drop-shadow(0,3px,6px,0.1);
}

.autocomplete-suggestion { 
	padding: 8px 15px; 
	white-space: nowrap; 
	overflow: hidden; 
	color: desaturate(@color-primary, 30%);
	border-bottom: 1px solid lighten(@color-border, 20%);

	&:last-child{
		border-bottom: none;
	}
}

.autocomplete-no-suggestion { 
	padding: 2px 5px;
}

.autocomplete-selected { 
	background: @color-secondary;
	
	&, strong{
		color: white !important; 
	}
}

.autocomplete-suggestions strong { 
	font-weight: bold; 
	color: @color-secondary; 
}

.autocomplete-group { 
	padding: 2px 5px; 
}
.autocomplete-group strong { 
	font-weight: bold; 
	font-size: 16px; 
	color: @color-secondary;
	display: block; 
	border-bottom: 1px solid @color-secondary; 
}