.correct-grid{
	margin-top: -15px;
	margin-bottom: -15px;
	
	> div{
		padding-bottom: 15px;
		padding-top: 15px;

		&.col-xs-5ths:nth-child(5n + 6),
		&.col-sm-5ths:nth-child(5n + 6),
		&.col-md-5ths:nth-child(5n + 6),
		&.col-lg-5ths:nth-child(5n + 6),
		&.col-xs-3:nth-child(4n + 5),
		&.col-sm-3:nth-child(4n + 5),
		&.col-md-3:nth-child(4n + 5),
		&.col-lg-3:nth-child(4n + 5){
			clear: both;
		}
	}
}