.ico-ext {display: inline-block; vertical-align: middle;width: 16px; height: 16px;overflow: hidden; text-indent: -1000px; background: transparent url("@{url-assets}/img/filetype/code.png") 0px 0px no-repeat;}
.ico-ext-3gp { background-image: url("@{url-assets}/img/filetype/film.png"); }
.ico-ext-afp { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-afpa { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-asp { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-aspx { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-avi { background-image: url("@{url-assets}/img/filetype/film.png"); }
.ico-ext-bat { background-image: url("@{url-assets}/img/filetype/application.png"); }
.ico-ext-bmp { background-image: url("@{url-assets}/img/filetype/picture.png"); }
.ico-ext-c { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-cfm { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-cgi { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-com { background-image: url("@{url-assets}/img/filetype/application.png"); }
.ico-ext-cpp { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-css { background-image: url("@{url-assets}/img/filetype/css.png"); }
.ico-ext-doc { background-image: url("@{url-assets}/img/filetype/doc.png"); }
.ico-ext-exe { background-image: url("@{url-assets}/img/filetype/application.png"); }
.ico-ext-gif { background-image: url("@{url-assets}/img/filetype/picture.png"); }
.ico-ext-fla { background-image: url("@{url-assets}/img/filetype/flash.png"); }
.ico-ext-h { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-htm { background-image: url("@{url-assets}/img/filetype/html.png"); }
.ico-ext-html { background-image: url("@{url-assets}/img/filetype/html.png"); }
.ico-ext-jar { background-image: url("@{url-assets}/img/filetype/java.png"); }
.ico-ext-jpg { background-image: url("@{url-assets}/img/filetype/picture.png"); }
.ico-ext-jpeg { background-image: url("@{url-assets}/img/filetype/picture.png"); }
.ico-ext-js { background-image: url("@{url-assets}/img/filetype/script.png"); }
.ico-ext-lasso { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-log { background-image: url("@{url-assets}/img/filetype/txt.png"); }
.ico-ext-m4p { background-image: url("@{url-assets}/img/filetype/music.png"); }
.ico-ext-mov { background-image: url("@{url-assets}/img/filetype/film.png"); }
.ico-ext-mp3 { background-image: url("@{url-assets}/img/filetype/music.png"); }
.ico-ext-mp4 { background-image: url("@{url-assets}/img/filetype/film.png"); }
.ico-ext-mpg { background-image: url("@{url-assets}/img/filetype/film.png"); }
.ico-ext-mpeg { background-image: url("@{url-assets}/img/filetype/film.png"); }
.ico-ext-ogg { background-image: url("@{url-assets}/img/filetype/music.png"); }
.ico-ext-pcx { background-image: url("@{url-assets}/img/filetype/picture.png"); }
.ico-ext-pdf { background-image: url("@{url-assets}/img/filetype/pdf.png"); }
.ico-ext-php { background-image: url("@{url-assets}/img/filetype/php.png"); }
.ico-ext-png { background-image: url("@{url-assets}/img/filetype/picture.png"); }
.ico-ext-ppt { background-image: url("@{url-assets}/img/filetype/ppt.png"); }
.ico-ext-psd { background-image: url("@{url-assets}/img/filetype/psd.png"); }
.ico-ext-pl { background-image: url("@{url-assets}/img/filetype/script.png"); }
.ico-ext-py { background-image: url("@{url-assets}/img/filetype/script.png"); }
.ico-ext-rb { background-image: url("@{url-assets}/img/filetype/ruby.png"); }
.ico-ext-rbx { background-image: url("@{url-assets}/img/filetype/ruby.png"); }
.ico-ext-rhtml { background-image: url("@{url-assets}/img/filetype/ruby.png"); }
.ico-ext-rpm { background-image: url("@{url-assets}/img/filetype/linux.png"); }
.ico-ext-ruby { background-image: url("@{url-assets}/img/filetype/ruby.png"); }
.ico-ext-sql { background-image: url("@{url-assets}/img/filetype/db.png"); }
.ico-ext-swf { background-image: url("@{url-assets}/img/filetype/flash.png"); }
.ico-ext-tif { background-image: url("@{url-assets}/img/filetype/picture.png"); }
.ico-ext-tiff { background-image: url("@{url-assets}/img/filetype/picture.png"); }
.ico-ext-txt, .ui-icon-ext-text { background-image: url("@{url-assets}/img/filetype/txt.png"); }
.ico-ext-vb { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-wav { background-image: url("@{url-assets}/img/filetype/music.png"); }
.ico-ext-wmv { background-image: url("@{url-assets}/img/filetype/film.png"); }
.ico-ext-xls { background-image: url("@{url-assets}/img/filetype/xls.png"); }
.ico-ext-xml { background-image: url("@{url-assets}/img/filetype/code.png"); }
.ico-ext-zip { background-image: url("@{url-assets}/img/filetype/zip.png"); }