div.result {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    text-align: center;
    z-index:9999;
    .drop-shadow(0, 0, 0.5em, 0.3);
    .rounded(0);
    padding: 0 !important;

    .inner {
        position: relative;
        .container();
    }
    
    .close {
        position: absolute;
        top: 50%;
        margin-top: -0.5em;
        .right-with-padding();
    }

    p {
        margin: 0;
        padding: 1em 30px 1em 80px;

        .glyphicon{
            background: white;
            border: @size-border solid;
            width: @size;
            height: @size;
            display:block;
            border-radius: 4em;
            padding: 0.3em;
            font-size: 2.5em;
            line-height: 1.05em;
            text-align: center;
            position: absolute;
            .left-with-padding();
            top: 50%;
            margin-top: -0.8em;
            .drop-shadow(0, 0, 0.5em, 0.3);
        }
    }
}

.alert{
    &.alert-muted{
        border: 1px solid lighten(@color-border, 10%);
        background: lighten(@color-primary, 50%);
        font-style: italic;

        &, & * {
            color: lighten(@color-primary, 10%);
        }
    }
}

#notifications{
    .alert{
        width: 100%;
        .rounded(@border-radius-small);

        .datetime{
            padding: 1em;
            width: 10em;
            text-align: center;
        }

        .content{
            a{
                display: block;
                padding: 1em;
            }
        }

        .toolbar{
            padding: 1em;
            width: 3em;
            text-align: center;
        }
    }
}
