.scrolltotop-button {
  background: url("@{path-assets}img/scrolltotop.png") no-repeat scroll center top transparent;
  display: none;
  height: 64px;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 64px;
  z-index: 33;
  .opacity(0.8);
}