.loading-indicator{
	height: 80px;
	width: 80px;
	background: url("@{url-assets}/img/loading.gif");
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay{
	background: #FFFFFF url("@{url-assets}/img/loading.jpg");
	.opacity(0.4);
}