<div class="row information-row">
	<div class="col-sm-6">
		<span>{_$label}</span>
	</div>
	<div class="col-sm-6 text-right">
		{if strlen($value)}
			<strong>{$value}</strong>
		{else}
			<em>Nezadáno</em>
		{/if}
	</div>
</div>