{? $messages = json_decode(json_encode($messages), true);}

{foreach $messages AS $_message}
	{if !is_array($_message)}
		{if !isset($type)}
			{var $type = "alert-info"}
		{/if}
		{var $message = array(
			"type" => $type,
			"message" => $_message
		)}
	{else}
		{var $message = $_message}
	{/if}

	<div class="alert {$message[type]}">
		<div class="container">
			<i class="fa fa-{if $message[type] == "alert-success"}check{elseif $message[type] == "alert-info"}info{else}remove{/if}"></i>
			{! $message[message]}
		</div>
	</div>
{/foreach}

{if isset($noMessages)}
	<div class="empty">
		{! $noMessages}
	</div>
{/if}