{form demandForm class=>"confirm-leave"}

	{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}

	{input demand_id}

	{if $user->isAllowed('Admin:Demands', 'setUser')}
		<div class="form-group">
			<label class="control-label" n:name="userId">{_'Makléř'}</label>
			<select class="form-control" n:name="userId"></select>
		</div>
	{else}
		{input userId}
	{/if}

	<div class="form-group">
		<label class="control-label" n:name="demand_client_title"><span class="required">*</span> {_'Jméno klienta'}</label>
		<input class="form-control" n:name="demand_client_title" placeholder="{_'Zadejte jméno klienta'}">
	</div>

	<div class="form-group">
		<label class="control-label" n:name="demand_client_phone"><span class="required">*</span> {_'Telefon klienta'}</label>
		<input class="form-control" n:name="demand_client_phone" placeholder="{_'Zadejte telefon klienta'}">
	</div>

	<div class="form-group">
		<label class="control-label" n:name="demand_client_email">{_'Email klienta'}</label>
		<input class="form-control" n:name="demand_client_email" placeholder="{_'Zadejte email klienta'}">
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label" n:name="advert_function">{_'Hledá'}</label>
				<select class="form-control" n:name="advert_function"></select>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label" n:name="advert_type">{_'Typ nemovitosti'}</label>
				<select class="form-control" n:name="advert_type"></select>
			</div>
		</div>
	</div>
	<div class="form-group advert_subtype">
		<label class="control-label">{_'Upřesnění typu'}</label>
		<div class="checkboxlist">
			{input advert_subtype}
		</div>
	</div>

	{include CP_DIR."/Forms/templates/addressInput.latte", _form => $_form, required => true, setRadius => true, name => "demand_locality", address => true, labelAddress => "Požadovaná lokalita", placeholderAddress => "Zadejte adresu požadované lokality", placeholderRadius => "Hledat v okruhu"}

	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
				<label class="control-label" n:name="demand_area_from">{_'Plocha od'}</label>
				<div class="input-group">
					<input class="form-control" n:name="demand_area_from" placeholder="{_'Zadejte minimální plochu'}" type="number">
					<span class="input-group-addon">
						m<sup>2</sup>
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label class="control-label" n:name="demand_area_to">{_'Plocha do'}</label>
				<div class="input-group">
					<input class="form-control" n:name="demand_area_to" placeholder="{_'Zadejte maximální plochu'}" type="number">
					<span class="input-group-addon">
						m<sup>2</sup>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
				<label class="control-label" n:name="demand_price_from">{_'Cena od'}</label>
				<div class="input-group">
					<input class="form-control" n:name="demand_price_from" placeholder="{_'Zadejte minimální cena'}" type="number">
					<span class="input-group-addon">
						Kč
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label class="control-label" n:name="demand_price_to">{_'Cena do'}</label>
				<div class="input-group">
					<input class="form-control" n:name="demand_price_to" placeholder="{_'Zadejte maximální cenu'}" type="number">
					<span class="input-group-addon">
						Kč
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label" n:name="demand_description">{_'Další požadavky'}</label>
		<textarea class="form-control" n:name="demand_description" placeholder="{_'Uveďte případné další požadavky'}"></textarea>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit poptávku'}</span>
		</button>

		<a n:if="$demandEntity->getId() && $demandEntity->isRemoveAllowed($user)" n:href="Remove! $demandEntity->getId()" title="{_'Odebrat tuto poptávku'}" class="btn btn-default btn-lg confirm" data-confirm-title="{_'Odebrat poptávku'}" data-confirm-message="{_'Opravdu chcete tuto poptávku odebrat?'}">
			<i class="fa fa-trash-o"></i>
			<span>{_'Odebrat poptávku'}</span>
		</a>
	</div>

{/form}