{default $forced = false}
{default $forcedImage = false}
{default $noArticlesLabel = 'Nenalezeny žádné články'}

<div class="articles" n:if="$articlesCollection->count() || $forced">
	<div n:foreach="$articlesCollection->getAll() AS $articleEntity" class="article">
		<div class="row">
			<div class="col-sm-4" n:if="$articleEntity->mainImageEntity->exists() || $forcedImage">
				<a n:href="Projects:article $projectEntity->getId(), id => $articleEntity->getId()" title="{_'Zobrazit celý článek'}" class="image">
					{image $articleEntity->mainImageEntity, forced => true}
				</a>
			</div>
			<div class="{if $articleEntity->mainImageEntity->exists() || $forcedImage}col-sm-8{else}col-sm-12{/if}">
				<h3>
					<a n:href="Projects:article $projectEntity->getId(), id => $articleEntity->getId()" title="{_'Zobrazit celý článek'}">
						{$articleEntity->title}
					</a>
				</h3>
				<p>
					{strip_tags($articleEntity->snippet)|truncate:200}
				</p>
				<p class="text-right">
					{$articleEntity->published|date}&nbsp;|&nbsp;{$articleEntity->authorEntity->getName()}</span>
				</p>
			</div>
		</div>
	</div>

	<div n:if="!$articlesCollection->count()" class="empty">
		<p>{_$noArticlesLabel}</p>
	</div>

	{$articlesCollection->pagination->getControl()}

</div>