{block adminToolbarButtons}
	{include CP_DIR."/Projects/FrontModule/templates/default/adminToolbarButtons.latte"}
{/block}

{block content}
<div class="container projects list">
	<h1>
		<span n:block="title">{_'Naše projekty'}</span>
		<small>{_'přehled našich projektů'}</small>
	</h1>
	
	{if $projectsCollection->count()}
		<div class="row">
			<div n:foreach="$projectsCollection->getAll() AS $projectEntity" class="col-sm-4">
				{include "project.latte", projectEntity => $projectEntity}
			</div>
		</div>
	{else}
		<div class="empty">
			<p>{_'Nenalezeny žádné projekty'}</p>
		</div>
	{/if}
</div>
{/block}