{block adminToolbarButtons}
	{include CP_DIR."/Projects/FrontModule/templates/detail/adminToolbarButtons.latte"}
{/block}

{block content}
<div class="container projects detail">
	<div class="row">
		<div class="col-xs-10">
			<h1>
				<span n:block="title">{$projectEntity->title}</span>

			</h1>
		</div>
		<div class="col-xs-2 text-right">
			<br/>
			<br/>
			<a n:href="Projects:default" title="{_'Zpět na přehled našich projektů'}">
						<i class="fa fa-chevron-right"></i> {_'Naše projekty'}
					</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div n:if="$projectEntity->youtubeCode" class="video">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item img-thumbnail" src="//www.youtube.com/embed/{$projectEntity->youtubeCode}" allowfullscreen></iframe>
				</div>
			</div>

			<h2>{_'O projektu'}</h2>

			{$projectEntity->description}

			<div n:if="$projectEntity->address->exists()">
				<h2>
					<i class="fa fa-map-marker"></i>
					<span>{$projectEntity->address}</span>
				</h2>

				{map $projectEntity->address}

			</div>

			<div n:if="count($projectEntity->imagesCollection)">
				<h2>
					<i class="fa fa-camera"></i>
					<span>{_'Galerie'}</span>
					<small>{_'představení projektu'}</small>
				</h2>

				{gallery $projectEntity->imagesCollection, cols => 3}

			</div>

		</div>
		<div class="col-sm-6">
			<div class="broker" n:foreach="$usersCollection->getAll() AS $userEntity">
				
				{include "../Contacts/userCard.latte", userEntity => $userEntity}

			</div>

			{if $articlesCollection->count()}
				<h2>
					<i class="fa fa-clock-o"></i>
					<span>{_'Aktuality'}</span>
				</h2>

				{include CP_DIR."/Projects/FrontModule/templates/articles.latte", articlesCollection => $articlesCollection}
			{/if}

			<div n:if="$estatesCollection->count()" class="estates list">
				<h2>{_'Nemovitosti'}</h2>

				{include APP_DIR."/FrontModule/templates/Estates/default/items.latte", estatesCollection => $estatesCollection}

			</div>

		</div>
	</div>
</div>