<div class="project">
	<a n:href="Projects:detail $projectEntity->getId()" title="{_'Zobrazit informace o projektu'}" class="image">
		{image $projectEntity->imagesCollection->getMain(), forced => true}
	</a>
	<h2>
		<a n:href="Projects:detail $projectEntity->getId()" title="{_'Zobrazit informace o projektu'}">
			{$projectEntity->title}
		</a>
	</h2>
	<p n:if="$projectEntity->address" class="lead">
		{$projectEntity->address}
	</p>
	<p>
		{$projectEntity->description|striptags|truncate:200}
	</p>
</div>