{block adminToolbarButtons}
	{include CP_DIR."/Contacts/FrontModule/templates/default/adminToolbarButtons.latte"}
{/block}

{block title}{_'Kontakty'}{/block}

{block content}
<div class="container text-center contacts">
	
	{centeredTitle "h1", title => "Kontakty"}

	<p class="lead">
		{$contactsEntity->contacts_company_title}
	</p>

	<address>
		{! implode("<br/>", explode(",", $contactsEntity->contacts_company_address))}
	</address>
	
	<p>
		{_'IČ'}: {$contactsEntity->contacts_company_ic}
		<span n:if="$contactsEntity->contacts_company_dic">
			<br/>
			{_'DIČ'}: {$contactsEntity->contacts_company_dic}
		</span>
	</p>
	<br/><br/>
	<div class="lead">
		<div n:if="$contactsEntity->contacts_phone">
			<i class="fa fa-phone"></i> {$contactsEntity->getFormattedPhones()}
		</div>
		<div n:if="$contactsEntity->contacts_email">
			<a href="mailto: {$contactsEntity->contacts_email|encryptemail}" title="{_'Napište nám'}">
				<i class="fa fa-envelope"></i> {$contactsEntity->contacts_email|encryptemail}
			</a>
		</div>
	</div>
	
	<div n:foreach="$contactsEntity->contacts_offices AS $officeEntity">
		{centeredTitle "h2", title => $officeEntity->office_title, small => $officeEntity->office_address, icon => 'fa fa-map-marker'}

		{map $officeEntity->office_address, classWrapper => "map-wrapper contacts-map", class => "map"}
	</div>

	{centeredTitle "h2", title => "Náš tým", small => "tým makléřů Elite Living"}
	
	<div class="estates brokers text-center row">
		<div class="col-xs-6 col-sm-4 col-lg-3" n:foreach="$brokersCollection->getAll() AS $userEntity">
			{define avatar}
				<div class="image">
					{image $userEntity->avatar, forced => true, ratio => 0.7, class => "img-responsive", noImageSrc => "assets/img/no-image/no-user-image.svg", alt => $userEntity->getName()}
				</div>
			{/define}

			{if $userEntity->brokerProfileExists()}
				<a n:href="BrokerProfiles:detail $userEntity->getId()" title="{_'Zobrazit profil makléře'}">
					{include avatar}
				</a>
			{else}
				{include avatar}
			{/if}
			<hr/>
			<h3>
				{if $userEntity->brokerProfileExists()}
					<a n:href="BrokerProfiles:detail $userEntity->getId()" title="{_'Zobrazit profil makléře'}">
						{$userEntity->getName()}
					</a>
				{else}
					{$userEntity->getName()}
				{/if}
			</h3>
			<p>
				<i class="fa fa-phone"></i>
				{$userEntity->getPhone()}
				<br/>
				<i class="fa fa-envelope"></i>
				<a href="mailto:{$userEntity->getEmail()}" title="{_'Napsat makléři'}">{$userEntity->getEmail()}</a>
			</p>
		</div>
	</div>
</div>


