@path: "..";
@path-assets: "../../../assets";
@url-assets: @path-assets;

@import url("http://fonts.googleapis.com/css?family=Lora&subset=latin,latin-ext");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

@import "@{path-assets}/css/bootstrap.grid.xxs.5ths.min.css";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/variables.less";
@import (reference) "@{path-assets}/less/variables.less";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/mixins.less";
@import "@{path-assets}/font-awesome-4.2.0/less/font-awesome.less";
@import "@{path-assets}/less/colorbox.less";
@import "@{path-assets}/less/variables.less";
@import "@{path-assets}/less/mixins.less";
@import "@{path-assets}/less/admin-toolbar.less";
@import "@{path-assets}/less/owl.carousel.less";
@import "@{path-assets}/less/showLoading.less";

@color-primary: #444;
@color-secondary: #AA0000;

@color-border: lighten(@color-primary, 50%);
@color-heading: lighten(@color-primary, 30%);

@background-btn-default: lighten(@color-primary, 65%);

@header-height: 5.4em;

.font{
	font-family: 'Lora', serif;
	letter-spacing: -0.02em;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}

.fa-xl{
	font-size: 3.3em;
	line-height: 1.5em;
}

.services{
	margin: 2em 0;
}


html, body{
	overflow-x: hidden; 
}

body{
	padding: 0;
	margin: 0;
	color: @color-primary;
	position: relative;
	padding-top: 5em;
}

a{
	color: @color-primary;
	outline: 0;

	&:hover{
		color: @color-secondary;
		text-decoration: none;
	}
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	color: @color-heading;
	.font();

	small{
		font-size: 0.6em;
		display: block;	
		color: inherit;
		.font();
		.opacity(0.6);
	}
}

hr{
	display: block;
	border: none;
	height: 3px;
	background-color: @color-primary;
	margin: 1em 0;
}

img:not(#tracy-debug img) {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

ul,ol {
	li{
		padding: 0.3em 0;
	}
}

ul {
	padding: 0;

	li{
		list-style-type: none;
		background: url("@{path}/img/jan-mistoler-logo.svg") left 0.4em no-repeat;
		background-size: 1.3em;
		padding-left: 2em;
	}
}

p.lead{
	//.font();
	letter-spacing: -0.01em;
}

.empty{
	.font();
	font-style: italic;
	font-size: 1.3em;
	text-align: center;
	padding: 1em;
	display: block;
}

.images{
	margin: 0 -1px;

	> div {
		padding: 1px;
	}
}

.videos{
	.item{
		padding: 0 15px;
	}

	.screenshot{
		display: block;
		padding-bottom: 55%;
		background-position: center;
		background-size: cover;
		position: relative;

		.fa{
			position: absolute;
			left: 50%;
			top: 50%;
			width: 80px;
			height: 80px;
			margin-left: -40px;
			margin-top: -40px;
			font-size: 3em;
			text-align: center;
			padding: 0.4em;
			border: 4px solid;
			color: white;
			background: rgba(0,0,0,0.2);
			.drop-shadow(0,0,13px,0.2);
			//.opacity(0.6);
			.rounded(2em);
		}
	}
}

.image,
.video{
	.img-thumbnail{
		padding: 1px;
		.rounded(0);
		//border: none;
		width: 100%;
		display: block;
		margin: 0 !important;
		overflow: hidden;
	}
}

.timeline{
	> div{
		text-align: justify;
		margin-bottom: 2em;

		&:nth-child(3n + 4){
			clear: left;
		}

		ul {
			text-align: left;
		}
	}

	h2{
		text-align: center;
		font-size: 4em;
		color: white;
		background-color: @color-border;
		.rounded(4em);
		width: 2.4em;
		padding: 0.6em;
		margin-left: auto;
		margin-right: auto;
	}
}


/******** Layout ***********/

#messages{
	.alert{
		.rounded(0);
		margin: 0;
		text-align: center;
		.font();
		font-size: 1.4em;

		&:first-child{
			padding-top: 1.5em;
		}
	}
}

#header{
	background: @color-primary;
	position:fixed;
	height: @header-height;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	.drop-shadow(0,0,20px,0.1);

	nav{
		text-align: center;

		font-size: 0;

		a{
			display: inline-block;
			width: 8em;
			font-size: 14px;
			color: white;
			padding: 1em;
			-webkit-transition: background-color 200ms linear;
			-moz-transition: background-color 200ms linear;
			-o-transition: background-color 200ms linear;
			-ms-transition: background-color 200ms linear;
			transition: background-color 200ms linear;
			text-decoration: none !important;

			span{
				.opacity(0.6);
			}

			i{
				display: block;
				margin: auto;
				font-size: 2em;
			}

			&:hover,
			&:active,
			&:focus,
			&:visited,
			&.active{
				background-color: @color-secondary;

				*, span, i{
					text-decoration: none !important;
					outline: none !important;
				}
				
			}

			@media(max-width: @screen-xs-max){
				width: 5.4em;

				span{
					font-size: 0.9em;
				}
			}

			@media(max-width: @screen-xxs-max){
				width: auto;
				padding-top: 1.8em;
				padding-bottom: 1.8em;

				span{
					display: none;
				}

				i{
					font-size: 1.9em;
				}
			}
		}

		@media(max-width: @screen-xxs-max){
			text-align: justify;
		}

		&:after {
			content: "";
			display: inline-block;
			width: 100%;
		}
	}
}

#content{
	overflow: hidden;
	padding-bottom: 9em;

	@media(max-width: @screen-xxs-max){
		text-align: center;
	}
}

#homepage{
	#intro{
		height: 25vw;

		@media(max-width: @screen-xs-max){
			height: 35vw;
		}

		span,
		#logo{
			width: 50%;
			height: 50%;
			left: 25%;
			top: 25%;
		}
	}
}

#intro{
	overflow: hidden;
	height: 15vw;
	position:relative;

	@media(max-width: @screen-xs-max){
		height: 25vw;
	}

	#video-container{
		position: relative;

		video {
			display: block;
			width: 100%;
			height: auto;
			position: absolute;
			top: -10vw;
		}
	}

	span,
	#logo{
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 50%;
		height: 100%;
		left: 25%;
		top: 0;
		position:absolute;
		z-index: 1;
		text-align: left;
		text-indent: -1000px;
		display: block;
	}

	#logo{
		background-image: url("@{path}/img/jan-mistoler-logotype-white.svg");
	}

	strong{
		display: block;
		height: 100%;
		background-size: cover;
		background-position: center;
		//.blur(10px);
		//background-attachment: fixed;
	}

	background-attachment: fixed;
	background-size: cover;
	background-position: center -15vw;
	/*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/

	.centered-title{
		margin-top: 6.2vw;

		.centered-title-padding{
			border-color: white;
		}

		.centered-title-content{
			span{
				text-align: center;
				text-indent: 0;
				color: white;
				width: 100%;
				left: 0;
				position: static;
			}
		}
	}
}

#docs{
	text-align: center;
	
	img{
		width: 100%;
		height: auto;
		margin-top: 1em;
	}

	a:after{
		content: "";
		display: block;
		padding-bottom: 4%;
		background: transparent url("@{path}/img/shadow-2.png") center top no-repeat;
		background-size: 100%;
		margin-bottom: 1em;
	}
}

#info{
	.watermark{
		background: url("@{path}/img/jan-mistoler-watermark-white.svg") right top no-repeat;
		background-size: 45%;
	}

	.radial-gradient(@color-primary, lighten(@color-primary, 10%), darken(@color-primary, 5%));

	&, *{
		color: white;
	}

	h1{
		.opacity(0.6);
		margin: 0;
		padding-top: 3em;
		padding-bottom: 1em;
	}

	.container{
		position:relative;
		
		img{
			height: 801px;
			margin-top: -40%;

			@media(max-width: @screen-md-max){
				margin-top: -20%;
			}

			@media(max-width: @screen-sm-max){
				margin-top: 0;
			}
		}
	}

	@media(max-width: @screen-xxs-max){
		h1{
			padding-top: 1.5em;
		}
	}
}

.img-thumbnail{
	.rounded(0);
	padding: 1px;
}

#portfolio{
	//margin-top: 0-@header-height;

	//.radial-gradient(@color-primary, lighten(@color-primary, 10%), @color-primary);

	.row{
		margin: 0;

		> div {
			padding: 0;

			.item{
				display: block;
				min-height: 200px;
				height: 30vh;
				max-height: 300px;
				position:relative;
				overflow: hidden;

				span{
					display: block;
					position:absolute;
					left: 0;
					top: 0;
					overflow: hidden;
					text-align: left;
					text-indent: -1000px;
					width: 100%;
					height: 100%;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}

				strong{
					display: block;
					height: 100%;
					background-size: cover;
					transition: 3s filter linear;
					-webkit-transition: 3s -webkit-filter linear;
					-moz-transition: 3s -moz-filter linear;
					-ms-transition: 3s -ms-filter linear;
					-o-transition: 3s -o-filter linear;
					.brightness(0.8);
					.bw();
				}

				&:hover{
					strong{
						.brightness(1);
					}
				}
			}
		}
	}

	.item-odhad-nemovitosti strong{
		background-image: url("@{path}/img/portfolio/homepage/odhad-nemovitosti.jpg");
	}

	.item-katastr365 strong{
		background-image: url("@{path}/img/portfolio/homepage/katastr365.jpg");
	}
			
	.item-reality strong{
		background-image: url("@{path}/img/portfolio/homepage/reality.jpg");
	}
			
	.item-broker-trust strong{
		background-image: url("@{path}/img/portfolio/homepage/broker-trust.jpg");
	}
				
	.item-buldoci strong{
		background-image: url("@{path}/img/portfolio/homepage/buldoci.jpg");
	}
	
	.item-rada-cutkova-koptis strong{
		background-image: url("@{path}/img/portfolio/homepage/ak-cutkova.jpg");
	}
				
	.item-prukaz-energeticke-narocnosti-budov strong{
		background-image: url("@{path}/img/portfolio/homepage/pkv.jpg");
	}
			
	.item-uvery-na-bydleni strong{
		background-image: url("@{path}/img/portfolio/homepage/uvery-na-bydleni.jpg");
	}
				
	.item-blog strong{
		background-image: url("@{path}/img/portfolio/homepage/blog.jpg");
	}
	
	.item-bezbatour strong{
		background-image: url("@{path}/img/portfolio/homepage/bezbatour.jpg");
	}
				
	.item-zlaty-plan strong{
		background-image: url("@{path}/img/portfolio/homepage/zlaty-plan.jpg");
	}

	.item-pdf-karta strong{
		background-image: url("@{path}/img/portfolio/homepage/pdf-karta.jpg");
	}
}

.item-odhad-nemovitosti{
	strong{
		background-image: url("@{path}/img/portfolio/odhad-nemovitosti.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/odhad-nemovitosti.png");
	}
}

.item-katastr365{
	strong{
		background-image: url("@{path}/img/portfolio/katastr365.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/katastr365.png");
	}
}
			
.item-reality{
	strong{
		background-image: url("@{path}/img/portfolio/reality.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/reality.png");
	}
}
			
.item-broker-trust{
	strong{
		background-image: url("@{path}/img/portfolio/broker-trust.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/broker-trust.png");
	}
}
				
.item-buldoci{
	strong{
		background-image: url("@{path}/img/portfolio/buldoci.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/buldoci.png");
	}
}
				
.item-rada-cutkova-koptis{
	strong{
		background-image: url("@{path}/img/portfolio/ak-cutkova.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/ak-cutkova.png");
	}
}
				
.item-prukaz-energeticke-narocnosti-budov{
	strong{
		background-image: url("@{path}/img/portfolio/pkv.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/pkv.png");
	}
}
				
.item-uvery-na-bydleni{
	strong{
		background-image: url("@{path}/img/portfolio/uvery-na-bydleni.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/uvery-na-bydleni.png");
	}
}
				
.item-blog{
	strong{
		background-image: url("@{path}/img/portfolio/blog.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/blog.png");
	}
}
				
.item-bezbatour{
	strong{
		background-image: url("@{path}/img/portfolio/bezbatour.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/bezbatour.png");
	}
}
				
.item-zlaty-plan{
	strong{
		background-image: url("@{path}/img/portfolio/zlaty-plan.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/zlaty-plan.png");
	}
}

.item-pdf-karta{
	strong{
		background-image: url("@{path}/img/portfolio/pdf-karta.jpg");
	}

	span{
		background-image: url("@{path}/img/portfolio/se-stinem/pdf-karta.png");
	}
}

#estates{
	padding-bottom: 5em;
}

#video{
	.radial-gradient(@color-primary, lighten(@color-primary, 10%), darken(@color-primary, 5%));

	padding-bottom: 6em;

	&, *{
		color: white;
	}

	h2, h3{
		.opacity(0.6);
	}


}

#reviews{
	label{
		display: none;
	}

	.buttonpane{
		text-align: center;
		margin-bottom: 2em;
	}

	.item{
		p{
			.font();
			font-size: 1.3em;
		}

		padding: 1.5em 0;

		border-bottom: 1px solid @color-border;

		&:last-child{
			border-bottom: none;
		}

		@media(max-width: @screen-xxs-max){
			.text-right{
				text-align: center;
			}
		}

		.row{
			.opacity(0.6);
		}
	}
}

.homepage-section{
	//padding-top: @header-height;
}

.circle-icon(@bg-color, @fg-color){
	display: inline-block;
	background: @bg-color;
	.rounded(4em);
	color: @fg-color !important;
	padding: 0.7em 0.8em 0.5em 0.8em;
	width: 2.3em;
	text-align: center;
}

#contact{
	.container{
		position:relative;
		padding: 2em 0;
	}

	.radial-gradient(@color-primary, lighten(@color-primary, 10%), darken(@color-primary, 5%));

	@media(max-width: @screen-xxs-max){
		text-align: center;
	}

	&, *{
		color: white;
	}

	.img-ark{
		width: 80%;
		height: auto;
	}

	.img-portrait{
		position:absolute;
		left: 0;
		bottom: 0;
		height: 120%;
	}

	h3{
		font-size: 3em;
		.opacity(0.6);
	}

	p{
		margin: 0.2em 0;
	}

	a:hover{
		color: darken(#fff, 20%);
	}

	#author{
		font-size: 0.9em;
		.opacity(0.3);
		padding: 4em 0;
	}

	.socials{
		margin-top: 1em;
	}
}

.socials{
	margin-top: 0.8em;

	.fa {
		.circle-icon(white, @color-primary);
	}

	a:hover{
		.fa{
			background-color: darken(#fff, 20%);
		}
	}
}

.btn{
	.rounded(0);
}

.btn-default{
	background: @background-btn-default;
	.drop-shadow(0,0,0,0);
	border: none;
	color: @color-primary;
	
	&:hover{
		background: darken(@background-btn-default, 5%);
	}
}

.btn-primary{
	background: @color-secondary;
	.drop-shadow(0,0,0,0);
	border: none;
	color: white;
	//.rounded(0);

	&:hover{
		background: darken(@color-secondary, 5%) !important;
	}
}

.btn-ico{
	span{
		display: none;
	}
}

.buttonpane{
	text-align: center;
}

.map-wrapper{
	position:relative;

	.map{
		height: 400px;
		width: 100%;
		.rounded(0);
		margin: 0 !important;
		display: block;
	}

	.btn{
		position:absolute;
		right: 10px;
		top: 10px;
		.rounded(4em);
		width: 50px;
		height: 50px;
		padding: 1em;
	}

	&.contacts-map{
		margin-bottom: -2em;
	}
}

.form-control{
	.rounded(0);
	.inner-shadow(0,0,0,0);
	border: none;
	background-color: lighten(@color-primary, 65%);

	&:focus{
		.drop-shadow(0,0,0,0);
		background-color: lighten(@color-primary, 70%);
	}
}

.form-group{
	margin-bottom: 1.5em;

	label{
	//	display: none;
	}

	&.address{
		.map-wrapper{
			margin-bottom: 0;
		}
	}

	.input-group{
		.form-control{
			padding-right: 1em;
		}

		.input-group-addon{
			.rounded(0);
			background: none;
			border: none;
		}
	}
}

.centered-title{
	margin: 0;

	> div{
		padding: 0;
	}

	margin-top: 40px;
	margin-bottom: 20px;

	.centered-title-padding{
		border-bottom: 1px solid @color-border;
		height: 1.6em;
	}

	.centered-title-content{
		
	}

	h1, h2, h3, h4, h5, h6{
		margin: 0;
	}
}

.checkboxlist{
	.clearfix();

	br {
		display: none;
	}

	label{
		display: block;
		width: 25%;
		float: left;
		font-weight: normal;

		input{
			margin-right: 0.4em;
		}

		@media(max-width: @screen-md-max){
			width: 33%;
		}

		@media(max-width: @screen-sm-max){
			width: 50%;
		}
	}
}

.shadow{
	display: block;
	padding-bottom: 4%;
	background: transparent url("@{path}/img/shadow-2.png") center top no-repeat;
	background-size: 100%;
}

.portfolio-form{
	label {
		display: none;
	}
}

#homepage{
	.estates.list{
		.item{
			margin: 2em 0;
			border: none;
			
			.body{
				padding: 1.5em;
				background: lighten(@color-primary, 70%) url("@{path}/img/jan-mistoler-watermark.svg") left bottom no-repeat;
				background-size: 30%;
			}

			p{
				text-align: justify;
			}

			strong,
			.price{
				.opacity(0.6);
				font-size: 1.4em;
			}

			strong{
				text-align: center;
				font-weight: normal;
				height: 3em;
				overflow: hidden;
				display: block;
			}

			.price{
				text-align: right;
				display: block;
				margin-top: 1.2em;
			}
		}
	}
}

.estates{
	&.list{
		.pages{
			margin:0;
			padding: 0;

			li{
				display: inline-block;
				background: none;
				padding: 0;
				margin: 0 0.1em;

				a{
					display: block;
					text-align: center;
					padding: 0.4em;
					width: 2.4em;
					background-color: @background-btn-default;

					&:hover,
					&:active,
					&:focus{
						background-color: darken(@background-btn-default, 5%);
						color: @color-primary;
						text-decoration: none;
					}
				}

				&.active{
					a, a:hover, a:active, a:focus{
						background-color: @color-secondary;
						cursor: default;
						color: white;
					}
				}
			}
		}

		.items{
			margin: 1em 0;
		}

		.item{
			margin-bottom: 1.5em;
			padding-bottom: 1.5em;
			border-bottom: 1px solid #DDD;

			&:last-child{
				border-bottom: none;
			}

			strong{
				.font();
				font-size: 1.6em;
				display: block;
				margin: 0.5em 0;
				
				em {
					display: block;
					font-style: normal;
					font-size: 0.7em;
				}
			}

			.address {
				display: block;
				font-style: normal;
				font-size: 1.2em;
				.font();
				margin-bottom: 1em;
				.opacity(0.6);

				&:before{
					 content: @fa-var-map-marker;
					 .fa();
				}
			}


			.price{
				text-align: right;
				display: block;
				font-size: 1.8em;
				.font();

				em{
					display: block;
					font-size: 0.6em;
				}
			}

		}
	}

	.sorting{
		.form-group{
			display: inline-block;
			vertical-align: top;
			font-size: 0.9em;
			margin: 0;
			padding: 0;
		
			.form-control{
				font-size: 0.9em;
			}
		}

		.btn{
			vertical-align: top;
			padding: 0.59em;
			width: 2.4em;
			span{
				display: none;
			}

			&:hover,
			&:focus,
			&:active{
				background-color: @color-border;
			}
		}


		label{
			display: none;
		}
	}

	&.detail{

		#intro{
			margin-bottom: 2em;
		}

		@media(max-width: @screen-xxs-max){
			&, .form-control{
				text-align:center;
			}
		}

		.images{
			margin-bottom: 2em;

			.item{
				margin-bottom: 1px;
				margin-right: 1px;
			}

			.image .img-thumbnail{
				border: none;
				padding: 0;
			}
		}

		.price{
			display: block;
			.font();
			font-size: 3em;
			text-align: right;
			.opacity(0.5);
			margin-bottom: 0.5em;

			em,
			i{
				font-size: 0.4em;
				display: block;
				font-style: normal;
			}

			i{
				margin-top: 1em;
			}

			@media(max-width: @screen-xs-max){
				font-size: 2em;
				text-align: center;

				em,i{
					font-size: 0.5em;
				}
			}
		}

		.table-label-value{
			width: 100%;

			tr{
				td{
					border-bottom: 1px solid @color-border;
					padding-top: 1.4em;

					&:first-child{
						text-align: left;
					}

					&:last-child{
						text-align: right;
						font-weight: bold;
						font-size: 1.2em;
						.font();

						@media(max-width: @screen-xs-max){
							font-size: 1em;
						}
					}
				}
			}
		}

		form{
			margin-bottom: 2em;
			
			label{
				display: none;
			}
		}

		.share{
			margin-top: 5em;

			.addthis_toolbox{
				display: inline-block;
				vertical-align: top;
			}

			.btn {
				vertical-align: top;
				height: 32px;
			}
		}
	}
}

.share{
	display: inline-block;
	margin: auto;
	margin: 2em 0;
}

.list-group{
	.list-group-item{
		background: none;
	}
}

.articles{
	> div {
		margin-bottom: 2em;

		&:nth-child(3n + 4){
			clear: left;
		}
	}
}