{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Demands/default/adminToolbarButtons.latte"}
{/block}

{block title}Hledám nemovitost{/block}

{block content}
<div class="container"> 
	{include CP_DIR."/Utils/templates/centeredTitle.latte", label => "Hledám nemovitost"}

	<p class="lead text-center">
		Hledáte exkluzivní nemovitosti? Nenacházíte bydlení či investici dle Vašich představ?
	</p>
	<p class="text-center">
		Vyplňte prosím níže uvedený formulář a my Vám diskrétně nabídneme nemovitosti z databáze neveřejného prodeje nemovitostí a to přímo "na míru" Vaší poptávce.
	</p>
	
	{include APP_DIR."/FrontModule/templates/Demands/form.latte"}

</div>