<a n:if="$user->isAllowed('Admin:Projects','edit')" n:href=":Admin:Projects:edit $projectEntity->getId()" title="{_'Upravit tento projekt'}">
	<i class="fa fa-pencil"></i> 
	<span>{_'Upravit projekt'}</span>
</a>