@path: "..";
@path-assets: "../../../assets";
@url-assets: @path-assets;

//Importy souborů z jiných serverů musí být nad (inline) importy - nějaký bug v lessc
@import url("http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,latin-ext");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

@import "@{path-assets}/css/bootstrap.grid.xxs.5ths.min.css";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/variables.less";
@import (reference) "@{path-assets}/less/variables.less";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/mixins.less";
@import "@{path-assets}/font-awesome-4.2.0/less/font-awesome.less";
@import "@{path-assets}/less/mixins.less";
@import "@{path-assets}/less/admin-toolbar.less";
@import "@{path-assets}/less/colorbox.less";
@import "@{path-assets}/less/showLoading.less";
@import "@{path-assets}/less/owl.carousel.less";

@color-primary: #777;
@color-secondary: #2075BC;
@color-border: lighten(@color-primary, 40%);

/**************************** Type *****************************/

body{
	color: @color-primary;
	padding: 0;
	margin: 0;
}

a{
	color: @color-primary;
}

h1,h2,h3,h4{
	color: @color-secondary;
	font-weight: 200;
	letter-spacing: -0.03em;
	.font();

	small{
		letter-spacing: 0em;	
	}
}

ul{
	list-style-type: none;

	li{
		background: url("@{path}/img/strankyrealitky-logo.svg") left no-repeat;
		background-size: 1.35em;
		padding-left: 2em;
		margin: 0.4em 0;
	}
}

hr{
	border: 0;
	width: 100%;
	background-color: @color-secondary;
	height: 3px;

	&.home{
		background-color: @color-border;
		height: 1px;
		margin: 1px 0;
	}
}

.required{
	.font();
	color: @color-secondary;
	font-size: 2.4em;
	height: 16px;
	overflow: hidden;
	display: inline-block;
	line-height: 0.95em;
}

.btn-lg{
	.rounded(0);
}

.addthis_toolbox{
	display: inline-block;
}

.watermark{
	display: block;
	background: url("@{path}/img/belartis-logo.png") left no-repeat;
	background-size: contain;
	width: 100px;
	height: 60px;
	position: absolute;
	right: -25px;
	top: -60px;
}

.font{
	font-family: 'Didact Gothic', sans-serif;
}

.stripe{
	padding: 1.5em 0;
	background: url("@{path}/img/background.png");

	.container{
		position:relative;
	}

	.estates.list{
		.item{
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.list-group{
	li{
		margin: 0;
		margin-bottom: -1px;
		background: none;
	}
}

.lead{
	.font();
}

.alert.result{
	margin-bottom: 0;
}

/**************************** Form elements *****************************/

.btn{
	background: none;
	border: 2px solid @color-primary;
	.rounded(0);
	padding: 0.62em 1em 0.62em 0.8em;
}

.btn-primary{
	background: @color-secondary;
	border: none;
}

.btn-ico{
	padding: 0.62em;
	width: 3em;
	span{
		display: none;
	}

	.fa{
		.fa-fw();
	}
}

.buttonpane{
	text-align: center;
}

.form-group{
	.form-control{
		.rounded(0);
		.inner-shadow(0,0,0,0);
		border-width: 2px;
		padding: 0.5em 0.7em;
		//font-size: 1.1em;
		height: auto;
		border-color: @color-border;

		&:focus{
			border-color: @color-secondary;
			color: @color-secondary;
		}
	}

	.input-group-addon{
		.rounded(0);
		border: none;
		background: @color-border;
	}

	.checkboxlist{
		.clearfix();

		br {
			display: none;
		}

		label{
			display: block;
			width: 25%;
			float: left;
			font-weight: normal;

			input{
				margin-right: 0.4em;
			}

			@media(max-width: @screen-md-max){
				width: 33%;
			}

			@media(max-width: @screen-sm-max){
				width: 50%;
			}
		}
	}

	&.address{
		.form-control.address{
			//.border-radius(@border-radius-base, 0, 0, @border-radius-base);
		}

		.map-wrapper{
			.map{
				//.border-radius(0, @border-radius-base, @border-radius-base, 0);
				border-top: none;
				border: 1px solid @color-border;
			}
		}

		&.radius{
			.map-wrapper{
				.map{
					.border-radius(0, 0, 0, 0);
					border-bottom: none;
				}
			}

			.input-group{
				.form-control{
					//.border-radius(0, 0, @border-radius-base, 0);
				}

				.input-group-addon{
					//.border-radius(0, @border-radius-base, 0, 0);
				}
			}
		}
	}
}

/**************************** Images, videos, maps *****************************/

.image{
	/*&:after{
		content: "";
		display: block;
		padding-bottom: 3%;
		background: url("@{path}/img/shadow.png") center top no-repeat;
		background-size: 100%;
	}*/

	.img-thumbnail{
		//padding: 1px;	
		padding: 0;
		.rounded(0);
		width: 100%;
	}
}

.video{
	/*&:after{
		content: "";
		display: block;
		padding-bottom: 3%;
		background: url("@{path}/img/shadow.png") center top no-repeat;
		background-size: 100%;
	}*/

	.img-thumbnail{
		padding: 1px;
		padding: 0;
		border: none;
		.rounded(0);
		//border: 1px solid @color-border;
	}
}

.map{
	width: 100%;
	height: 300px;
	.bordered();
	.rounded();
	overflow: hidden;
	margin: 0 !important;
	display: block;
}

.map-wrapper{
	position:relative;

	.btn{
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 100;

		@media(max-width: @screen-xxs-max){
			left: 20px;
			top: 5px;
		}
	}
}

.user-card{
	a:hover .img-thumbnail{
		border-color: @color-secondary;
	}

	.img-thumbnail{
		margin-top: 1em;
	}

	.lead{
		font-size: 1.2em;
		line-height: 1.7em;
	}

	.col-sm-8{
		padding-top: 1.7em;
	}

	h3 a{
		color: @color-secondary;
	}

	margin-bottom: 1em;
}

.screen{
	height: 88vh;

	@media(max-width: @screen-sm-max){
		height: 92vh;
	}
}

/**************************** Header *****************************/

/*body.homepage #header{
	top: 0;
	left: 0;
	position: fixed;
	z-index: 2;
	width: 100%;
	background: white;
}*/

#header{
	height: 12vh;
	overflow: hidden;
	border-bottom: 1px solid @color-border;

	@media(max-width: @screen-sm-max){
		height: 8vh;
	}

	@media(max-width: @screen-xs-max){
		height: auto;
	}

	.menu{
		margin: 0;
		margin-top: 3vh;
		display: block;
		padding:0;
		list-style-type: none;
		text-align: right;
		font-size: 0;

		@media (max-width: @screen-sm-max){
			margin-top: 0;
		}

		@media (max-width: @screen-xs-max){
			height: auto;
			text-align: center;
		}

		li{
			padding: 0;
			margin: 0;
			display: inline-block;
			background: none;
			font-size: 15px;
			
			a{
				
				text-align: center;
				display: block;
				.font();
				font-size: 1.3em;
				padding: 0.6em 1.05em;
				//border-bottom: 4px solid @color-secondary;
				margin: 0 1px;

				@media (min-width: @screen-md-min) and (max-width: @screen-md-max){
					font-size: 1.2em;
					padding-top: 0.8em;
				}

				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
					font-size: 1em;
					padding: 2.25em 0.8em 0.6em 0.8em;
				}

				@media (min-width: @screen-_xs-min) and (max-width: @screen-xs-max){
					font-size: 1em;
					margin-bottom: -4px;
				}

				@media (max-width: @screen-ml-max){
					border-bottom-width: 1px;
				}

				&.menu-item-5{
					span:before{
						.fa();
						content: @fa-var-comment-o;
						margin-right: 0.4em;
					}


					background: @color-secondary;
					color: white;
					
					&:hover{
						background: darken(@color-secondary, 10%);
						color: white;
					}
				}
			}

			&.active,
			a:hover{
				text-decoration: none;
				color: @color-secondary;
				border-color: lighten(@color-secondary, 30%);
			}

			@media (max-width: @screen-ml-max){
				display: block;
			}

			&:last-child{
				@media (max-width: @screen-ml-max){
					a{
						border-bottom: none;
					}
				}
			}
		}
	}

	#header-logo{
		display: block;
		overflow: hidden;
		text-align: left;
		text-indent: -1000px;
		background: url("@{path}/img/strankyrealitky-logotype.svg") left no-repeat;
		background-size: contain;
		height: 12vh;
		//max-width: 220px;

		@media(max-width: @screen-sm-max){
			height: 75px;
		}
	}
}

/**************************** Intro *****************************/

#map{
	margin-bottom: -4em;
	.map{
		height: 400px;
	}

	.btn{
		.rounded(4em);
		right: 10px;
		top: 10px;
		height: 50px;
		width: 50px;
		.opacity(0.6);
		font-size: 1.4em;
		padding: 0.6em;

		@media(max-width: @screen-xxs-max){
			left: 35px;
			top: 8px;
			width: 35px;
			height: 35px;
			font-size: 1.2em;
			padding: 0.3em;
		}
	}
}

#homepage-broker{
	background: url("@{path}/img/broker.png") left bottom no-repeat;
	background-size: 70%;
	height: 100%;
}

#intro{
	background: @color-primary url("@{path}/img/intro/intro-3.jpg") bottom;
	background-size: cover;
	position:relative;

	.title{
		.font();
		font-size: 2em;
		font-weight: normal;
		display: block;
		margin-top: 8vh;
		margin-bottom: 0.4em;
		color: white;
		text-shadow: 1px 1px rgba(0,0,0,0.5);
	}

	.text-shadow{
		color: white;

		h1{
			text-align: center;
			background: url("@{path}/img/strankyrealitky-logo.svg") center top no-repeat;
			background-size: 8em;
			margin-top: 24vh;
			padding-top: 8em;
			small{
				display: block;
			}
		}

		p{
			text-shadow: 1px 1px rgba(0,0,0,0.5);
			//background: rgba(0,0,0,0.3);
			//padding: 1em;
		}

	}

	form{
		position:relative;
		padding: 1.5em;

		.form-control{
			border: none;
		}
		
		z-index: 1;
		background: rgba(255,255,255, 0.85);
	}
}

#lists{
	//margin-top: -4.4em;
	//background: rgba(255,255,255, 0.6);
	//position:relative;
	//z-index: 5;

	h3{
		a{
			//color: white; //darken(@color-primary, 20%);

			/*&:before{
				.fa();
				content: @fa-var-chevron-right;
				font-size: 0.8em;
				margin-right: 0.4em;
			}*/

			display: block;
			padding-top: 15em;
			background-size: cover;

			span{
				display: block;
				background: rgba(0,0,0,0.5);
				padding: 0.6em;
				text-align: center;

				color: white;
			}

			&:hover{
				text-decoration: none;
				span{
					background: rgba(0,0,0,0.7);
				}
			}
		}

		margin-bottom: 1em;
	}

	.row.estates.lists{
		margin: 0;

		> div{
			padding: 0 1px;
		}
	}

	.advert_type-1 h3 a{
		background-image: url("@{path}/img/lists/advert_type-1.jpg");
	}

	.advert_type-2 h3 a{
		background-image: url("@{path}/img/lists/advert_type-2.jpg");
	}

	.advert_type-3 h3 a{
		background-image: url("@{path}/img/lists/advert_type-3.jpg");
	}

	.advert_type-4 h3 a{
		background-image: url("@{path}/img/lists/advert_type-4.jpg");
	}

	.advert_type-5 h3 a{
		background-image: url("@{path}/img/lists/advert_type-5.jpg");
	}
}

#homepage-more{
	position:absolute;
	bottom: 4vh;
	left: 50%;
	margin-left: -10%;
	display: block;
	width: 20%;
	text-align: center;
	color: white;

	@media(max-width: @screen-md-max){
		left: 4vh;
		margin-left: 0;
	}

	.fa{
		width: 1.6em;
		height: 1.6em;
		font-size: 4em;
		border: 2px solid;
		.rounded(4em);
		display: block;
		padding: 0.2em;
		margin: auto;
	}

	span {
		margin-top: 0.6em;
		.font();
		font-size: 1.3em;
	}

	&:hover,
	&:active,
	&:focus{
		color: #ddd;
		text-decoration: none;
	}
}

/**************************** Content *****************************/

#content{
	padding-bottom: 4em;
	background: url("@{path}/img/strankyrealitky-logo-grey.svg") left bottom no-repeat;
	background-size: 40%;
	//border-bottom: 1px solid @color-secondary;
	//margin-bottom: 1px;
	clear: both;
}

/**************************** Footer *****************************/

#footer{
	.radial-gradient(@color-secondary, lighten(@color-secondary, 3%), darken(@color-secondary, 8%));
	
	*, & h3, & a{
		color: white;
	}

	.menu{
		list-style-type: none;
		padding: 0;

		li{
			background-image: url("@{path}/img/strankyrealitky-logo-white.svg");
			background-size: 1.5em;

			a{
				display: block;
				padding: 0.6em 0;
			}

			border-bottom: 1px solid rgba(255,255,255,0.2);

			&:last-child{
				border-bottom: none;
			}
		}
	}

	.form-control{
		border: none;
	}

	textarea.form-control{
		height: 7em;
	}

	.control-label{
		display: none;
	}

	.buttonpane{
		text-align: right;

		.btn{
			background: none;
			border: 2px solid white;
		}

		margin-bottom: 1.5em;
	}

}

/**************************** Author *****************************/

#author{
	padding: 1em;
	text-align: center;
	font-size: 0.9em;
	border-top: 1px solid rgba(255,255,255,0.3);
}

/**************************** Estates *****************************/

.estates{
	&.brokers{
		text-align: center;
		font-size: 0;

		.item{
			width: 25%;
			font-size: 14px;

			display: inline-block;

			margin: none;
			padding: 1em;
		}

		.user-card{
					
			& > div{
				float: none;
				margin: none;
				padding: none;
				width: 100%;
				text-align: center;

				img{
					width: 100%;
				}

				.lead{
					font-size: 1.2em;
				}

				.fa{
					display: none;
				}
			}
		}
	}

	&.lists{
		em {
			color: desaturate(lighten(@color-primary, 40%), 20%);
		}

		ul.advert_function{
			font-size: .9em;
			padding: 0;

			li{
				background: none;
				display: inline-block;
				padding: 0;
				margin: 0;
			}

			li:not(:last-child):after{
				content: "|";
				color: lighten(@color-primary, 40%);
			}
		}

		ul.advert_subtype{
			list-style-type: none;
			padding-left: 0px;
		}
	}

	&.list{
		.pagination{
			li{
				background: none;
			}
		}

		.filter{
			//padding-top: 1.2em;

			.buttonpane{
				text-align: left;

				.btn{
					.btn-lg();
				}
			}
		}

		.item {
			border-bottom: 1px solid @color-border;
			padding-bottom: 1em;
			margin-bottom: 0.8em;
			
			&:last-child{
				border-bottom: none;
			}

			.image{
				display: block;
				margin-top: 0.7em;

				img{
					width: 100%;
				}
			}

			strong{
				color: @color-primary;
				font-weight: normal;
				.font();
				font-size: 1.5em;
				display: block;
				margin-top: 0.3em;

				a {
					color: @color-secondary;
				}
			}

			em{
				display: block;
				font-size: 1.2em;
				margin-bottom: 0.6em;
			}

			p{
				//text-align: justify;
				//font-size: 0.9em;

				&.lead{
					font-size: 1.2em;

					border-bottom: 2px solid @color-secondary;
					padding-bottom: 0.6em;
				}
			}

			span{
				color: @color-secondary;
				.font();
				font-size: 1.4em;
				display: block;
				text-align:right;

				em, i{
					display: block;
					color: @color-primary;
					font-size: 0.7em;
					margin-bottom: 0.5em;
				}
			}

			ul{
				list-style-type: none;
				padding: 0;

				li{
					font-size: 1.2em;
					background: none;
					padding: 0;
				}
			}
		}
	}

	&.detail{
		.left{
			margin-top: 1.8em;
		}

		.title{
			background: @color-secondary;

			h1{
				color:white;
			}
		}

		.images{
			&.row{
				margin: 0 -5px;

				> div {
					padding: 5px;
				}
			}

			> div{
				.image{
					display: block;
					width: 100%;
				}
			}
		}

		.main-image{
			display: block;
		}

		table{
			width: 100%;
			border-spacing: 0;
			margin-bottom: 0.8em;

			td{
				padding: 0.6em 0 0.2em 0;
				border-bottom: 1px solid @color-border;

				&:first-child{
					.opacity(0.8);
				}

				&:last-child{
					text-align: right;
					font-weight: bold;
				}
			}
		}

		.price{
			overflow: hidden;
			margin-top: 15px;
			display: block;
			text-align: right;
			background-color: @color-primary;
			//.radial-gradient(@color-primary, lighten(@color-primary, 10%), darken(@color-primary, 0%));
			font-size: 3.2em;
			letter-spacing: -0.06em;
			.font();
			//.rounded();
			padding: 0.3em 0.5em;

			&, & * {
				color: white;
			}

			em{
				font-style: normal;
				display: block;
				.opacity(0.6);
				font-size: 0.4em;
				letter-spacing: 0;	
				margin-bottom: 0.5em;
			}

			i{
				display: block;
				font-size: 0.3em;
				font-family: @font-family-base;
				letter-spacing: 0;	
			}

			@media (max-width: @screen-sm-max){
				font-size: 2.8em;
			}
		}

		.map{
			height: 350px;
		}
	}
}

.collapsed-filter{
	display: block;
	text-align: right;
	position: relative;
	top: -3.5em;

	.collapsible-content{
		text-align: left;
	}
}

/**************************** Extra *****************************/

.services{
	margin-top: 2em;
	text-align: center;

	/*> div{
		height: 15vw;
	}*/

	&:not(.homepage) > div:nth-child(3n+4){
		clear: both;
	}

	@media (max-width: @screen-sm-max){
		&:not(.homepage){

			> div:nth-child(3n+4){
				clear: none;
			}

			> div:nth-child(2n+3){
				clear: both;
			}
		}

		&.homepage > div:nth-child(3n+4){
			clear: both;
		}
	}

	@media (max-width: @screen-xs-max){
		&.homepage{
			> div:nth-child(3n+4){
				clear: none;
			}

			> div:nth-child(2n+3){
				clear: both;
			}
		}
	}


	.fa{
		font-size: 4em;
		//color: lighten(@color-secondary, 40%);
		.opacity(0.3);
	}

	strong{
		display: block;
		margin: 0.7em 0;
		.font();
		//color: @color-secondary;
		font-size: 1.3em;
		font-weight: normal;
	}

	p{
		font-size: 0.9em;
	}

	h2{
		color: @color-primary;
		font-size: 1.5em;
	}

	a{
		color: @color-secondary;

		&:hover{
			text-decoration: none;

			strong{
				text-decoration: underline;
			}
		};
	}
}

.brokerprofiles{
	&.detail{
		.images.broker{
			margin: 1em -5px;

			> div{
				padding: 5px;

				&:first-child{
					width: 100%;
					float: none;
				}

				img{
					width: 100%;
				}
			}
		}

		.images.estates{
			.owl-item {
				padding: 0 0.5em;
			}
		}

		.testimonials{
			q{
				&:before{
					content: "\"";
					font-family: Times New Roman;
					line-height: 0.8em;
					font-size: 8em;
					float: left;
					color: @color-border;
					width: 0.45em;
					height: 0.45em;
					display: inline-block;
				}

				&:after{
					display: none;
				}
			}

			.author{
				strong{
					.font();
					font-weight: normal;
					font-size: 1.4em;
				}
			}
		}
	}
}

#frm-sortingForm{
	select.form-control,
	.form-group,
	button {
		display: inline-block !important;
		vertical-align: top;
	}

	label.control-label{
		display: none;
	}

}