{default $showAdvertFunction = true}
{default $showAdvertSubtype = true}

<div class="row estates lists">
	<div n:foreach="$lists['lists'] AS $key => $list" class="col-xs-6 col-sm-5ths advert_type-{$key}">
		<h3>
			<a n:href="Estates:default advert_type => $key" title="{_$list[title]}"><span>{_$list[title]}</span></a>
		</h3>

		<ul class="advert_function" n:if="$showAdvertFunction && count($list[lists][advert_function])">
			<li n:foreach="$list[lists][advert_function] AS $subKey => $subList">
				{if $subList['count'] > 0}
					<a n:href="Estates:default advert_type => $key, advert_function => $subKey" title="{_$subList[title]}">{_$subList[title]}</a>
				{else}
					<em>{_$subList[title]}</em>
				{/if}
			</li>
		</ul>

		<ul class="advert_subtype" n:if="$showAdvertSubtype && count($list[lists][advert_subtype])">
			<li n:foreach="$list[lists][advert_subtype] AS $subKey => $subList">
				{if $subList['count'] > 0}
					<a n:href="Estates:default advert_type => $key, advert_subtype => $subKey" title="{_$subList[title]}">{_$subList[title]}</a>
				{else}
					<em>{_$subList[title]}</em>
				{/if}
			</li>
		</ul>
	</div>
</div>