{block adminToolbarButtons}
	{include CP_DIR."/Reviews/FrontModule/templates/adminToolbarButtons.latte"}
{/block}

{block title}{_'Reference'}{/block}

{block content}

<h1 class="text-center">
	Reference<br/><small>hodnocení mé práce</small>
</h1>
<div class="container list reviews">
	
	{include CP_DIR."/Reviews/FrontModule/templates/list.latte", reviewsCollection => $reviewsCollection, showDate => false}
	
</div>