{block title}Blog{/block}

{block content}

<h1 class="text-center">
	Blog
	<small>články, zajímavosti a další ...</small>
</h1>

<div class="container">
	
	{include "$appTemplatesDir/list.latte", forcedImage => false}
	
</div>