{block title}{$articleEntity->title}{/block}

{block adminToolbarButtons}
	{include CP_DIR."/Blog/FrontModule/templates/detail/adminToolbarButtons.latte"}
{/block}

{block content}
<h1 class="text-center">
	{$articleEntity->title}
	<small>{$articleEntity->published|worddate}</small>
</h1>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div n:if="$articleEntity->images->count()">
				{gallery $articleEntity->images, cols => 1}
			</div>
			<p class="lead">
				{$articleEntity->snippet}
			</p>
			<div>
				{$articleEntity->content}
			</div>
		</div>
	</div>
</div>