{block title}Realitní poradna{/block}

{block content}

<h1 class="text-center">
	Realitní poradna
	<small>články, zajímavosti a další ...</small>
</h1>

<div class="container">
	
	{include "list.latte", forcedImage => false}
	
</div>