<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<div class="collapsible text-center" data-remove-trigger="1">
			<span class="btn btn-primary btn-lg collapsible-trigger" data-wrap="0" data-icon-collapsed="fa-question-circle">
				<i class="fa fa-question-circle"></i>
				<span>Položit otázku</span>
			</span>
			<div class="collapsible-content">
				{form advicesQuestionForm}
					{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
					<div class="form-group">
						{*<label class="control-label" n:name="name">Váše jméno</label>*}
						<input class="form-control" n:name="name" placeholder="Uveďte své jméno">
					</div>
					<div class="form-group">
						{*<label class="control-label" n:name="email">Váš email</label>*}
						<input class="form-control" n:name="email" type="email" placeholder="Uveďte svojí emailovou adresu">
					</div>
					<div class="form-group">
						{*<label class="control-label" n:name="question">Vaše otázka</label>*}
						<textarea class="form-control" n:name="question" placeholder="Položte otázku"></textarea>
					</div>
					<div class="buttonpane">
						<button n:name="save" class="btn btn-primary btn-lg">
							<i class="fa fa-check"></i>
							<span>{_'Odeslat otázku'}</span>
						</button>
					</div>
				{/form}
			</div>
		</div>
	</div>
</div>