{block adminToolbarButtons}
	{include CP_DIR."/Blog/FrontModule/templates/default/adminToolbarButtons.latte"}
{/block}

{block content}
<div class="container">
	<h2>
		<i class="fa fa-clock-o"></i>
		<span n:block="title">{_'Novinky'}</span>
	</h2>

	{include "list.latte"}
	
</div>

