{block title}{$articleEntity->title}{/block}

{block adminToolbarButtons}
	{include CP_DIR."/Blog/FrontModule/templates/detail/adminToolbarButtons.latte"}
{/block}

{block content}
<div class="container">
	<h1>{$articleEntity->title}</h1>
	<div n:if="$articleEntity->images->count()" class="pull-right col-sm-4">
		{gallery $articleEntity->images, cols => 1}
	</div>
	<p class="lead">
		{$articleEntity->snippet}
	</p>
	<div>
		{$articleEntity->content}
	</div>
	<p class="lead">
		{$articleEntity->authorEntity->getName()}<span n:if="$articleEntity->authorEntity->getName() && $articleEntity->getPublished()">&nbsp;|&nbsp;</span>{$articleEntity->getPublished()|date}
	</p>
</div>