{default $forced = false}
{default $forcedImage = true}
{default $truncateTitle = 255}

<div class="articles row" n:if="$articlesCollection->count() || $forced">
	<div n:foreach="$articlesCollection->getAll() AS $articleEntity" class="article col-sm-4">
		<a n:if="($articleEntity->getImages()->getMain() && $articleEntity->getImages()->getMain()->exists()) || $forcedImage" n:href="Blog:detail $articleEntity->getId()" title="{_'Zobrazit celý článek'}" class="image">
			{image $articleEntity->getImages()->getMain(), forced => true}
		</a>
		<h3>
			<a n:href="Blog:detail $articleEntity->getId()" title="{_'Zobrazit celý článek'}">
				{$articleEntity->title|truncate:$truncateTitle}
			</a>
		</h3>
		<p>
			{$articleEntity->snippet|striptags|truncate:200}
		</p>
		<p class="text-right">
			{$articleEntity->authorEntity->getName()}<span n:if="$articleEntity->authorEntity->getName() && $articleEntity->getPublished()">&nbsp;|&nbsp;</span>{$articleEntity->getPublished()|date}
		</p>
	</div>
</div>
	
<div n:if="!$articlesCollection->count()" class="empty">
	<p>{_'Nenalezeny žádné články'}</p>
</div>
{if $articlesCollection->isAttached()}
	{$articlesCollection->pagination->getControl()}
{/if}