{block navbarTitle}
	<i class="fa fa-plus"></i>
	<span n:block="title">{_'Přidat článek'}</span>
	<small>/</small>
	<small>
		<a n:href="Advices:articles" title="{_'Zpět na přehled článků'}"><i class="fa fa-comments-o"></i> {_'Odpovědi'}</a>
	</small>
	<small>/</small>
	<small>
		<a n:href="Advices:default" title="{_'Zpět na přehled otázek'}"><i class="fa fa-question-circle"></i> {_'Poradna'}</a>
	</small>
{/block}

{block content}
	<div class="container">
		{include CP_DIR."/Articles/AdminModule/templates/form.latte"}
	</div>
{/block}