{block navbarTitle}
	<i class="fa fa-plus"></i>
	<span n:block="title">{_'Přidat otázku'}</span>
	<small>/</small>
	<small>
		<a n:href="Advices:default" title="{_'Zpět na přehled otázek'}"><i class="fa fa-question-circle"></i> {_'Poradna'}</a>
	</small>
{/block}

{block content}
	<div class="container list-container">
		{include "forms/questionForm.latte"}
	</div>
{/block}