{block navbarTitle}
	<i class="fa fa-comments-o"></i>
	<span n:block="title">{_'Odpovědi na otázky'}</span>
	<small>/</small>
	<small>
		<a n:href="Advices:default" title="{_'Zpět na přehled otázek'}"><i class="fa fa-question-circle"></i> {_'Poradna'}</a>
	</small>
{/block}

{block navbarButtons}
	<a n:if="$user->isAllowed('Admin:Advices','add')" n:href="Advices:add backlink => $backlink" title="{_'Vytvořit nový článek'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Přidat článek'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		{snippetArea listSnippetArea}
			{include CP_DIR."/Articles/AdminModule/templates/list.latte", actionEdit => "Advices:edit", actionRemove => "Remove!"}
		{/snippetArea}
	</div>
{/block}