{block navbarTitle}
	<i class="fa fa-question-circle"></i>
	<span n:block="title">{_'Realitní poradna'}</span>
	<small>{_'přehled otázek'}</small>
{/block}

{block navbarButtons}
	<a n:if="$user->isAllowed('Admin:Advices','addQuestion')" n:href="Advices:addQuestion backlink => $backlink" title="{_'Vytvořit novou otázku'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Přidat otázku'}</span>
	</a>
	<a n:if="$user->isAllowed('Admin:Advices','articles')" n:href="Advices:articles" title="{_'Správa odpovědí'}" class="btn btn-primary">
		<i class="fa fa-comments-o"></i>
		<span>{_'Odpovědi'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		{snippetArea listSnippetArea}
			{include "default/list.latte"}
		{/snippetArea}
	</div>
{/block}