{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Homepage/adminToolbarButtons.latte"}
{/block}

{block content}
<div class="container">
	<h1 n:block="title">Prodej a rekonstrukce nemovitostí</h1>
	
	{include "$appTemplatesDir/lists.latte"}

	<h2>
		Vybíráme
		<small>z naší nabídky nemovitostí</small>
	</h2>

</div>

<div class="stripe">
	<div class="container">
		<div class="row estates list">
			<div n:foreach="$estatesCollection->getAll() AS $estateEntity" class="col-sm-6 col-md-3 item">
				<a n:href="Estates:detail $estateEntity->estate_id" class="image" title="{_'Zobrazit detail nemovitosti'}">
					{image $estateEntity->getImages()->getMain()}
				</a>
				<strong>
					<a n:href="Estates:detail $estateEntity->estate_id" title="{_'Zobrazit detail nemovitosti'}" class="title">
						{$estateEntity->getTitle()}
					</a>
				</strong>
				<p>
					{$estateEntity->estate_description|truncate:200:' ...'}
				</p>

				{include "$appTemplatesDir/../components/price.latte", estateEntity => $estateEntity, showNote => false, showProperties => false}
			</div>
		</div>
		<span class="watermark"></span>
	</div>
</div>

<div class="container">
	<div class="row services homepage">
		<div class="col-xs-6 col-sm-4 col-md-2">
			<a href="prodej-nemovitosti" title="Prodej nemovitostí">
				<i class="fa fa-home"></i>
				<strong>Prodej nemovitostí</strong>
			</a>	
			<p>
				Provedeme Vás celým procesem prodeje či pronájmu nemovitosti tak, aby vše proběhlo k Vaší plné spokojenosti.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<a href="pronajem-nemovitosti" title="Pronájem">
				<i class="fa fa-building"></i>
				<strong>Pronájem</strong>
			</a>
			<p>
				Pokud pro svoji nemovitost sháníte nájemce, rádi Vám s celým procesem pomůžeme.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<a href="rekonstrukce-nemovitosti" title="Rekonstrukce nemovitostí">
				<i class="fa fa-arrow-circle-up"></i>
				<strong>Rekonstrukce</strong>
			</a>
			<p>
				Přejete si bydlet lépe? Realizujeme kompletní rekonstrukce na klíč v Praze a blízkém okolí.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<a href="sprava-nemovitosti" title="Správa nemovitostí">
				<i class="fa fa-gear"></i>
				<strong>Správa nemovitostí</strong>
			</a>
			<p>
				Vlastníte nemovitost? Přenechte veškeré starosti na nás. Postaráme se o ni s láskou.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<a href="financni-sluzby" title="Finanční služby">
				<i class="fa fa-money"></i>
				<strong>Finanční služby</strong>
			</a>
			<p>
				Naše realitní kancelář Vám pomůže s vyřízením hypotečního úvěru nebo úvěru ze stavebního spoření.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
			<a href="pravni-sluzby" title="Právní služby">
				<i class="fa fa-file-o"></i>
				<strong>Právní služby</strong>
			</a>
			<p>
				Realitní kancelář BELARTIS dlouhodobě spolupracuje s renomovanou advokátní kanceláří.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h2>
				<img src="{$thisDomainEntity->getBasePath()}/img/belartis-logo.png" width="40" /> 
				BELARTIS 
				<small>reality nás baví</small>
			</h2>
			<p>
				Reality nás baví, proto jsme se rozhodli nabídnout Vám naši pomoc a dlouholeté zkušenosti na realitním trhu při prodeji či pronájmu Vaší nemovitosti. Jsme si vědomi, že otázka bydlení je v životě každého člověka jednou z priorit. Víme, že čas je to nejdražší, co máme, proto jsme připraveni věnovat se Vám se 100% nasazením, 24hodin, 7dní v týdnu.
			</p>

			<p class="lead text-center">
				Garantujeme Vám rychlý, bezpečný a v neposlední řadě také příjemný průběh celého obchodu.
			</p>
						
			<p>
				Zajistíme pro vás prodej či pronájem vašeho domu, bytu, chaty, chalupy, pozemku za nejlepší možnou cenu, v co nejkratším čase.
			</p>
						
			<div id="fb-root"></div>
			
			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.3&appId=370232569815374";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>
			
			<div class="fb-page" data-href="https://www.facebook.com/belartis.cz" data-hide-cover="true" data-show-facepile="true" data-width="550" data-show-posts="false">
				<div class="fb-xfbml-parse-ignore">
					<blockquote cite="https://www.facebook.com/belartis.cz">
						<a href="https://www.facebook.com/belartis.cz">BELARTIS</a>
					</blockquote>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			<h2>
				<i class="fa fa-map-marker"></i> 
				Kde působíme
			</h2>
			{include APP_DIR . "/FrontModule/templates/Estates/blindMap.latte"}
		</div>
	</div>
</div>
