<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />

      <style>
        body{
          margin: 0;
          padding: 0;
          font-family: Verdana,Arial,sans-serif;
          font-size: 14px;
          color: #5A5A5A;
          background: #ffffff;
          text-align: left;
        }

        h1,
        h2,
        h3{
          font-weight: normal;
          letter-spacing: -0.05em;
          color: #5E9ABC;
        }

        a{
          color: #5E9ABC;
        }

        small{
          color: #999;
          font-size: 0.6em;
          display: block;
        }

        #body{

        }

        #footer {
          border-top: 1px solid #ddd;
        }

        .container{
          padding: 1em 2em;
          text-align: left;
        }

        .text-center{
          text-align: center;
        }
      </style>
    </head>
  <body>
    <div id="body">
      <div class="container">

      {! $body}

      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-center">
          Zajišťuje služba <strong>StránkyRealitky.Cz</strong> | <a href="http://www.strankyrealitky.cz" title="StránkyRealitky.Cz - webové stránky a aplikace pro realitní kanceláře">www.strankyrealitky.cz</a> | <a href="mailto:info@strankyrealitky.cz" title="Napište nám">info@strankyrealitky.cz</a>
        </p>
      </div>
    </div>
  </body>
</html>