<div class="list">
	<table class="table articles fixed-header">
		<thead>
			<tr>
				<th class="image">&nbsp;</th>
				<th class="title">
					{sortableTh $articlesCollection, field => "title", label => "Název"}
				</th>
				<th class="less-important date">
					{sortableTh $articlesCollection, field => "published", label => "Vytvořeno"}
				</th>
				<th class="less-important date">
					{sortableTh $articlesCollection, field => "authorName", label => "Autor"}
				</th>
				<th class="tools">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody n:snippet="tbodySnippet">
			<tr n:foreach="$articlesCollection->getAll() AS $articleEntity">
				<td class="image">
					<a n:href=":Front:Projects:article $articleEntity->getId()" title="{_'Zobrazit článek na webu'}">
						{image $articleEntity->mainImageEntity, forced => true, ratio => 1}
					</a>
				</td>
				<td class="title">
					<strong>
						<a n:href=":Front:Projects:article $articleEntity->getId()" title="{_'Zobrazit článek na webu'}">
							{$articleEntity->title}
						</a>
					</strong>
					<span class="ellipsis">
						{strip_tags($articleEntity->snippet)|truncate:50}
					</span>
				</td>
				<td class="less-important date">
					{$articleEntity->published|date}
				</td>
				<td class="less-important name">
					{$articleEntity->authorName}
				</td>
				<td class="tools">
					<a n:if="$user->isAllowed('Admin:Projects', 'editArticle')" n:href="Projects:editArticle $articleEntity->getId(), backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit tento článek'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:if="$user->isAllowed('Admin:Projects', 'removeArticle')" n:href="RemoveArticle! $articleEntity->getId(), backlink => $backlink" class="btn btn-default btn-ico remove ajax" title="{_'Odebrat tento článek'}" data-confirm-title="{_'Odebrat článek'}" data-confirm-message="{_'Opravdu chcete tento článek odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!$articlesCollection->count()" class="empty">
				<td colspan="5">{_'Nenalezeny žádné články'}</td>
			</tr>

		</tbody>
	</table>

	{$articlesCollection->pagination->getControl()}

</div>
