{block adminToolbarButtons}
	{include CP_DIR."/Contacts/FrontModule/templates/default/adminToolbarButtons.latte"}
{/block}

{block content}
<div class="container">
    <h1 n:block="title">{_'Kontakty'}</h1>

    <div class="row">
		<div class="col-sm-6">
			<h2>{$contactsEntity->contacts_company_title}</h2>
			<address>
				{! implode("<br/>", explode(",", $contactsEntity->contacts_company_address))}
			</address>
			<p>
				IČ: {$contactsEntity->contacts_company_ic}
				<span n:if="$contactsEntity->contacts_company_dic">
					<br/>DIČ: {$contactsEntity->contacts_company_dic}
				</span>
			</p>
			<p n:if="$contactsEntity->contacts_company_incorporation">{$contactsEntity->contacts_company_incorporation}</p>
			<hr/>
			<div class="lead">
				<div n:if="$contactsEntity->contacts_phone">
					<i class="fa fa-phone"></i> {$contactsEntity->getFormattedPhones()}
				</div>
				<div n:if="$contactsEntity->contacts_email">
					<a href="mailto: {$contactsEntity->contacts_email|encryptemail}" title="{_'Napište nám'}">
						<i class="fa fa-envelope"></i> {$contactsEntity->contacts_email|encryptemail}
					</a>
				</div>
			</div>

		</div>
		<div class="col-sm-6">
			<div n:foreach="$contactsEntity->contacts_offices AS $officeEntity">
				<h3>
					<i class="fa fa-map-marker"></i> {$officeEntity->office_address} <small>{$officeEntity->office_address}</small>
				</h3>

				{map $officeEntity->office_address}

				<p class="text-center">
					GPS: <strong>{decToDms($officeEntity->office_address->latitude, $officeEntity->office_address->longitude)}</strong>
				</p>
		</div>
	</div>

	<h3 class="text-center">{_'Naši makléři'}</h3>

	{include "brokers.latte"}

</div>
