{default $forced = false}
{default $autoThb = true}

{define avatar}
	<span class="image">
		{image $userEntity->avatar, forced => $forced, alt => $userEntity->getName(), ratio => 1, class => "img-circle", autoThb => $autoThb}
	</span>
{/define}

<div class="row user-card">
	<div n:if="$userEntity->getAvatar()->exists() || $forced" class="col-xxs-12 col-xs-5 col-sm-3">
		{if $userEntity->brokerProfileExists()}
			<a n:href="BrokerProfiles:detail $userEntity->getId()" title="{_'Zobrazit profil makléře'}">
				{include avatar}
			</a>
		{else}
			{include avatar}
		{/if}
	</div>
	<div class="col-xxs-12 col-xs-7 col-sm-9">
		<h3>
			{if $userEntity->brokerProfileExists()}
				<a n:href="BrokerProfiles:detail $userEntity->getId()" title="{_'Zobrazit profil makléře'}">
					{$userEntity->getName()}
				</a>
			{else}
				{$userEntity->getName()}
			{/if}
		</h3>
		<p class="lead">
			<i class="fa fa-phone"></i>
			{$userEntity->getPhone()}
		<br/>
			<i class="fa fa-envelope"></i>
			<a href="mailto:{$userEntity->getEmail()|encryptemail}" title="{_'Napsat makléři'}">{$userEntity->getEmail()|encryptemail}</a>
		</p>
	</div>
</div>