<a n:if="$user->isAllowed('Admin:Projects','editArticle')" n:href=":Admin:Projects:editArticle $articleEntity->getId()" title="{_'Upravit tento článek'}">
	<i class="fa fa-pencil"></i> 
	<span>{_'Upravit článek'}</span>
</a>