{block title}Blog{/block}

{block adminToolbarButtons}
	{include CP_DIR."/Blog/FrontModule/templates/default/adminToolbarButtons.latte"}
{/block}

{block content}
<div id="intro" class="item-blog">
	<strong></strong>
	<span>Blog</span>
</div>

<div class="container">
	
	{centeredTitle "h2", label => "Blog"}

	{include "$appTemplatesDir/list.latte", forcedImage => false}
	
</div>