{block title}{$articleEntity->title}{/block}

{block adminToolbarButtons}
	{include CP_DIR."/Blog/FrontModule/templates/detail/adminToolbarButtons.latte"}
{/block}

{block content}
<div id="intro" class="item-blog">
	<strong></strong>
	<span>Blog</span>
</div>

<div class="container">
	{centeredTitle "h1", title => $articleEntity->title}
	<div n:if="$articleEntity->images->count()" class="pull-right col-sm-4">
		{gallery $articleEntity->images, cols => 1}
	</div>
	<p class="lead">
		{$articleEntity->snippet}
	</p>
	<div>
		{$articleEntity->content}
	</div>
	<p class="lead">
		{$articleEntity->published|date}
	</p>
</div>