<div class="row">
	<div class="col-sm-4">
		<h2>{_'Portrét'}</h2>

		{var $portrait = reset($profile[portrait])}

		<a n:if="is_object($portrait)" class="image colorbox" href="{$basePath}/{$portrait->src}" title="{_'Zvětšit portrét'}">
			{include CP_DIR."/Files/templates/image.latte", image => $portrait}
		</a>

	</div>
	<div class="col-sm-8">
		<h2>{_'Informace o účtu'}</h2>

		{var $informationRow = "../../components/informationRow.latte"}

		{include $informationRow, label => "Jméno a Příjmení", value => $brokerProfileEntity->getName()}

		{include $informationRow, label => "Email", value => $profile[email]}

		{include $informationRow, label => "Telefon", value => $profile[phone]}

		{include $informationRow, label => "Registrace", value => date("j.n.Y H:i:s", strtotime($profile[created]))}

		{include $informationRow, label => "Poslední přihlášení", value => date("j.n.Y H:i:s", strtotime($profile[lastlogged]))}

		<div n:if="$user->isInRole('broker') && $presenter->thisDomainEntity->isComponentAllowed('BrokerProfiles', $user)" class="buttonpane">
			{if $profile[brokerProfileExists]}
				<a class="btn btn-primary btn-lg" n:href="BrokerProfiles:edit $profile[id]" title="{_'Upravit profil makléře'}">
					<i class="fa fa-pencil"></i>
					<span>{_'Upravit profil makléře'}</span>
				</a>

				<a class="btn btn-default confirm" n:href="BrokerProfiles:remove $profile[id]" title="{_'Odebrat profil makléře'}" data-confirm-title="{_'Odebrat profil makléře'}" data-confirm-message="{_'Opravdu chcete svůj profil makléře odebrat?'}">
					<i class="fa fa-trash-o"></i>
					<span>{_'Odebrat profil makléře'}</span>
				</a>
			{else}
				<a class="btn btn-primary btn-lg" n:href="BrokerProfiles:create $profile[id]" title="{_'Vytvořit profil makléře'}">
					<i class="fa fa-plus"></i>
					<span>{_'Vytvořit profil makléře'}</span>
				</a>
			{/if}
		</div>

	</div>
</div>
