@path: "..";
@path-img: "../img";
@path-assets: "../../../assets";
@url-assets: @path-assets;

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("http://fonts.googleapis.com/css?family=Oxygen:300&subset=latin,latin-ext");

@import "@{path-assets}/css/bootstrap.grid.xxs.5ths.min.css";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/variables.less";
@import (reference) "@{path-assets}/less/variables.less";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/buttons.less";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/mixins.less";
@import "@{path-assets}/font-awesome-4.2.0/less/font-awesome.less";
@import "@{path-assets}/less/font-awesome-locales.less";
@import "@{path-assets}/less/colorbox.less";
@import "@{path-assets}/less/variables.less";
@import "@{path-assets}/less/mixins.less";
@import "@{path-assets}/less/showLoading.less";

@color-primary: #777;
@color-secondary: #2075BC;

@color-border: lighten(@color-primary, 30%);
@color-border-secondary: lighten(@color-secondary, 0%);

.font{
	font-family: 'Oxygen', sans-serif;
}

body{
	color: @color-primary;

	padding-top: 1em;
}

a{
	color: @color-primary;
}

h1,h2,h3,h4{
	color: @color-secondary;
	font-weight: normal;
	letter-spacing: -0.02em;
	.font();

	small{
		color: inherit;
		.opacity(0.5);
		letter-spacing: 0em;	
	}
}

h2, h3{
	.fa{
		.fa-fw();
		width: 2.4em;
		height: 2.4em;
		font-size: 3em;
		color: @color-border-secondary;
		border: 2px solid @color-border-secondary;
		.rounded(4em);
		display: inline-block;
		padding: 0.65em;
		margin-bottom: 0.3em;
	}
}

#header{
	position:fixed;
	background: white;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	height: 12vh;
	overflow: hidden;

	.alert{
		.font();
		font-size: 1.2em;
		margin: 1em 0;
		border: none !important;
	}

	@media(max-width: @screen-xs-max){
		height: auto;
		position: relative;
	}

	#logo{
		margin: 0;
		display: block;
		overflow: hidden;
		text-align: left;
		text-indent: -1000px;
		background: url("@{path-img}/strankyrealitky-logotype.svg") left center no-repeat;
		background-size: contain;
		height: 12vh;
		width: 100%;

		a{
			display: block;
			height: 100%;
		}

		@media(max-width: @screen-sm-max){
			background-image: url("@{path-img}/strankyrealitky-logo.svg");
		}

		@media(max-width: @screen-xs-max){
			background-image: url("@{path-img}/strankyrealitky-logotype.svg");
			background-position: center center;
		}
	}

	.menu{
		margin: 0;
		margin-top: 3vh;
		margin-bottom: 3vh;
		padding: 0;
		list-style-type: none;
		text-align: right;

		@media(max-width: @screen-xs-max){
			text-align: center;
		}

		li{
			display: inline-block;
			
			a{
				display: block;
				padding: 0.5em 1.1em;
				.font();
				font-size: 1.2em;

				@media(max-width: @screen-md-max){
					font-size: 1.2em;
					padding: 0.5em 0.7em;
				}

				&.btn{
					margin-left: 0.6em;
				}
			}
		}
	}
}

.screen{
	height: 100vh;
	overflow: hidden;
	padding-top: 12vh;
	position:relative;
	background: url("@{path-img}/strankyrealitky-logo-grey.svg") center no-repeat;
	background-size: 42%;

	@media(max-width: @screen-xs-max){
		height: auto;
		padding-top: 0;
	}

	&#intro{
		background: url("@{path-img}/background/final-3.jpg") center no-repeat;
		background-size: cover;

		.intro-option{
			font-size: 1.2em;
			line-height: 1.7em;

			&.first{
				background: rgba(0,0,0,0.7);

				p, h2, h2 .fa{
					color: white;
				}
			}

			&.last{
				background: rgba(255,255,255,0.9);

				p, h2, h2 .fa{
					color: darken(@color-primary, 10%);
				}
			}

			margin-top: 7vh;

			@media(max-width: @screen-xs-max){
				margin: 2vh 0;
			}

			.rounded(100%);
			padding-bottom: 100%;
			
			position:relative;

			.body{
				position:absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 10%;

				h2{
					margin-top: 0;
					
					.fa{
						line-height: 0.2em;
						border: none;
						padding: none;
						width: auto;
						height: auto;

						@media(max-width: @screen-md-max){
							line-height: 0.05em;
							margin-bottom: -0.1em;
						}
					}

					@media(max-width: @screen-sm-max){
						font-size: 1.6em;
					}
				}

				@media(max-width: @screen-md-max){
					font-size: 0.95em;
				}

				@media(max-width: @screen-sm-max){
					font-size: 0.92em;
				}

				@media(max-width: @screen-xxs-max){
					font-size: 0.85em;
				}

			}
		}

		#homepage-more{
			position:absolute;
			bottom: 4vh;
			left: 50%;
			margin-left: -10%;
			display: block;
			width: 20%;
			text-align: center;
			color: white;

			.fa{
				width: 1.6em;
				height: 1.6em;
				font-size: 4em;
				border: 2px solid;
				.rounded(4em);
				display: block;
				padding: 0.2em;
				margin: auto;
			}

			span {
				margin-top: 0.6em;
				.font();
				font-size: 1.3em;
			}

			&:hover,
			&:active,
			&:focus{
				color: #ddd;
				text-decoration: none;
			}
		}
	}

	&#web{
		.container{
			
		}

		#demo{
			text-align: center;
			display: block;

			strong{
				.font();
				font-size: 2em;
				font-weight: normal;
				color: @color-secondary;

				small{
					display: block;
					.opacity(0.6);
				}
			}

			&:hover{
				text-decoration:none;
			}

			img{
				height: 50vh;
			}
		}

		.row{
			.fa{
				font-size: 1.8em;
			}

			p{
				display: none;

				@media(max-width: @screen-xs-max){
					display: block;
				}
			}

			h3{
				font-size: 1.3em;
				
				@media(min-width: @screen-sm-min){
					cursor: pointer;

					&:hover + p{
						display: block;
						background: rgba(255,255,255,0.9);
						padding: 1em;
						.rounded(@border-radius-base);
						.drop-shadow(0,0,6px,0.2);

						position:absolute;
						bottom: 15vh;
					}
				}

				@media(max-width: @screen-sm-max){
					font-size: 1.2em;
				}
			}

			@media(max-width: @screen-xs-max){
				> div:nth-child(2n+3){
					clear: left;
				}
			}
		}
	}

	&#video{
		.videos{
			margin: 0 -5px;

			> div {
				padding: 0 5px;
			}

			.col-sm-3{
				margin-top: 11vh;

				@media(max-width: @screen-sm-max){
					margin-top: 5vh;
				}

				@media(max-width: @screen-xs-max){
					margin-top: 0;
				}
			}

			.col-sm-6{
				.video{
					width: 90%;
					margin: auto;

					@media(max-width: @screen-xs-max){
						width: 100%;
					}
				}
			}
		}

		.services{
			text-align: left;
			
			.fa{
				float: left;
				font-size: 2.5em;
				margin-right: 0.3em;
			}

			@media(max-width: @screen-sm-max){
				text-align: center;

				.fa{
					float: none;
					margin: auto;
					margin-bottom: 0.2em;
				}
			}
		}
	}

	&#styl{
		.row div{
			padding-top: 7vh;

			@media(max-width: @screen-xs-max){
				padding-top: 0;
			}
		}

		.ci{
			background: url("@{path-img}/strankyrealitky-ci.png") center no-repeat;
			background-size: contain;
			height: 60vh;
		}

		@media(max-width: @screen-sm-max){
			.fa{
				font-size: 2em;
			}
		}
	}

	&#contact{
		.radial-gradient(@color-secondary, @color-secondary, darken(@color-secondary, 15%));

		&, h2, .btn {
			color: white;
		}

		.btn{
			border-color: white;
		}

		h2{
			background: url("@{path-img}/strankyrealitky-logo-white.svg") center top no-repeat;
			background-size: 9%;
			padding-top: 12%;

			@media(max-width: @screen-xs-max){
				font-size: 1.5em;
			}
		}

		.buttonpane{
			margin-bottom: 2em;
		}
	}
}

.video{
	&:after{
		content: "";
		display: block;
		padding-bottom: 3%;
		background: url("@{path-img}/shadow.png") center top no-repeat;
		background-size: 100%;
	}

	.img-thumbnail{
		padding: 1px;
		border: 1px solid @color-border;
	}
}

.benefits{
	//border-top: 2px solid @color-border-secondary;
	//margin-top: 1px;

	/*.row > div{
		margin-bottom: 1.5em;
	}*/

	/*@media (max-width: @screen-xs-max){
		.row > div:nth-child(2n + 3){
			clear: both;
		}
	}

	@media (min-width: @screen-sm-min) and (max-width: @screen-md-max){
		.row > div:nth-child(3n + 4){
			clear: both;
		}
	}

	@media (min-width: @screen-lg-min){
		.row > div:nth-child(4n + 5){
			clear: both;

			&:last-child{
				float: none;
				width: 100%;
			}
		}
	}*/
}

.btn-primary{
	background: none;
	border: 2px solid @color-secondary;
	.rounded(@border-radius-base);
	
	&, &:hover{
		color: @color-secondary;
	}

	&:hover{
		color: darken(@color-secondary, 10%);
		background: none;
		border-color: darken(@color-secondary, 10%);
	}
}

.btn-default{
	background: none;
	border: 2px solid @color-primary;
	.rounded(@border-radius-base);
	
	&, &:hover{
		color: @color-primary;
	}

	&:hover{
		color: darken(@color-primary, 10%);
		background: none;
		border-color: darken(@color-primary, 10%);
	}
}

.btn-white{
	background: none;
	border: 2px solid white;
	.rounded(@border-radius-base);
	
	&, &:hover{
		color: white;
	}

	&:hover{
		background: rgba(255,255,255,0.2)
	}
}

.collapsible{
	margin: 2em 0;

	.collapsible-button{
		.btn();
		.btn-white();
		.btn-lg();
	}
}

.buttonpane{
	text-align: center;
}

.required{
	color: white;
	font-size: 2.2em;
	height: 14px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	line-height: 23px;
	font-weight: normal;
}

hr{
	display: block;
	height: 2px;
	background: @color-border-secondary;
	border: none;
	margin-bottom: 1px;
}

#footer{
	&, a {
		color: white;
	}

	padding: 2em 0;

	border-top: 1px solid rgba(255,255,255,0.3);
}

.or{
	display: inline-block;
	color: darken(@color-primary, 20%);
	.font();
	font-size: 1.9em;
	margin-top: 9.6em;
}

.alert-success
{
	text-align:center;
	border-color: @color-border-secondary;
	background-color: #D7EDF4;
	color: @color-secondary;
}