{block navbarTitle}
	<i class="fa fa-home"></i>
	<span n:block="title">{_'Klienti'}</span>
	<small>{_'přehled všech klientů'}</small>
{/block}

{block navbarButtons}

{/block}

{block content}
	<div class="container list-container">

		{include "list.latte", type => "main"}

	</div>
{/block}