{block navbarTitle}
<i class="fa fa-home"></i>
<span n:block="title">{_'Klienti'}</span>
<small>{_'přehled všech klientů'}</small>
{/block}

{block navbarButtons}

{/block}

{block content}
<div class="container list-container">

	{form exportsForm}

		{foreach $portals as $portal}
			{var $fieldsWidth = (empty($portal[portal_settings]) ? 0 : 12/count($portal[portal_settings]))}
			{if $fieldsWidth > 0}
				<div class="collapsible">
					<h3 class="collapsible-trigger">{$portal[portal_title]}</h3>
				<div class="collapsible-content">
					<div class="checkbox">
						<input n:name="$portal[portal_key]">
						<label n:name="$portal[portal_key]" class="control-label">{_"Aktivován"}</label>
					</div>
				{foreach $portal[portal_settings] as $field}
					<div class="form-group col-xs-{$fieldsWidth}">
						{label $field/}
						<input class="form-control" n:name="$field">
					</div>
				{/foreach}
				</div>
				</div>
			{/if}
		{/foreach}

		<div class="buttonpane">
			<button n:name="save" class="btn btn-primary btn-lg">
				<i class="fa fa-check"></i>
					<span>{_'Uložit'}</span>
			</button>
		</div>
	{/form}
</div>
{/block}