<div class="list">
	<table class="table estates fixed-header">
		<thead>
			<tr>
				<th class="title">
					{sortableTh domainsGrid, field => "title", label => "Klient"}
				</th>
				<th class="tools">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$domainsCollection->getAll() AS $domainEntity">
				<td class="title">
					<strong>
						{*<a n:href=":Front:Estates:detail $domainEntity->getId()" title="{_'Zobrazit web realitky'}">*}
						{$domainEntity[title]}
						{*</a>*}
					</strong>
				</td>

				<td class="tools">
					<a n:href="Domains:EditExports $domainEntity->getId()" class="btn btn-primary btn-ico" title="{_'Nastavit exporty'}">
						<i class="fa fa-exchange"></i>
						<span>{_'Nastavit exporty'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!count($domainsCollection->items)" class="empty">
				<td colspan="5">{_'Nenalezeny žádné nemovitosti'}</td>
			</tr>

		</tbody>
	</table>

	{! $domainsGrid->paginator}

</div>