<ul class="menu">
	<li n:foreach="@$estatesParameters[advert_type][options] AS $advert_type => $item">
		<a n:href="Estates:default advert_type => $advert_type" title="{_'Zobrazit všechny'} {$item}">
			{$item}
		</a>
	</li>
</ul>