{var $showNote = isset($showNote) ? $showNote : true}
{var $showProperties = isset($showProperties) ? $showProperties : true}

<div class="estate-price{if isset($estateEntity->advert_price_original) && $estateEntity->advert_price_original} discount{/if}">
	{if $estateEntity->advert_price != 0 && $estateEntity->advert_price_hidden == 0}
		<p class="price">
			<strong>
				{$estateEntity->advert_price|number:0:',':' '}
				
				{if $estateEntity->advert_price_currency}
					&nbsp;{$estatesParameters[advert_price_currency][options][$estateEntity->advert_price_currency]}
				{/if}
			</strong>
		</p>

		<p class="properties">
			<em n:if="$showProperties">
				{var $priceProperties = @array(
					$estatesParameters[advert_price_unit][options][$estateEntity->advert_price_unit],
					$estatesParameters[advert_price_commission][options][$estateEntity->advert_price_commission],
					$estatesParameters[advert_price_charge][options][$estateEntity->advert_price_charge],
					$estatesParameters[advert_price_vat][options][$estateEntity->advert_price_vat],
					$estatesParameters[advert_price_legal_services][options][$estates->advert_price_legal_services]
				)}

				{implode(", ", array_filter($priceProperties))}
			</em>
		</p>
		<p class="note">
			<i n:if="$showNote">
				{$estateEntity->advert_price_text_note}
			</i>
		</p>
	{else}
		{_'Informace o ceně u RK'}
	{/if}
</div>