{var $showProperties = isset($showProperties) ? $showProperties : true}
{default $showNote = false}

<span class="price{if isset($estateEntity->advert_price_original) && $estateEntity->advert_price_original} discount{/if}">
	{if $estateEntity->advert_price != 0 && $estateEntity->advert_price_hidden == 0}
		{$estateEntity->advert_price|number:0:',':' '}
			{if $estateEntity->advert_price_currency}
				&nbsp;{$estatesParameters[advert_price_currency][options][$estateEntity->advert_price_currency]}
			{/if}

		<em n:if="$showProperties">
			{$estateEntity->getReadablePriceProperties()}
		</em>
		<i n:if="$showNote">
			{$estateEntity->advert_price_text_note}
		</i>
		<i n:if="$showNote && $estateEntity->advert_function == 1">
			<strong>{_'Daň z nabytí nemovitých věcí'}</strong><br/>{_'Od 1. 11. 2016 v účinnosti Zákon č. 254/2016 Sb, kterým se mění zákonné opatření Senátu č. 340/2013 Sb., o dani z nabytí nemovitých věcí.'}
		</i>
	{else}
		{_'Informace o ceně u RK'}
	{/if}
</span>