/* Ajax Upload */

@ajax-upload-spacing: 10px;
@color-error-background: #FCBABA;
@color-error-border: #E87F7F;
@color-error: #B75858;

.ajax-upload{
	.file.working.error{
		background: rgba(255,0,0,0.2) !important;
		border-color: @color-error-border;
		
		&, & * {
			color: @color-error;
		}

		.caption{
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			font-style: normal;
			top: 50%;
			margin-top: -0.5em;
			text-align: center;

			small{
				display: block;
			}
		}
	}

	&.gallery,
	&.attachments{
		.ajax-upload-dropzone{
			display: block;
			position: relative;

			/*label,
			input{
				display: none;
			}*/

			.btn{
				display: block;
				width: 100%;
				padding: 0;
				text-align: center;
				background: lighten(@color-primary, 55%);
				position: absolute;
				border: 1px dashed @color-border;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				.rounded(0);

				i{
					display: block;
					position: absolute;
					font-size: 90px;
					line-height: 90px;
					left: 0;
					right: 0;
					top: 50%;
					margin-top: -45px;
					.opacity(0.3);
					color: @color-primary;
				}

				span{
					font-size: 14px;
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					width: 100%;
					margin-top: -7px;
					color: @color-primary;
				}

				&:hover{
					background: lighten(@color-secondary, 40%);
					.inner-shadow(0,0,0,0);
				}
			}
		}
	}

	&.attachments{
		.file{
			&.working{
				td.title {
					> * {
						display: inline-block;
						vertical-align: top;
						margin-right: @ajax-upload-spacing;
						height: 24px;
						line-height: 24px;
					}

					input {
						font-size: 10px !important;
					}
				}
			}
		}

		.ajax-upload-dropzone{
			height: 100px;
			margin: @ajax-upload-spacing 0;
		}
	}

	&.picture,
	&.gallery{
		.file{
			position: relative;
			
			&.working{
				background: rgba(0,0,0,0.1);

				> div {
					position: absolute;
					left: 50%;
					top: 50%;
					width: 130px;
					height: 130px;
					margin-left: -65px;
					margin-top: -65px;
					text-align: center;
					
					.filename{
						display: block;
						text-align: center;
						line-height: 1em;
						font-size: 0.8em;
						max-height: 2em;
						overflow: hidden;
						font-weight: normal;
						margin: @ajax-upload-spacing 0;
					}

					.filesize{
						display: block;
						font-style: normal;
					}
				}
			}
			
			.thb{
				display: block;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				padding-bottom: 100%;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 1;
				border: none;
			}

			.toolbar{
				position: absolute !important;
				z-index: 2;
				top: @ajax-upload-spacing / 2;
				left: @ajax-upload-spacing / 2;
				right: @ajax-upload-spacing / 2;

				.btn-default{
					display: block;
					font-size: 1.2em;
					float: left;
					background-color: @color-primary;
					color: white;
					border: none;
					margin-right: @ajax-upload-spacing / 4;

					&:hover{
						background-color: darken(@color-primary, 10%);
					}
					
					&:last-child{
						margin-right: 0;
					}
				}
					
				.remove{
					float: right;
				}
			}
		}
	}

	&.picture {
		.file{
			width: 100%;
			padding-bottom: 100%;
			margin-bottom: @ajax-upload-spacing;
		}

		.ajax-upload-dropzone{
			
			.btn{
				display: block;
				width: 100%;
			}
		}
	}

	&.gallery{
		margin: -1%;
		margin-bottom: 0;
		.clearfix();
		
		.sum{
			.border(1px, 0, 0, 0);
			clear: both;
			padding-top: @ajax-upload-spacing;
			margin: 1%;
		}

		.file,
		.placeholder,
		.ajax-upload-dropzone{
			width: 18%;
			padding-bottom: 18%;
			min-width: 130px;
			margin: 1%;
			float: left;
			position: relative;
			display: block;
			//background-color: red !important;
			
			@media(max-width: @screen-md-max){
				width: 23%;
				padding-bottom: 23%;
			}

			@media(max-width: @screen-sm-max){
				width: 31.3333%;
				padding-bottom: 31.3333%;
			}

			@media(max-width: @screen-xs-max){
				font-size: 0.75em;
			}

			@media(max-width: @screen-xxs-max){
				width: 48%;
				padding-bottom: 48%;
			}
		}

		.ajax-upload-dropzone{
			* {
				display: none;
			}
		}

		.placeholder{
			background: lighten(@color-secondary, 40%);
		}
	}
}

.fileWithIcon{
	&:hover{
		text-decoration: none;

		strong{
			text-decoration: underline;
		}
	}
}