.alert{
	.rounded(0);

	.fa{
		margin-right: 0.5em;
	}

	&.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
	&.alert-dismissible{
		.close{
			top: 0;
		}
	}

	&.alert-security{
		.alert-variant(@alert-warning-bg; @alert-warning-border; @alert-warning-text);
	}
}