.btn{
	.rounded(0);
	border: none;// 1px solid @color-border;
	background: @color-button-default-background;
	color: @color-button-default-text;
	padding: 0.6em 1em 0.6em 0.85em;

	&, 
	& *
	&:hover,
	&:hover *,
	&:focus,
	&:focus *{
		text-decoration: none;
	}

	&:hover:not(.disabled),
	&:focus:not(.disabled),
	&.active{
		background: darken(@color-button-default-background, 5%);
	}

	&.disabled{
		.opacity(0.5);
	}

	&.btn-primary{
		.btn-active();
	}

	&.btn-full-width {
		width: 100%;
	}
}

.btn-active{
	border: none;
	background: @color-button-primary-background;
	color: @color-button-primary-text;

	&:hover:not(.disabled),
	&:focus:not(.disabled),
	&.active{
		background: darken(@color-button-primary-background, 8%);
	}
}

.btn-ico{
	//padding: 0.35em 0.4em;
	padding: 0.5em 0.55em;

	.rounded(2em);

	span{
		display: none;

		&.fa-stack{
			display: inline-block;
		}
			
	}

	.fa{
		.fa-fw();
	}
}