#content{
	padding: 1em 0 2em 0;
	-webkit-overflow-scrolling: touch;
	//position: fixed;
	
	&.has-header{
		//top: 2 * @size;
		//padding-top: 2 * @size;
	}
	
	&.has-toolbar{
		//bottom: @size + (@size * .2);
		padding-bottom: 2 * @size;// + (@size * .2);

		@media(min-width: @screen-lg-min){
			//bottom: @size-lg + (@size-lg * .2);
			padding-bottom: 2 * @size-lg;// + (@size-lg * .2);
		}
	}

	iframe.pdf{
		display: block;
		width: 100%;
		height: auto;
		border: 0;
		.rounded(@border-radius-base);
		margin-bottom: -(2 * @size);
	}
}

body{
	&.menu #content{
		top: @size;	
	}

	&:not(.menu) #content{
		@media (max-width: @screen-mp-max){
			top: @size;
		}
	}
}

