.csv {
	.tools {
		margin-bottom: 0.5em;
		margin-top: -2.5em;
		text-align: right;

		.btn {
			margin-left: 0.3em;
		}
	}

	table {
		th{
			position: relative;
			padding: 0.3em 0.6em;
			background: #EEE;
			border: 1px solid #DDD;
			white-space: nowrap;
			//text-align: right;
			min-width: 5em;
			
			
			a {
				position: absolute;
				right: 0;
				top: 0;
				background: #CCC;
				display: block;
				padding: 0.3em 0.6em;
				opacity: 0.7;

				&:hover {
					opacity: 1;
				}
			}
		}

		thead th:first-child {
			background: #CCC;
		}

		tbody {
			td{
				border: 1px solid #DDD;
				padding: 0;
			
				input{
					display: block;
					border: none;
					margin: 0;
					padding: 0.3em 0.6em;
					width: 100%;
				
					&:focus{
						background: #FFEEDD;
						color: #000;
					}
				}
			}

			th {
				cursor: pointer;

				&:hover {
					background: #DDD;
				}
			}
		}
	}
}