.xdsoft_datetimepicker{
	box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.506);
	background: #FFFFFF;
	border-bottom: 1px solid #BBBBBB;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	color: #333333;
	display: block;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding: 8px;
	padding-left: 0px;
	padding-top: 2px;
	position: absolute;
	z-index: 9999;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display:none;

	.drop-shadow(0, 5px, 15px, 0.5);
	padding: 2%;
	border: none;
	font-family: inherit;
	margin-top: 10px;
	min-width: 400px;
}

body.touch .xdsoft_datetimepicker:not(.xdsoft_inline){
	@media(max-width: @screen-xs-max){
		margin: 0;
		.rounded(0);
		.no-shadow();
		position:absolute;
		left: 0 !important;
		top: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
	}
}

.xdsoft_datetimepicker.xdsoft_inline{
	display: block !important;
	float: none;
	.clearfix();
	.border(@border-width, @border-width, @border-width, @border-width, lighten(@color-primary, 20%));
}

.xdsoft_datetimepicker iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 210px;
    background: transparent;
    border:none;
}

.xdsoft_datetimepicker button {
    border:none !important;
}

.xdsoft_noselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.xdsoft_noselect::selection { background: transparent; }
.xdsoft_noselect::-moz-selection { background: transparent; }
.xdsoft_datetimepicker.xdsoft_inline{
	display: inline-block;
	position: static;
	box-shadow: none;
}
.xdsoft_datetimepicker *{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0px;
	margin:0px;
}
.xdsoft_datetimepicker .xdsoft_datepicker, .xdsoft_datetimepicker  .xdsoft_timepicker{
	display:none;
}
.xdsoft_datetimepicker .xdsoft_datepicker.active, .xdsoft_datetimepicker  .xdsoft_timepicker.active{
	display:block;
}

.xdsoft_datetimepicker .xdsoft_datepicker.active + .xdsoft_timepicker{
	margin: 0;
}

.xdsoft_datetimepicker  .xdsoft_mounthpicker{
	position: relative;
	text-align: center;

	.clearfix();
}

.xdsoft_datetimepicker {
	.xdsoft_datepicker,
	.xdsoft_timepicker{
		float: left;
		width: 100%;
	}

	&.datetime{
		.xdsoft_datepicker{
			width: 75%;
		}
		.xdsoft_timepicker{
			width: 23%;
			margin-left: 2% !important;
		}
	}

	.xdsoft_prev, 
	.xdsoft_next,
	.xdsoft_today_button{
		background-color: transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		display: block;
		height: 30px;
		opacity: 0.5;
		outline: none;
		overflow: hidden;
		padding: 0px;
		position: relative;
		white-space: nowrap;
		width: 30px;
		text-align: center;
		.fa();
		.fa-fw();
		font-size: 30px;
		padding: 0;
	}

	.xdsoft_prev{
		float: left;

		&:after{
		    content: @fa-var-chevron-circle-left;
		}
	}

	.xdsoft_next{
	    float: right;
		
		&:after{
		    content: @fa-var-chevron-circle-right;
		}
	}

	.xdsoft_timepicker{
		text-align: center;

		.xdsoft_prev,
		.xdsoft_next{
			float:none;
			display: inline-block;
		}

		.xdsoft_prev{
			margin-bottom: 5px;

			&:after{
			    content: @fa-var-chevron-circle-up;
			}
		}

		.xdsoft_next{
			
			&:after{
			    content: @fa-var-chevron-circle-down;
			}
		}
	}
}

.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box{
	height:151px;
	overflow:hidden;
	border-bottom:1px solid #DDDDDD;
}
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box > div > div{
	background: #F5F5F5;
	border-top:1px solid #DDDDDD;
	color: #666666;
	font-size: 12px;
	text-align: center;
	border-collapse:collapse;
	cursor:pointer;
	border-bottom-width:0px;
	height:25px;
	line-height:25px;
}

.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box > div > div:first-child{
 border-top-width:0px;
}
.xdsoft_datetimepicker  .xdsoft_today_button:hover,
.xdsoft_datetimepicker  .xdsoft_next:hover,
.xdsoft_datetimepicker  .xdsoft_prev:hover {
    opacity: 1;
}
.xdsoft_datetimepicker  .xdsoft_label{
	display: inline;
    position: relative;
    z-index: 9999;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
	float:left;
	width:182px;
	text-align:center;
	cursor:pointer;

	float: none;
}
.xdsoft_datetimepicker  .xdsoft_label:hover{
	text-decoration:underline;

	text-decoration: none;
	color: @color-secondary;
}
.xdsoft_datetimepicker  .xdsoft_label > .xdsoft_select{
	border:1px solid #ccc;
	position:absolute;
	display:block;
	right:0px;
	top:30px;
	z-index:101;
	display:none;
	background:#fff;
	max-height:160px;
	overflow-y:hidden;
}
.xdsoft_datetimepicker  .xdsoft_label > .xdsoft_select.xdsoft_monthselect{right:-7px;}
.xdsoft_datetimepicker  .xdsoft_label > .xdsoft_select.xdsoft_yearselect{right:2px;}
.xdsoft_datetimepicker  .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover{
	color: #fff;
    background: #ff8000;

    background: @color-secondary;
}
.xdsoft_datetimepicker  .xdsoft_label > .xdsoft_select > div > .xdsoft_option{
	padding:2px 10px 2px 5px; 
}
.xdsoft_datetimepicker  .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current{
	background: #33AAFF;
	box-shadow: #178FE5 0px 1px 3px 0px inset;
	color:#fff;
	font-weight: 700;

	background: @color-secondary;
	.inner-shadow(0, 1px, 3px, 0.4);
}
.xdsoft_datetimepicker  .xdsoft_month{
	width:90px;
	text-align:right;

	display: inline-block;
	width: auto;
}
.xdsoft_datetimepicker  .xdsoft_calendar{
	clear:both;
}
.xdsoft_datetimepicker  .xdsoft_year{
	width:56px;

	display: inline-block;
	width: auto;
}
.xdsoft_datetimepicker  .xdsoft_calendar table{
	border-collapse:collapse;
	width:100%;
	
}
.xdsoft_datetimepicker  .xdsoft_calendar td > div{
	padding-right:5px;
}
.xdsoft_datetimepicker  .xdsoft_calendar th{
	height: 25px;
}
.xdsoft_datetimepicker  .xdsoft_calendar td,.xdsoft_datetimepicker  .xdsoft_calendar th{
	width:14.2857142%;
	text-align:center;
	background: #F5F5F5;
	border:1px solid #DDDDDD;
	color: #666666;
	font-size: 12px;
	text-align: right;
	padding:0px;
	border-collapse:collapse;
	cursor:pointer;
	height: 25px;
}
.xdsoft_datetimepicker  .xdsoft_calendar th{
	background: #F1F1F1;
}
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_today{
	color: #33AAFF;

	color: @color-secondary;
	background: desaturate(lighten(@color-secondary, 55%), 50%);
	font-weight: bold;
}
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current{
	background: #33AAFF;
	box-shadow: #178FE5 0px 1px 3px 0px inset;
	color:#fff;
	font-weight: 700;

	background: @color-secondary;
	.inner-shadow(0, 1px, 3px, 0.4);
}
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_other_month,
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_disabled,
.xdsoft_datetimepicker  .xdsoft_time_box > div > div.xdsoft_disabled{
	opacity:0.5;
}
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_other_month.xdsoft_disabled{
	opacity:0.2;
}
.xdsoft_datetimepicker  .xdsoft_calendar td:hover,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box > div > div:hover{
	color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;

    background: lighten(@color-secondary, 15%) !important;
}
.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_disabled:hover,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_disabled:hover{
	color: inherit	!important;
    background: inherit !important;
    box-shadow: inherit !important;
}
.xdsoft_datetimepicker  .xdsoft_calendar th{
	font-weight: 700;
	text-align: center;
	color: #999;
	cursor:default;

	color: @color-primary;
}
.xdsoft_datetimepicker  .xdsoft_copyright{ color:#ccc !important; font-size:10px;clear:both;float:none;margin-left:8px;}
.xdsoft_datetimepicker  .xdsoft_copyright a{ color:#eee !important;}
.xdsoft_datetimepicker  .xdsoft_copyright a:hover{ color:#aaa !important;}

.xdsoft_time_box{
	position:relative;
	border:1px solid #ccc;
}
.xdsoft_scrollbar > .xdsoft_scroller{
	background:#ccc !important;
	height:20px;
	border-radius:3px;
}
.xdsoft_scrollbar{
	position:absolute;
	width:7px;
	width:7px;
	right:0px;
	top:0px;
	bottom:0px;
	cursor:pointer;
}
.xdsoft_scroller_box{
	position:relative;
}