.dropdown-menu {
	padding: 0;
	margin: 0;
	.rounded(0);
	
	> li > a {
		padding: 10px 20px;
		border-bottom: 1px solid @dropdown-fallback-border; // IE8 fallback
		border-bottom: 1px solid @dropdown-border;
	}

	> li:last-child{
		a{
			border-bottom: none;
		}
	}
}