.control-label{
	small{
		color: @color-primary;
	}
}

.form-control{
	.rounded(0);
	border: 1px solid @color-border;
	padding: 0.5em 0.75em;
	height: auto;
	background: white;
	.drop-shadow(0,0,0,0) !important;
	.inner-shadow(0,0,0,0) !important;

	&:disabled{
		border-color: lighten(@color-border, 10%);
	}

	&:focus{
		.drop-shadow(0,0,0,0);
		border-color: lighten(@color-secondary, 20%);
		color: @color-secondary;
	}

	&:focus::-webkit-input-placeholder {
		color: lighten(@color-secondary, 20%);
	}

	&:focus:-moz-placeholder {
		color: lighten(@color-secondary, 20%);
	}

	&:focus::-moz-placeholder {
		color: lighten(@color-secondary, 20%);
	}

	&:focus:-ms-input-placeholder {
		color: lighten(@color-secondary, 20%);
	}

	&.youtube{
		margin-bottom: 0.5em;
	}

	&[readonly] {
		background-color: lighten(@color-border, 20%);
	}
}

select.form-control{
	-moz-appearance: none;
  	appearance: none;
	-webkit-appearance:none;

	background: url("../@{url-assets}/backend/img/select-arrow.png") right no-repeat;
	background-size: contain;

	&.input-lg{
		padding: 0 0.6em !important;
		height: 44px;
	}

	&:hover{
		cursor: pointer;
	}
}

.form-group{
	&.has-success *,
	.has-success *{
		color: @color-success;

		&.form-control{
			border-color: lighten(@color-success, 20%);
		}
	}

	&.has-error *,
	.has-error *{
		color: @color-error;

		&.form-control{
			border-color: lighten(@color-error, 10%);

			&:-webkit-input-placeholder,
			&:focus::-webkit-input-placeholder {
				color: lighten(@color-error, 20%) !important;
			}

			&:-moz-placeholder,
			&:focus:-moz-placeholder {
				color: lighten(@color-error, 20%) !important;
			}

			&:-moz-placeholder,
			&:focus::-moz-placeholder {
				color: lighten(@color-error, 20%) !important;
			}

			&:-ms-input-placeholder,
			&:focus:-ms-input-placeholder {
				color: lighten(@color-error, 20%) !important;
			}
		}
	}

	.help-block{
		display: block;
		text-align: right;
		font-size: 0.9em;

		.fa {
			.opacity(0.5);
		}
	}

	.control-label{
		display: block;
		.clearfix();

		span.required{
			.custom-font();
			.opacity(0.4);
			font-size: 2.8em;
			height: 14px;
			display: inline-block;
			overflow: hidden;
			vertical-align: middle;
			line-height: 27px;
		}

		.spinner{
			float: right;
			color: @color-secondary;
			font-size: 1.5em;
		}
	}

	.checkboxset,
	.checkboxlist{
		.clearfix();

		br {
			display: none;
		}

		label{
			display: block;
			width: 25%;
			float: left;
			font-weight: normal;

			input{
				margin-right: 0.4em;
			}

			@media(max-width: @screen-md-max){
				width: 33%;
			}

			@media(max-width: @screen-sm-max){
				width: 50%;
			}
		}
	}

	&.image{
		input{
			display: inline-block;
			margin: 0.5em 0;
		}
	}

	textarea.form-control{
		height: 14em;

		&.html{
			height: 25em;
		}
	}

	.input-group-addon,
	.input-group-btn{
		.rounded(0);
		border: 1px solid @color-border !important;

		&.input-group-btn{
			border: 0;
		}

		.btn{
			padding: 0.5em 0.9em;

			&.btn-ico{
				padding: 0.5em;
				.rounded(0);
				width: 2.4em;
			}
		}
	}

	.input-group {
		span.input-group-addon{	
			&:first-child{
				border-right: none;
			}

			&:last-child{
				border-left: none;
			}
		}
	}

	.checkbox:not(.to-button),
	.radio{
		margin: 1.9em 0 0 0;
	}

	.tab-content{
		margin-bottom: 0;
		padding: 0;
		border-bottom: none;
	}
}

div.form-control,
strong.form-control{
	border-color: @color-border;
	color: @color-border;
}

div.form-control{
	height: auto;
}

input[type='file'].inline{
	display: inline-block !important;
}

.buttonpane{
	margin-top: 1em;
	text-align: center;
}

.has-localisation {
	.localisation-group{
		position: relative;
		
		.form-control,
		.input-group-addon{
			border-bottom-width: 0;
		}

		.input-group{
			.input-group-addon{
				.fa{
					vertical-align: bottom;
					margin-right: 0.3em;
				}

				line-height: 1.45em;
			}

			input.form-control{
				padding-left: 0.5em;
			}
		}

		&:last-child .form-control{
			border-bottom-width: @border-width;
		}

		&:last-child .input-group{
			.input-group-addon{
				border-bottom-width: @border-width;
			}

			.form-control{
				border-bottom-width: @border-width;
			}
		}
	}

	/*textarea.form-control {
		.border-radius(@border-radius-base, @border-radius-base, @border-radius-base, 0);
	}*/

	input.form-control,
	select.form-control{
		padding-left: @input-height-base;
	}

	.form-control-localisation {
	  	.form-control-feedback();
	    position: absolute;
	    top: ;
	    left: 0;
	    display: block;
	    width: @input-height-base;
	    height: @input-height-base;
	    line-height: @input-height-base * 0.9;
	    text-align: center;
	    font-size: initial;

	    .fa{
	    	vertical-align: middle;
	    }

	    span{
	    	display: none;
	    }
	}

	&.lg{
		.form-control-localisation {
				line-height: @input-height-large;
		}
	}

  .localisation-tabs{
  	border-bottom: none;
  	
  	li{
  		a{
  			span{
	  			display: none;
	  		}
	  	}

  		&.active {
  			a{
		  		position:relative;
		  		top: 1px;
		  		z-index: 1;
		  		background: white;
	  			

		  		border-top-color: @color-border;
		  		border-left-color: @color-border;
		  		border-right-color: @color-border;
		  		border-bottom: none;
		  	}

	  	}
	 }
	}
	
}


.form-control-feedback{
	font-size: 1.7em;
}

.checkbox.to-button{
	padding-left: 0;
	margin: 0;

	&.whole{
		.btn{
			display: block;
			//width: 100%;
			//background: red !important;
		}
	}
}

@checkbox-size: 32px;

.checkbox:not(.to-button),
.radio {
	margin: 0.5em 0 1em 0;
	line-height: @checkbox-size;
	padding: 0;
		
	label{
		display: inline-block;
		cursor: pointer;
		position: relative;
		margin-right: 1em;
		vertical-align: top;
	}

	input[type=checkbox]:disabled + label,
	input[type=radio]:disabled + label{
		color: lighten(@color-primary, 30%);
		cursor: not-allowed;
	}

	input[type=radio],
	input[type=checkbox] {
		display: none;
	}

	input[type=checkbox] + label:before,
	input[type=radio] + label:before {
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 19px;
		text-align: center;
		line-height: 22px;
		vertical-align: top;

		content: "\00a0";
		display: inline-block;
		width: @checkbox-size;
		height: @checkbox-size;
		margin-right: @checkbox-size * 0.3;
		.btn();
		.btn-ico();
		padding: 6px;
		
	}

	input[type=checkbox] + label:hover:before,
	input[type=radio] + label:hover:before {
		.btn-active();
	}

	input[type=radio] + label:before{
		//line-height: 25px;
		//font-size: 50px;
	}

	input[type=checkbox]:checked + label:before{
		content: @fa-var-check;
	}

	input[type=checkbox]:disabled + label:before,
	input[type=radio]:disabled + label:before{
		background: transparent;
		color: lighten(@color-border, 10%);
		border-color: lighten(@color-border, 10%);
	}

	input[type=radio]:checked + label:before {
    	content: @fa-var-circle;
    }
}

.hours{
	width: 100%;
	max-width: 30em;
	table-layout: fixed;
	td:nth-child(1){
		.btn{
			width: 100%;
		}
	}

	td:nth-child(2),
	td:nth-child(3){
		padding-left: .5em;

		input{
			text-align: center;
		}
	}
}

.colorlist{
	.bubble{
		cursor: pointer;

		&:hover{
			.opacity(0.85);
		}
	}
}