body{
	&.menu {
		header{
			#navbar{
				display: none;
			}
		}
	}
}

#logo{
	display: block;
	background: transparent center no-repeat;
	background-size: contain;
	overflow: hidden;
	text-indent: -10000px;
}

#unauthorized{
	#logo{
		width: 30%;
		padding-bottom: 30%;
		margin: auto;
	}
}

header{
	#titlebar{
		height: 3em;
		background: lighten(@color-secondary, 38%);

		&, & * {
			color: darken(@color-secondary, 25%);
		}
		
		#logo{
			background-position: left center;
			width: 100%;
			height: 2em;
			margin: 0.5em 0;
		}

		#account{
			line-height: 3em;
			
			@media (max-width: @screen-xs-max){
				a span{
					display: none;
				}
			}

			#go-to-website,
			#account-logout,
			#account-edit{
				margin-left: @size * 0.3;
			}

			a *{
				font-size: @font-size;

				&.fa{
					margin-right: .2em;
				}
			}

			a:hover{
				text-decoration: none;
				
				span{
					text-decoration: underline;
				}
			}
		}
	}

	#navbar{
		background: @color-secondary;

		h1 {
			font-size: 1.3em;
			margin: 0.35em 0;
			
			&, & *{
				color: white;
			}
			
			@media (min-width: 992px){
				font-size: 1.6em;
			}
			
			small{
				display: inline;
				overflow: hidden;
				.opacity(0.7);
			}
		}

		#tools{
			font-size: 0;
			
			.dropdown{
				display: inline-block;
				position: relative;
			}

			.btn{
				margin: 0;
				margin-left: 2px;
				color: white;
				background-color: darken(@color-secondary, 10%);
				padding: 0.7em 1.2em 0.7em 0.9em;

				&:hover,
				&.active{
					background-color: darken(@color-secondary, 15%);
				}

				&.btn-ico{
					.rounded(0);
					padding: auto;
					padding: 0.7em;
				}

				&:not(.btn-ico) span{
					display: inline;
				}

				@media(max-width: @screen-xs-max){
					width: 2.4em;
					padding: 0.4em 0.3em 0.4em 0.2em;

					span,
					&:not(.btn-ico) span{
						display: none;
					}
				}
			}
		}
	}
}





