.help{
	title{
		display: block;
		.font();
		color: @color-secondary;
		margin: 1em 0 0.6em 0;
		font-size: 1.4em;
	}

	ul{
		list-style-type: square;

		li{
			margin: 0.4em 0;
		}
	}

	section{
		display: block;
		border-left: 4px solid @color-secondary;
		padding-left: 1em;
		margin-bottom: 1em;

		title{
			font-size: 1.2em;
		}

		section{
			title{
				font-size: 1.1em;
			}
		}
	}
}