.img-thumbnail {
	.rounded(0);
	padding: 1px;
}

.image {
	img{
		width: 100%;
	}
}

.img-inline {
	display: inline-block;
	vertical-align: middle;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6em;
}