.invoices {

	tr {
		td:first-child {
			background-position: left bottom;
			background-repeat: no-repeat;
			background-size: contain;
		}
		
		&.invoice-type-main td:first-child {
			background-image: url("../@{url-assets}/backend/img/invoices/invoice-type-main.png");
		}

		&.invoice-type-proforma td:first-child {
			background-image: url("../@{url-assets}/backend/img/invoices/invoice-type-proforma.png");
		}

		&.invoice-type-refund td:first-child {
			background-image: url("../@{url-assets}/backend/img/invoices/invoice-type-refund.png");
		}

		td {
			height: 5.5em;
		}
	}
}