.list-filter-form,
#frm-filterForm{
	label.control-label{
		display: none;
	}

	.buttonpane{
		margin: 0;
		padding: 0;
		
		.btn{
			display: block;
			width: 100%;
		}
	}

	.checkboxlist{

		label {
			text-align: center;
			font-size: 0.9em;

			input {
				display: block;
				margin: 0.2em auto;
			}
		}
	}
}

.list-box{
	margin-top: 1.5em;


	h2{
		margin: 0 !important;

		span{
			vertical-align: middle;
			display: inline-block;
			text-transform: lowercase;
			
			&:first-letter {
			    text-transform: uppercase;
			}
		}

		.collapsible-button{
			margin-right: 0.3em;
			vertical-align: middle;
		}
	}
}

.pages{
	text-align: center;
	margin: 0;
	padding: 0;
		
	li{
		display: inline-block;
		padding: 0;
		margin: 2px;
			
		a{
			display: inline-block;
			width: 2.6em;
			//.btn();
			//.btn-ico();
			.rounded(3em);
			border: 1px solid @color-border;
			padding: 0.5em;

			&:hover,
			&:focus,
			&:active{
				text-decoration: none;
				background-color: @color-button-default-background;
			}
		}

		&.active{
			a{
				.btn-active();
				cursor: default;
			}	
		}

		&.collapsed{
			em{
				display: block;
				font-size: 0.5em;
				overflow: hidden;
				text-align: left;
				text-indent: -1000px;
				.rounded(4em);
				border: @border-width solid @color-border;
				width: 1em;
				height: 1em;
			}
		}
	}
}

.table-box{
	//.thumbnail();
	padding: 15px;

	@media (max-width: @screen-mp-max){
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;
		border-right: none;
		border-left: none;
	}
}

.list{
	width: 100%;
	table-layout: fixed;
	
	&.fixed-header{
		thead{
			background: white;
		}
	}

	&.tree {
		td.spacer {
			vertical-align: middle;
			//width: auto;
			white-space: nowrap;
			text-align: left;
			padding-right: 1em;
			word-spacing: -100%;
			
			a:hover,
			a:focus,
			a:active {
				text-decoration: none;
				.opacity(0.6);
			}

			.collapser,
			.expander,
			.spacer,
			.nester {
				font-size: 1.2em;
				display: inline-block;
				width: 1.5em;
				height: 1.5em;
				line-height: 1.6em;
				text-align: center;
				vertical-align: middle;
				//background: red;

				.fa {
					background: blue;
				}
			}

			.nester {
				.opacity(0.1);
			}
		}

		tr:first-child td {
			border-top: none;
		}
	}

	&.vertical-align-top{
		td{
			vertical-align: top !important;
		}
	}

	tbody.rowsgroup,
	.tbody.rowsgroup{
		border-top-width: 1px;

		td,
		.td{
			border: none;
		}

		tr:last-child,
		.tr:last-child{
			td,
			.td{
				padding-top: 0em;
			}
		}
	}
	
	td,
	.td,
	th,
	.th{
		width: 8em;
		text-align: center;
		vertical-align: middle !important;
		
		&:first-child{
			padding-left: 0;
		}

		&:last-child{
			padding-right: 0;
		}

		span.ellipsis{
			display: block;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		small{
			line-height: 1.1em;
		}

		.bubble{
			font-size: 0.7em;
			width: 4em;
		}

		.empty{
			display: inline;
			padding: 0;
		}

		&.image{
			width: 3.45em;
			//width: 40px;
			//height: 3.45em;
			text-align: center;

			img{
				//width: 100%;
				width: 40px;
				height: 40px;
				.rounded(3em);
				padding: 0 !important;
				border: none !important;
			}
		}

		&.address{
			width: 15em;
		}

		&.text-left{
			text-align: left;
		}

		&.text-center{
			text-align: center;
		}

		&.text-right{
			text-align: right;
		}

		&.less-important{
			@media (max-width: @screen-xs-max){
				display: none;
			}
		}

		&.form-datetime{
			white-space: nowrap;
			width: 12em;
			
			.value{
				> span{
					margin-right: 0.3em;
				}
			}

			.form-group{
				width: 7em;

				.form-control{
					width: 100%;
				}
			}
		}

		&.datetime{
			width: 11em;
			white-space: nowrap;
		}

		&.not-important{
			@media (max-width: @screen-mp-max){
				display: none;
			}
		}

		&.title{
			text-align: left;
			width: auto;

			span.ellipsis{
				display: block;
			}
		}

		&.width-auto{
			width: auto;
		}

		&.name{
			width: 12em;
			white-space: nowrap;
		}

		&.no{
			width: 6em;
		}

		&.no-bubble{
			width: 3em;
		}

		&.sum,
		&.price{
			text-align: right;
			white-space: nowrap;

			&:is(th){
				text-align: center;
			}

			.price-include-vat{
				display: block;
				font-size: 0.8em;

				&:after{
					content: " vč. DPH";
				}
			}
		}

		&.switch{
			width: 6em;	

			&.vertical{
				width: 3em;
				padding-left: 0;
				padding-right: 0;
				
				.vertical{
					line-height: 1em;
					display: inline-block;
					text-align: left;
					width: 20px;
	                margin: 0px;
	                padding: 0px;
	                white-space: nowrap;
	                .rotate(-90deg);
				}
			}
		}

		&.tools,
		&.toolbar{
			text-overflow: clip;
		    font-size: 0;
		    text-align: right;
			white-space: nowrap;
			width: 145px;
			padding-left: 0;

			&.t1,
			&.toolbar-1-button{
				width: 42px;
			}

			&.t2,
			&.toolbar-2-button{
				width: 84px;
			}

			&.t3,
			&.toolbar-3-button{
				width: 128px;
			}

			&.t4,
			&.toolbar-4-buttons{
				width: 165px;
			}

			&.t5,
			&.toolbar-5-buttons{
				width: 207px;
			}
			
			.btn {
				margin-right: 3px;
				font-size: initial;
		    }

		    //Toto je vytaženo mimo aby nám nezůstávala tlačítka ve skupině zabalené elementem u sebe, např. "rank" apod.
		    > .btn:last-child {
		    	margin-right: 0;
		    }
		}

		em{
			color: lighten(@color-primary, 20%);
		}

		.ico{
			display: inline-block;
			line-height: 16px;
			vertical-align: top;
			margin-right: 0.4em;
		}
	}

	th,
	.th{
		vertical-align: bottom !important;
		background: white;//rgba(255,255,255,0.95);

		a.up:before{
			font-family: FontAwesome;
			content: @fa-var-caret-up;
			margin-right: 0.3em;
		}

		a.down:before{
			font-family: FontAwesome;
			content: @fa-var-caret-down;
			margin-right: 0.3em;
		}

		a.unsorted:before{
			font-family: FontAwesome;
			content: @fa-var-sort;
			margin-right: 0.3em;
		}
		
		&.switch.vertical{
			height: 150px;
		}
	}

	tr,
	.tr {
		&.alert-danger,
		&.error {
			td{
				&, & *:not(.label) {
					//font-weight: bold;
					color: @color-error;
					//border-color: @state-danger-border;
				}

				.btn-primary{
					background-color: @color-error;
					
					* {
						color: white;
					}

					&:hover{
						background-color: darken(@color-error, 5%);
					}
				}

				.btn-default{
					background-color: lighten(desaturate(@color-error, 5%), 40%);
					
					* {
						color: desaturate(@color-error, 15%);
					}

					&:hover{
						background-color: darken(lighten(desaturate(@color-error, 5%), 40%), 5%);
					}
				}
			}
		}

		&.alert-success,
		&.success {
			td{
				//background-color: desaturate(lighten(@color-success, 67%), 40%) !important;
				background: none !important;

				&, & *:not(.label) {
					//font-weight: bold;
					color: @color-success;
					//border-color: @state-success-border;
				}

				.btn-primary{
					background-color: @color-success;
					
					* {
						color: white;
					}

					&:hover{
						background-color: darken(@color-success, 5%);
					}
				}

				.btn-default{
					background-color: lighten(desaturate(@color-success, 55%), 60%);
					
					* {
						color: desaturate(@color-success, 15%);
					}

					&:hover{
						background-color: lighten(desaturate(@color-success, 55%), 55%);
					}
				}
			}
		}

		&.sum{
			border-top: 2px solid @color-border;

			td{
				padding-top: 0.5em;
				font-size: 1.2em;
			}
		}

		&.empty{
			display: table-row;
			
			td{

				text-align: center;
				padding: 3em;
				font-style: italic;
			}
		}

		&.new{
			td{
				font-weight: bold;

				&, &:not(.tools) *{
					&:not(.label){
						color: @color-secondary;
					}

					&.label-default{
						background-color: @color-secondary;
					}
				}
			}
		}

		&.sortable-helper {	
			//.drop-shadow(0, 0, 5px, 0.2);
			.opacity(0.9);

			td {
				background: white;
				border: none;
			}
		}

		&.inactive,
		&.unpublished{
			td {
				font-style: italic;
				.opacity(0.6);
			}
		}
	}
}