.map{
	width: 100%;
	height: 300px;
	.border();
	overflow: hidden;
}

.map-wrapper{
	position:relative;

	.btn{
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 100;
		font-size: 1.2em;
		width: 2.4em;
		height: 2.4em;
		line-height: 1.7em;
	}
}

.form-group.address{
	&.input {
		/*.form-control.address{
			.border-radius(@border-radius-base, 0, 0, @border-radius-base);
		}*/

		.map-wrapper{
			.map{
				//.border-radius(0, @border-radius-base, @border-radius-base, 0);
				border-top: none;
			}
		}
	}

	&.radius{
		.map-wrapper{
			.map{
				//.border-radius(0, 0, 0, 0);
				border-bottom: none;
			}
		}

		.input-group{
			/*.form-control{
				.border-radius(0, 0, @border-radius-base, 0);
			}

			.input-group-addon{
				.border-radius(0, @border-radius-base, 0, 0);
			}*/
		}
	}
}