.horizontal-menu{
	margin-bottom: @default-spacing;

	&.lg{
		font-size: 1.5em;
		text-align: center;

		a > .fa {
			display: block;
			margin: auto;
		}
	}

	a{
		display: block;
		text-decoration: none;
		color: @color-secondary;
		font-size: 1.1em;
		margin: 0.5em 0;

		> .fa {
			width: 2.2em;
			height: 2.2em;
			vertical-align: top;
			padding: 0.6em;
			color: white;
			background: @color-secondary;
			.rounded(3em);
			text-align:center;
			margin-right: 0.3em;
		}

		> span {
			display: inline-block;

			strong {
				font-weight: normal;
				font-size: 0.9em;
			}

			small{
				color: @color-primary;
				display: block;
				font-size: 0.6em;
			}
		}

		&:hover,
		&:active,
		&:focus{
			text-decoration: none;
			color: darken(@color-secondary, 10%);

			> span > strong{
				text-decoration: underline;
			}

			> .fa{
				background: darken(@color-secondary, 10%);
			}
		}
	}
}

#menu{
	font-size: 0;
	text-align: justify;
	position: relative;

	&:after {
		content: "";
		display: inline-block;
		width: 100%;
	}

	.button{
			font-size: @size / 2;
			display: inline-block;
			width: @size;
			height: @size;
			line-height: @size;
			vertical-align: top;
			background: @color-background;
			text-align: center;
			margin-left: 2px;

			a{
				position: relative;
				display: inline-block;
				line-height: @size / 2 - (2 * (@size / 10));
				vertical-align: top;
				width: @size;
				height: @size;

				.btn();
				.btn-ico();
				background: none;
				border: 1px solid @color-border;
				padding: @size / 10;

				i{
					display: block;
					font-size: @size * 0.3;
					margin: auto;
				}

				span{
					font-size: @size * 0.16;
					display: inline-block;
					line-height: 1.2em;
					vertical-align: middle;
					text-overflow: ellipsis;
					width: 100%;
					overflow: hidden;
				}

				.notification-bubble{
					position:absolute;
					font-size: @size * 0.25;

					top:-3%;
					right: -3%;

					width: 1.7em;
					height: 1.7em;

					line-height:1.45em;
					text-align:center;

					font-weight:bold;
					color:#fff;
					.border-radius(4em, 4em, 4em, 4em);

					background: @color-secondary;

					border: 2px solid @color-background;
				}
			}

			&:hover{
				a{
					.btn-active();
					border-color: @color-button-primary-background;
				}
			}

			&.more{
				//display: none;

				//Display only in #toolbar
				position: absolute;
				right: 0 !important;
				top: 0;
			}

			&.active{
				a{
					.btn-active();
					border-color: @color-button-primary-background;
				}
			}

			&:first-child{
				margin-left: 0;
			}
		}
}

#content {
	.container.menu{
		
	}

	#menu{
	.button{
		display: block;
		float: left;
		margin: 0;
		box-sizing: border-box;
		position: relative;
		
		font-size: 8vw; 
		
		a{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 10%;

			i{
					font-size: 8.5vw;
				}

				span{
					font-size: 3vw;
					
				}

				.notification-bubble{
					font-size: 4vw;

					top:-1%;
					right:-1%;
				}
		}

		@media(max-width: @screen-mp-max){
			width: 24%;
			padding-bottom: 24%;
			margin-right: 1.333333%;
			margin-bottom: 1.333333%;

			&:nth-child(4n+0){
				margin-right: 0;
			}
		}

		@media(min-width: @screen-ml-min) and (max-width: @screen-xs-max){
			width: 19%;
			padding-bottom: 19%;
			margin-right: 1.25%;
			margin-bottom: 1.25%;

			&:nth-child(5n+0){
				margin-right: 0;
			}
			
			a{
				i{
					font-size: 6.9vw;
				}

				span{
					font-size: 2.3vw;
				}

				.notification-bubble{
					font-size: 3vw;
				}
			}

		}

		@media(min-width: @screen-sm-min){
			width: 12%;
			padding-bottom: 12%;
			margin-right: 0.571%;
			margin-bottom: 0.571%;

			&:nth-child(8n+0){
				margin-right: 0;
			}

			font-size: @screen-sm-min * 0.06;

			a{
				i{
					font-size: @screen-sm-min * 0.04;
				}

				span{
					font-size: @screen-sm-min * 0.015;
	
				}

				.notification-bubble{
					font-size: @screen-sm-min * 0.019;
				}
			}

		}

		@media(min-width: @screen-md-min) and (max-width: @screen-md-max){
			font-size: @screen-md-min * 0.0725;

			a{
				i{
					font-size: @screen-md-min * 0.04;
				}

				span{
					font-size: @screen-md-min * 0.015;
	
				}

				.notification-bubble{
					font-size: @screen-md-min * 0.019;
				}
			}

		}

		@media(min-width: @screen-lg-min){
			font-size: @screen-lg-min * 0.0725;

			a{
				i{
					font-size: @screen-lg-min * 0.04;
				}

				span{
					font-size: @screen-lg-min * 0.015;
	
				}

				.notification-bubble{
					font-size: @screen-lg-min * 0.019;
				}
			}

		}
	}

	}
}