.box {
	border: 1px solid @color-border;
	padding: @default-spacing * 2;
}

.error{
	color: @color-error;
}

.log{
	padding: 0;
	list-style-type: none;
	
	li {
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		border-bottom: 1px solid @color-border;

		&:last-child{
			border-bottom: none;
		}
	}
}

.video{
	.img-thumbnail();
	.img-responsive();

	background: url("../../img/video-camera.png") center no-repeat;
	background-size: 40%;

	iframe{
		width: 100%;
	}
}

.bubble{
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
	.rounded(100%);
	display: block;
	background: lighten(@color-secondary, 40%);
	color: @color-secondary;
	cursor: default;
	line-height: 1.4em;

	> * {
		position: absolute;
		top: 50%;
		margin-top: -0.7em;
		left: 0;
		width: 100%;
		text-align: center;
	}
}

//DEPRECATED
.custom-font{
	.font();
}

.font{
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 200;
}

.information-row{
	margin: 0 !important;
	border-bottom: 1px solid @color-border;
	padding-top: 1em !important;

	> div{
		padding: 0;
	}

	&.information-row-vertical{
		border-bottom: none;

		&.information-row-value{
			padding: 0;
		}
	}

	em{
		color: lighten(@color-primary, 30%);
	}

	&:last-child{
		border-bottom: none;
	}
}

.document{
	border: 1px solid @color-border;
	padding: 1.5em;
	margin-bottom: 1em;
}

.overflow-box{
	height: 300px;
	overflow-y: scroll;
	background: white;
	.rounded(1em);
	.border();
	padding: 1.5em;
}

.opacity-50{
	.opacity(0.5);
}

.empty{
	display: block;
	padding: 2em;
	font-style: italic;
	text-align: center;
	.opacity(0.5);
}

em.empty{
	padding: 0;
	display: inline;
}

tr.empty{
	display: table-row;
}

td.empty,
th.empty{
	display: table-cell;
}

.border(@t: @border-width, @r: @border-width, @b: @border-width, @l: @border-width, @clr: @color-border){
	border-top: @t solid @clr;
	border-right: @r solid @clr;
	border-bottom: @b solid @clr;
	border-left: @l solid @clr;
}

.container{
	@media (max-width: @screen-mp-max) {
			padding-left: @padding-xs-horizontal;
			padding-right: @padding-xs-horizontal;
		}
}

.container.no-padding{
	@media (max-width: @screen-mp-max){
		padding: 0;
	}
}

.left-with-padding{
	left: @grid-gutter-width / 2;
			
	@media (max-width: @screen-mp-max) {
		left: @padding-xs-horizontal;
	}
}

.right-with-padding{
	right: @grid-gutter-width / 2;
			
	@media (max-width: @screen-mp-max) {
		right: @padding-xs-horizontal;
	}
}

.padding-right{
	right: @grid-gutter-width / 2;
			
	@media (max-width: @screen-mp-max) {
		right: @padding-xs-horizontal;
	}
}

.no-shadow(@important: "") {
	-webkit-box-shadow: none @important;
	-moz-box-shadow: none @important;
	box-shadow: none @important;
}

.row.toolbar{
	margin-top: 1.5em;
	
	h1,h2,h3,h4,h5,h6{
		margin-top: 0;
	}
}


//Bootstrap grid system extension

.make-grid-columns() {
	// Common styles for all sizes of grid columns, widths 1-12
	.col(@index) when (@index = 1) { // initial
		@item: ~".col-ml-@{index}, .col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
		.col((@index + 1), @item);
	}
	.col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
		@item: ~".col-ml-@{index}, .col-xs-@{index}, .col-sm-@{index}, .col-md-@{index}, .col-lg-@{index}";
		.col((@index + 1), ~"@{list}, @{item}");
	}
	.col(@index, @list) when (@index > @grid-columns) { // terminal
		@{list} {
			position: relative;
			// Prevent columns from collapsing when empty
			min-height: 1px;
			// Inner gutter via padding
			padding-left:	(@grid-gutter-width / 2);
			padding-right: (@grid-gutter-width / 2);
		}
	}
	.col(1); // kickstart it
}


// Generate the small columns
.make-ml-column(@columns; @gutter: @grid-gutter-width) {
	position: relative;
	min-height: 1px;
	padding-left:	(@gutter / 2);
	padding-right: (@gutter / 2);

	@media (min-width: @screen-ml-min) {
		float: left;
		width: percentage((@columns / @grid-columns));
	}
}
.make-ml-column-offset(@columns) {
	@media (min-width: @screen-ml-min) {
		margin-left: percentage((@columns / @grid-columns));
	}
}
.make-ml-column-push(@columns) {
	@media (min-width: @screen-ml-min) {
		left: percentage((@columns / @grid-columns));
	}
}
.make-ml-column-pull(@columns) {
	@media (min-width: @screen-ml-min) {
		right: percentage((@columns / @grid-columns));
	}
}

@media (min-width: @screen-ml-min) {
	.make-grid(ml);
}