.notifications{
    .alert{
        display: block;
        margin: 0.2em 0;
    }
}


div.result {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    text-align: center;
    z-index:9999;
    .drop-shadow(0, 0, 0.5em, 0.3);
    .rounded(0);
    padding: 0 !important;

    .inner {
        position: relative;
        .container();
        margin: 0;
        padding: 1em 30px 1em 80px;

        .icon{
            background: white;
            border: @border-width solid;
            width: @size;
            height: @size;
            display:block;
            border-radius: 4em;
            padding: 0.3em;
            font-size: 2.5em;
            line-height: 1.05em;
            text-align: center;
            position: absolute;
            .left-with-padding();
            top: 50%;
            margin-top: -0.8em;
            .drop-shadow(0, 0, 0.5em, 0.3);
        }
    }
    
    .close {
        position: absolute;
        top: 50%;
        margin-top: -0.5em;
        .right-with-padding();
    }
}
