.path {
	span {
		&:after {
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f054";
			font-size: 0.7em;
			opacity: 0.3;
			display: inline-block;
			margin: 0 0.5em;
		}

		&:last-child:after {
			content: "";
		}
	}
}