.preview {
	background: url("../@{url-assets}/backend/img/preview-watermark.svg") center repeat;
}

page {
	background: white;
	
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

	&[size="A4"] {
		width: 21cm;
		min-height: 29.7cm;
	}

	&[size="Newsletter"] {
		width: 600px;
		min-height: 900px;
	}
}