.scrolltotop-button {
  background: transparent url("../@{url-assets}/backend/img/scrolltotop.png") scroll center top no-repeat;
  display: none;
  height: 64px;
  position: fixed;
  right: @size * 0.3;
  bottom: (@size * 1.5);
  width: 64px;
  z-index: 33;
  .opacity(0.8);
}