.sortable-helper{
	table-layout:fixed;
}


.sortable-placeholder{
	background: lighten(@color-secondary, 55%);
}

tr.sortable-placeholder td{
	width: 100%;
}

div.sortable-placeholder{
	border: 1px solid lighten(@color-secondary, 30%);
	width: 100%;
	height: 100%;
}

div.sortable-placeholder-container{

}

tr.sortable-active td{
	color: @color-secondary;
}

div.sortable-active {
	/*.image{
		background: lighten(@color-secondary, 55%);
	}*/

	.image,
	.image .toolbar{
		border-color: lighten(@color-secondary, 20%);
	}

	.image .toolbar a{
		color: @color-secondary;
	}
}