.nav-tabs,
.nav-tabs.nav-justified {
	> li {
		> a {
			.rounded(0);
			/*&:hover {
				border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
			}*/
		}

		&.active > a {
			&,
			&:hover,
			&:focus {
				color: @color-secondary;
				background-color: white;
			}
		}
	}
	
	&.nav-sm-span-hidden{
		> li > a > span{
			@media(min-width: @screen-sm-min) and (max-width: @screen-sm-max){
				display: block;
				font-size: 0.7em;
			}
		}
	}
}

.tab-content{
	margin-bottom: 1em;
	padding: 2em 0;
	border-bottom: 1px solid @nav-tabs-border-color;
}