
#toolbar{
	position: fixed;
	left: 0; 
	bottom: 0;
	width: 100%; 
	height: @size * 1.2;
	z-index: 999;
	
	padding: @size * .1 0;
	
	background: @color-background;

	.container{
		position:relative;
		overflow: hidden;
		height: @size;

		.button.justifier{
			display: none;
		}

		@media(max-width: @screen-sm-max){
			//text-align: justify;

			.button.justifier{
				display: inline-block;
			}

			.button.more{
				display: block;
				position:absolute;
				top: 0;
				.right-with-padding();
				margin: 0;
			}
		}
	}

	@media(min-width: @screen-lg-min){
		height: @size-lg + (@size-lg * .2);
		padding: @size-lg * .1 0;

		.container{
			height: @size-lg;

			.button{
				font-size: @size-lg / 2;
				width: @size-lg;
				height: @size-lg;
				line-height: @size-lg;
				
				a{
					width: @size-lg;
					height: @size-lg;
					line-height: @size-lg / 2 - (2 * (@size-lg / 10));
					padding: @size-lg / 10;

					i{
						font-size: @size-lg * 0.3;
					}

					span{
						font-size: @size-lg * 0.16;
					}
				}
			}
		}
	}
}

