.tree {
	padding: 0;
	list-style-type: none;

	li {
		> div {
			border-bottom: 1px solid @color-border;
			padding: @default-spacing 0;
			height: 4.5em;
			//line-height: 4.5em;

			.nester {
				display: inline-block;
				font-size: 1.4em;
				vertical-align: middle;

				&:hover,
				&:focus,
				&:active,
				&:visited {
					text-decoration: none;
					opacity: 0.6;

					* {
						text-decoration: none;
					}
				}
			}

			.image {
				display: inline-block;
				width: 3em;
				vertical-align: middle;
				
				img {
					border: none;
					padding: none;
					border-radius: 4em;
				}
			}

			.title {
				display: inline-block;
				vertical-align: middle;
				width: 25em;
			}

			.info {
				display: inline-block;
				vertical-align: middle;
				min-width: 6em;
				margin-left: 1em;

				&.right {
					float: right;
				}
			}

			.tools {
				display: inline-block;
				float: right;
				vertical-align: middle;
				margin-top: 0.1em;
				word-spacing: -2px;

				.btn {
					margin: 0 !important;
				}
			}
		}

		.tree {
			padding-left: 3em;
		}
	}
}
