body{
	color: @color-primary;
	margin: 0;
	padding: 0;
	border: 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	-webkit-box-sizing: border-box;
	-webkit-transition: all 0.25s  ease-in-out;
	-webkit-font-smoothing: antialiased !important;
	font-family: Arial, Helvetica, sans-serif;
}

a{
	color: darken(@color-primary, 10%);
}

a:hover{
	color: darken(@color-primary, 15%);
}

h1,
h2,
h3,
h4,
h5,
h6{
	.custom-font();
	color: @color-secondary;

	small{
		font-weight: 200;
	}
}

ul {
	list-style-type: square;
}

body.login {

	#logo{
		width: 100%;
		padding-bottom: 25%;
		display: block;
		margin: auto;
	}

	.buttonpane{
		text-align: right;
	
		.checkbox{
			float: left;
		}
	}
}

pre.nette-dump{
	position: absolute; 
	left: 5px; 
	top: 5px;
	z-index: 10;
	width: 200px;
	padding-bottom: 20px;
	.drop-shadow(0,3px,10px, 0.5);

	.ui-resizable-handle{
		.rounded(4em);
		background: #aaa;
		border: 1px solid #888;
		width: 10px;
		height: 10px;
		position:absolute;
		right: 5px;
		bottom: 5px;
		font-family: FontAwesome;
	}
}

.margin-top-h2 {
	margin-top: 16px;
}

h1, .h1 { font-size: 2.2em; }
h2, .h2 { font-size: 1.6em; }
h3, .h3 { font-size: 1.4em; }
h4, .h4 { font-size: 1.3em; }
h5, .h5 { font-size: 1.2em; }
h6, .h6 { font-size: 1.1em; }