/* Colors */
@color-primary:		#666;
@color-secondary:	#5E9ABC;
@color-error:		#920;
@color-success:		#090;
@color-background: 	white;
@color-border:		lighten(@color-primary, 30%);

@input-border-focus: @color-primary;

@color-button-default-text: @color-primary;
@color-button-default-background: lighten(@color-primary, 52%);

@color-button-primary-text: white;
@color-button-primary-background: @color-secondary;

/* Dimensions */
@size: 				60px;
@size-lg:			70px;
@font-size:			14px;
@border-width:		1px;
@default-spacing:	10px;

/* Paths */
@path-base:			"/admin";

@path-no-image: 	"@{path-base}/img/no-image/no-image.svg";
@path-background:	"@{path-base}/img/background.png";

@path-fonts-base:	"@{path-base}fonts/";
@path-font:			"@{path-fonts-base}fonts/HelveticaNeueLTPro-UltLt.otf";