<div class="list">
	<table class="table projects fixed-header">
		<thead>
			<tr>
				<th class="image">&nbsp;</th>
				<th class="title">
					{sortableTh $projectsCollection, field => "title", label => "Název"}
				</th>
				<th class="less-important date">
					{sortableTh $projectsCollection, field => "established", label => "Zahájení"}
				</th>
				<th class="less-important date">
					{sortableTh $projectsCollection, field => "finished", label => "Dokončení"}
				</th>
				<th class="tools">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody n:snippet="tbodySnippet">
			<tr n:foreach="$projectsCollection->getAll() AS $projectEntity">
				<td class="image">
					<a n:href=":Front:Projects:detail $projectEntity->getId()" title="{_'Zobrazit projekt na webu'}">
						{image $projectEntity->imagesCollection->getMain(), forced => true, ratio => 1}
					</a>
				</td>
				<td class="title">
					<strong>
						<a n:href=":Front:Projects:detail $projectEntity->getId()" title="{_'Zobrazit projekt na webu'}">
							{$projectEntity->title}
							<span class="label label-info">({$projectEntity->getReadableStatus()})</span>
						</a>
					</strong>
					<span class="ellipsis">
						{$projectEntity->address}
					</span>
				</td>
				<td class="less-important date">
					{$projectEntity->established|date}
				</td>
				<td class="less-important date">
					{$projectEntity->finished|date}
				</td>
				<td class="tools">
					<a n:if="$user->isAllowed('Admin:Projects','articles')" n:href="Projects:articles $projectEntity->getId()" class="btn btn-primary btn-ico" title="{_'Správa článků projektu'}">
						<i class="fa fa-calendar"></i>
						<span>{_'Články'}</span>
					</a>
					<a n:if="$projectEntity->isEditAllowed($user)" n:href="MoveUp! $projectEntity->getId()" title="{_'Posunout projekt nahoru'}" class="btn btn-ico btn-primary{if $iterator->first} disabled{/if} ajax">
						<i class="fa fa-chevron-up"></i>
						<span>{_'Nahoru'}</span>
					</a>
					<a n:if="$projectEntity->isEditAllowed($user)" n:href="MoveDown! $projectEntity->getId()" title="{_'Posunout projekt dolů'}" class="btn btn-ico btn-primary {if $iterator->last} disabled{/if} ajax">
						<i class="fa fa-chevron-down"></i>
						<span>{_'Dolů'}</span>
					</a>
					<a n:if="$projectEntity->isEditAllowed($user)" n:href="Projects:edit $projectEntity->getId()" class="btn btn-primary btn-ico" title="{_'Upravit tento projekt'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:if="$projectEntity->isRemoveAllowed($user)" n:href="Remove! $projectEntity->getId()" class="btn btn-default btn-ico remove ajax" title="{_'Odebrat tento projekt'}" data-confirm-title="{_'Odebrat projekt'}" data-confirm-message="{_'Opravdu chcete tento projekt odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Remove'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!$projectsCollection->count()" class="empty">
				<td colspan="5">{_'Nenalezeny žádné projekty'}</td>
			</tr>

		</tbody>
	</table>

	{$projectsCollection->pagination->getControl()}

</div>