<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
			<link rel="stylesheet" type="text/css" href="{$basePath}/theme/www-mistoler-cz/css/document.css" />
		</head>
	<body>
		<page size="A4">
			<div class="page-content">
				<div id="header">
					<div class="row">
						<div class="col col-6 header-logo">
							<div class="col-body">
								<img src="{$basePath}/theme/www-mistoler-cz/img/jan-mistoler-logotype.svg" />
							</div>
						</div>
						<div class="col col-6 header-contact">
							<div class="col-body">
								<a href="mailto: jan@mistoler.cz" title="{_'Napište mi'}">jan@mistoler.cz</a><br/>
								{_'tel'}.: +420 774 883 375<br/>
								<a href="http://www.mistoler.cz" title="{_'Navštivte moje stránky'}">www.mistoler.cz</a>
							</div>
						</div>
					</div>
				</div>
				<div id="content">
					{include content}
				</div>
				<div id="footer">
					<div class="container">
						<p class="text-center">
						  <strong>Jan Mistoler - reality | finance</strong>, <a href="mailto: jan@mistoler.cz" title="{_'Napište mi'}">jan@mistoler.cz</a><span>, {_'tel'}.: +420 774 883 375</span>
						</p>
					</div>
				</div>
			</div>
		</page>
	</body>
</html>s