.estates{
	&.list{
		.item{
			padding-bottom: 1em;
			margin-bottom: 2em;
			border-bottom: 1px solid @color-border;
			position: relative;

			&:last-child{
				border-bottom: none;
			}

			strong{
				.font();
				font-size: 1.7em;
				display: block;
				margin: 0.5em 0;
				
				em {
					display: block;
					font-style: normal;
					font-size: 0.7em;
				}
			}

			.address {
				display: block;
				font-style: normal;
				font-size: 1.2em;
				.font();
				margin-bottom: 1em;
				.opacity(0.6);

				&:before{
					 content: @fa-var-map-marker;
					 .fa();
				}
			}


			.price{
				text-align: right;
				display: block;
				font-size: 1.8em;
				.font();

				em{
					display: block;
					font-size: 0.6em;
				}
			}

		}
	}

	.pages{
		margin: 0 0 1em 0;
		padding: 0;

		li{
			display: inline-block;
			background: none;
			padding: 0;
			margin: 0 0.1em;

			a{
				display: block;
				text-align: center;
				width: 2.6em;
				.btn();
			}

			&.active{
				a, a:hover, a:active, a:focus{
					background-color: @color-secondary;
					cursor: default;
					color: white;
					border-color: @color-secondary;
				}
			}
		}
	}

	.sorting{
		.form-group{
			display: inline-block;
			vertical-align: top;
			font-size: 0.9em;
			margin: 0;
			padding: 0;
		
			.form-control{
				font-size: 0.9em;
				padding: 0.6em;
				border: 2px solid @color-border;
				border-radius: 0 !important;
			}

			select.form-control {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				
				background: url("../@{url-assets}/backend/img/select-arrow.png") right no-repeat;
				background-size: contain;
				padding-right: 2.6em;

				&:hover{
					cursor: pointer;
				}
			}
		}

		.btn{
			vertical-align: top;
			
			span{
				display: none;
			}

			&:hover,
			&:focus,
			&:active{
				background-color: @color-border;
			}
		}


		label{
			display: none;
		}
	}

	&.detail{

		h1{
			background: @color-secondary;
			color: white;
			margin-bottom: 0.8em;
		}

		h2{
			font-size: 1.8em;
			margin-top: 1.5em;
		}

		#intro{
			margin-bottom: 2em;
		}

		@media(max-width: @screen-xxs-max){
			&, .form-control{
				text-align:center;
			}
		}

		.images{
			margin-bottom: 2em;

			.item{
				margin-bottom: 1px;
				margin-right: 1px;
			}

			.image .img-thumbnail{
				border: none;
				padding: 0;
			}
		}

		.description{
			line-height: 1.7em;
		}

		.price{
			display: block;
			.font();
			font-size: 3em;
			text-align: right;
			.opacity(0.7);
			margin-bottom: 0.5em;
			color: @color-third;

			em {
				border-top: 4px solid @color-third;
				padding-top: 0.5em;
			}

			em,
			i{
				font-size: 0.45em;
				display: block;
				font-style: normal;
				color: @color-primary;
			}

			i{
				//margin-top: 1em;
			}

			@media(max-width: @screen-xs-max){
				font-size: 2em;
				text-align: center;

				em,i{
					font-size: 0.5em;
				}
			}
		}

		.table-label-value{
			width: 100%;

			tr{
				td{
					border-bottom: 1px solid @color-border;
					padding-top: 1.4em;

					&:first-child{
						text-align: left;
					}

					&:last-child{
						text-align: right;
						font-weight: bold;
						font-size: 1.2em;
						.font();

						@media(max-width: @screen-xs-max){
							font-size: 1em;
						}
					}
				}

				&:first-child{
					td{
						padding-top: 0;
					}
				}
			}
		}

		.map-wrapper{
			margin-bottom: 1.4em;
		}

		form{
			margin-bottom: 2em;
			
			label{
				display: none;
			}
		}

		.share{
			margin-top: 5em;
		}
	}
}