.btn{
	border: 2px solid @color-primary;
	background: none;
	.rounded(0);
	color: @color-primary;
	padding: 0.49em 0.7em;

	&:hover{
		background: transparent;
		color: @color-secondary;
		border-color: @color-secondary;
	}
}


.btn-default{
	background: lighten(@color-primary, 40%);
	.drop-shadow(0,0,0,0);
	border: none;
	color: @color-primary;
	.rounded(0);

	&:hover{
		background: transparent;
		border-color: @color-secondary;
		color: @color-secondary;
	}
}

.btn-primary{
	background: @color-secondary;
	.drop-shadow(0,0,0,0);
	padding: 0.7em 1.1em 0.7em 1em;
	border: none;
	color: white;
	.rounded(0);

	&:hover{
		background: darken(@color-secondary, 5%);
		color: white;
	}
}

.btn-ico{
	padding: 0.5em;
	width: 2.8em;
	
	span {
		display: none;
	}
}

.buttonpane{
	text-align: center;
}

.form-control{
	.rounded(0);
	.inner-shadow(0,0,0,0);
	height: auto;
	padding: 0.5em 0.8em;
	font-size: 1.3em;
	border: none;
	background-color: lighten(@color-secondary, 55%);
	color: desaturate(@color-secondary, 20%);

	&::-webkit-input-placeholder {
		color: desaturate(lighten(@color-secondary, 35%), 20%);
	}

	&:-moz-placeholder {
		color: desaturate(lighten(@color-secondary, 35%), 20%);
	}

	&::-moz-placeholder {
		color: desaturate(lighten(@color-secondary, 35%), 20%);
	}

	&:-ms-input-placeholder {
		color: desaturate(lighten(@color-secondary, 35%), 20%);
	}

	&:focus{
		.drop-shadow(0,0,0,0);
		background-color: lighten(@color-third, 40%);
		color: desaturate(darken(@color-third, 10%), 20%);
	}

	&:focus::-webkit-input-placeholder {
		color: desaturate(lighten(@color-third, 20%), 20%);
	}

	&:focus:-moz-placeholder {
		color: desaturate(lighten(@color-third, 20%), 20%);
	}

	&:focus::-moz-placeholder {
		color: desaturate(lighten(@color-third, 20%), 20%);
	}

	&:focus:-ms-input-placeholder {
		color: desaturate(lighten(@color-third, 20%), 20%);
	}
}

.form-group{
	margin-bottom: 1.5em;

	label{
	//	display: none;
	}

	&.address{
		.map-wrapper{
			margin-bottom: 0;
		}
	}

	.input-group{
		.form-control{
			padding-right: 1em;
		}

		.input-group-addon{
			.rounded(0);
			background: none;
			border: none;
		}
	}
}

.checkboxlist{
	.clearfix();

	br {
		display: none;
	}

	label{
		display: block;
		width: 25%;
		float: left;
		font-weight: normal;

		input{
			margin-right: 0.4em;
		}

		@media(max-width: @screen-md-max){
			width: 33%;
		}

		@media(max-width: @screen-sm-max){
			width: 50%;
		}
	}
}

.portfolio-form{
	label {
		display: none;
	}
}