#admin-toolbar{
	background-color: @color-secondary;

	a:hover{
		background-color: @color-third;
	}
}

#messages{
	.alert{
		.rounded(0);
		margin: 0;
		text-align: center;
		.font();
		font-size: 1.4em;

		&:first-child{
			padding-top: 1.5em;
		}
	}
}

header{
	background: white;
	position:fixed;
	height: auto;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	.drop-shadow(0, 0, 20px, 0.1);

	#logo{
		display: block;
		background: url("@{path}/img/tomas-novak-logotype.svg") left no-repeat;
		background-size: contain;
		margin: 1em 0;
		height: 3.4em;
		text-align: left;
		overflow: hidden;
		text-indent: -1000px;
	}

	nav{
		font-size: 0;

		a{
			display: inline-block;
			.font();
			font-size: 20px;
			padding: 1.25em 1.5em;
			
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-o-transition: all 0.2s;
			-ms-transition: all 0.2s;
			transition: all 0.2s;
			
			&:hover,
			&.active{
				background-color: @color-secondary;
				color: white;
			}

			&:hover,
			&:focus,
			&:active,
			&.active{
				&, span, i{
					text-decoration: none !important;
					outline: none !important;
				}
				
			}
		}
	}

	@media (max-width: @screen-xxs-max) {
		//height: auto;

		.container{
			padding: 0 !important;
			margin: 0 !important;
		}

		nav a{
			font-size: 16px;
			padding: 1em 1em;

			.fa {
				display: inline-block;
			}

			span {
				display: none;
			}
		}
	}

	@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
		//height: auto;

		.container{
			padding: 0 !important;
			margin: 0 !important;
		}

		nav a{
			font-size: 14px;
			padding: 1em 0.9em;

			.fa {
				display: block;
			}
		}
	}

	@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
		//height: auto;

		nav a {
			font-size: 18px;
			padding: 1.30em;
			
			.fa {
				display: none;
			}

			.fa-facebook{
				display: inline-block;
			}
		}
	}

	@media (min-width: @screen-lg-min) {
		nav a {
			.fa {
				display: none;
			}

			.fa-facebook{
				display: inline-block;
			}
		}
	}
}

#content{
	overflow: hidden;
	padding-bottom: 9em;

	@media(max-width: @screen-xxs-max){
		text-align: center;
	}
}

#homepage{
	#content{
		padding-bottom: 0;
	}

	.estates.list{
		.item{
			border-bottom: none;

			a{
				display: block;
			}
		}
	}
}

#intro{
	overflow: hidden;
	position: relative;
	background: url("@{path}/img/intro.jpg") center no-repeat;
	background-size: cover;
	
	-webkit-transition: all 20s linear;
	-moz-transition: all 20s linear;
	-o-transition: all 20s linear;
	-ms-transition: all 20s linear;
	transition: all 20s linear;

	padding:0;

	min-height: 90vh;

	h1{
		font-size: 5em;
		text-align: left;
		overflow: hidden;
		text-indent: -1000px;
		background: url("@{path}/img/tomas-novak-logotype.svg") center no-repeat;
		background-size: contain;
		height: 4.2em;
		margin: 0.4em 0 0.4em -0.1em;

		small{
			font-size: 0.4em;
		}

		@media(max-width: @screen-xs-max){
			height: 3.1em;
			margin-top: 0.3em;
			margin-bottom: 0.4em;
		}
	}

	p {
		color: @color-primary;
		margin-bottom: 2em;
		font-size: 1.4em;
		.font();
	}

	.btn{
		color: darken(@color-secondary, 10%);
		border-color: darken(@color-secondary, 10%);

		&:hover{
			background-color: rgba(0,50,200, 0.1);
		}
	}

	@media(max-width: @screen-xxs-max){
		.overlay{
			position:absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(255,255,255, 0.5);
		}

		h1{
			height: 2em;
			margin-top: 0.6em;
		}

		div.text-right{
			text-align: center;
		}
	}
}

#portfolio{
	position:relative;
	
	.light-gradient();

	.chevron-up-overlay{
		background-image: url("@{path}/img/chevron-up-overlay-white.svg");
	}
}

#estates,
#sold{
	padding-bottom: 5em;
	position: relative;

	.estates.list{
		.item{
			margin: 2em 0;

			&:nth-child(odd){
				.body{
					background-color: @color-secondary;
				}
			}

			&:nth-child(even){
				.body{
					background-color: @color-third;
				}
			}
			
			.body{
				
			}

			.image{
				.img-thumbnail{
					border: 0;
					padding: 0;
				}

				&:after{
					content: none;
					padding: 0;
					background: none;
				}
			}

			&, *{
				color: white;
			}

			p{
				text-align: justify;
				padding: 0 20px;
			}

			strong,
			.price{
				.opacity(0.6);
				font-size: 1.5em;
			}

			strong{
				text-align: center;
				font-weight: normal;
				height: 3em;
				overflow: hidden;
				display: block;
				padding: 7px 20px;
			}

			.price{
				text-align: right;
				display: block;
				margin-top: 1.2em;
				padding: 7px 20px;
			}

			&:after{
				content: "";
				display: block;
				padding-bottom: 4%;
				background: transparent url("@{path}/img/shadow-2.png") center top no-repeat;
				background-size: 100%;
			}
		}
	}

	.chevron-up-overlay{
		background-image: url("@{path}/img/chevron-up-overlay-blue.svg");
	}
}

#reviews{
	position: relative;

	.radial-gradient(@color-secondary, @color-secondary, darken(@color-secondary, 10%));

	&, * {
		color: white;
		border-color: white;
	}

	label{
		display: none;
	}

	.buttonpane{
		text-align: center;
		margin-bottom: 2em;
	}

	.chevron-up-overlay{
		background-image: url("@{path}/img/chevron-up-overlay.svg");
	}
}

#sold{
	.body{
		position: relative;
	}
}

.stamp.sale {
		display: block;
		text-align: left;
		text-indent: -1000px;
		overflow: hidden;
		background: url("@{path}/img/stamp-sold.svg") left top no-repeat;
		background-size: contain;
		width: 150px;
		height: 150px;
		position: absolute;
		left: -4px;
		top: -4px;
	}

#blog{
	position: relative;

	.light-gradient();

	.chevron-up-overlay{
		background-image: url("@{path}/img/chevron-up-overlay-white.svg");
	}
}

#advices {
	.chevron-up-overlay{
		background-image: url("@{path}/img/chevron-up-overlay.svg");
	}
}

#contact{
	position: relative;
	padding-bottom: 0;
	.radial-gradient(@color-secondary, @color-secondary, darken(@color-secondary, 10%));

	&, * {
		color: white;
	}

	img{
		margin-top: -12em;
		display: block;
		width: 50%;
		float: right;
	}

	h2{
		margin-top: 0;
	}

	h3{
		font-size: 2em;
		.opacity(0.6);
	}

	p{
		margin: 0.2em 0;

		&.email{
			margin-bottom: 2em;
		}
	}

	a:hover{
		color: darken(#fff, 20%);
	}

	#author{
		clear: both;
		font-size: 0.9em;
		.opacity(0.3);
		margin: 0;
		padding: 1em;

		display: none;
	}

	.socials{
		margin-top: 1em;
	}

	@media(max-width: @screen-xxs-max){
		text-align: center;

		img{
			display: none !important;
		}
	}

	@media(max-width: @screen-xs-max){
		padding-top: 3em;

		h2, h3{
			font-size: 2em;
		}

		img{
			margin-top: -7em;
			width: 100%;
		}
	}

	@media (min-width: 630px) and (max-width: @screen-xs-max){
		img{
			width: 65% !important;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (min-width: 500px) and (max-width: 629px){
		img{
			width: 85% !important;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media(min-width: @screen-sm-min) and (max-width: @screen-sm-max){
		img{
			width: 100% !important;
		}
	}

	@media(min-width: @screen-md-min) and (max-width: @screen-md-max) {
		img{
			width: 70% !important;
		}
	}

	@media(min-width: @screen-lg-min){
		img{
			width: 60% !important;
		}
	}
}

#smart-emailing-trigger {
	position: fixed;
	right: 0;
	top: 50vh;
	margin-top: -2em;
	padding: 0.9em;
}