.modal-content {
	.rounded(0);
}

.reviews {
	.item{
		p{
			.font();
			font-size: 1.3em;
		}

	padding: 1.5em 0;

	border-bottom: 1px solid @color-border;

	&:last-child{
			border-bottom: none;
		}

		@media(max-width: @screen-xxs-max){
			.text-right{
				text-align: center;
			}
		}

		.row{
			.opacity(0.6);
		}
	}
}

.homepage-section{
	padding: @header-height 0;
}

.chevron-up-overlay{
	position: absolute;
	bottom: 0;
	left: 47%;
	width: 6%;
	height: 6%;
	background: url("@{path}/img/chevron-up-overlay.svg") bottom no-repeat;
	background-size: contain;
}

.services{
	margin: 2em 0;

	> div {
		text-align: center;
		margin-bottom: 2em;

		@media(min-width: @screen-md-min){
			&:nth-child(3n+4){
				clear: both;
			}
		}

		@media(max-width: @screen-sm-max){
			&:nth-child(2n+3){
				clear: both;
			}
		}

		h3{
			span{
				display: block;
				margin: 0.9em 0;
			}

			.fa{
				display: block;
				font-size: 4em;
				margin: auto;
				//.opacity(0.4);
			}
		}
	}

	.service-trigger {
		p{
			color: @color-primary;
		}

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			outline: none !important;
		}
	}
}

.articles{
	> div {
		margin-bottom: 2em;

		&:nth-child(3n + 4){
			clear: left;
		}
	}
}