html, body{
	overflow-x: hidden; 
}

body{
	padding: 0;
	margin: 0;
	color: @color-primary;
	position: relative;

	@media (max-width: @screen-xxs-max) {
		padding-top: 3em;
	}

	@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
		padding-top: 4em;
	}

	@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
		padding-top: 4em;
	}

	@media (min-width: @screen-lg-min) {
		padding-top: 5em;
	}
}

a{
	color: @color-secondary;
	outline: 0;

	&:hover{
		color: @color-third;
		text-decoration: none;
	}
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	color: @color-secondary;
	.font();

	small{
		font-size: 0.6em;
		display: block;	
		color: inherit;
		.font();
		.opacity(0.6);
	}
}

h2{
	font-size: 2.4em;
}

hr{
	display: block;
	border: none;
	height: 3px;
	background-color: @color-primary;
	margin: 1em 0;
}

img:not(#tracy-debug img) {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

ul,ol {
	li{
		padding: 0.3em 0;
	}
}

ul {
	padding: 0;

	li{
		list-style-type: none;
		background: url("@{path}/img/tomas-novak-logo.svg") left 0.4em no-repeat;
		background-size: 1.3em;
		padding-left: 2em;
	}
}

p.lead{
	.font();
	letter-spacing: -0.01em;
}

.empty{
	.font();
	font-style: italic;
	font-size: 1.3em;
	text-align: center;
	padding: 1em;
	display: block;
}

.font{
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: -0.02em;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}

.fa-xl{
	font-size: 3.3em;
	line-height: 1.5em;
}

.light-gradient(){
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 58%, #DAECF0 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(58%,#ffffff), color-stop(100%,#DAECF0)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 58%,#DAECF0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 58%,#DAECF0 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 58%,#DAECF0 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 58%,#DAECF0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#DAECF0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.circle-icon(@bg-color, @fg-color){
	display: inline-block;
	background: @bg-color;
	.rounded(4em);
	color: @fg-color !important;
	padding: 0.7em 0.8em 0.5em 0.8em;
	width: 2.3em;
	text-align: center;
}

h1.text-center,
h2.text-center{
	background: url("@{path}/img/centered-title-background.svg") center no-repeat;
	background-size: 100%;
	margin: 0;
	padding: 1.5em 0 1em 0;
}

.centered-title{
	margin: 0;

	background: url("@{path}/img/centered-title-background.svg") center no-repeat;
	background-size: 100%;

	> div{
		padding: 0;
	}

	margin-top: 40px;
	margin-bottom: 20px;

	.centered-title-padding{
		
	}

	.centered-title-content{
		
	}

	h1, h2, h3, h4, h5, h6{
		margin: 0;
	}
}

.shadow{
	display: block;
	padding-bottom: 4%;
	background: transparent url("@{path}/img/shadow-2.png") center top no-repeat;
	background-size: 100%;
}

.share{
	display: inline-block;
	margin: auto;
	margin: 2em 0;

	> * {
		display: inline-block;
		vertical-align: top;
	}

	.btn{
		height: 32px;
		padding: 0.4em 0.5em;
	}
}

.list-group{
	.list-group-item{
		background: none;
	}
}

.images{
	margin: 0 -1px;

	> div {
		padding: 1px;
	}
}

.image,
.video{
	.img-thumbnail{
		padding: 1px;
		.rounded(0);
		//border: none;
		width: 100%;
		display: block;
		margin: 0 !important;
		overflow: hidden;
	}

	&:after{
		content: "";
		display: block;
		padding-bottom: 4%;
		background: transparent url("@{path}/img/shadow-2.png") center top no-repeat;
		background-size: 100%;
	}
}

.img-thumbnail{
	.rounded(0);
	padding: 1px;
}

.socials{
	margin-top: 0.8em;

	.fa {
		.circle-icon(white, @color-primary);
	}

	a:hover{
		.fa{
			background-color: darken(#fff, 20%);
		}
	}
}

.map-wrapper{
	position:relative;

	.map{
		height: 400px;
		width: 100%;
		.rounded(0);
		margin: 0 !important;
		display: block;
	}

	.btn{
		position:absolute;
		right: 10px;
		top: 10px;
		.rounded(4em);
		width: 50px;
		height: 50px;
		padding: 1em;
	}

	&.contacts-map{
		margin-bottom: -2em;
	}
}