@path: "..";
@path-assets: "../../../assets";
@url-assets: @path-assets;

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext");

@import "@{path-assets}/css/bootstrap.grid.xxs.5ths.min.css";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/variables.less";
@import (reference) "@{path-assets}/less/variables.less";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/mixins.less";
@import "@{path-assets}/font-awesome-4.2.0/less/font-awesome.less";
@import "@{path-assets}/less/colorbox.less";
@import "@{path-assets}/less/variables.less";
@import "@{path-assets}/less/mixins.less";
@import "@{path-assets}/less/admin-toolbar.less";
@import "@{path-assets}/less/owl.carousel.less";
@import "@{path-assets}/less/showLoading.less";

@import "_type.less";
@import "_mixins.less";
@import "_estates.less";
@import "_layout.less";
@import "_forms.less";

@color-primary: #444;
@color-secondary: #1B75BB;
@color-third: #8DC63F;

@color-border: lighten(@color-primary, 50%);
@color-heading: lighten(@color-primary, 30%);

@background-btn-default: lighten(@color-primary, 30%);

@header-height: 5.4em;

#advices-trigger {
	background: @color-third;
	color: white;

	&:hover {
		background: darken(@color-third, 10%);
	}
}