{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Estates/default/adminToolbarButtons.latte"}
{/block}

{block title}{_'Moje zakázky'}{/block}

{block content}

<h1 class="text-center">
	Moje zakázky<br/><small>aktuální nabídka nemovitostí</small>
</h1>

<div class="container list estates">
	
	<div class="row">
		<div class="col-xs-6">
			{$estatesCollection->pagination->getControl()}
		</div>
		<div class="col-xs-6 text-right sorting">
			{include CP_DIR."/Collections/templates/forms/sortingForm.latte"}
		</div>
	</div>

	{include "$appTemplatesDir/default/items.latte"}

	<div class="row">
		<div class="col-xs-6">
			{$estatesCollection->pagination->getControl()}
		</div>
		<div class="col-xs-6 text-right sorting">
			{include CP_DIR."/Collections/templates/forms/sortingForm.latte"}
		</div>
	</div>
</div>