{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Estates/default/adminToolbarButtons.latte"}
{/block}

{block title}{_'Úspěšně prodané nemovitosti'}{/block}

{block content}

<h1 class="text-center">
	Úspěšně prodané nemovitosti<br/><small>přehled prodaných nemovitostí</small>
</h1>
<div id="map">
	{include "$appTemplatesDir/../Estates/map.latte", estatesCollection => $estatesCollection}
</div>
<br/>
<div class="container list estates">
	<div class="row">
		<div class="col-xs-6">
			{$estatesCollection->pagination->getControl()}
		</div>
		<div class="col-xs-6 text-right sorting">
			{include CP_DIR."/Collections/templates/forms/sortingForm.latte"}
		</div>
	</div>

	{include APP_DIR."/FrontModule/templates/Estates/default/items.latte", visibleTypes => [3,4]}

	<div class="row">
		<div class="col-xs-6">
			{$estatesCollection->pagination->getControl()}
		</div>
		<div class="col-xs-6 text-right sorting">
			{include CP_DIR."/Collections/templates/forms/sortingForm.latte"}
		</div>
	</div>
</div>