{layout $thisDomainEntity->getDir()."/templates/@document.latte"}

{block content}
<div class="estateCard">
	<div class="title">
		<div class="container">
			<h1 n:block="title">{$estateEntity->estate_title}</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col col-6">
				<div class="col-body">
					<div class="row images">
						<div class="col {first}col-12{else}col-4{/first}" n:foreach="$estateEntity->estate_images->getAll() AS $image">
							{breakIf $iterator->getCounter() >= 11}
							{var $imagePath = $basePath . "/" . $image->getSrc()}
							<div class="col-body">
								<div class="image">
									<img src="{$imagePath}" class="ratio1-7" />
								</div>
								
							</div>
						</div>
					</div>
					
					{var $sentences = array_filter(explode(". ", $estateEntity->estate_description))}
					{var $leadSentencesCount = ceil(count($sentences) * 0.25)}

					<div n:if="count($sentences)" class="description">
						<p n:if="$leadSentencesCount" class="lead">
							{for $i = 0;$i < $leadSentencesCount;$i++}
								{$sentences[$i]|m2}.
								{? unset($sentences[$i])}
							{/for}
						</p>
						<p>
							{implode(". ", $sentences)|m2|truncate:900}
						</p>
					</div>
				</div>
			</div>
			<div class="col col-6">
				<div class="col-body">
					{include APP_DIR."/FrontModule/templates/components/priceBlock.latte", estateEntity => $estateEntity}

					{include APP_DIR."/FrontModule/templates/Estates/detail/information.latte", estateEntity => $estateEntity}

					<h2>
						<i class="fa fa-map-marker"></i>
						{$estateEntity->getPublicAddress()}
					</h2>

					<table class="table-label-value">
						<tbody>
							<tr>
								<td class="td-label">{_'Umístění'}</td>
								<td class="td-value">{$estatesParameters[object_location][options][$estateEntity->object_location]}</td>
							</tr>
							<tr>
								<td class="td-label">{_'Okolní zástavba'}</td>
								<td class="td-value">{$estatesParameters[surroundings_type][options][$estateEntity->surroundings_type]}</td>
							</tr>
						</tbody>
					</table>
					<br/>
					<div class="image">
						<div class="image-container ratio-1-7" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center={$estateEntity->getPublicAddress()}&zoom=14&size=400x300&markers=color:black%7C{$estateEntity->getPublicAddress()}')">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
