{block navbarTitle}
<i class="fa fa-leaf"></i>
<span n:block="title">{_'Úvod'}</span>
<small>{_'vlastnosti úvodní stránky'}</small>
{/block}

{block navbarButtons}
	<a n:if="$user->isAllowed('Admin:Homepage', 'edit')" n:href="Homepage:edit" title="{_'Upravit úvodní stránku'}" class="btn btn-primary">
		<i class="fa fa-pencil"></i>
		<span>{_'Upravit'}</span>
	</a>
{/block}

{block content}
	<div class="container">
		<h2>{_'Hlavička stránky'}</h2>
		{include CP_DIR."/Utils/templates/informationRow.latte", label => "Popis", value => $homepageEntity->slug->metaDescription, layout => "vertical"}
		{include CP_DIR."/Utils/templates/informationRow.latte", label => "Klíčová slova", value => $homepageEntity->slug->metaKeywords, layout => "vertical"}
		{include CP_DIR."/Utils/templates/informationRow.latte", label => "Autor", value => $homepageEntity->slug->metaAuthor}
		{include CP_DIR."/Utils/templates/informationRow.latte", label => "Roboti", value => $homepageEntity->slug->metaRobots}
	</div>
{/block}