{block navbarTitle}
<i class="fa fa-pencil"></i>
<span n:block="title">{_'Upravit úvod'}</span>
<small>/</small>
<small>
	<a n:href="Homepage:default" title="{_'Zpět na zobrazení vlastností úvodní stránky'}"><i class="fa fa-leaf"></i> {_'Úvod'}</a>
</small>
{/block}

{block content}
	<div class="container">
		{snippetArea homepageFormSnippetArea}
			{include "forms/homepageForm.latte"}
		{/snippetArea}
	</div>
{/block}