{include CP_DIR."/Forms/templates/localeInput.latte", name => "title", label => "Název projektu", placeholder => "Zadejte název projektu", size => "lg"}

{include CP_DIR."/Forms/templates/localeTextArea.latte", name => "description", label => "Kompletní popis projektu", placeholder => "Uveďte kompletní popis projektu", html => true}

{include CP_DIR."/Forms/templates/addressInput.latte", _form => $_form, name => "address", address => true, labelAddress => 'Adresa', placeholderAddress => 'Zadejte adresu projektu'}

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label class="control-label" n:name="established">{_'Termín zahájení'}</label>
			<input class="form-control date" n:name="established" placeholder="{_'Zadejte termín zahájení'}">
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<label class="control-label" n:name="finished">{_'Termín dokončení'}</label>
			<input class="form-control date" n:name="finished" placeholder="{_'Zadejte termín dokončení'}">
		</div>
	</div>
</div>

<div class="form-group">
	<label class="control-label" n:name="status">{_'Stav projektu'}</label>
	<select class="form-control" n:name="status"></select>
</div>

{include CP_DIR."/Slugs/AdminModule/templates/forms/slugPart.latte", slugEntity => $projectEntity->slugEntity, name => "slugEntity"}