{include CP_DIR."/Forms/templates/gallery.latte", _form => $_form, name => "imagesCollection"}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 text-center collapsible">
		<h2 class="collapsible-trigger">{_'Videoprezentace projektu'}</h2>
		<div class="collapsible-content">
			<div class="form-group text-left">
				<label class="control-label" n:name="youtubeCode">{_'Odkaz na video (Youtube)'}</label>
				<input class="form-control youtube" n:name="youtubeCode" placeholder="{_'Vložte odkaz na video ze služby YouTube'}">
			</div>
		</div>
	</div>
</div>