<div class="list" n:snippet="usersSnippet">
	{? $presenter->loadFormUsersProperties($_form)}
	<table class="table">
		<thead>
			<tr>
				<th class="image">&nbsp;</th>
				<th class="title">{_'Jméno'}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody>

			{var $usersCount = 0}

			<tr n:foreach="$_form['usersCollection']->containers as $container">
				{? $usersCount++}

				{var $userEntity = $_form->properties[usersCollection]->get($container[userId]->value)}
				<td class="image">
					{image $userEntity->avatar, forced => true, ratio => 1, noImageSrc => "assets/backend/img/no-image/no-user-image.svg"}
				</td>
				<td class="title">

					{$container[id]->control}

					{$container[userId]->control}

					<strong>{$userEntity->getName()}</strong>
					<span class="ellipsis">{$userEntity->getPhone()}</span>
				</td>
				<td class="tools">
					<button n:name="$container[remove]" class="btn btn-ico btn-default ajax">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</button>
				</td>
			</tr>
			<tr n:if="!$usersCount" class="empty">
				<td colspan="3">{_'Žádní makléři'}</td>
			</tr>
		</tbody>
	</table>

	<div n:if="count($_form->properties[userOptions])">
		<div class="form-group">
			<label class="control-label" for="projectForm-users-user-id"><i class="fa fa-plus"></i> {_'Přidat makléře'}</label>
			<div class="input-group">
				<select name="usersCollection[userId]" class="form-control" id="projectForm-users-user-id">
					<option n:foreach="$_form->properties[userOptions] AS $value => $label" value="{$value}">{$label}</option>
				</select>
				<span class="input-group-btn">
					<button n:name="$_form['usersCollection']['add']" class="btn ajax">
						<span>{_'Přidat makléře'}</span>
						<i class="fa fa-chevron-right"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>