{block navbarTitle}
<i class="fa fa-clock-o"></i>
	<span n:block="title">{_'Archív poptávek'}</span>
	<small>/</small>
	<small>
		<a n:href="Demands:default" title="{_'Zpět na přehled všech poptávek'}"><i class="fa fa-comments-o"></i> {_'Poptávky'}</a>
	</small>
</h1>
{/block}

{block navbarButtons}
	<a n:if="$user->isAllowed('Admin:Demands', 'add')" n:href="Demands:add" title="{_'Vytvořit novou poptávku'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Přidat poptávku'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		{snippetArea listSnippetArea}
			{include "default/list.latte"}
		{/snippetArea}
	</div>
{/block}