{block navbarTitle}
<i class="fa fa-comments-o"></i>
	<span n:block="title">{_'Poptávky'}</span>
	<small>{_'přehled všech poptávek'}</small>
</h1>
{/block}

{block navbarButtons}
	<a n:if="$user->isAllowed('Admin:Demands', 'add')" n:href="Demands:add" title="{_'Vytvořit novou poptávku'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Přidat poptávku'}</span>
	</a>
	<a n:href="Demands:archive" title="{_'Zobrazit archív vyřízených poptávek'}" class="btn btn-primary btn-ico">
		<i class="fa fa-clock-o"></i>
		<span>{_'Archív'}</span>
	</a>
	<a n:href="Slugs:edit $slugEntity->getId(), backlink => $backlink" title="{_'Upravit hlavičku této stránky'}"  class="btn btn-primary btn-ico">
		<i class="fa fa-globe"></i>
		<span>{_'URL hlavička'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		{snippetArea listSnippetArea}
			{include "default/list.latte"}
		{/snippetArea}
	</div>
{/block}