{block navbarTitle}
	<i class="fa fa-pencil"></i>
	<span n:block="title">{_"Upravit poptávku"}</span>
	<small>/</small>
	<small>
		<a n:href="Demands:default" title="{_'Zpět na přehled všech poptávek'}"><i class="fa fa-comments-o"></i> {_'Poptávky'}</a>
	</small>
{/block}

{block content}

<div class="container">
	{include "forms/demandForm.latte"}
</div>