{block adminToolbarButtons}
	{include "detail/adminToolbarButtons.latte"}
{/block}

{block content}
<div class="detail estates">
	<div class="title">
		<div class="container">
			<h1 n:block="title">
				<span>{$estateEntity->getFormattedTitle($user)}</span> 
				<small n:if="$estateEntity->advert_status == 2">{_'Rezervováno'}</small>
			</h1>
		</div>
	</div>
	<div class="container">
		{if $estateEntity->isVisible($user)}
			<div class="row">
				<div class="col-sm-6 left">
					{var $offset = 0}

					{if $estateEntity->youtube_video}	
						<div class="video">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item img-thumbnail" src="//www.youtube.com/embed/{$estateEntity->youtube_video}" allowfullscreen></iframe>
							</div>
						</div>		
					{else}
						{var $mainImage = $estateEntity->getImages()->getFirst()}

						{if $mainImage}
							<a href="{$basePath}/{$mainImage->getSrc()}" class="image colorbox main-image" title="{_'Zvětšit obrázek'}" data-rel="album">
								{image $mainImage}	
							</a>

							{var $offset = 1}
						{/if}

					{/if}

					{gallery $estateEntity->getImages(), offset => $offset, autoThb => false, cols => 3}

					{var $sentences = array_filter(explode(". ", $estateEntity->estate_description))}
					{var $leadSentencesCount = ceil(count($sentences) * 0.3)}

					<div n:if="count($sentences)">
						<h2>{_'Popis nemovitosti'}</h2>

						<p n:if="$leadSentencesCount" class="lead">
							{for $i = 0;$i < $leadSentencesCount;$i++}
								{$sentences[$i]}.
								{? unset($sentences[$i])}
							{/for}
						</p>
						<p>
							{implode(". ", $sentences)}
						</p>
					</div>

					<h2>
						<i class="fa fa-map-marker"></i>
						{_'Lokalita'}
					</h2>

					{include "detail/locality.latte", estate => $estateEntity}

					<div class="text-center">
						{include CP_DIR."/Utils/templates/share.latte"}
					</div>

				</div>
				<div class="col-sm-6">
					<h2>Cena</h2>

					{include "detail/price.latte"}

					{include "detail/information.latte"}

					<h2>Kontakt <small>Kontaktujte makléře této nemovitosti</small></h2>

					{include "detail/broker.latte"}

					{include "detail/project.latte"}
				</div>
			</div>
		{else}
			<p class="text-center lead">
				<br/>
				<i class="fa fa-times"></i><br/>
				<br/>
				{_'Tato nemovitost již není v nabídce'}
			</p>
		{/if}
	</div>
</div>
