@url-assets: "../../assets";
@path-img: "../img";
@path-assets: "../..";

@import (inline) "@{path-assets}/bootstrap-3.3.6/dist/css/bootstrap.min.css";
//@import (inline) "@{path-assets}/css/print.page.a4.css";
@import (inline) "@{path-assets}/css/bootstrap.grid.xxs.5ths.min.css";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/variables.less";
@import "@{path-assets}/bootstrap-3.3.6/less/mixins.less";
@import "@{path-assets}/font-awesome-4.2.0/less/font-awesome.less";
@import (reference) "@{path-assets}/font-awesome-4.2.0/less/variables.less";
@import "@{path-assets}/less/font-awesome-locales.less";
@import "@{path-assets}/less/colorbox.less";
@import "@{path-assets}/less/filetype.less";
@import "@{path-assets}/less/autocomplete.less";
@import "@{path-assets}/less/mixins.less";
@import (reference) "@{path-assets}/less/variables.less";
@import "@{path-assets}/less/showLoading.less";
@import "backend/variables";
@import "backend/buttons";
@import "backend/calendar";
@import "backend/content";
@import "backend/csv";
@import "backend/datetimepicker";
@import "backend/forms";
@import "backend/header";
@import "backend/images";
@import "backend/list";
@import "backend/map";
@import "backend/menu";
@import "backend/mixins";
@import "backend/notifications";
@import "backend/path";
@import "backend/redactor";
@import "backend/scrollToTop.less";
@import "backend/sortable";
@import "backend/toolbar";
@import "backend/type";
@import "backend/unauthorized";
@import "backend/ajax-upload";
@import "backend/modal";
@import "backend/dropdown";
@import "backend/alerts";
@import "backend/tabs";
@import "@{path-assets}/less/correct-grid";
@import "backend/help.less";
@import "backend/acl.less";
@import "backend/preview.less";
@import "backend/invoices.less";
@import "backend/tree.less";

table.calendar {
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px; /* cellspacing */

	th {
		padding: 10px;
		text-transform: uppercase;
		font-weight: 200;
		font-size: 1.3em;
	}

	td {
		padding: 0;
		width: 14.285%;
		padding-bottom: 14.285%;
		position:relative;
		
		> a,
		> span {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 10px;
			left: 0;
			top: 0;
			overflow-y: auto;
		}

		> span {
			background: lighten(@color-primary, 50%);
		}

		> a {
			background: lighten(@color-secondary, 30%);
				
			&, * {
				color: darken(@color-secondary, 20%);
			}
			
			&:hover {
				background: lighten(@color-secondary, 25%);
				text-decoration: none;
			}
		}

		&.today > * {
			background: @color-secondary;
			&, * {
				color: white !important;
			}
		}

		ul {
			padding: 0;
			margin: 1em 0 0 0;
			font-size: 0.7em;
			list-style-type: none;

			li {
				border-bottom: 1px dotted rgba(0,0,0,0.1);
				display: block;
				line-height: 1.2em;
				padding: 0.2em 0;

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

