{block title}{$pageEntity->getTitle()}{/block}

{block adminToolbarButtons}
	{include CP_DIR."/Pages/FrontModule/templates/adminToolbarButtons.latte"}
{/block}

{block content}

<div id="intro" class="item-{$currentSlug[url][$locale]}">
	<strong></strong>
	<span>{$pageEntity->getTitle()}</span>
</div>

<div class="container">

	{centeredTitle "h1", title => $pageEntity->getTitle()}
	
	{pageBlock key => "main"}

	<div class="text-center">
		<div class="share">
			{include CP_DIR."/Utils/templates/share.latte"}
		</div>
	</div>
</div>