/** Simulate A4 paper **/

body {
	background: rgb(204,204,204);
	font-family: "Times New Roman",serif;
	font-size: 9pt;
	color: #5A5A5A;
	text-align: left;
}

page[size="A4"] {
	background: white;
	width: 21cm;
	height: 29.7cm;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print {
	body, page[size="A4"] {
		margin: 0;
		box-shadow: 0;
		background: #FFFFFF;
	}
}

/** /Simulate A4 paper **/

* {
	box-sizing: border-box;
}

page{
	padding: 10mm;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	letter-spacing: -0.05mm;
	margin-top: 5mm;
	margin-bottom: 1mm;
}

h1,h2,h3,h4,h5,h6,a{
	color: #AAAAAA;
}

h1{
	margin-top: 10mm;
	margin-bottom: 5mm;
	font-size: 16pt;
	text-align: center;
}

h2{
	font-size: 13pt;
}

h3{
	font-size: 11pt;
}

small{
	color: #999;
	font-size: 10pt;
}

table{
	width: 100%;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

table td{
	padding: 0;
	vertical-align: top;
}

/** /Type **/

/** List table **/

table.list{
margin-bottom: 1em;
}

table.list th{
border-bottom: 2px solid #ddd;
}

table.list td{
padding: 0.3em 0;
vertical-align: middle;
border-bottom: 1px solid #ddd;
}

table.list td span{
font-size: 0.9em;
}

table.list th.image,
table.list td.image{
width: 10%;
padding-right: 1%;
}

table.list td.image img{
width: 100%;
height: auto;
border-radius: 3px;
padding: 0;
border: none;
}

table.list th.title,
table.list td.title{
text-align: left;
}

table.list th.amount,
table.list td.amount{
text-align: center;
}

table.list th.price,
table.list td.price{
text-align: right;
white-space: nowrap;
}

table.list tr.sum td{
border-top: 1px solid #ddd;
font-size: 1.1em;
}

table.list tr.charge td{
font-size: 1.2em;
border-bottom: none;
}

/** /List table **/

#footer {
border-top: 1px solid #ddd;
}

/** Grid **/

.row{
	position:relative;
	overflow: hidden;
	margin-left: -2mm;
	margin-right: -2mm;
}

.images{
	margin-left: -1mm;
	margin-right: -1mm;
}

.row .col{
	float: left;
}

.row .col .col-body{
	margin: 0 2mm;
}

.images .col .col-body{
	margin: 1mm;
}

.col-12{
	width: 100%;
	float: none;
}

.col-11{
	width: 91.66666666%;
}

.col-10{
	width: 83.33333333%;
}

.col-9{
	width: 75%;
}

.col-8{
	width: 66.66666666%;
}

.col-7{
	width: 58.33333333%;
}

.col-6{
	width: 50%;
}

.col-5{
	width: 41.66666666%;
}

.col-4{
	width: 33.33333333%;
}

.col-3{
	width: 25%;
}

.col-2{
	width: 16.66666666%;
}

.col-1{
	width: 8.333333333%;
}

.lead{
	font-size: 1.3em;
}

.image{
	border: 1px solid #dddddd;
	padding: 1px;
}

.image-container{
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.ratio-1-7{
	padding-bottom: 53%;
}

img.ratio1-7{
	/*height: 53%;*/
}

.ratio-1{
	padding-bottom: 100%;
}

.table-label-value td{
	padding-top: 4mm;
	border-bottom: 1px solid #dddddd;
}

.td-label{
	text-align:left;
}

.td-value{
	text-align: right;
	font-weight: bold;
}


.text-center{
	text-align: center;
}

/******* Estates *****/

.header-contact{
	text-align: right;
	padding-top: 5mm;
}

.header-contact .col-body{
	border-right: 1mm solid #DDDDDD;
	padding-right: 5mm;
	font-size: 13pt;
}

.header-contact a {
	color: #5A5A5A;
	text-decoration: none;
}

div.estate-price{
	margin-top: 1mm;
	background-color: #555555;
	color: white;
	padding: 5%;
	text-align: right;
}

div.estate-price .price{
	font-size: 2em;
	margin: 0;
}

div.estate-price .price strong{
	font-weight: normal;
}

div.estate-price .properties{
	font-size: 8pt;
	margin: 0;
}

div.estate-price .note{
	margin: 0;
}

div.user-card{
	margin-bottom: 4em;
}

.estateCard .description{
	margin-bottom: 4em;
}

#logo{
	width: 100%;
}