.addthis_toolbox{
	display: inline-block;
}

.watermark{
	display: block;
	background: url("@{path}/img/belartis-logo.png") left no-repeat;
	background-size: contain;
	width: 100px;
	height: 60px;
	position: absolute;
	right: -25px;
	top: -60px;
}

.font{
	font-family: "Encode Sans";
}

.stripe{
	padding: 1.5em 0;
	background: #eef url("@{path}/img/background.png");

	.container{
		position:relative;
	}

	.estates.list{
		.item{
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.list-group{
	li{
		margin: 0;
		margin-bottom: -1px;
		background: none;
	}
}

.lead{
	.font();
}

.btn{
	background: none;
	border: 1px solid @color-primary;
	padding: 0.59em 0.9em;
}

.btn-primary{
	.gradient(@color-secondary, darken(@color-secondary, 10%), @color-secondary);
	.drop-shadow(0,1px,4px,0.2);
	border-color: darken(@color-secondary, 15%);
}

.btn-blue{
	.gradient(@color-primary, darken(@color-primary, 10%), @color-primary);
	.drop-shadow(0,1px,4px,0.2);
	border-color: darken(@color-primary, 15%);
	
	&, &:hover{
		color: white;
	}
}

.btn-facebook{
	background: #3A5795;
	.drop-shadow(0,1px,4px,0.2);
	border: none;
	
	&, &:hover{
		color: white;
	}
}

.btn-ico{
	padding: 0.59em;

	span{
		display: none;
	}

	.fa{
		.fa-fw();
	}
}

.buttonpane{
	text-align: center;
}

.form-group{
	.checkboxlist{
		.clearfix();

		br {
			display: none;
		}

		label{
			display: block;
			width: 25%;
			float: left;
			font-weight: normal;

			input{
				margin-right: 0.4em;
			}

			@media(max-width: @screen-md-max){
				width: 33%;
			}

			@media(max-width: @screen-sm-max){
				width: 50%;
			}
		}
	}

	&.address{
		.form-control.address{
			.border-radius(@border-radius-base, 0, 0, @border-radius-base);
		}

		.map-wrapper{
			.map{
				.border-radius(0, @border-radius-base, @border-radius-base, 0);
				border-top: none;
			}
		}

		&.radius{
			.map-wrapper{
				.map{
					.border-radius(0, 0, 0, 0);
					border-bottom: none;
				}
			}

			.input-group{
				.form-control{
					.border-radius(0, 0, @border-radius-base, 0);
				}

				.input-group-addon{
					.border-radius(0, @border-radius-base, 0, 0);
				}
			}
		}
	}
}

.image{
	&:after{
		content: "";
		display: block;
		padding-bottom: 3%;
		background: url("@{path}/img/shadow.png") center top no-repeat;
		background-size: 100%;
	}

	.img-thumbnail{
		padding: 1px;	
	}

	img{
		width: 100%;
	}
}

.video{
	&:after{
		content: "";
		display: block;
		padding-bottom: 3%;
		background: url("@{path}/img/shadow.png") center top no-repeat;
		background-size: 100%;
	}

	.img-thumbnail{
		padding: 1px;
		border: 1px solid @color-border;
	}
}

.map{
	width: 100%;
	height: 300px;
	.bordered();
	.rounded();
	overflow: hidden;
	margin: 0 !important;
	display: block;
}

.map-wrapper{
	position:relative;

	.btn{
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.alert.result{
	margin-bottom: 0;
}

.user-card{
	.image{
		display: inline-block;
		margin-top: 0.8em;
		&:after{
			display: none;
		}
	}

	.lead{
		font-size: 1.2em;
		line-height: 1.7em;
	}

	.col-sm-8{
		padding-top: 1.7em;
	}

	margin-bottom: 1em;
}