.services{
	margin-top: 2em;
	text-align: center;

	&:not(.homepage) > div:nth-child(3n+4){
		clear: both;
	}

	@media (max-width: @screen-sm-max){
		&:not(.homepage){

			> div:nth-child(3n+4){
				clear: none;
			}

			> div:nth-child(2n+3){
				clear: both;
			}
		}

		&.homepage > div:nth-child(3n+4){
			clear: both;
		}
	}

	@media (max-width: @screen-xs-max){
		&.homepage{
			> div:nth-child(3n+4){
				clear: none;
			}

			> div:nth-child(2n+3){
				clear: both;
			}
		}
	}


	.fa{
		font-size: 4em;
		.opacity(0.3);
	}

	strong{
		display: block;
		margin: 0.7em 0;
		.font();
		font-size: 1.3em;
		font-weight: normal;
	}

	p{
		font-size: 0.9em;
	}

	h2{
		color: @color-primary;
		font-size: 1.5em;
	}

	a{
		color: @color-secondary;

		&:hover{
			text-decoration: none;

			strong{
				text-decoration: underline;
			}
		};
	}
}