.estates{
	&.brokers{
		padding-top: 1em;
		
		.item{
			padding: 0 1em;

			.user-card{
				margin: none;
				padding: none;
					
				& > div{
					float: none;
					margin: none;
					padding: none;
					width: 100%;
					text-align: center;

					.image{
						display: block;
						width: 100%;
					}

					.lead{
						font-size: 1.2em;
					}

					.fa{
						display: none;
					}
				}
			}
		}
	}

	&.lists{
		em {
			color: desaturate(lighten(@color-primary, 40%), 20%);
		}

		ul.advert_function{
			font-size: .9em;
			padding: 0;

			li{
				background: none;
				display: inline-block;
				padding: 0;
				margin: 0;
			}

			li:not(:last-child):after{
				content: "|";
				color: lighten(@color-primary, 40%);
			}
		}

		ul.advert_subtype{
			list-style-type: none;
			padding-left: 0px;
		}
	}

	&.list{
		.pagination{
			li{
				background: none;
			}
		}

		.sorting{
			font-size: 0.9em;

			.form-group{
				display: inline-block;
				margin: 0;
				vertical-align: top;
				
				label{
					display: none;
				}
			}

			.btn{
				margin-top: 0;
				margin-bottom: 0;
				vertical-align: top;
			}
		}

		.item {
			border-bottom: 1px solid @color-border;
			padding-bottom: 1em;
			margin-bottom: 0.8em;
			
			&:last-child{
				border-bottom: none;
			}

			.image{
				display: block;
				margin-top: 0.7em;

				img{
					width: 100%;
				}
			}

			strong{
				color: @color-primary;
				font-weight: normal;
				.font();
				font-size: 1.3em;
				display: block;
				margin-top: 0.3em;
			}

			em{
				display: block;
				margin-bottom: 0.6em;
			}

			p{
				text-align: justify;
				font-size: 0.9em;
			}

			span{
				color: @color-secondary;
				.font();
				font-size: 1.4em;
				display: block;
				text-align:right;

				em, i{
					display: block;
					color: @color-primary;
					font-size: 0.7em;
					margin-bottom: 0.5em;
				}
			}
		}
	}

	&.detail{
		.images{
			&.row{
				margin: 0 -5px;

				.item {
					padding: 5px;
				}
			}

			.item{
				.image{
					display: block;
					width: 100%;
				}
			}
		}

		table{
			width: 100%;
			border-spacing: 0;
			margin-bottom: 0.8em;

			td{
				padding: 0.6em 0 0.2em 0;
				border-bottom: 1px solid @color-border;

				&:first-child{
					.opacity(0.8);
				}

				&:last-child{
					text-align: right;
					font-weight: bold;
				}
			}
		}

		.price{
			overflow: hidden;
			margin-top: 15px;
			display: block;
			text-align: right;
			.radial-gradient(@color-primary, lighten(@color-primary, 10%), darken(@color-primary, 0%));
			font-size: 3.2em;
			letter-spacing: -0.06em;
			.font();
			.rounded();
			padding: 0.3em 0.5em;

			&, & * {
				color: white;
			}

			em{
				font-style: normal;
				display: block;
				.opacity(0.6);
				font-size: 0.4em;
				letter-spacing: 0;	
				margin-bottom: 0.5em;
			}

			i{
				display: block;
				font-size: 0.3em;
				font-family: @font-family-base;
				letter-spacing: 0;	
			}

			@media (max-width: @screen-sm-max){
				font-size: 2.8em;
			}
		}

		.map{
			height: 350px;
		}
	}
}