#header{
	margin-bottom: 1px;
	border-bottom: 4px solid @color-border;

	.container{
		margin-bottom: -24px;

		@media (max-width: @screen-sm-max){
			margin-bottom: 0;
		}
	}

	.col-sm-9{
		height: 120px;

		@media (max-width: @screen-sm-max){
			height: auto;
		}
	}

	.menu{
		height: 40px;
		margin: 0;
		margin-top: 48px;
		display: block;
		padding:0;
		list-style-type: none;
		text-align: right;
		font-size: 0;

		@media (max-width: @screen-sm-max){
			margin-top: 0;
		}

		@media (max-width: @screen-xs-max){
			height: auto;
			text-align: center;
		}

		li{
			padding: 0;
			margin: 0;
			display: inline-block;
			background: none;
			font-size: 14px;
			
			a{
				
				text-align: center;
				display: block;
				.font();
				font-size: 1.2em;
				padding: 0.8em 0.9em 0.6em 0.9em;
				border-bottom: 4px solid lighten(@color-primary, 60%);
				margin: 0 1px;

				@media (min-width: @screen-md-min) and (max-width: @screen-md-max){
					font-size: 1.1em;
					padding: 1.1em 0.7em 0.6em 0.7em;
				}

				@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
					font-size: 0.95em;
					padding: 2.5em 0.6em 0.6em 0.6em;
				}

				@media (min-width: 700px) and (max-width: @screen-xs-max){
					font-size: 1em;
					margin-bottom: -4px;
				}

				@media (max-width: 699px){
					border-bottom-width: 1px;
				}
			}

			&.active,
			a:hover{
				text-decoration: none;
				color: @color-secondary;
				border-color: lighten(@color-secondary, 30%);
			}

			@media (max-width: 699px){
				display: block;
			}

			&:last-child{
				@media (max-width: @screen-ml-max){
					a{
						border-bottom: none;
					}
				}
			}
		}
	}

	#header-logo{
		display: block;
		overflow: hidden;
		text-align: left;
		text-indent: -1000px;
		background: white url("@{path}/img/belartis-logotype.png") left no-repeat;
		background-size: contain;
		height: 120px;
		max-width: 220px;
		.border-radius(0, 4px, 4px, 0);
		.drop-shadow(0,2px, 4px, 0.2);


		@media (max-width: @screen-sm-max){
			.border-radius(0, 0, 0, 0);
			.drop-shadow(0,0, 0, 0);
			background-position: center;
			height: 60px;
			max-width: 100%;
			width: 100%;
		}
	}

	.row {
		p {
			margin-top: 60px;
		}
	}
}

#intro{
	background: @color-primary url("@{path}/img/intro/estate.jpg");
	background-size: cover;

	form{
		padding: 10px;
		.rounded(5px);
		.drop-shadow(0,3px,10px, 0.2);
		margin-top: 10px;
		margin-bottom: -10px;
		position:relative;
		z-index: 2;
		background: rgba(255,255,255, 0.95);
	}
}

#content{
	margin: 1px 0;
	border-top: 1px solid @color-border;
	border-bottom: 1px solid @color-border;
	position:relative;
	z-index: 1;
	padding: 1em 0 3em 0;
}

#footer{
	.radial-gradient-image(lighten(@color-primary, 65%), lighten(@color-primary, 75%), lighten(@color-primary, 65%), "@{path}/img/background.png");
	padding: 1.5em 0;

	.menu{
		list-style-type: none;
		padding: 0;

		li{
			margin: 0.4em 0;
		}
	}

	.container{
		background: url("@{path}/img/belartis-watermark.png") left bottom no-repeat;
		background-size: 30%;
	}

	.buttonpane{
		text-align: right;
	}
}

#author{
	padding: 1em;
	text-align: center;
	font-size: 0.9em;
	border-top: 1px solid @color-border;
	margin-top: 1px;
}