@path: "..";
@path-assets: "../../../assets";
@url-assets: @path-assets;

@color-primary: #232E5E;
@color-secondary: #D9252E;
@color-border: lighten(@color-primary, 70%);

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

@import "@{path-assets}/css/bootstrap.grid.xxs.5ths.min.css";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/variables.less";
@import (reference) "@{path-assets}/less/variables.less";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/mixins.less";
@import "@{path-assets}/font-awesome-4.2.0/less/font-awesome.less";
@import "@{path-assets}/less/admin-toolbar.less";
@import "@{path-assets}/less/colorbox.less";
@import "@{path-assets}/less/variables.less";
@import "@{path-assets}/less/mixins.less";
@import "@{path-assets}/less/owl.carousel.less";
@import "@{path-assets}/less/showLoading.less";

@import "type";
@import "classes";
@import "layout";
@import "estates";
@import "content";