@font-face {
  font-family: 'Encode Sans';
  src: url('../fonts/encode-sans/EncodeSansNormal-300-Light.ttf');
}

body{
	color: @color-primary;
}

a{
	color: @color-primary;
}

h1,h2,h3,h4{
	color: @color-secondary;
	font-weight: normal;
	letter-spacing: -0.03em;
	.font();

	small{
		letter-spacing: 0em;	
	}
}

ul{
	list-style-type: none;

	li{
		background: url("@{path}/img/belartis-logo.png") left 1px no-repeat;
		background-size: 1.35em;
		padding-left: 2em;
		margin: 0.4em 0;
	}
}

hr{
	border: 0;
	width: 100%;
	background-color: @color-secondary;
	height: 3px;

	&.home{
		background-color: @color-border;
		height: 1px;
		margin: 1px 0;
	}
}