{form brokerProfileForm}

	{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}

	<div role="tabpanel">
		<ul class="nav nav-tabs nav-justified">
			<li class="active">
				<a href="#common" data-toggle="tab" title="{_'Nastavení základní informací profillu'}">
					<i class="fa fa-info"></i> {_'Základní informace'}
				</a>
			</li>
			<li>
				<a href="#images-broker" data-toggle="tab" title="{_'Fotografie makléře'}">
					<i class="fa fa-image"></i> {_'Fotografie makléře'}
				</a>
			</li>
			<li>
				<a href="#images-estates" data-toggle="tab" title="{_'Fotografie nemovitostí'}">
					<i class="fa fa-building"></i> {_'Fotografie nemovitostí'}
				</a>
			</li>
			<li>
				<a href="#testimonials" data-toggle="tab" title="{_'Reference'}">
					<i class="fa fa-comments"></i> {_'Reference'}
				</a>
			</li>
			<li>
				<a href="#videos" data-toggle="tab" title="{_'Videa'}">
					<i class="fa fa-video-camera"></i> {_'Videa'}
				</a>
			</li>
			<li>
				<a href="#slug" data-toggle="tab" title="{_'Hlavička HTML stránky'}">
					<i class="fa fa-globe"></i> {_'HTML hlavička'}
				</a>
			</li>
		</ul>

		<div class="tab-content">

			<div class="tab-pane active" id="common">
				{include "common.latte", _form => $_form}
			</div>

			<div class="tab-pane" id="images-broker">
				{include CP_DIR."/Forms/templates/gallery.latte", _form => $_form, name => "profile_broker_images"}
			</div>

			<div class="tab-pane" id="images-estates">
				{include CP_DIR."/Forms/templates/gallery.latte", _form => $_form, name => "profile_estates_images"}
			</div>

			<div class="tab-pane" id="testimonials">
				{snippetArea testimonialsSnippetArea}
					{include "testimonials.latte", _form => $presenter[brokerProfileForm]}
				{/snippetArea}
			</div>

			<div class="tab-pane" id="videos">
				{snippetArea videosSnippetArea}
					{include "videos.latte", _form => $presenter[brokerProfileForm]}
				{/snippetArea}
			</div>

			<div class="tab-pane" id="slug">
				{include CP_DIR."/Slugs/AdminModule/templates/forms/slugPart.latte", _form => $_form, slugEntity => $brokerProfileEntity->profile_slug}
			</div>

		</div>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit profil'}</span>
		</button>

		<a n:if="$brokerProfileEntity->getId()" n:href="Remove! $brokerProfileEntity->getId()" title="{_'Odebrat tento profil makléře'}" class="btn btn-default btn-lg confirm" data-confirm-title="{_'Odebrat profil makléře'}" data-confirm-message="{_'Opravdu chcete tento profil makléře odebrat?'}">
			<i class="fa fa-trash-o"></i>
			<span>{_'Odebrat profil'}</span>
		</a>
	</div>

{/form}