{snippet testimonialsSnippet}
	{var $testimonialsCount = 0}

	<div n:foreach="$_form[profile_testimonials]->containers as $container" class="document">

		{? $testimonialsCount++}

		{$container[testimonial_id]->control}

		{$container[testimonial_rank]->control}

		<div class="form-group">
			<label class="control-label" n:name="$container[testimonial_author]">{_'Autor reference'}</label>
			<input class="form-control" n:name="$container[testimonial_author]" placeholder="{_'Uveďte jméno autora reference'}">
		</div>

		{include CP_DIR."/Forms/templates/localeTextArea.latte", name => $container[testimonial_text], label => "Znění reference", placeholder => "Uveďte kompletní znění reference", lightHtml => true, _form => $container}

		<div class="buttonpane">
			<button n:name="$container[remove]" class="btn btn-default remove ajax">
				<i class="fa fa-trash-o"></i>
				<span>{_'Odebrat tuto referenci'}</span>
			</button>
		</div>
	</div>

	<div class="buttonpane">
		<button n:name="$_form['profile_testimonials']['add']" class="btn btn-primary ajax">
			<i class="fa fa-plus"></i>
			<span>{_'Přidat referenci'}</span>
		</button>
	</div>
{/snippet}