{snippet videosSnippet}
	{var $videosCount = 0}

	<div n:foreach="$_form['profile_videos']->containers as $container" class="document">

		{$container[video_id]->control}

		{$container[video_rank]->control}

		{? $videosCount++}

		<div class="row">
			<div class="col-sm-5">
				<div class="form-group">
					<label class="control-label" n:name="$container[video_code]">{_'Odkaz na Youtube video'}</label>
					<input class="form-control youtube" n:name="$container[video_code]" placeholder="{_'Vložte odkaz na Youtube video'}">
				</div>
			</div>
			<div class="col-sm-7">
				{include CP_DIR."/Forms/templates/localeInput.latte", name => $container[video_title], label => "Titulek", placeholder => "Zadejte titulek videa", _form => $container}

				<div class="form-group">
					<label class="control-label" n:name="$container[video_address]">{_'Podtitulek (Adresa nemovitosti)'}</label>
					<input class="form-control" n:name="$container[video_address]" placeholder="{_'Uveďte podtitulek videa, doporučujeme uvést adresu nemovitosti'}">
				</div>

				{include CP_DIR."/Forms/templates/localeTextArea.latte", name => $container[video_description], label => "Popis videa", placeholder => "Uveďte kompletní popis videa", lightHtml => true, _form => $container}
			</div>
		</div>
		<div class="buttonpane">
			<button n:name="$container[remove]" class="btn btn-default remove ajax">
				<i class="fa fa-trash-o"></i>
				<span>{_'Odebrat toto video'}</span>
			</button>
		</div>
	</div>

	<div class="buttonpane">
		<button n:name="$_form['profile_videos']['add']" class="btn btn-primary ajax">
			<i class="fa fa-plus"></i>
			<span>{_'Přidat video'}</span>
		</button>
	</div>
{/snippet}