{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Homepage/adminToolbarButtons.latte"}
{/block}

{block title}Představení{/block}

{block bodyclass}class="homepage"{/block}

{block content}
<div class="screen" id="intro">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-6 col-md-5">
				<div class="intro-option first">
					<div class="body">
					<h2>
						<i class="fa fa-lightbulb-o"></i><br/>
						Jste nová realitní kancelář hledáte moderní platformu?
					</h2>
					<p>
						Hledáte kompletní moderní řešení správy a prezentace nemovitostí, makléřů, projektů a poptávek?
					</p>
					</div>
				</div>
			</div>
			<div class="hidden-xs hidden-sm col-md-2 text-center">
				<span class="or">nebo</span>
			</div>
			<div class="col-sm-6 col-md-5">
				<div class="intro-option last">
				<div class="body">
				<h2>
					<i class="fa fa-line-chart"></i><br/>
					Chcete modernizovat své současné řešení?
				</h2>
				<p>
					Hledáte optimalizaci a modernizaci Vašich současných stránek a chcete vše přehledně spravovat na jednom místě?
				</p>
				</div>
				</div>
			</div>
		</div>

		<a class="hidden-xs" href="#web" title="{_'Více informací'}" id="homepage-more"><span>Více informací ...</span><i class="fa fa-chevron-down"></i></a>

	</div>
</div>
<div class="screen" id="web">
	<div class="container text-center">
		<a id="demo" href="http://demo.strankyrealitky.cz" title="StránkyRealitky.Cz - funkční model moderních stránek realitní kanceláře">
			<strong>Prohlédněte si demo<small>funkční model moderních webových stránek realitní kanceláře</small></strong>
			<span class="btn btn-default btn-lg">
				<span>Prohlédnout DEMO</span>
				<i class="fa fa-chevron-right"></i>
			</span>
			<img src="{$basePath}/theme/www-strankyrealitky-cz/img/demo.png" alt="StránkyRealitky.Cz - funkční model moderních stránek realitní kanceláře" />

		</a>
		<div class="row">
			<div class="col-xs-6 col-sm-2 col-lg-2">
				<h3>
					<i class="fa fa-home"></i><br/>
					Nemovitosti přehledně
				</h3>
				<p>
					Spravujte zakázky i inzeráty pohodlně a přehledně na jednom místě.
				</p>
			</div>
			<div class="col-xs-6 col-sm-2 col-lg-2">
				<h3>
					<i class="fa fa-mobile"></i><br/>
					Správu i na mobilu
				</h3>
				<p>
					Naše stránky, intranet i realitní software můžete pohodlně spravovat i na mobilních zařízeních.
				</p>
			</div>
			<div class="col-xs-6 col-sm-2 col-lg-2">
				<h3>
					<i class="fa fa-signal"></i><br/>
					Exporty zakázek
				</h3>
				<p>
					Automaticky exportujeme zvolené inzeráty i makléře na největší české realitní portály.
				</p>
			</div>
			<div class="col-xs-6 col-sm-2">
				<h3>
					<i class="fa fa-users"></i><br/>
					Makléřské účty
				</h3>
				<p>
					Správa makléřů, včetně fotografií, přehledů i profiových stránek makléřů Vám pomůže dostat Vaši realitní kancelář na přední místa ve vyhledávačích.
				</p>
			</div>
			<div class="col-xs-6 col-sm-2">
				<h3>
					<i class="fa fa-comment"></i><br/>
					Poptávky a párování
				</h3>
				<p>
					Evidence poptávek Vašich makléřu i sběr poptávek od návštěvníků Vašich stránek Vám poskytne přehled a zajistí, že o žádný potenciální obchod nepřijdete.
				</p>
			</div>
			<div class="col-xs-6 col-sm-2">
				<h3>
					<i class="fa fa-cubes"></i><br/>
					Developerské projekty
				</h3>
				<p>
					Nabízíme také komponentu pro správu Vašich developerských projektů. Přímo na stránkách Vaší realitní kanceláře tak můžete prezentovat Vámi prodávané developerské projekty včetně aktualizací stavů. Pro jednotlivé projekty také vytváříme vlastní webové prezentace včetně všech náležitostí.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="screen benefits" id="video">
	<div class="container text-center">
		<h2>Profesionální fotografie a videoprezentace<br/><small>Zvyšte prestiž Vaší prezentace nemovitostí</small></h2>
		<div class="row videos">
			<div class="col-sm-3">
				<div class="video">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item img-thumbnail" src="https://www.youtube.com/embed/mr2_wjcyK7s" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="video">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item img-thumbnail" src="https://www.youtube.com/embed/U4S7JDJY6yc" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="video">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item img-thumbnail" src="https://www.youtube.com/embed/4ygzSyuiE6M" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="row services">

			<div class="col-sm-6">
				<h3>
					<i class="fa fa-camera"></i><br/>
					Fotografie a homestagging
				</h3>
				<p>
					Zajistíme profesionální přípravu, nasvícení a nafocení Vašich zakázek a poskytneme tak Vašim klientům profesionální prezentaci nemovitostí.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>
					<i class="fa fa-video-camera"></i><br/>
					Profesionální videoprezentace
				</h3>
				<p>
					Připravíme, natočíme, sestříháme videoprezentace nemovitostí včetně úvodní znělky Vaší realitní kanceláře a následně publikujeme na světových videoportálech.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="screen benefits" id="styl">
	<div class="container text-center">
		<h2>Moderní vizuální styl<br/><small>Jednotná podoba všech grafických materiálů</small></h2>
		<div class="row">
			<div class="col-sm-3 col-lg-3">
				<h3>
					<i class="fa fa-eye"></i><br/>
					Corporate Identity
				</h3>
				<p>
					Zpracujeme logo a celý vizuální styl Vaší realitní kanceláře. Vizitky, tištěné propagační materiály, velkoplošnou reklamu, jednotný vizuální styl Vašich strategií, statistik, smluv a všech ostatních dokumentů.
				</p>
			</div>
			<div class="col-sm-6 col-lg-6 ci">

			</div>
			<div class="col-sm-3 col-lg-3">
				<h3>
					<i class="fa fa-paint-brush"></i><br/>
					Design na míru
				</h3>
				<p>
					Námi vytvořené stránky pro realitní kanceláře jsou moderní, přehledné a vzbuzují důvěryhodnost což jsou klíčové aspekty pro úspěšné dokončení obchodu.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="screen" id="contact">
	<div class="container text-center">
		<h2>
			Zaujalo Vás naše kompletní řešení?<br/>
			<small>rádí Vám poskytneme jakékoliv bližší informace a připravíme cenovou nabídku</small>
		</h2>
		<div>
			<div class="row text-left">
				<div class="col-sm-offset-2 col-sm-8">
					{form questionForm}
						{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
		
						{include CP_DIR."/Emails/templates/form/fromName.latte", _form => $_form}
		
						{include CP_DIR."/Emails/templates/form/fromEmail.latte", _form => $_form}

						{include CP_DIR."/Emails/templates/form/body.latte", _form => $_form}

						<div class="buttonpane">
							<button n:name="send" class="btn btn-primary">
								<i class="fa fa-check"></i>
								<span>{_'Odeslat'}</span>
							</button>
						</div>
					{/form}
				</div>
			</div>
		</div>

		<!--div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Váš požadavek byl odeslán</h4>
					</div>
      				<div class="modal-body">
        				<p class="lead">
        					Děkujeme za Váš zájem o naše řešení.
        				</p>
        				<p>
        					Budeme Vás kontaktovat v nejbližším možném termínu s bližšími informacemi.
        				</p>
        			</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Zavřit</button>
					</div>
				</div>
			</div>
		</div-->

		<div id="footer">
			<p>Provozuje společnost <a href="http://www.creativeprojects.cz" title="Creative Projects s.r.o. | everything's possible">Creative Projects s.r.o.</a>.</p>
		</div>
	</div>
</div>
