<div class="list">
	<table class="table users fixed-header">
		<thead>
			<tr>
				<th class="image">&nbsp;</th>
				<th class="title">{sortableTh $usersCollection, field => "name", label => "Jméno"}</th>
				<th class="less-important">{sortableTh $usersCollection, field => "role", label => "Role"}</th>
				<th class="not-important datetime">{sortableTh $usersCollection, field => "lastLogged", label => "Poslední přihlášení"}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody n:snippet="tbodySnippet">
			<tr n:foreach="$usersCollection->getAll() AS $userEntity" class="role-{$userEntity->getRole()}{if $userEntity->isMe($user)} me{/if}">
				<td class="image">
					{image $userEntity->getAvatar(), ratio => 1, forced => true, noImageSrc => "assets/backend/img/no-image/no-user-image.svg"}
				</td>
				<td class="title">
					<strong>{$userEntity->getName()}{if $userEntity->isMe($user)} (Já){/if}</strong>
					<span class="ellipsis">
						<a href="mailto: {$userEntity->getEmail()|encryptemail}" title="{_'Napsat email'}">{$userEntity->getEmail()|encryptemail}</a>
					</span>
				</td>
				<td class="less-important">
					<i class="fa {$userEntity->getRoleEntity()->getIcon()}"></i>&nbsp;{$userEntity->getRoleEntity()->getTitle()}
				</td>
				<td class="not-important datetime" title="{$userEntity->getLastLogged()->ip}">
					{if $userEntity->getLastLogged()->timestamp}
						{$userEntity->getLastLogged()->timestamp|smartdate}
					{else}
						<em>{_"Nikdy"}</em>
					{/if}
				</td>
				<td class="tools">
					{if $userEntity->getRole() == "broker" && $presenter->thisDomainEntity->isComponentAllowed("BrokerProfiles", $user)}
						{if $userEntity->brokerProfileExists()}
							<a n:href="BrokerProfiles:edit $userEntity->getId(), backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit profil tohoto makléře'}">
								<i class="fa fa-file-text-o fa-fw"></i>
								<span>{_'Upravit profil makléře'}</span>
							</a>
						{else}
							<a n:href="BrokerProfiles:create $userEntity->getId(), backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Vytvořit profil tohoto makléře'}">
								<i class="fa fa-plus"></i>
								<span>{_'Vytvořit profil makléře'}</span>
							</a>
						{/if}
					{/if}
					{if $userEntity->isMe($user)}
						<a n:href="User:edit backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit můj účet'}">
							<i class="fa fa-pencil fa-fw"></i>
							<span>{_'Upravit'}</span>
						</a>
					{else}
						<a n:if="$user->isAllowed('Admin:Users', 'edit')" n:href="Users:edit $userEntity->getId(), backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit tento účet'}">
							<i class="fa fa-pencil fa-fw"></i>
							<span>{_'Upravit'}</span>
						</a>
						<a n:if="$user->isAllowed('Admin:Users', 'remove')" n:href="Remove! $userEntity->getId(), backlink => $backlink" class="btn btn-default btn-ico remove ajax" title="{_'Odebrat tento účet'}" data-confirm-title="{_'Odebrat účet'}" data-confirm-message="{_'Opravdu chcete tento účet odebrat?'}">
							<i class="fa fa-trash-o fa-fw"></i>
							<span>{_'Odebrat'}</span>
						</a>
					{/if}
				</td>
			</tr>
			<tr n:if="!$usersCollection->count()" class="empty">
				<td colspan="5">
					{_'Nenalezeny žádné uživatelské účty'}
				</td>
			</tr>
		</tbody>
	</table>
			
	{$usersCollection->pagination->getControl()}
		
</div>