{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Estates/default/adminToolbarButtons.latte"}
{/block}

{block title}Moje zakázky{/block}

{block content}

<div class="container list estates">
	
	{centeredTitle "h1", label => 'Moje zakázky', 'small' => 'aktuální nabídka nemovitostí'}

	<div class="row">
		<div class="col-xs-6">
			{$estatesCollection->pagination->getControl()}
		</div>
		<div class="col-xs-6 text-right sorting">
			{include CP_DIR."/Collections/templates/forms/sortingForm.latte"}
		</div>
	</div>

	{include "$appTemplatesDir/default/items.latte"}

	<div class="row">
		<div class="col-xs-6">
			{$estatesCollection->pagination->getControl()}
		</div>
		<div class="col-xs-6 text-right sorting">
			{include CP_DIR."/Collections/templates/forms/sortingForm.latte"}
		</div>
	</div>
</div>