{block adminToolbarButtons}
	{include "$appTemplatesDir/detail/adminToolbarButtons.latte"}
{/block}

{block title}{$estateEntity->estate_title}{/block}

{block locality}
	<h2>
		<i class="fa fa-map-marker"></i>
		{_'Lokalita'}
	</h2>

	{include "$appTemplatesDir/detail/locality.latte", estate => $estateEntity}
{/block}

{block content}

<div class="detail estates">
	{if $estateEntity->isVisible($user)}
		{var $mainImage = $estateEntity->getImages()->getFirst()}

		<div id="intro" class="estates-detail-intro" {if $mainImage}style="background-image: url('{$basePath}/{$mainImage->getSrc()}')"{/if}>
			<div class="container">
				{centeredTitle "h1", title => $estateEntity->getFormattedTitle($user)}
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					{var $offset = 0}
					
					{if $estateEntity->youtube_video}
						<div class="video">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item img-thumbnail" src="//www.youtube.com/embed/{$estateEntity->youtube_video}" allowfullscreen></iframe>
							</div>
						</div>
					{elseif $mainImage}
						<a href="{$basePath}/{$mainImage->getSrc()}" class="image colorbox" title="{_'Zvětšit obrázek'}" data-rel="album">
							{image $mainImage}
						</a>

						{? $offset++}
					{/if}

					{gallery $estateEntity->estate_images, gridClass => "item", offset => $offset, autoThb => false}

				</div>
				<div class="col-sm-6">

					{include "$appTemplatesDir/detail/price.latte"}

					{var $sentences = array_filter(explode(". ", $estateEntity->estate_description))}
					{var $leadSentencesCount = ceil(count($sentences) * 0.3)}

					<div n:if="count($sentences)">
						<p n:if="$leadSentencesCount" class="lead">
							{for $i = 0;$i < $leadSentencesCount;$i++}
								{$sentences[$i]|m2}.
								{? unset($sentences[$i])}
							{/for}
						</p>
						<p>
							{implode(". ", $sentences)|m2}
						</p>
					</div>
				</div>
			</div>
		
		<div class="row">
			<div class="col-sm-6">
				
				{include "$appTemplatesDir/detail/information.latte"}	

				{if $estateEntity->advert_type == 3}
					{include locality}
				{/if}

			</div>
			<div class="col-sm-6">
				{if $estateEntity->advert_type != 3}
					{include locality}
				{/if}
			</div>
		</div>
		
		<div class="text-center">
			<div class="share">
				{include CP_DIR."/Utils/templates/share.latte"}
				<a class="btn btn-primary" n:href="Estates:pdf $estateEntity->getId()" title="{_'PDF karta nemovitosti pro tisk nebo uložení'}">
					<i class="fa fa-file-pdf-o"></i>
					<span>{_'PDF karta'}</span>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="text-center">
					<i class="fa fa-desktop"></i>
					<span>Kontaktujte mě</span> 
					<small>neváhejte mě kontaktovat, rád Vás provedu</small>
				</h2>

				{form emailForm}
					{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
	
					{include CP_DIR."/Emails/templates/form/fromName.latte", _form => $_form, placeholder => "Vaše jméno"}
	
					{include CP_DIR."/Emails/templates/form/fromEmail.latte", _form => $_form, placeholder => "Váš email"}

					{include CP_DIR."/Emails/templates/form/body.latte", _form => $_form, placeholder => "Váš dotaz k této nemovitosti"}

					<div class="buttonpane">
						<button n:name="send" class="btn btn-primary btn-lg">
							<i class="fa fa-check"></i>
							<span>{_'Odeslat dotaz k nemovitosti'}</span>
						</button>
					</div>
				{/form}
			</div>
		</div>
		</div>
	{else}
		<p class="text-center lead">
			<br/>
			<i class="fa fa-times"></i><br/>
			<br/>
			{_'Tato nemovitost již není v nabídce'}
		</p>
	{/if}
</div>
