{block navbarTitle}
	<i class="fa fa-clock-o"></i>
	<span n:block="title">{_'Archív nemovitostí'}</span>
	<small>/</small>
	<small>
		<a n:href="Estates:default" title="{_'Zpět na přehled aktuálních nemovitostí'}"><i class="fa fa-home"></i> {_'Nemovitosti'}</a>
	</small>
{/block}

{block content}
	<div class="container list-container">
		{snippetArea listSnippetArea}
			{include "list.latte", type => "archive"}
		{/snippetArea}
	</div>
{/block}