{block navbarTitle}
	<i class="fa fa-home"></i>
	<span n:block="title">{_'Zakázky'}</span>
	<small>{_'přehled všech nemovitostí'}</small>
{/block}

{block navbarButtons}
	<a n:if="$presenter->thisDomainEntity->isComponentAllowed('EstatesAdmin', $user) && $user->isAllowed('Admin:Estates','add')" n:href="Estates:add" title="{_'Vytvořit novou kartu nemovitosti'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Přidat nemovitost'}</span>
	</a>
	<a n:href="Estates:archive" title="{_'Zobrazit archív nemovitostí'}" class="btn btn-primary btn-ico">
		<i class="fa fa-clock-o"></i>
		<span>{_'Archív'}</span>
	</a>
	<a n:if="$user->isAllowed('Admin:Slugs', 'edit')" n:href="Estates:slugs" title="{_'Zobrazit nastavení URL adres nemovitostí'}" class="btn btn-primary btn-ico">
		<i class="fa fa-globe"></i>
		<span>{_'Nastavení'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		{snippetArea listSnippetArea}
			{include "list.latte", type => "main"}
		{/snippetArea}
	</div>
{/block}