{block navbarTitle}
	<i class="fa fa-pencil"></i>
	<span n:block="title">{_"Upravit zakázku"}</span>
	<small>/</small>
	<small>
		<a n:href="Estates:default" title="{_'Zpět na přehled všech nemovitostí'}"><i class="fa fa-home"></i> {_'Zakázky'}</a>
	</small>
{/block}

{block content}
	
<div class="container">	
	{include "forms/estateForm.latte"}
</div>