<div class="list">
	<table class="table estates fixed-header">
		<thead>
			<tr>
				<th class="image">&nbsp;</th>
				<th class="title">
					{sortableTh $estatesCollection, field => "estate_title", label => "Nemovitost"}
				</th>
				<th>
					{sortableTh $estatesCollection, field => "advert_code", label => "Č. zakázky"}
				</th>
				<th class="less-important switch">
					{sortableTh $estatesCollection, field => "advert_onhomepage", label => "Úvod"}
				</th>
				<th class="less-important price">
					{sortableTh $estatesCollection, field => "advert_price", label => "Cena"}
				</th>
				<th n:if="$user->isAllowed('Admin:Estates', 'setUser')" class="not-important name">
					{sortableTh $estatesCollection, field => "userId", label => "Makléř"}
				</th>
				<th class="tools">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody n:snippet="tbodySnippet">
			<tr n:foreach="$estatesCollection->getAll() AS $estateEntity" class="{if $estateEntity->advert_status == 0}new{elseif $estateEntity->advert_status == 3}unpublished{/if}">
				<td class="image">
					<a n:href=":Front:Estates:detail $estateEntity->estate_id" title="{_'Zobrazit inzerát na webu'}">
						{image $estateEntity->getImages()->getMain(), forced => true, ratio => 1, noImageSrc => "backend/img/no-image/no-estate-image.svg"}
					</a>
				</td>
				<td class="title">
					<strong>
						<a n:href=":Front:Estates:detail $estateEntity->estate_id" title="{_'Zobrazit inzerát na webu'}">
							{if $estateEntity->getTitle()}
								{$estateEntity->getTitle()|truncate:70}
							{else}
								<em>{_'Bez názvu'}</em>
							{/if}
						</a>
						<span n:if="$estateEntity->advert_status != 1" class="label label-default">{$estateEntity->getReadableStatus()}</span>
					</strong>
					<span class="ellipsis">
						{$estateEntity->locality->address}
					</span>
				</td>
				<td>
					{$estateEntity->advert_code}
				</td>
				<td class="less-important switch">
					{var $advert_onhomepage = ($estateEntity->advert_onhomepage ? 0 : 1)}
					
					{if $user->isAllowed('Admin:Estates', 'setHomepage')}<a n:href="SetHomepage! $estateEntity->estate_id, advert_onhomepage => $advert_onhomepage, backlink => $backlink" title="{_'Zobrazit na úvodní stránce'}" class="ajax">
					{/if}
						<i class="fa {if $estateEntity->advert_onhomepage}fa-check{else}fa-circle-o{/if}"></i>
					{if $user->isAllowed('Admin:Estates', 'setHomepage')}</a>{/if}
				</td>
				<td class="less-important price">
					{if $estateEntity->advert_price_hidden == 0}
						{$estateEntity->getPrice()}
					{else}
						{_'Neveřejná cena'}
						<em>({$estateEntity->getPrice()})</em>
					{/if}

					{if $estateEntity->advert_price_unit}
						<br/><em>{$estatesParameters[advert_price_unit][options][$estateEntity->advert_price_unit]}</em>
					{/if}
				</td>
				<td n:if="$user->isAllowed('Admin:Estates', 'setUser')" class="not-important name">
					{$estateEntity->estate_user->getName()|empty:'Neuveden'}
				</td>
				<td class="tools">
					<a n:if="$user->isAllowed('Admin:Estates','html')" n:href="Estates:html $estateEntity->estate_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Zobrazit šablonu karty nemovitosti'}">
						<i class="fa fa-eye"></i>
						<span>{_'HTML'}</span>
					</a>
					<a n:if="$presenter->thisDomainEntity->isComponentAllowed('EstatesPDF', $user) && $user->isAllowed('Admin:Estates','pdf')" n:href="Estates:pdf $estateEntity->estate_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Vytvořit PDF kartu této nemovitosti'}">
						<i class="fa fa-file-pdf-o"></i>
						<span>{_'PDF'}</span>
					</a>
					<a n:if="$estateEntity->isEditAllowed($user)" n:href="Estates:Edit $estateEntity->estate_id, backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit tuto nemovitost'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:if="$estateEntity->isRemoveAllowed($user)" n:href="Remove! $estateEntity->estate_id, backlink => $backlink" class="btn btn-default btn-ico remove ajax" title="{_'Odebrat tuto nemovitost'}" data-confirm-title="{_'Odebrat tuto nemovitost'}" data-confirm-message="{_'Opravdu chcete tuto nemovitost odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!$estatesCollection->count()" class="empty">
				<td colspan="{if $user->isAllowed('Admin:Estates', 'setUser')}6{else}5{/if}">{_'Nenalezeny žádné nemovitosti'}</td>
			</tr>

		</tbody>
	</table>

	{$estatesCollection->pagination->getControl()}

</div>