{block navbarTitle}
	<i class="fa fa-file-pdf-o"></i>
	<span n:block="title">{_"Karta nemovitosti"}</span>
	<small>/</small>
	<small>
		<a n:href="Estates:default" title="{_'Zpět na přehled všech nemovitostí'}"><i class="fa fa-home"></i> {_'Zakázky'}</a>
	</small>
{/block}

{block navbarButtons}
	<a n:if="$presenter->thisDomainEntity->isComponentAllowed('EstatesAdmin', $user) && $user->isAllowed('Admin:Estates','edit')" n:href="Estates:edit $estateEntity->estate_id" title="{_'Upravit kartu nemovitosti'}" class="btn btn-primary">
		<i class="fa fa-pencil"></i>
		<span>{_'Upravit'}</span>
	</a>
	<a n:href="Estates:Send $estateEntity->estate_id, backlink => $backlink" class="btn btn-primary" title="{_'Odeslat PDF kartu nemovitosti emailem'}">
		<i class="fa fa-envelope"></i>
		<span>{_'Odeslat'}</span>
	</a>
	<a n:if="$presenter->thisDomainEntity->isComponentAllowed('EstatesAdmin', $user) && $user->isAllowed('Admin:Estates','remove')" n:href="Remove! $estateEntity->estate_id" class="btn btn-default confirm" title="{_'Odebrat tuto nemovitost'}" data-confirm-title="{_'Odebrat kartu nemovitosti'}" data-confirm-message="{_'Opravdu chcete tuto nemovitost odebrat?'}">
	<i class="fa fa-trash-o"></i>
	<span>{_'Odebrat'}</span>
</a>
{/block}

{block content}
	
<div class="container">
	<iframe src="{$estateEntity->estate_pdf->getSrc()}" class="pdf"></iframe>
</div>