{block navbarTitle}
	<i class="fa fa-envelope-o"></i>
	<span n:block="title">
		{_'Odeslat kartu nemovitosti'}
	</span>
	<small>/</small>
	<small>
		<a n:href="Estates:pdf $estateEntity->getId()" title="{_'Zpět na PDF kartu nemovitosti'}"><i class="fa fa-file-pdf-o"></i> {_'PDF karta'}</a>
	</small>
	<small>/</small>
	<small>
		<a n:href="Estates:default" title="{_'Zpět na přehled nemovitostí'}"><i class="fa fa-home"></i> {_'Zakázky'}</a>
	</small>
{/block}

{block content}
<div class="container">
	{form emailForm}
		{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
	
		{snippetArea toSnippetArea}
			{include CP_DIR."/Emails/templates/form/recipients.latte", _form => $presenter[emailForm], name => "to", label => "Pro:"}
		{/snippetArea}

		{snippetArea ccSnippetArea}
			{include CP_DIR."/Emails/templates/form/recipients.latte", _form => $presenter[emailForm], name => "cc", label => "Kopie:"}
		{/snippetArea}

		{snippetArea bccSnippetArea}
			{include CP_DIR."/Emails/templates/form/recipients.latte", _form => $presenter[emailForm], name => "bcc", label => "Skrytá kopie:"}
		{/snippetArea}

		{include CP_DIR."/Emails/templates/form/subject.latte", _form => $_form}

		{include CP_DIR."/Emails/templates/form/body.latte", _form => $_form}

		{include CP_DIR."/Emails/templates/form/attachments.latte", _form => $_form}
	
		<div class="buttonpane">
			<button n:name="send" class="btn btn-primary btn-lg">
				<i class="fa fa-envelope-o"></i>
				<span>{_'Odeslat emailem'}</span>
			</button>
		</div>
	{/form}
</div>