{block navbarTitle}
	<i class="fa fa-globe"></i>
	<span n:block="title">{_'Hlavičky stránek'}</span>
	<small>/</small>
	<small>
		<a n:href="Estates:default" title="{_'Zpět na přehled aktuálních nemovitostí'}"><i class="fa fa-home"></i> {_'Nemovitosti'}</a>
	</small>
{/block}

{block content}
	<div class="container">
		{snippetArea listSnippetArea}
			{include "slugs/list.latte", slugsCollection => $slugsCollection}
		{/snippetArea}
	</div>
{/block}