<div class="container">
	<div class="body">
		<div class="row">
			<div class="col-xxs-12 col-xs-6 col-sm-3">
				<h3>Kam dál</h3>
				<nav class="menu" n:inner-foreach="$presenter->getMenu('main') AS $itemEntity">
					<a href="{$itemEntity->href}" title="{$itemEntity->item_slug->title}">{$itemEntity->item_slug->label}</a>
				</nav>
			</div>
			<div class="col-xxs-12 col-xs-6 col-sm-3">
				<h3>Naše služby</h3>
				<nav class="menu" n:inner-foreach="$presenter->getMenu('services') AS $itemEntity">
					<a href="{$itemEntity->href}" title="{$itemEntity->item_slug->title}">{$itemEntity->item_slug->label}</a>
				</nav>
			</div>
			<div class="col-xxs-12 col-xs-12 col-sm-6">
				<h3>O nás</h3>
				<p class="lead">
					EliteLiving je prémiová značka realitní kanceláře Aktivreality, zaměřující se výhradně na výjímečné rezidenční nemovitosti těch nejnáročnějších klientů.
				</p>
				<p>
					Myšlenka vymezení luxusních nemovitostí pod vlastní značkou vychází z dlouholeté a bohaté praxe profesionálů, zkušeností s náročnými požadavky majitelů, kteří prodávají či pronajímají nadstandardní a velmi luxusní nemovitosti.
				</p> 
				<p>
					EliteLiving nabízí partnerství odborníků specializujících se na velmi úzký segment trhu a vysoce náročnou klientelu. To vše nejen na straně prodávajících, ale také na straně kupujících.
				</p>
			</div>
		</div>
		<br/><br/>
		<p class="text-center lead">
			„Ojedinělé a na úrovni, to je prémiová značka luxusních realitních služeb – EliteLiving“
		</p>
	</div>
</div>
