<div class="container">
	<div class="body">
		<div class="row">
			<div class="col-xxs-12 col-xs-6 col-sm-3">
				<h3>Search</h3>
				<nav class="menu" n:inner-foreach="$presenter->getMenu('main') AS $itemEntity">
					<a href="{$itemEntity->href}" title="{$itemEntity->item_slug->title}">{$itemEntity->item_slug->label}</a>
				</nav>
			</div>
			<div class="col-xxs-12 col-xs-6 col-sm-3">
				<h3>Our services</h3>
				<nav class="menu" n:inner-foreach="$presenter->getMenu('services') AS $itemEntity">
					<a href="{$itemEntity->href}" title="{$itemEntity->item_slug->title}">{$itemEntity->item_slug->label}</a>
				</nav>
			</div>
			<div class="col-xxs-12 col-xs-12 col-sm-6">
				<h3>About us</h3>
				<p class="lead">
					EliteLiving is an Aktivreality premium brand, which is focused on exceptional residential properties of the most demanding clients.
				</p>
				<p>
					The idea of focusing on luxury properties under our own brand is based on a long professional experience with owner requirements connected with sales or renting high-class properties.
				</p> 
				<p>
					EliteLiving offers you a partnership with professionals who specialize on a very narrow segment of the real estate market and it´s highly demanding clientele. All of these services are available for owners and buyers as well.
				</p>
			</div>
		</div>
		<br/><br/>
		<p class="text-center lead">
			„Unique and Elite, that is a premium brand of luxury real estate services – EliteLiving“
		</p>
	</div>
</div>
