{layout "@layout.latte"}

{block content}
<div class="detail estates">
	<div class="title">
		<div class="container">
			<h1 n:block="title">{$estate->estate_title}</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col col-6">
				<div class="col-body">
					<div class="row images">
						<div class="col {first}col-12{else}col-4{/first}" n:foreach="$estate->images->getAll() AS $image">
							<div class="col-body">
								<div class="image">
									<div class="image-container ratio-1-7" style="background-image: url({! $image->getSrc()});"></div>
									{*{include CP_DIR."/Files/templates/image.latte", image => $image}*}
								</div>
							</div>
						</div>
					</div>

					{var $sentences = array_filter(explode(". ", $estate->estate_description))}
					{var $leadSentencesCount = ceil(count($sentences) * 0.3)}

					<div n:if="count($sentences)">
						<p n:if="$leadSentencesCount" class="lead">
							{for $i = 0;$i < $leadSentencesCount;$i++}
								{$sentences[$i]}.
								{? unset($sentences[$i])}
							{/for}
						</p>
						<p>
							{implode(". ", $sentences)}
						</p>
					</div>

					<h2>
						<i class="fa fa-map-marker"></i>
						{$estate->getPublicAddress()}
					</h2>

					<div class="image">
						<div class="image-container ratio-1-7" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center={$estate->getPublicAddress()}&zoom=15&size=400x300&markers=color:blue%7C{$estate->getPublicAddress()})">
						</div>
					</div>

					<table class="table-label-value">
						<tbody>
							<tr>
								<td class="td-label">{_'Umístění'}</td>
								<td class="td-value">{$estatesParameters[object_location][options][$estate->object_location]}</td>
							</tr>
							<tr>
								<td class="td-label">{_'Okolní zástavba'}</td>
								<td class="td-value">{$estatesParameters[surroundings_type][options][$estate->surroundings_type]}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col col-6">
				<div class="col-body">
					{include APP_DIR."/FrontModule/templates/components/priceBlock.latte"}

					{include APP_DIR."/FrontModule/templates/Estates/detail/information.latte"}

					<h2>Makléř této nemovitosti</h2>

					<div class="row user-card">
						<div n:if="$estate->broker[portrait]" class="col col-4">
							<div class="col-body">
								{var $portrait = reset($estate->broker[portrait])}
								<div class="image">
									<div class="image-container ratio-1" style="background-image: url({! $basePath}/{! $portrait->getSrc()})"></div>
								</div>
							</div>
						</div>
						<div class="col col-8">
							<div class="col-body">
								<h3>{$estate->broker->getName()}</h3>
								<p>
									<i class="fa fa-phone"></i>
									{$estate->broker->getPhone()}
								<br/>
									<i class="fa fa-envelope"></i>
									<a href="mailto:{$estate->broker->getEmail()}" title="{_'Napsat makléři'}">{$estate->broker->getEmail()}</a>
								</p>
							</div>
						</div>
					</div>

					{*{include APP_DIR."/FrontModule/templates/Estates/detail/project.latte"}*}
				</div>
			</div>
		</div>
	</div>
</div>
