{block navbarTitle}
	<i class="fa fa-pencil"></i>
	<span n:block="title">{_"Upravit profil makléře"}</span>
	<small>/</small>
	<small>
		{if $user->isInRole('broker')}
			<a n:href="User:myProfile" title="{_'Zpět na můj účet'}"><i class="fa fa-user"></i> {_'Můj účet'}</a>
		{else}
			<a n:href="Users:default" title="{_'Zpět na přehled všech uživatelů'}"><i class="fa fa-users"></i> {_'Uživatelé'}</a>
		{/if}
	</small>
{/block}

{block content}

<div class="container">
	{snippetArea brokerProfileFormSnippetArea}
		{include "forms/brokerProfileForm.latte"}
	{/snippetArea}
</div>