{block navbarTitle}
	<i class="fa fa-clock-o"></i>
	<span n:block="title">{_'Archív'}</span>
	<small>/</small>
	<small>
		<a n:href="Projects:default" title="{_'Zpět na přehled aktuálních projektů'}"><i class="fa fa-cubes"></i> {_'Projekty'}</a>
	</small>
{/block}

{block navbarButtons}
	<a n:if="$user->isAllowed('Admin:Projects','add')" n:href="Add!" title="{_'Vytvořit nový projekt'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Nový projekt'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		{snippetArea listSnippetArea}
			{include "list.latte", type => "archive"}
		{/snippetArea}
	</div>
{/block}