{block navbarTitle}
	<i class="fa fa-rss"></i>
	<span n:block="title">{_'Novinky projektu'} {$projectEntity->title}</span>
	<small>/</small>
	<small>
		<a n:href="Projects:default" title="{_'Zpět na přehled projektů'}"><i class="fa fa-cubes"></i> {_'Projekty'}</a>
	</small>
{/block}

{block navbarButtons}
	<a n:if="$user->isAllowed('Admin:Projects','addArticle')" n:href="AddArticle! $projectEntity->getId(), backlink => $backlink" title="{_'Vytvořit nový článek'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Přidat článek'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		{snippetArea listSnippetArea}
			{include "articles/list.latte"}
		{/snippetArea}
	</div>
{/block}