{block navbarTitle}
	<i class="fa fa-cubes"></i>
	<span n:block="title">{_'Projekty'}</span>
	<small>{_'přehled aktuálních projektů'}</small>
{/block}

{block navbarButtons}
	<a n:if="$user->isAllowed('Admin:Projects','add')" n:href="Add!" title="{_'Vytvořit nový projekt'}" class="btn btn-primary">
		<i class="fa fa-plus"></i>
		<span>{_'Nový projekt'}</span>
	</a>

	<a n:href="Projects:archive" title="{_'Zobrazit archív projektů'}" class="btn btn-primary btn-ico">
		<i class="fa fa-clock-o"></i>
		<span>{_'Archív'}</span>
	</a>
{/block}

{block content}
	<div class="container list-container">
		{snippetArea listSnippetArea}
			{include "default/list.latte", type => "main"}
		{/snippetArea}
	</div>
{/block}