{block navbarTitle}
	<i class="fa fa-pencil"></i>
	<span n:block="title">{_'Upravit projekt'}</span>
	<small>/</small>
	<small>
		<a n:href="Projects:default" title="{_'Zpět na přehled všech projektů'}"><i class="fa fa-cubes"></i> {_'Projekty'}</a>
	</small>
{/block}

{block content}
	<div class="container">
		{snippetArea projectFormSnippetArea}
			{include "edit/projectForm.latte"}
		{/snippetArea}
	</div>
{/block}