{block navbarTitle}
	<i class="fa fa-pencil"></i>
	<span n:block="title">{_'Upravit článek'}</span>
	<small>/</small>
	<small>
		<a n:href="Projects:articles $projectEntity->getId()" title="{_'Zpět na přehled novinek projektu'} {$projectEntity->title}"><i class="fa fa-calendar"></i> {_'Novinky projektu'} {$projectEntity->title}</a>
	</small>
{/block}

{block content}
	<div class="container">

		{include CP_DIR."/Articles/AdminModule/templates/form.latte"}

	</div>
{/block}