<h1>
	Vytvořen uživatelský účet
</h1>
<p>
	Byl Vám vytvořen uživatelský účet na realitních stránkách {$thisDomainEntity->geDomain()}. Přihlásit se můžete ne adrese:
</p>
<p>
	<a href="{$thisDomainEntity->getRealDomain()}/admin" title="Přihlášení">{$thisDomainEntity->getRealDomain()}/admin</a>
</p>
<p>
	Přihlašovací email: <strong>{$email}</strong><br/>
	Dočasné přihlašovací heslo: <strong>{$password}</strong><br/>
	<em>Dočasné heslo doporučujeme ihned po přihlášení změnit</em>
</p>