
{var $resetPasswordUrl = $thisDomainEntity->getRealDomain() . "/admin/user/reset-password/?email=" . $email . "&recoveryCode=" . $recoveryCode}

<h1>
  Zapoměli jste heslo?
  <small>Dostali jsme žádost o změnu hesla k Vašemu účtu</small>
</h1>

<p>
    Někdo, pravděpodobně Vy zažádal(a) o změnu hesla k účtu <strong>{$name}</strong>. Pokud jste to o reset hesla nežádal(a) tento email ignorujte. V opačném případě si můžete heslo změnit na níže uvedené adrese.
</p>

<p class="description">
  <span>Adresa pro změnu Vašeho hesla</span>
  <strong>
    <a href="{$resetPasswordUrl}">{$resetPasswordUrl}</a>
   </strong>
</p>

<p class="text-center">
  Na výše uvedeném odkazu naleznete formulář pro zadání nového hesla k Vašemu účtu.
</p>
