.btn-default{
	background: none;
	.drop-shadow(0,0,0,0);
	border-color: @color-primary;
	border-width: 2px;
	color: @color-primary;
	.rounded(0);

	&:hover{
		background: rgba(0,0,0,0.1);
		border-color: darken(@color-primary, 10%);
		color: darken(@color-primary, 10%);
	}
}

.btn-primary{
	background: none;
	.drop-shadow(0,0,0,0);
	border-color: @color-secondary;
	border-width: 2px;
	color: @color-secondary;
	.rounded(0);

	&:hover{
		background: rgba(170,0,0,0.1);
		border-color: darken(@color-secondary, 10%);
		color: darken(@color-secondary, 10%);
	}
}

.btn-ico{
	span{
		display: none;
	}
}

.buttonpane{
	text-align: center;
}