body{
	padding: 0;
	margin: 0;
	color: @color-primary;
	font-size: 15px;
}

a{
	color: @color-primary;
	
	&:hover{
		color: @color-secondary;
		text-decoration: none;
	}
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	color: @color-header;
	.font();

	small{
		font-size: 0.6em;
		display: block;	
		color: inherit;
		.font();
		.opacity(0.6);
	}
}

h1{
	margin-top: 40px;
	margin-bottom: 20px;
}

hr{
	display: block;
	border: none;
	height: 3px;
	background-color: @color-primary;
	margin: 1em 0;
}

img:not(#tracy-debug img) {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

ul {
	li{
		padding: 0.7em 0;
	}
}

.font{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	letter-spacing: -0.02em;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; 
}

.lead{
	.font();
	letter-spacing: -0.01em;
}

.empty{
	.font();
	font-style: italic;
	font-size: 1.3em;
	text-align: center;
	padding: 1em;
	display: block;
}

.images{
	margin: 0 -1px;

	> div {
		padding: 1px;
	}
}

.image,
.video{
	.img-thumbnail{
		padding: 0;
		.rounded(0);
		border: none;
		width: 100%;
		display: block;
		margin: 0 !important;
		overflow: hidden;
	}
}

.stripe{
	background: white url("../img/background.png");
	padding: 1em 0;

	.container{
		position:relative;
	}
}

.shadow{
	display: block;
	padding-bottom: 4%;
	background: transparent url("@{path-img}/shadow-2.png") center top no-repeat;
	background-size: 100%;
}

.centered-title{
	margin: 0;

	> div{
		padding: 0;
	}

	margin-top: 40px;
	margin-bottom: 20px;

	h1, h2, h3, h4, h5, h6{
		margin: 0;
	}
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }

  .carousel-indicators{
  	bottom: 72px;
  }
}

.map-wrapper{
	position:relative;

	.map{
		height: 400px;
		width: 100%;
		.rounded(0);
		margin: 0 !important;
		display: block;
	}

	.btn{
		position:absolute;
		right: 10px;
		top: 10px;
		.rounded(4em);
		width: 3em;
		height: 3em;
		padding: 0.5em;
	}

	/*&.contacts-map{
		margin-bottom: -3em;
	}*/
}