.estates.list .item .image,
.estates.detail .map-wrapper,
.estates.detail .image,
.estates.detail .video{
	&:after{
		content: "";
		display: block;
		.shadow();
	}

	.img-thumbnail{
		padding: 0px;	
		border: none;
		width: 100%;
	}
}

.estates{
	&.brokers{
		> div {
			.image{
				display: block;
				width: 100%;

				img{
					width: 100%;
				}
			}

			hr{
				margin-top: 0.2em;
			}

			margin-bottom: 3em;

			@media(max-width: @screen-xs-max){
				&:nth-child(2n + 3){
					clear: left;
				}
			}

			@media(min-width: @screen-sm-min) and (max-width: @screen-md-max){
				&:nth-child(3n + 4){
					clear: left;
				}
			}

			@media(min-width: @screen-lg-min){
				&:nth-child(4n + 5){
					clear: left;
				}
			}
		}
	}

	&.list{
		nav{
			a{
				display: inline-block;
				padding: 0 1em;
				padding: 0.6em;

				&.active{
					background: @color-black;
					color: white;
				}
			}
		}

		.pages{
			display: block;
			text-align: center;
			padding: 0;

			li{
				display: inline-block;
				margin: 0.1em;
				font-size: 0.9em;

				a{
					display: block;
					text-align: center;
					width: 2.4em;
					height: 2.4em;
					padding: 0.4em;
					border: 1px solid @color-border;

					&, &:hover, &:focus, &:active{
						text-decoration: none;
					}

					&:hover, &:focus, &:active{
						background-color: darken(@color-border, 5%);
						color: @color-primary;
					}
				}

				&.active a {
					background-color: @color-border;
					cursor: default;
				}
			}
		}

		.item{
			margin-bottom: 2em;
			text-align: center;

			&:nth-child(3n + 4){
				clear: left;
			}

			strong{
				.font();
				font-size: 1.6em;
				display: block;
				margin: 0.5em 0;
				padding-bottom: 0.5em;
				border-bottom: 3px solid @color-black;

				em {
					display: block;
					font-style: normal;
					font-size: 0.7em;
				}

				height: 4.5em;

				@media(max-width: @screen-md-max){
					font-size: 1.4em;
				}
			}

			p{
				height: 5.8em;

				@media(min-width: @screen-md-min) and (max-width: @screen-md-max){
					height: 7em;
				}
			}

			.price{
				display: block;
				font-size: 1.8em;
				margin-bottom: 2em;
				.font();

				em{
					display: block;
					font-size: 0.6em;
				}
			}

		}
	}

	&.detail{
		@media(max-width: @screen-xxs-max){
			&, .form-control{
				text-align:center;
			}
		}

		.images{
			margin-bottom: 2em;

			.item{
				margin-top: 1px;
				margin-right: 1px;
			}
		}

		.price{
			margin-top: 0.8em;
			display: block;
			border: 2px solid @color-black;
			padding: 0.5em 1em;
			.font();
			font-size: 3em;
			text-align: right;
			
			em,
			i{
				font-size: 0.4em;
				display: block;
				font-style: normal;
			}

			i{
				margin-top: 0.2em;
			}

			@media(max-width: @screen-xs-max){
				font-size: 2em;

				em,i{
					font-size: 0.5em;
				}
			}
		}

		.table-label-value{
			width: 100%;

			tr{
				td{
					border-bottom: 1px solid @color-border;
					padding-top: 1.4em;

					&:first-child{
						text-align: left;
					}

					&:last-child{
						text-align: right;
						font-weight: bold;
						font-size: 1.2em;
						.font();

						@media(max-width: @screen-xs-max){
							font-size: 1em;
						}
					}
				}
			}
		}

		.user-card{
			position:relative;
			margin-bottom: -1em;

			.image{
				.rounded(0);
				border: none;
				padding: 0;

				&:after{
					display: none;
				}
			}

			h3{
				margin-top: 8vw;
			}

			@media(min-width: @screen-sm-min) and (max-width:@screen-sm-max){
				h3{
					font-size: 1.5em;
				}

				p{
					font-size: 1.1em;
				}
				
			}
		}

		.share{
			display: inline-block;
			margin: auto;
			margin-top: 2em;
		}
	}
}