.form-control{
	.rounded(0);
	background: none;
	.inner-shadow(0,0,0,0);
	border-color: @color-border;
	font-size: 1.1em;
	padding: 0.6em;
	margin-bottom: 1px;
	height: auto;

	&:focus{
		.drop-shadow(0,0,0,0);
		border-color: darken(@color-border, 20%);
	}
}

.form-group{
	margin-bottom: 1.5em;

	&.address{
		.map-wrapper{
			margin-bottom: 0;
		}
	}

	.input-group{
		.form-control{
			padding-right: 1em;
		}

		.input-group-addon{
			.rounded(0);
			background: none;
		}
	}
}

.checkboxlist{
	.clearfix();

	br {
		display: none;
	}

	label{
		display: block;
		width: 25%;
		float: left;
		font-weight: normal;

		input{
			margin-right: 0.4em;
		}

		@media(max-width: @screen-md-max){
			width: 33%;
		}

		@media(max-width: @screen-sm-max){
			width: 50%;
		}
	}
}