header,
#header{
	#logo{
		margin-top: 22px;
		margin-bottom: -14px;
		z-index: 10;
		position: relative;
		background-color: white;
		
		height: 80px;
		
		a{
			display: block;
			text-align: left;
			overflow: hidden;
			text-indent: -1000px;
			background: url("@{path-img}/eliteliving-logotype-horizontal.svg") left bottom no-repeat;
			background-size: contain;
			height: 80px;
			margin-right: 0.5em;
		}

		@media(max-width: @screen-xs-max){
			a{
				background-position: center;
			}
			
			margin: 1em 0;
		}

		@media(max-width: @screen-sm-max){
			height: 80px;

			a{
				height: 80px;
			}
		}
	}

	.locales{
		display: block;
		margin: 15px 0;
		text-align: right;

		a{
			display: inline-block;
			margin-left: 1em;

			i{
				display: inline-block;
				width: 1em;
				height: 1em;
				.rounded(2em);
				text-align: left;
				text-indent: -1000px;
				overflow: hidden;
				background: white;

				background-size: 140%;
				background-position: center;
				vertical-align:middle;
			}
		}

		@media(max-width: @screen-xs-max){
			text-align:center;
		}

		.fa-locale{
			&.fa-locale-cs{
				background-image: url('@{url-assets}/img/flags/cs.png') !important;
			}

			&.fa-locale-en{
				background-image: url('@{url-assets}/img/flags/gb.png') !important;
			}
		}
	}

	.menu{
		text-align: right;
		margin-top: 0;
		
		a{
			display: inline-block;
			position: relative;
			text-align: center;
			.font();
			font-weight: 200;
			font-size: 1.2em;
			padding: 0.5em;

			&.active{
				text-decoration: none;
				color: white;
				background-color: @color-black;
			}

			&:hover{
				color: @color-secondary;

				&.active{
					color: white;
				}
			}

			.fa{
				display: none;
				color: #777;
			}

			&:last-child{
				padding-right: 0;

				&.active{
					padding-right: 0.5em;
				}
			}
		}

		@media(max-width: @screen-xs-max){
			text-align: center;

			a{
				font-size: 1.1em;
			}
		}

		@media(max-width: @screen-md-max){
				a{
					font-size: 1.3em;
				}
			}

		@media(max-width: @screen-sm-max){
			margin-top: 0;

			a{
				font-size: 1.2em;
				padding-left: 0.3em;
				padding-right: 0.3em;
			}
		}

		@media(max-width: @screen-xs-max){
			text-align: center;

			a{
				font-size: 1.1em;
			}
		}

		@media(max-width: @screen-xxs-max){
			a{
				font-size: 1em;
			}
		}
	}

	.body{
		border-bottom: 7px solid @color-black;
	}
}

/******** Layout ***********/

#messages{
	padding-top: 10px;
	
	.alert{
		.rounded(0);
		margin: 0.5em 0 0 0;
	}
}

.homepage{
	#footer{
		.body{
			border-top: none;
		}
	}
}


#content {
	clear: both;
	padding-bottom: 4em;

	.container{
		background: url("@{path-img}/eliteliving-watermark.svg") center no-repeat;
		background-size: contain;
	}
}

#ilustration{
	height: 20vh;
	background-size: cover;
	background-position: center;
	display: none;
}

#roundabout{
	overflow: hidden;
	margin-bottom: -4em;
}

#intro{
	margin-top: 0.5em;
	height: 480px;
	text-align: center;
	position: relative;
	
	.roundabout-navigation{

		.roundabout-prev{
			display: inline-block;
			z-index: 1000;
			position: absolute;
			left: -26px;
			top: 210px;
			.opacity(0.5);
		}

		.roundabout-next{
			display: inline-block;
			z-index: 1000;
			position: absolute;
			right: -26px;
			top: 210px;
			.opacity(0.5);
		}
	}


	.roundabout{
		height: 480px;
		width: 50%;
		margin: auto;
		position: relative;
		top: 6px;
		left: 3px;

		.item{
			width: @screen-lg - 60px;

			&:not(.roundabout-in-focus){
				cursor: pointer;
			}
		}

		@media(max-width: @screen-md-max){
			left: 2px;

			.item{
				width: @screen-md - 52px;
			}
		}

		@media(max-width: @screen-sm-max){
			left: 1px;

			.item{
				width: @screen-sm - 50px;
			}
		}
	}

	.item{
		height: 480px;
		
		.item-inner{
			background-size: cover;
			background-position: center;
			position:relative;
			text-align: left;
			height: 90%;
		
			.row{
				position:absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				margin: 0;
				> div {
					padding: 0;
					.lead{
						font-size: 1.2em;
						letter-spacing: 0;
						padding: 1em;
						background: rgba(0,0,0,0.5);
						margin: 1em;
					}

					&, & * {
						color: white;
					}

					a{
						text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
					}
				}
			}
		}
	}
}

footer,
#footer{
	margin-top: 1px;

	@media(max-width: @screen-xxs-max){
		h3{
			text-align: center;
		}
	}

	.body{
		border-top: 4px solid @color-black;
	}
	
	.menu{
		a{
			display: block;
			padding: 0.8em 0;
			border-bottom: 1px solid @color-border;
		
			&:last-child{
				border-bottom: none;
			}
		}
	}

	#author{
		font-size: 0.9em;
		text-align: center;
		padding: 3em 0;

		&, & * {
			color: darken(@color-border, 20%);
		}
	}
}