.services{
	margin: 0 -1px;

	> div {
		padding: 0 1px;
	}

	.fa{
		display: block;
		margin: auto;
		font-size: 4em;
		margin: 0.5em 0;
	}

	&.main .fa{
		font-size: 1em;
		margin: 0;
		text-align: left;
		text-indent: -1000px;
		overflow: hidden;
		height: 20em;
		width: 100%;
		border-bottom: 2px solid white;

		&.fa-bars{
			background: url("@{path-img}/services/services.jpg") center;
		}

		&.fa-star{
			background: url("@{path-img}/services/premium.jpg") center;
		}

		&.fa-camera{
			background: url("@{path-img}/services/photo.jpg") center;
		}

		&.fa-key{
			background: url("@{path-img}/services/private.jpg") center;
		}

		background-size: cover;
	}

	h2{
		font-size: 1.6em;
	}

	a{
		display: block;

		&:hover{
			background: @color-black;
			color: white;
		}
	}

	span{
		display: block;
		padding: 1em;
	}
}

.complex-services{
	> div{
		margin-bottom: 3em;

		&:nth-child(2n+3){
			clear: both;
		}
	}
}