<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="designer" content="Software a služby pro moderní realitní kanceláře | www.strankyrealitky.cz">

		<title>{block title|striptags|strip}{/block}</title>
		{include CP_DIR."/Base/templates/favicon.latte", dir => $thisDomainEntity->getBackend()->getFaviconDir(), defaultDir => "backend/img/favicon"}

		{control css}

	</head>
	<body>
		{include body}
	</body>
</html>