<div class="alert alert-danger" n:if="$thisDomainEntity->getExpire() !== null && strtotime($thisDomainEntity->getExpire()) < time()">
	<p class="lead text-center">
		Klient neuhradil službu <a href="http://www.strankyrealitky.cz" title="StránkyRealitky.Cz | software a služby pro moderní realitní kanceláře">StránkyRealitky.Cz</a>. Webové stránky budou aktivní do <strong>{date("Y-m-d", strtotime($thisDomainEntity->getExpire() . " + 14 days"))|date}</strong> a následně budou nedostupné.
	</p>
</div>