{block adminToolbarButtons}
	{include CP_DIR."/Pages/FrontModule/templates/adminToolbarButtons.latte"}
{/block}

{block content}

<h1 class="text-center" n:block="title">
	{$pageEntity->getTitle()}
</h1>

<div class="container">

	{pageBlock key => "main"}

</div>