/** Cesty */

@path: "..";
@path-img: "../../img";
@path-assets: "../../../assets";
@url-assets: "../../../../assets";

/** Barvy */

@color-primary: #444;
@color-secondary: #AA0000;
@color-border: #ddd;
@color-border-dark: #555;
@color-black: #222;
@color-header: lighten(@color-primary, 25%);

/** Rozměry */

@header-height: 80px;

/** Importy */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

@import "@{path-assets}/css/bootstrap.grid.xxs.5ths.min.css";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/variables.less";
@import (reference) "@{path-assets}/less/variables.less";
@import (reference) "@{path-assets}/bootstrap-3.3.6/less/mixins.less";
@import "@{path-assets}/font-awesome-4.2.0/less/font-awesome.less";
@import "@{path-assets}/less/admin-toolbar.less";
@import "@{path-assets}/less/colorbox.less";
@import "@{path-assets}/less/variables.less";
@import "@{path-assets}/less/mixins.less";
@import "@{path-assets}/less/font-awesome-locales.less";
@import "@{path-assets}/less/owl.carousel.less";
@import "@{path-assets}/less/showLoading.less";

@import "eliteliving/common.less";
@import "eliteliving/layout.less";
@import "eliteliving/buttons.less";
@import "eliteliving/forms.less";
@import "eliteliving/estates.less";
@import "eliteliving/services.less";
