{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Estates/default/adminToolbarButtons.latte"}
{/block}

{block content}
<div id="titlebar">
	<div class="container">
		<h1 n:block="title">{_'Naše nemovitosti'}</h1>
		<div class="collapsed-filter collapsible" data-force-collapsed="1" data-preserve-values="1">
			<h3 class="collapsible-trigger" data-icon-collapsed="fa-search">{_'Fitrovat'}</h3>
			<div class="collapsible-content">
				{include CP_DIR."/Collections/templates/forms/filterForm.latte"}
			</div>
		</div>
	</div>
</div>

<div class="container list estates">
	
	{var $count = 0}

	<div class="items" n:inner-foreach="$estatesCollection->getAll() AS $estateEntity" >
		<div class="item" n:if="$estateEntity->isVisible($user)">
			
			{? $count++}

			<div class="row">
				<div class="col-sm-4">
					<a n:href="Estates:detail $estateEntity->estate_id" class="image" title="{_'Zobrazit detail nemovitosti'}">
						{image $estateEntity->getImages()->getMain()}
					</a>
				</div>
				<div class="col-sm-8">
					<strong>
						<a n:href="Estates:detail $estateEntity->estate_id" title="{_'Zobrazit detail nemovitosti'}">
							{$estateEntity->getTitle()}

							<small n:if="$estateEntity->isVisible($user) === 'logged'" class="status">
								({$estateEntity->getReadableStatus()})
							</small>
						</a>
					</strong>

					<em>
						{$estateEntity->getPublicAddress()}
					</em>

					{var $sentences = array_filter(explode(". ", substr($estateEntity->estate_description, 0, 300)))}
					{var $leadSentencesCount = ceil(count($sentences) * 0.4)}

					<div n:if="count($sentences)">
						<p n:if="$leadSentencesCount" class="lead">
							{for $i = 0;$i < $leadSentencesCount;$i++}
								{$sentences[$i]}.
								{? unset($sentences[$i])}
							{/for}
						</p>
					</div>
					<ul>
						<li>
							<i class="fa fa-crop"></i> {$estateEntity->usable_area} m<sup>2</sup>
						</li>
					</ul>

					{include "$appTemplatesDir/../components/price.latte", estateEntity => $estateEntity, showNote => false}

				</div>
			</div>
		</div>

		<p n:if="!$count" class="empty">
			{_'Nenalezeny žádné nemovitosti'}
		</p>
	</div>

	<div class="row">
		<div class="col-xs-6 text-left">
			{$estatesCollection->pagination->getControl()}
		</div>
		<div class="col-xs-6 text-right">
			{include CP_DIR."/Collections/templates/forms/sortingForm.latte"}
		</div>
	</div>
</div>