<div class="list">
	<table class="table fixed-header">
		<thead>
			<tr>
				<th class="title">
					{sortableTh $advicesQuestionsCollection, field => "name", label => "Jméno"}
				</th>
				<th class="less-important">
					{sortableTh $advicesQuestionsCollection, field => "email", label => "Email"}
				</th>
				<th class="less-important datetime">
					{sortableTh $advicesQuestionsCollection, field => "created", label => "Přidáno"}
				</th>
				<th class="tools">
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody n:snippet="questionsTbodySnippet">
			<tr n:foreach="$advicesQuestionsCollection->getAll() AS $questionEntity" class="{if !$questionEntity->getRead()}new{/if}">
				<td class="title">
					<strong>
						{$questionEntity->getName()|empty:'Neuveden'}
					</strong>
					<span class="ellipsis">{$questionEntity->getQuestion()|strip|truncate:50}</span>
				</td>
				<td class="less-important">
					<a href="mailto: {$questionEntity->getEmail()|encryptemail}" title="{_'Napsat email'}">
						{$questionEntity->getEmail()|encryptemail}
					</a>
				</td>
				<td class="less-important datetime">
					{$questionEntity->getCreated()|datetime}
				</td>
				<td class="tools">
					<a n:if="$user->isAllowed('Admin:Advices','editQuestion')" n:href="Advices:editQuestion $questionEntity->getId(), backlink => $backlink" class="btn btn-primary btn-ico" title="{_'Upravit tuto otázku'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:if="$user->isAllowed('Admin:Advices','removeQuestion')" n:href="RemoveQuestion! $questionEntity->getId(), backlink => $backlink" class="btn btn-default btn-ico remove ajax" title="{_'Odebrat tuto otázku'}" data-confirm-title="{_'Odebrat otázku'}" data-confirm-message="{_'Opravdu chcete tuto otázku odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!$advicesQuestionsCollection->count()" class="empty">
				<td colspan="4">{_'Nenalezeny žádné otázky'}</td>
			</tr>

		</tbody>
	</table>

	{$advicesQuestionsCollection->pagination->getControl()}

</div>
