{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Homepage/adminToolbarButtons.latte"}
{/block}

{block title}{_'Vítejte'}{/block}

{block content}
<div class="screen homepage-section" id="intro">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-xxs-12 col-xxs-offset-0 col-xs-6 col-xs-offset-6 col-sm-5 col-sm-offset-7">
					<h1>Tomáš Novák <small>Naskočte na vlnu bezstarostného prodeje nemovitosti</small></h1>
					<p>
						Jsem člověk, živý, dynamický, přátelský. Mé základní hodnoty jsou upřímnost, otevřenost, komunikativnost, pracovitost, chuť učit se novým věcem a přátelské chování.
					</p>
					<div class="text-right">
						<a href="o-mne" title="Více informací o mně" class="btn">
							<i class="fa fa-chevron-right"></i> více o mně
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="chevron-up-overlay"></div>
	</div>
</div>
<div id="portfolio" class="homepage-section">
	<h2 class="text-center">
		Služby
	</h2>
	
	<div class="container">
		<div class="row services">
			<div class="col-xxs-12 col-xs-6 col-md-4">
				<a href="javascript:void(0);" class="service-trigger">
					<h3>
						<i class="fa fa-money"></i>
						<span>Stanovení tržní prodejní ceny</span>
					</h3>
					<p class="snippet">
						Pro úspěšný prodej nemovitosti je důležité znát hodnotu daného objektu a s ní pak také pracovat v prodejní strategii.
					</p>
				</a>
				<div class="collapsible" data-rel="services">
					<p class="collapsible-trigger text-center" data-remove="1">více</p>
					<p class="collapsible-content">
						Při stanovování prodejní ceny nemovitosti uděláme vždy odhad ceny porovnávací metodou, kdy provedeme analýzu realitního trhu v dané lokalitě a uděláme porovnání s nejbližší konkurencí. Tím získáme odhad výsledné tržní ceny nemovitosti.  
					</p>
				</div>
			</div>
			<div class="col-xxs-12 col-xs-6 col-md-4">
				<a href="javascript:void(0);" class="service-trigger">
					<h3>
						<i class="fa fa-line-chart"></i>
						<span>Strategie prodeje</span>
					</h3>
					<p class="snippet">
						je vždy závislá na aktuální situaci majitele. Potřebuje-li realizovat rychlý prodej, nemůžeme si dovolit překračovat odhadní cenu. 
					</p>
				</a>
				<div class="collapsible" data-rel="services">
					<p class="collapsible-trigger text-center" data-remove="1">více</p>
					<p class="collapsible-content">
						Naopak, při cíleném dlouhodobém prodeji můžeme pracovat s cenou vyšší a sledovat odezvu poptávajících klientů. 
					</p>
				</div>
			</div>
			<div class="col-xxs-12 col-xs-6 col-md-4">
				<a href="javascript:void(0);" class="service-trigger">
					<h3>
						<i class="fa fa-camera"></i>
						<span>Fotoprezentace</span>
					</h3>
					<p class="snippet">
						je pro nás velice důležitým prvkem. Je to první setkání potenciálního nového majitele s nemovitostí. 
					</p>
				</a>
				<div class="collapsible" data-rel="services">
					<p class="collapsible-trigger text-center" data-remove="1">více</p>
					<div class="collapsible-content">
						<p>
							Potřebujeme tedy snadno vyvolat pozitivní ohlasy a ty získáme profesionální fotoprezentací, která ukáže nemovitost realisticky v celé své kráse.
						</p>
						<p>
							<a href="http://www.tomasvlach.com/nemovitosti.html" title="Fotoprezentaci zajistí náš fotograf">Fotoprezentaci zajistí náš fotograf Tomáš Vlach</a>.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xxs-12 col-xs-6 col-md-4">
				<a href="javascript:void(0);" class="service-trigger">
					<h3>
						<i class="fa fa-video-camera"></i>
						<span>Videoprezentace</span>
					</h3>
					<p class="snippet">
						je dalším šperkem, kterým klienty můžeme oslnit a nadchnout pro koupi. 
					</p>
				</a>
				<div class="collapsible" data-rel="services">
					<p class="collapsible-trigger text-center" data-remove="1">více</p>
					<p class="collapsible-content">
						Jak videoprezentace v našem podání vypadá si můžete <a href="https://www.youtube.com/channel/UCgG3i6_MDDrQ6O7WoYx7DTQ">prohlédnout zde</a>.
					</p>
				</div>
			</div>
			<div class="col-xxs-12 col-xs-6 col-md-4">
				<a href="javascript:void(0);" class="service-trigger">
					<h3>
						<i class="fa fa-comments-o"></i>
						<span>Inzerce</span>
					</h3>
					<p class="snippet">
						je zajištěna po celou dobu prezentace na 60-ti realitních a inzertních serverech. Jako jedni z mála RK zajišťujeme pravidelnou aktualizaci inzerátu. 
					</p>
				</a>
				<div class="collapsible" data-rel="services">
					<p class="collapsible-trigger text-center" data-remove="1">více</p>
					<div class="collapsible-content">
						<p>
							To znamená, že se inzerát pravidelně maže a nahrává zpět či se připlácí jeho topování. Efekt je ten, že se naše nabídka 1x do týdne vrátí opět na první místo nabízených nemovitostí jako novinka. Aktualizace inzerátu přináší velkou návštěvnost uživatelů, protože inzerát nezapadne a je zájemcům stále na očích.
						</p>
						<p>
							Při součtu návštěvnosti veškerých serverů, kam umísťujeme inzerci a reklamu, se nabízí návštěvnost přibližně 250.000 unikátních návštěvníků hledajících nemovitosti za den. Je tedy velmi důležité mít prezentaci kvalitně připravenou, abychom zaujali co největší procento návštěvníků.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xxs-12 col-xs-6 col-md-4">
				<a href="javascript:void(0);" class="service-trigger">
					<h3>
						<i class="fa fa-map-marker"></i>
						<span>TIP regionu</span>
					</h3>
					<p class="snippet">
						je další nástroj, který využíváme pro podporu prodeje. Tím získáme placenou statickou pozici na nejnavštěvovanějším serveru - sreality.cz.
					</p>
				</a>
				<div class="collapsible" data-rel="services">
					<p class="collapsible-trigger text-center" data-remove="1">více</p>
					<p class="collapsible-content">
						Inzerát se pak zobrazuje celý den na každé stránce výpisu inzerátů pro celý okres, nebo část Prahy. Na zobrazení pozice nemá vliv řazení inzerátů (např. podle ceny). TIP-Regionu je tedy výborným doplňkem, který zajišťuje nepřetržitou pozici prvního místa v dalé lokalitě.
					</p>
				</div>
			</div>
			<div class="col-xxs-12 col-xs-6 col-md-4">
				<a href="javascript:void(0);" class="service-trigger">
					<h3>
						<i class="fa fa-star-o"></i>
						<span>PPC reklama</span>
					</h3>
					<p class="snippet">
						je prvek, který využíváme pro prodej i mimo realitní servery. Ihned od počátku prodeje nastavíme celou propoagační akci na největších českých vyhledávacích serverech Google a Seznam.
					</p>
				</a>
				<div class="collapsible" data-rel="services">
					<p class="collapsible-trigger text-center" data-remove="1">více</p>
					<p class="collapsible-content">
						PPC reklama nabízí uživateli možnost předně definovat klíčová slova, na základě kterých se má propagovaný web zobrazovat na prvních místech ve vyhledávání. Nadefinujeme například: byty Praha, byty v centru Prahy, luxusní byty atp. Nastavit můžeme libovolný počet slov a zajistit tak rozsáhlou kampaň. Ta cíleně přináší zákazníky, protože se k nám na web dostávají pouze lidé, kteří hledají to, co my nabízíme. Navíc nám přináší velmi přehlednou zpětnou vazbu, co nejvíce lidé na trhu hledají a podle toho můžeme později upravit nastavení celé kampaně.
					</p>
				</div>
			</div>
			<div class="col-xxs-12 col-xs-6 col-md-4">
				<a href="javascript:void(0);" class="service-trigger">
					<h3>
						<i class="fa fa-globe"></i>
						<span>Vlastní webové stránky</span>
					</h3>
					<p class="snippet">
						jsou pak třešničkou na dortu našich služeb. Tyto využíváme pro další reklamu, aby potenciální kupující získali důvěru, že prodej myslíme vážně.
					</p>
				</a>
				<div class="collapsible" data-rel="services">
					<p class="collapsible-trigger text-center" data-remove="1">více</p>
					<div class="collapsible-content">
						<p>
							Na stránkách si také mohou prohlédnout celý projekt a případně vybrat i jiné nemovitosti z Vaší nabídky.
						</p>
						<p>
							Jak vypadá webová prezentace našich projektů se můžete podívat zde: <a href="http://www.bydleninasazave.cz">www.bydleninasazave.cz</a> a také zde:  <a href="http://www.bydlenikolodeje.cz/">www.bydlenikolodeje.cz</a>.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xxs-12 col-xs-6 col-md-4">
				<a href="javascript:void(0);" class="service-trigger">
					<h3>
						<i class="fa fa-line-chart"></i>
						<span>Statistika</span>
					</h3>
					<p class="snippet">
						nuda je, má však cenné údaje. Toto heslo pro nás platí dvojnásob.
					</p>
				</a>
				<div class="collapsible" data-rel="services">
					<p class="collapsible-trigger text-center" data-remove="1">více</p>
					<p class="collapsible-content">
						Statistiky, které průběžně sledujeme, nám sdělují, jak se nám prodej daří, kolik klientů se podívalo na jaký inzerát a na jakém serveru, na co se klienti nejvíce ptají a jaká klíčová slova vyhledávají. Tyto statistiky pak společně konzultujeme a informace z nich využíváme pro úpravu a ladění prodejní strategie a následujících kroků, pro maximální spokojenost a efektivitu prodeje.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="chevron-up-overlay"></div>
</div>
<div id="estates" class="homepage-section">
	<h2 class="text-center">
		Mé nemovitosti<br/><small>výběr aktuálních nemovitostí</small>
	</h2>
	<div class="container-fluid">
		<div class="row estates list">
			<div n:foreach="$estatesCollection->getAll() AS $estateEntity" class="col-sm-6 col-md-3 item">
				<div class="body">
					<a n:href="Estates:detail $estateEntity->estate_id" title="{_'Zobrazit detail nemovitosti'}">
						<span class="image">
							{image $estateEntity->getImages()->getMain()}
						</span>
					
						<strong class="title">
							{$estateEntity->getTitle()}
						</strong>
						<p>
							{$estateEntity->estate_description|m2|truncate:190:' ...'}
						</p>

						{include APP_DIR."/FrontModule/templates/components/price.latte", estateEntity => $estateEntity, showNote => false, showProperties => false}
					</a>
				</div>
			</div>
		</div>
		<p class="text-center">
			<a n:href="Estates:default" class="btn btn-lg">
				<i class="fa fa-chevron-right"></i>
				<span>všechny moje nemovitosti</span>
			</a>
		</p>
	</div>
	<div class="chevron-up-overlay"></div>
</div>
<div id="reviews" class="homepage-section">
	<h2 class="text-center">
		Reference<br/><small>hodnocení mé práce</small>
	</h2>
	<div class="container">
		
		{include CP_DIR."/Reviews/FrontModule/templates/list.latte", showRating => false, noReviews => "Zatím nebyly přidány žádné reference", reviews => $reviewsCollection->getAll(), showDate => false}

		<p class="text-center">
			<a n:href="Reviews:default" class="btn btn-lg">
				<i class="fa fa-chevron-right"></i>
				<span>další reference</span>
			</a>
		</p>

	</div>
	<div class="chevron-up-overlay"></div>
</div>
<div id="sold" n:if="$soldCollection->count()">
	<div class="container">
		<div class="row estates list">
			<div n:foreach="$soldCollection->getAll() AS $estateEntity" class="col-sm-4 item">
				<div class="body">
					<span class="image">
						{image $estateEntity->getImages()->getMain()}
					</span>
						
					<strong class="title">
						{$estateEntity->getTitle()}
					</strong>
							
					{include APP_DIR."/FrontModule/templates/components/price.latte", estateEntity => $estateEntity, showNote => false, showProperties => false}

					<em class="stamp sale">PRODÁNO</em>
				</div>
			</div>
		</div>
		<p class="text-center">
			<a n:href="Estates:sold" class="btn btn-lg">
				<i class="fa fa-chevron-right"></i>
				<span>další prodané nemovitosti</span>
			</a>
		</p>
	</div>
</div>
<div id="blog" class="homepage-section">
	<h2 class="text-center">
		Blog<br/><small>aktuální články</small>
	</h2>
	<div class="container" n:if="$articlesCollection->count()">
		
		{include APP_DIR."/FrontModule/templates/Blog/list.latte", forcedImage => false, truncateTitle => 38}

		<p class="text-center">
			<a n:href="Blog:default offset => 3" class="btn btn-lg">
				<i class="fa fa-chevron-right"></i>
				<span>starší příspěvky</span>
			</a>
		</p>
	</div>
	<div class="container empty" n:if="!$articlesCollection->count()">
		<p class="empty text-center lead">1. článek na blogu již brzy</p>
	</div>

	<div class="chevron-up-overlay"></div>
</div>

<div id="advices" class="homepage-section">
	<h2 class="text-center">
		Realitní poradna<br/><small>užitečné rady ze světa realit</small>
	</h2>
	<div class="container">
		{include APP_DIR."/FrontModule/templates/Advices/questionForm.latte"}
	</div>
	<div class="container" n:if="$advicesCollection->count()">
		
		{include APP_DIR."/FrontModule/templates/Advices/list.latte", forcedImage => false, truncateTitle => 38, articlesCollection => $advicesCollection}

		<p class="text-center">
			<a n:href="Advices:default offset => 3" class="btn btn-lg">
				<i class="fa fa-chevron-right"></i>
				<span>další rady</span>
			</a>
		</p>
	</div>
	<div class="container empty" n:if="!$advicesCollection->count()">
		<p class="empty text-center lead">První realitní rady již brzy</p>
	</div>

	<div class="chevron-up-overlay"></div>
</div>