{block navbarTitle}
<i class="fa fa-home"></i>
<span n:block="title">{_'Vítejte'}</span>
<small>{_'v administrační aplikaci'}</small>
{/block}

{block content}

<div class="container">
	
	{include CP_DIR."/Notifications/templates/list.latte"}

	{*<h2>Přehledy</h2>*}

	<div class="row">
		<div class="{if $user->isInRole('admin') || $user->isInRole('superAdmin')}col-sm-4{else}col-sm-12{/if}">
			<h2><i class="fa fa-home"></i> {_'Zakázky'}</h2>

			{include "../../../templates/components/informationRow.latte", label => "Celkový počet zakázek", value => $estatesCount["sum"]}

			{include "../../../templates/components/informationRow.latte", label => "Zakázky v přípravě", value => $estatesCount[0]}

			{include "../../../templates/components/informationRow.latte", label => "Aktivní zakázky", value => $estatesCount[1]}

			{include "../../../templates/components/informationRow.latte", label => "Rezervace", value => $estatesCount[2] + $estatesCount[3]}

			{include "../../../templates/components/informationRow.latte", label => "Prodané/pronajmuté", value => $estatesCount[4]}

			{include "../../../templates/components/informationRow.latte", label => "Nezískané zakázky", value => $estatesCount[5]}
		</div>
		<div n:if="$user->isInRole('admin') || $user->isInRole('superAdmin')" class="col-sm-4">
			<h2><i class="fa fa-comments-o"></i> {_'Poptávky'}</h2>

			{include "../../../templates/components/informationRow.latte", label => "Celkový počet poptávek", value => $demandsCount["sum"]}

			{include "../../../templates/components/informationRow.latte", label => "Nové poptávky", value => $demandsCount[0]}

			{include "../../../templates/components/informationRow.latte", label => "Přidělené poptávky", value => $demandsCount[1]}

			{include "../../../templates/components/informationRow.latte", label => "Vyřízené poptávky", value => $demandsCount[2]}
		</div>
		<div n:if="$user->isInRole('admin') || $user->isInRole('superAdmin')" class="col-sm-4">
			<h2><i class="fa fa-users"></i> {_'Makléři'}</h2>

			{include "../../../templates/components/informationRow.latte", label => "Počet makléřů", value => $brokersCount}

			{include "../../../templates/components/informationRow.latte", label => "Nejvíce zakázek", value => $brokersStats["most_adverts"]}

			{include "../../../templates/components/informationRow.latte", label => "Nejvíce prodaných zakázek", value => $brokersStats["most_sales"]}
		</div>
	</div>

	<div n:if="$user->isAllowed('Admin:Dashboard', 'googleAnalytics')">
		{include CP_DIR."/Google/AdminModule/templates/default/sessions.latte"}
	</div>
	
</div>