<div id="menu">
	<span class="button{ifCurrent Domains:*} active{/ifCurrent}">
		<a n:href="Domains:default" title="{_'Správa klientů'}">
			<i class="fa fa-home"></i>
			<span>{_'Klienti'}</span>
		</a>
	</span>
	<span class="button{ifCurrent Users:*} active{/ifCurrent}">
		<a n:href="Users:default" title="{_'Správa uživatelských účtů'}">
			<i class="fa fa-users"></i>
			<span>{_'Uživatelé'}</span>
		</a>
	</span>
</div>