{block navbarTitle}
<i class="fa fa-th"></i>
<span n:block="title">{_'Nabídka'}</span>
<small>{_'všech funkcí'}</small>
{/block}

{block content}

<div class="container">
	{include "buttons.latte"}
</div>