{form projectForm "data-enter-submit" => "frm-projectForm-save"}

	{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}

	<div role="tabpanel">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#common" data-toggle="tab" title="{_'Nastavení základní informací o projektu'}">
					<i class="fa fa-info"></i> {_'Základní informace'}
				</a>
			</li>
			<li>
				<a href="#images" data-toggle="tab" title="{_'Fotografie, vizualizace, dispozice'}">
					<i class="fa fa-image"></i> {_'Fotogalerie'}
				</a>
			</li>
			<li>
				<a href="#users" data-toggle="tab" title="{_'Přiřazení makléřů'}">
					<i class="fa fa-users"></i> {_'Makléři'}
				</a>
			</li>
		</ul>

		<div class="tab-content">

			<div class="tab-pane active" id="common">
				{include "projectForm/common.latte", _form => $_form}
			</div>

			<div class="tab-pane" id="images">
				{include "projectForm/images.latte", _form => $_form}
			</div>

			<div class="tab-pane" id="users">
				{snippetArea usersSnippetArea}
					{include "projectForm/users.latte", _form => $presenter[projectForm]}
				{/snippetArea}
			</div>
		</div>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit projekt'}</span>
		</button>

		<a n:if="$projectEntity->getId()" n:href="Remove! $projectEntity->getId()" title="{_'Odebrat tento projekt'}" class="btn btn-default confirm btn-lg" data-confirm-title="{_'Odebrat projekt'}" data-confirm-message="{_'Opravdu chcete tento projekt odebrat?'}">
			<i class="fa fa-trash-o"></i>
			<span>{_'Odebrat projekt'}</span>
		</a>
	</div>

{/form}