{block content}

<div class="container">
	<h1 id="logo">
		<span n:block="title">StránkyMakléře.Cz</span>
		<small>služby pro realitní makléře</small>
	</h1>
	<p class="lead">
		Ukažte svým klientům, že jste profesionál v oboru realit díky vysoké úrovni prezentace
	</p>
	<hr/>
	<p>
		Vytvořili jsme takovou prezentaci pro realitní makléře, kde klient najde vše, co potřebuje a nemusí vyhledávat informace jinde.
	</p>
	<p>
		Dostaňte se do povědomí svých klientů svou vlastní stránkou, kam si budou chodit pro informace, a nedávejte prostor, aby si vyhledali konkurenci.
	</p>

	<h2>S webovou prezentací od nás můžete</h2>
	
	<div class="row">
		<div class="col-sm-4 col-lg-2">
			<i class="fa fa-home"></i>
			<p>Ukázat všechny Vaše aktuální zakázky</p>
		</div>
		<div class="col-sm-4 col-lg-2">
			<i class="fa fa-video-camera"></i>
			<p>Nabídnout lidem prohlídku pomocí videoprezentace</p>
		</div>
		<div class="col-sm-4 col-lg-2">
			<i class="fa fa-comments-o"></i>
			<p>Nechat ověřit svou odbornost díky referencím</p>
		</div>
		<div class="col-sm-4 col-lg-2">
			<i class="fa fa-user"></i>
			<p>Nabídnout všechen servis, který pro klienty děláte</p>
		</div>
		<div class="col-sm-4 col-lg-2">
			<i class="fa fa-rss"></i>
			<p>Oslovit klienty pomocí blogu</p>
		</div>
		<div class="col-sm-4 col-lg-2">
			<i class="fa fa-facebook"></i>
			<p>Propojit svou stránku s účty na sociálních sítích</p>
		</div>
	</div>
	<p>
		Díky dlouholeté spolupráci s klienty na poli realit, ať už celé kanceláře, nebo samostatní makléři, jsme posbírali zkušenosti a vytvořili takové webové prezentace, na které klienti slyší. Vaše jméno, je značka, která si zaslouží být vidět a Vaše stránky bude místo, kam si budou chodit lidé pro informace, nebo přímo pro spolupráci.
	</p>
	<p class="lead text-center">
		Buďte vidět z větší dálky než ostatní a kde jinde to jde, než na webu…
	</p>
</div>