<!DOCTYPE html>
{htmlTag}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		{*<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">*}

		{block meta}
			{include CP_DIR."/Base/FrontModule/templates/metaTags.latte", currentSlug => $currentSlug}
		{/block}

		<title>{block title|striptags|strip}{/block} | StránkyRealitky.Cz - služby pro realitní kanceláře</title>
		{include CP_DIR."/Base/templates/favicon.latte", dir => $thisDomainEntity->getBackend()->getFaviconDir(), defaultDir => "backend/img/favicon"}

		{control css}

	</head>
	<body{ifCurrent 'Homepage:default'} class="homepage"{/ifCurrent}>
		{includeblock CP_DIR."/Base/FrontModule/templates/adminToolbar.latte"}

		{include CP_DIR."/Utils/templates/messages.latte", messages => $flashes}

		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<a id="header-logo" n:href="Homepage:default" title="StránkyRealitky.Cz - služby pro realitní kanceláře">StránkyRealitky.Cz - služby pro realitní kanceláře</a>
					</div>
					<div class="col-sm-9">
						<ul class="menu" n:inner-foreach="$presenter->getMenu('main') AS $itemEntity">
							<li>
								<a href="{$itemEntity->href}" title="{$itemEntity->item_slug->title}" class="menu-item-{$itemEntity->item_slug->id}"><span>{$itemEntity->item_slug->label}</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			{include content}
		</div>
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 col-sm-3">
						<h3>{_'Kam dál'}</h3>
						<ul class="menu" n:inner-foreach="$presenter->getMenu('main') AS $itemEntity">
							<li>
								<a href="{$itemEntity->href}" title="{$itemEntity->item_slug->title}">{$itemEntity->item_slug->label}</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-3">
						<h3>{_'Nemovitosti'}</h3>

						{include "$appTemplatesDir/../components/advertTypeMenu.latte", forced => true}
					</div>
					<div class="col-xs-12 col-sm-6">
						<h3>
							<i class="fa fa-envelope"></i> 
							{_'Napište nám'}
						</h3>
						
						{form questionForm}
							{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
			
							{include CP_DIR."/Emails/templates/form/fromName.latte", _form => $_form}
			
							{include CP_DIR."/Emails/templates/form/fromEmail.latte", _form => $_form}

							{include CP_DIR."/Emails/templates/form/body.latte", _form => $_form}

							<div class="buttonpane">
								<button n:name="send" class="btn btn-primary">
									<i class="fa fa-check"></i>
									<span>{_'Odeslat'}</span>
								</button>
							</div>
						{/form}

					</div>
				</div>
			</div>
			<div id="author">
				<div class="container">
					<p>
						<a href="http://www.strankyrealitky.cz" title="StránkyRealitky.Cz - Software a služby pro moderní realitní kanceláře">Software a služby pro moderní realitní kanceláře <strong>StránkyRealitky.Cz</strong>.</a>
					</p>
				</div>
			</div>
		</div>
		{include CP_DIR."/Base/templates/javascript.latte"}
	</body>
</html>