{block title}{$pageEntity->getTitle()}{/block}

{block adminToolbarButtons}
	{include CP_DIR."/Pages/FrontModule/templates/adminToolbarButtons.latte"}
{/block}

{block content}

<div class="container">

	{centeredTitle "h1", title => $pageEntity->getTitle()}
	
	{pageBlock key => "main", title => "Obsah k fotoprezentacím", placeholder => "Uveďte obsah k fotoprezentacím"}

	{pageGallery key => "images", title => "Fotografie", cols => 3}

	<br class="cleaner">
	{pageBlock key => "video", title => "Obsah k videoprezentacím", placeholder => "Uveďte obsah k videoprezentacím"}

</div>