{form userForm class=>"confirm-leave"}

	{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}

	<div class="row">
		<div class="col-sm-8">
			{input id}

			<div class="form-group">
				<label n:name="name" class="control-label"><span class="required">*</span> {_"Jméno"}</label>
				<input n:name="name" class="form-control input-lg" type="text" placeholder="{_'Uveďte jméno a příjmení'}" />
			</div>

			<div class="form-group">
				<label n:name="email" class="control-label"><span class="required">*</span> {_"Email"}</label>
				<input n:name="email" class="form-control" type="email" placeholder="{_'Uveďte emailovou adresu'}" />
			</div>

			<div class="form-group">
				<label n:name="phone" class="control-label"><span class="required">*</span> {_"Telefon"}</label>
				<input n:name="phone" class="form-control" placeholder="{_'Uveďte telefonní číslo'}" />
			</div>

			{include CP_DIR."/User/templates/forms/userForm/userFormRole.latte", _form => $_form}

			{include CP_DIR."/User/templates/forms/userForm/userFormLocale.latte", _form => $form}
		</div>
		<div class="col-sm-4">

			{include CP_DIR."/User/templates/forms/userForm/userFormAvatar.latte", _form => $_form}

		</div>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg" type="submit">
			<i class="fa fa-check"></i>
			<span>
				{if $userEntity->getId()}
					{_"Uložit účet"}
				{else}
					{_"Vytvořit účet"}
				{/if}
			</span>
		</button>

		{if $userEntity->getId()}
			<a n:href="Remove!" class="btn btn-default btn-lg remove" data-confirm-title="{_'Odebrat účet'}" data-confirm-message="{_'Opravdu chcete uživatelský účet odebrat?'}">
				<i class="fa fa-trash-o"></i>
				<span>{_'Odebrat účet'}</span>
			</a>
		{/if}
	</div>

{/form}