{block adminToolbarButtons}
	{include CP_DIR."/Reviews/FrontModule/templates/adminToolbarButtons.latte"}
{/block}

{block content}

<div class="container list reviews">
	<h1 n:block="title">{_'Reference'}</h1>

	{include CP_DIR."/Reviews/FrontModule/templates/list.latte", reviewsCollection => $reviewsCollection}
	
</div>