<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />

      <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"-->

			<style>
body{
margin: 0;
padding: 2em;
font-family: Verdana,Arial,sans-serif;
font-size: 9pt;
color: #5A5A5A;
background: #ffffff;
text-align: left;
}

h1,
h2,
h3{
font-weight: normal;
letter-spacing: -0.05em;
margin-top: 1em;
margin-bottom: 0.3em;
}

h1, h2, h3, a{
color: #2075BC;
}

small{
color: #999;
font-size: 0.6em;
display: block;
}

.text-center{
  text-align: center;
}

table{
width: 100%;
border-spacing: 0;
margin: 0;
padding: 0;
}

table td{
padding: 0;
vertical-align: top;
}

table.list{
margin-bottom: 1em;
}

table.list th{
border-bottom: 2px solid #ddd;
}

table.list td{
padding: 0.3em 0;
vertical-align: middle;
border-bottom: 1px solid #ddd;
}

table.list td span{
font-size: 0.9em;
}

table.list th.image,
table.list td.image{
width: 10%;
padding-right: 1%;
}

table.list td.image img{
width: 100%;
height: auto;
border-radius: 3px;
padding: 0;
border: none;
}

table.list th.title,
table.list td.title{
text-align: left;
}

table.list th.amount,
table.list td.amount{
text-align: center;
}

table.list th.price,
table.list td.price{
text-align: right;
white-space: nowrap;
}

table.list tr.sum td{
border-top: 1px solid #ddd;
font-size: 1.1em;
}

table.list tr.charge td{
font-size: 1.2em;
border-bottom: none;
}

#footer {
border-top: 1px solid #ddd;
}

.suplier{
  float: left;
  width: 48%;
/*width: 50%;*/
}

.reciever{
  width: 48%;
  float: right;
/*width: 50%;
padding-left: 2%;*/
}

.order,
.bank{
  clear: both;
  width: 48%;
  float: left;
}

.order table td{
border-bottom: 1px solid #ddd;
padding: 0.8em;
}

.order table tr.last-child td{
border-bottom: none;
}

.order table td.last-child{
text-align: right;
}

.delivery_address,
.invoice{
width: 48%;
float: right;
}

.delivery_address .address{
margin: 0;
display: block;
padding: 0.8em;
font-size: 1.2em;
line-height: 1.8em;
height: 8.2em;
}

.order_note{
display: block;
margin-bottom: 1.6em;
}

.order_note p{
padding: 0.8em;
}

div.items{
  clear: both;
}

.rounded-border{
border: 1px solid #ddd;
border-radius: 3px;
}

.row{
	position:relative;
	overflow: hidden;
	margin-left: -2mm;
	margin-right: -2mm;
}

.row .col{
	float: left;
}

.row .col .col-body{
	margin: 0 2mm;
}

.col-12{
	width: 100%;
	float: none;
}

.col-11{
	width: 91.66666666%;
}

.col-10{
	width: 83.33333333%;
}

.col-9{
	width: 75%;
}

.col-8{
	width: 66.66666666%;
}

.col-7{
	width: 58.33333333%;
}

.col-6{
	width: 50%;
}

.col-5{
	width: 41.66666666%;
}

.col-4{
	width: 33.33333333%;
}

.col-3{
	width: 25%;
}

.col-2{
	width: 16.66666666%;
}

.col-1{
	width: 8.333333333%;
}

.lead{
	font-size: 1.3em;
}

.image{
	border: 1px solid #dddddd;
	padding: 1px;
}

.image-container{
	background-size: cover;
}

.ratio-1-7{
	padding-bottom: 53%;
}

.ratio-1{
	padding-bottom: 100%;
}

.table-label-value td{
 border-bottom: 1px solid #dddddd;
 padding-top: 2mm;
}

.td-label{
	text-align:left;
}

.td-value{
	text-align: right;
	font-weight: bold;
}


/******* Estates *****/

div.estate-price{
	background-color: #2075BC;
	color: white;
	padding: 5%;
	text-align: right;
}

div.estate-price .price{
	font-size: 2em;
	margin: 0;
}

div.estate-price .price strong{
	font-weight: normal;
}

div.estate-price .properties{
	font-size: 0.9em;
	margin: 0;
}

div.estate-price .note{
	margin: 0;
}

div.user-card{
	margin-bottom: 2em;
}

#logo{
	width: 100%;
}

.header-contact{
	text-align: right;
}


			</style>
		</head>
	<body>
		<div id="header">
			<div class="row">
				<div class="col col-6 header-logo">
					<div class="col-body">
						<img src="{$basePath}/theme/demo-strankyrealitky-cz/img/strankyrealitky-logotype.png" />
					</div>
				</div>
				<div class="col col-6 header-contact">
					<div class="col-body">
						<strong>StránkyRealitky.Cz</strong><br/>
						<a href="mailto: info@strankyrealitky.cz" title="{_'Napište nám'}">info@strankyrealitky.cz</a><br/>
						<span>{_'tel'}.: +420 725 814 440</span><br/>
						<a href="http://www.strankyrealitky.cz" title="{_'Navštivte naše stránky'}">www.strankyrealitky.cz</a>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			{include content}
		</div>
    	<div id="footer">
			<div class="container">
				<p class="text-center">
				  <strong>StránkyRealitky.Cz</strong>, <a href="mailto: info@strankyrealitky.cz" title="{_'Napište nám'}">info@strankyrealitky.cz</a><span>, {_'tel'}.: +420 725 814 440</span>
				</p>
			</div>
		</div>
	</body>
</html>