{layout "@layout.latte"}

{block content}
<div class="detail estates">
	<div class="title">
		<div class="container">
			<h1 n:block="title">{$estateEntity->estate_title}</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col col-6">
				<div class="col-body">
					<div class="row images">
						<div class="col {first}col-12{else}col-4{/first}" n:foreach="$estateEntity->estate_images->getAll() AS $image">
							{if $iterator->getCounter() > 4}{? break;}{/if}
							<div class="col-body">
								<div class="image">
									<div class="image-container ratio-1-7" style="background-image: url({! $image->getSrc()});"></div>
								</div>
							</div>
						</div>
					</div>

					{var $sentences = array_filter(explode(". ", $estateEntity->estate_description))}
					{var $leadSentencesCount = ceil(count($sentences) * 0.3)}

					<div n:if="count($sentences)">
						<p n:if="$leadSentencesCount" class="lead">
							{for $i = 0;$i < $leadSentencesCount;$i++}
								{$sentences[$i]}.
								{? unset($sentences[$i])}
							{/for}
						</p>
						<p>
							{implode(". ", $sentences)}
						</p>
					</div>

					<h2>
						<i class="fa fa-map-marker"></i>
						{$estateEntity->getPublicAddress()}
					</h2>

					<div class="image">
						<div class="image-container ratio-1-7" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center={$estateEntity->getPublicAddress()}&zoom=15&size=400x300&markers=color:blue%7C{$estateEntity->getPublicAddress()})">
						</div>
					</div>

					<table class="table-label-value">
						<tbody>
							<tr>
								<td class="td-label">{_'Umístění'}</td>
								<td class="td-value">{$estatesParameters[object_location][options][$estateEntity->object_location]}</td>
							</tr>
							<tr>
								<td class="td-label">{_'Okolní zástavba'}</td>
								<td class="td-value">{$estatesParameters[surroundings_type][options][$estateEntity->surroundings_type]}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col col-6">
				<div class="col-body">
					{include APP_DIR."/FrontModule/templates/components/priceBlock.latte", estateEntity => $estateEntity}

					{include APP_DIR."/FrontModule/templates/Estates/detail/information.latte", estateEntity => $estateEntity}

					<h2>Makléř této nemovitosti</h2>

					<div class="row user-card">
						<div n:if="$estateEntity->estate_user->getAvatar()->exists()" class="col col-4">
							<div class="col-body">
								<div class="image">
									<div class="image-container ratio-1" style="background-image: url({! $basePath}/{! $estateEntity->estate_user->getAvatar()->getSrc()})"></div>
								</div>
							</div>
						</div>
						<div class="col col-8">
							<div class="col-body">
								<h3>{$estateEntity->estate_user->getName()}</h3>
								<p>
									<i class="fa fa-phone"></i>
									{$estateEntity->estate_user->getPhone()}
								<br/>
									<i class="fa fa-envelope"></i>
									<a href="mailto:{$estateEntity->estate_user->getEmail()}" title="{_'Napsat makléři'}">{$estateEntity->estate_user->getEmail()}</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
