<!DOCTYPE html>
{htmlTag}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="designer" content="Software a služby pro moderní realitní kanceláře | www.strankyrealitky.cz">

		<meta property="og:image" content="http://www.tomas-novak.cz/theme/www-tomas-novak-cz/img/og.jpg" />
		
		{block meta}
			{include CP_DIR."/Base/FrontModule/templates/metaTags.latte", currentSlug => $currentSlug}
		{/block}

		<title>{block title|striptags|strip}{/block} | Tomáš Novák - naskočte na vlnu bezstarostného prodeje nemovitosti</title>
		{include CP_DIR."/Base/templates/favicon.latte", dir => $thisDomainEntity->getBackend()->getFaviconDir(), defaultDir => "backend/img/favicon"}

		{control css}

	</head>
	<body{ifCurrent 'Homepage:default'} id="homepage"{/ifCurrent}>
		{includeblock CP_DIR."/Base/FrontModule/templates/adminToolbar.latte"}
		<div id="messages" n:if="count($flashes)">
			{include CP_DIR."/Utils/templates/messages.latte", messages => $flashes}
		</div>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<nav id="mainmenu">
							<a data-target="#intro" n:href="Homepage:default#intro" title="Úvod"><i class="fa fa-user"></i> <span>Úvod</span></a>
							<a data-target="#portfolio" n:href="Homepage:default#portfolio" title="Služby"><i class="fa fa-check"></i> <span>Služby</span></a>
							<a data-target="#estates" n:href="Homepage:default#estates" title="Nemovitosti"><i class="fa fa-home"></i> <span>Nemovitosti</span></a>
							<a data-target="#reviews" n:href="Homepage:default#reviews" title="Reference"><i class="fa fa-comments-o"></i> <span>Reference</span></a>
							<a data-target="#blog" n:href="Homepage:default#blog" title="Blog"><i class="fa fa-rss"></i> <span>Blog</span></a>
							<a data-target="#contact" n:href="Homepage:default#contact" title="Kontakt"><i class="fa fa-phone"></i> <span>Kontakt</span></a>
							<a href="https://www.facebook.com/tomasosobnimakler/" title="Tomá Novák na facebooku"><i class="fa fa-facebook"></i> <span>facebook</span></a>
							<a data-target="#advices" n:href="Homepage:default#advices" title="Realitní poradna" id="advices-trigger"><i class="fa fa-help"></i> <span>Poradna</span></a>
							
						</nav>
					</div>
				</div>
			</div>
		</header>
		<div id="content">
			{include content}
		</div>
		<div id="contact" class="homepage-section">
			<div class="container">
				<div class="row">
					<div class="col-xxs-12 col-xs-6 col-sm-5">
						<img src="{$thisDomainEntity->getBasePath()}/img/tomas-novak.png" alt="Tomáš Novák" id="portrait" />
					</div>
					<div class="col-xxs-12 col-xs-6 col-sm-7">
						<h2>Jak tyto profesionální služby využívat?</h2>
						<p>Kontaktujte mě prosím na níže uvedených údajích a domluvme se na osobním setkání.</p>
						<h3>Tomáš Novák</h3>
						<p class="lead">
							<i class="fa fa-fw fa-phone"></i> {$thisDomainEntity->getPhone()|phone}
						</p>
						<p class="lead email">
							<a href="mailto: {$thisDomainEntity->getEmail()|encryptemail}" title="Napište mi">
								<i class="fa fa-fw fa-envelope"></i> {$thisDomainEntity->getEmail()|encryptemail}
							</a>
						</p>
						<p class="lead socials">
							<a href="https://www.facebook.com/tomasosobnimakler/" title="Tomáš Novák na facebooku">
								<i class="fa fa-fw fa-facebook"></i>
							</a>
						</p>
					</div>
				</div>
				<p id="author">
					<a href="http://www.strankyrealitky.cz" title="StránkyRealitky.Cz - Software a služby pro moderní realitní kanceláře">Moderní realitní software na míru od <strong>StránkyRealitky.Cz</strong>.</a>
				</p>
			</div>
		</div>
		{*<form action="https://app.smartemailing.cz/public/web-forms/subscribe/7002-l4k6r03dafez1g1ltbppggjlr3urmsdxdleh3qc237u1fy1259hukuj6q9pif9dfn44dh38oe26k8iqmtzcbusqljibka7i2ubyl?html=1" method="post" id="se-webform-500001689" class="se-webform se-init-target nette-manual-validation" target="_blank">
			<h3>
				Chcete získávat nejnovější novinky<br/>
				z realitního trhu?
			</h3>
			<div class="form-group">
				<label for="frm-webFormRenderer-webForm-df_emailaddress" class="control-label">Emailová adresa</label>
				<input class="form-control" type="text" name="df_emailaddress" id="frm-webFormRenderer-webForm-df_emailaddress" required data-nette-rules='[{"op":":filled","msg":"Emailová adresa je povinné pole"},{"op":":email","msg":"Emailová adresa je povinné pole"}]'>
			</div>
			<div class="form-group">
				<label for="frm-webFormRenderer-webForm-df_name" class="control-label">Jméno</label>
				<input type="text" name="df_name" id="frm-webFormRenderer-webForm-df_name" class="form-control">
			</div>
			<div class="form-group">
				<label for="frm-webFormRenderer-webForm-df_surname" class="control-label">Příjmení</label>
				<input type="text" name="df_surname" id="frm-webFormRenderer-webForm-df_surname" class="form-control">
			</div>
			
			<input type="hidden" name="referrer" id="se-ref-field-id" value="">
			<input type="hidden" name="sessionid" id="se-sessionid-field" value="">
			<input type="hidden" name="do" value="webFormRenderer-webForm-submit">
			
			<div class="buttonpane">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-check"></i>
					<span>Odebírat novinky</span>
				</button>
			</div>
		</form>

			<div class="se-webform-sent-info">
				<h3>Formulář byl odeslán, děkujeme.</h3>
			</div>*}

			<!-- Button trigger modal -->
			<a id="smart-emailing-trigger" class="btn btn-primary btn-lg btn-ico" data-toggle="modal" data-target="#smart-emailing-modal">
				<i class="fa fa-envelope"></i>
				<span>Odebírat novinky</span>
			</a>

<!-- Modal -->
			<div class="modal fade" id="smart-emailing-modal" tabindex="-1" role="dialog" aria-labelledby="">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Chcete získávat nejnovější novinky z realitního trhu?</h4>
      					</div>
						<div class="modal-body">
							{include $thisDomainEntity->getDir() . "/FrontModule/templates/components/smartEmailingForm.latte"}
						</div>
						{*<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>*}
					</div>
				</div>
			</div>
		</div>
		{include CP_DIR."/Base/templates/javascript.latte"}
	</body>
</html>