{form estateForm "class" => "confirm-leave prevent-dblclick", "data-enter-submit" => "frm-estateForm-save"}
	
	{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}

	<div role="tabpanel">
		<ul class="nav nav-tabs nav-justified nav-sm-span-hidden">
			<li class="active">
				<a href="#common" data-toggle="tab" title="{_'Nastavení základní informací o nemovitosti'}">
					<i class="fa fa-info"></i> <span>{_'Obecné'}</span>
				</a>
			</li>
			<li>
				<a href="#images" data-toggle="tab" title="{_'Správa obrázků nemovitosti'}">
					<i class="fa fa-image"></i> <span>{_'Obrázky'}</span>
				</a>
			</li>
			<li>
				<a href="#locality" data-toggle="tab" title="{_'Definice lokality nemovitosti'}">
					<i class="fa fa-map-marker"></i> <span>{_'Lokalita'}</span>
				</a>
			</li>
			<li>
				<a href="#prices" data-toggle="tab" title="{_'Zadání informací o ceně'}">
					<i class="fa fa-money"></i> <span>{_'Cena'}</span>
				</a>
			</li>
			<li>
				<a href="#area" data-toggle="tab" title="{_'Nastavení ploch a rozměrů nemovitosti'}">
					<i class="fa fa-crop"></i> <span>{_'Plochy'}</span>
				</a>
			</li>
			<li class="group-building">
				<a href="#building" data-toggle="tab" title="{_'Informace o budově'}">
					<i class="fa fa-building"></i> <span>{_'Budova'}</span>
				</a>
			</li>
			<li>
				<a href="#properties" data-toggle="tab" title="{_'Definice vybavení nemovitosti'}">
					<i class="fa fa-cubes"></i> <span>{_'Vybavení'}</span>
				</a>
			</li>
			<li>
				<a href="#dates" data-toggle="tab" title="{_'Zadání termínů'}">
					<i class="fa fa-clock-o"></i> <span>{_'Termíny'}</span>
				</a>
			</li>
			<li>
				<a href="#contract" data-toggle="tab" title="{_'Informace o zakázkce (pro interní použití)'}">
					<i class="fa fa-folder-o"></i> <span>{_'Zakázka'}</span>
				</a>
			</li>
			<li>
				<a href="#case" data-toggle="tab" title="{_'Informace a průběh případu'}">
					<i class="fa fa-mortar-board"></i> <span>{_'Případ'}</span>
				</a>
			</li>

			<li n:if="$presenter->thisDomainEntity->isComponentAllowed('Export', $user)">
				<a href="#export" data-toggle="tab" title="{_'Export na realitní servery'}">
					<i class="fa fa-exchange"></i> <span>{_'Export'}</span>
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="common">
				{include "estateForm/common.latte" _form => $_form}
			</div>
			<div class="tab-pane" id="images">
				{include "estateForm/images.latte" _form => $_form}
			</div>
			<div class="tab-pane" id="locality">
				{include "estateForm/locality.latte" _form => $_form}
			</div>
			<div class="tab-pane" id="prices">
				{include "estateForm/prices.latte" _form => $_form}

				<div class="group group-auction">
					{include "estateForm/auction.latte" _form => $_form}
				</div>
			</div>
			<div class="tab-pane" id="area">
				{include "estateForm/area.latte" _form => $_form}
			</div>
			<div class="tab-pane" id="building">
				{include "estateForm/building.latte" _form => $_form}
			</div>
			<div class="tab-pane" id="properties">
				{include "estateForm/properties.latte" _form => $_form}
			</div>
			<div class="tab-pane" id="dates">
				{include "estateForm/dates.latte" _form => $_form}
			</div>
			<div class="tab-pane" id="contract">
				{include "estateForm/contractCommon.latte" _form => $_form}

				<div class="row">
					<div class="col-sm-6">
						<h3>{_'Zprostředkovatelská smlouva'}</h3>
						{include "estateForm/contract.latte" _form => $_form}
					</div>
					<div class="col-sm-6">
						{include "estateForm/internal.latte" _form => $_form}
					</div>
				</div>

				{include "estateForm/kn.latte" _form => $_form}
			</div>
			<div class="tab-pane" id="case">
				<div class="collapsible">
					<h2 class="collapsible-trigger">{_'Rezervace'}</h2>

					<div class="collapsible-content">
						{include "estateForm/reservation.latte" _form => $_form}
					</div>
				</div>

				<div class="collapsible">
					<h2 class="collapsible-trigger">Informace o kupujícím / nájemci</h2>
					<div class="collapsible-content">
						{include "estateForm/case.latte" _form => $_form}
					</div>
				</div>
			</div>
			<div class="tab-pane" id="export">
				<div class="collapsible-content">
					{include "estateForm/export.latte" _form => $_form}
				</div>
			</div>
		</div>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			{if $estateEntity->getId()}
				<span>{_'Uložit nemovitost'}</span>
			{else}
				<span>{_'Vytvořit zakázku'}</span>
			{/if}
		</button>

		<a n:if="$estateEntity->getId()" n:href="Remove! $estateEntity->getId()" class="btn btn-default btn-lg remove" data-confirm-title="{_'Odebrat nemovitost'}" data-confirm-message="{_'Opravdu chcete nemovitost odebrat?'}">
			<i class="fa fa-trash-o"></i>
			<span>{_'Odebrat'}</span>
		</a>
	</div>
{/form}
