<!DOCTYPE html>
{htmlTag}
	<head>
		<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
			<meta name="designer" content="Software a služby pro moderní realitní kanceláře | www.strankyrealitky.cz">
			<meta name="google-site-verification" content="XTwkpeu-sgEDSabM66n4WLQnWbahxcTaSwqOPJzSOU0" />

			{block meta}
				{include CP_DIR."/Base/FrontModule/templates/metaTags.latte", currentSlug => $currentSlug}
			{/block}

			<title>{block title|striptags}{/block} | BELARTIS - Reality nás baví</title>

			{include CP_DIR."/Base/templates/favicon.latte", dir => $thisDomainEntity->getBackend()->getFaviconDir(), defaultDir => "backend/img/favicon"}

			{control css}

		</head>
	<body>
		{includeblock CP_DIR."/Base/FrontModule/templates/adminToolbar.latte"}

		{include CP_DIR."/Utils/templates/messages.latte", messages => $flashes}

		{if $thisDomainEntity->getExpire() !== null && strtotime($thisDomainEntity->getExpire()) < time()}

			<div class="container text-center">
				<h1>Stránka není aktivní</h1>
				<p>
					<a href="http://www.strankyrealitky.cz" title="StránkyRealitky.Cz - Software a služby pro moderní realitní kanceláře">Software a služby pro moderní realitní kanceláře <strong>StránkyRealitky.Cz</strong>.</a>
				</p>
			</div>

		{else}

			<div id="header">
				<div class="container">
					<div class="row">
						<div class="col-sm-2 col-md-3">
							<a id="header-logo" href="{$basePath}/" title="BELARTIS - Reality nás baví">BELARTIS - Reality nás baví</a>
						</div>
						<div class="col-sm-10 col-md-9">
							<ul class="menu" n:inner-foreach="$presenter->getMenu('main') AS $itemEntity">
								<li>
									<a href="{$itemEntity->href}" title="{$itemEntity->item_slug->title}" class="menu-item-{$itemEntity->item_slug->id}"><span>{$itemEntity->item_slug->label}</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="intro">
				{block navbar}
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-6 col-lg-4 col-lg-offset-8">
								{form searchForm}

									{control searchForm errors}

									<div class="form-group">
										<label class="control-label" n:name="advert_type">Hledám</label>
										<select class="form-control" n:name="advert_type"></select>
									</div>
									<div class="form-group">
										<label class="control-label" n:name="advert_subtype">Dispozice</label>
										<select class="form-control" n:name="advert_subtype"></select>
									</div>
									<div class="form-group">
										<label class="control-label" n:name="locality">Lokalita</label>
										<input class="form-control" n:name="locality" placeholder="Zadejte požadovanou lokalitu" />
									</div>
									<div class="row">
										<div class="col-xs-6">
											{formContainer area}
												<div class="form-group">
													<label class="control-label" n:name="from">Plocha od [m<sup>2</sup>]</label>
													<input class="form-control" n:name="from" placeholder="Zadejte plochu od" type="number" />
												</div>
											{/formContainer}
										</div>
										<div class="col-xs-6">
											{formContainer price}
												<div class="form-group">
													<label class="control-label" n:name="to">Cena do [Kč]</label>
													<input class="form-control" n:name="to" placeholder="Zadejte cenu do" type="number" />
												</div>
											{/formContainer}
										</div>
									</div>
									<div class="buttonpane">
										<button class="btn btn-primary btn-lg" n:name="search">
											<i class="fa fa-search"></i>
											<span>Najít nemovitosti</span>
										</button>
									</div>
								{/form}
							</div>
						</div>
					</div>
				{/block}
			</div>
			<div id="content">
				{include content}
			</div>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<h3>Kam dál</h3>
							<ul class="menu" n:inner-foreach="$presenter->getMenu('main') AS $itemEntity">
								<li>
									<a href="{$itemEntity->href}" title="{$itemEntity->item_slug->title}" class="menu-item-{$itemEntity->item_slug->id}"><span>{$itemEntity->item_slug->label}</span></a>
								</li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h3>Nemovitosti</h3>

							{include "$appTemplatesDir/../components/advertTypeMenu.latte"}
						</div>
						<div class="col-sm-6">
							<h3><i class="fa fa-envelope"></i> Napište nám</h3>

							{form questionForm}
								{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
				
								{include CP_DIR."/Emails/templates/form/fromName.latte", _form => $_form}
				
								{include CP_DIR."/Emails/templates/form/fromEmail.latte", _form => $_form}

								{include CP_DIR."/Emails/templates/form/body.latte", _form => $_form}

								<div class="buttonpane">
									<button n:name="send" class="btn btn-primary">
										<i class="fa fa-check"></i>
										<span>{_'Odeslat'}</span>
									</button>
								</div>
							{/form}

						</div>
					</div>
				</div>
			</div>
			<div id="author">
				<div class="container">
					<p>
						Copyright 2015 <strong>BELARTIS s.r.o.</strong> 
						<a href="http://www.strankyrealitky.cz" title="StránkyRealitky.Cz - Software a služby pro moderní realitní kanceláře">Software a služby pro moderní realitní kanceláře <strong>StránkyRealitky.Cz</strong>.</a>
					</p>
				</div>
			</div>
		{/if}
		{include CP_DIR."/Base/templates/javascript.latte"}
	</body>
</html>