<div class="form-group">
	<label class="control-label" for="estate_area"><span class="required">*</span> {_'Pozemku'}</label>
	<div class="input-group">
		<input class="form-control input-lg" n:name="estate_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="usable_area" title="Užitná (plocha m2)"><span class="required">*</span> {_'Užitná'}</label>
	<div class="input-group">
		<input rel="required" class="form-control input-lg" n:name="usable_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="building_area">{_'Zastavěná'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="building_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="floor_area">{_'Podlahová'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="floor_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="garden_area">{_'Zahrady'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="garden_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="offices_area">{_'Kanceláří'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="offices_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="usable_area_ground">{_'Užitná v přízemí'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="usable_area_ground" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="nolive_total_area">{_'Nebytových prostor'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="nolive_total_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="production_area">{_'Výrobní'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="production_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="shop_area">{_'Obchodní'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="shop_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="store_area">{_'Skladovací'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="store_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="workshop_area">{_'Plocha dílen'}</label>
	<div class="input-group ">
		<input class="form-control" n:name="workshop_area" type="text">
		<span class="input-group-addon">m<sup>2</sup></span>
	</div>
</div>

<div class="form-group ">
	<label class="control-label " for="balcony">{_'Balkón'}</label>
	<div class="input-group ">
		<span class="input-group-addon">
			<input name="balcony" value="0" type="hidden">
			<input n:name="balcony" value="1" rel="balcony_area" type="checkbox">
		</span>
		<input class="form-control" n:name="balcony_area" type="number">
		<span class="input-group-addon">
			m²
		</span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="loggia">{_'Lodžie'}</label>
	<div class="input-group ">
		<span class="input-group-addon">
			<input name="loggia" value="0" type="hidden">
			<input n:name="loggia" value="1" type="checkbox">
		</span>
		<input class="form-control" n:name="loggia_area" type="number">
		<span class="input-group-addon">
			m²
		</span>
	</div>
</div>
<div class="form-group ">
	<label class="control-label " for="terrace">{_'Terasa'}</label>
	<div class="input-group ">
		<span class="input-group-addon">
			<input name="terrace" value="0" type="hidden">
			<input n:name="terrace" value="1" type="checkbox">
		</span>
		<input class="form-control" n:name="terrace_area" type="number">
		<span class="input-group-addon">
			m²
		</span>
	</div>
</div>

<div class="form-group ">
	<label class="control-label " for="cellar">{_'Sklep'}</label>
	<div class="input-group ">
		<span class="input-group-addon">
			<input name="cellar" value="0" type="hidden">
			<input n:name="cellar" value="1" type="checkbox">
		</span>
		<input class="form-control" n:name="cellar_area" type="number">
		<span class="input-group-addon">
			m²
		</span>
	</div>
</div>

<div class="form-group ">
	<label class="control-label " for="basin">{_'Bazén'}</label>
	<div class="input-group ">
		<span class="input-group-addon">
			<input name="basin" value="0" type="hidden">
			<input n:name="basin" value="1" type="checkbox">
		</span>
		<input class="form-control" n:name="basin_area" type="number">
		<span class="input-group-addon">
			m²
		</span>
	</div>
</div>