<h3>Informace o dražbě</h3>

<div class="form-group">
	<label class="control-label" for="auction_kind"><span class="required">*</span> {_'Druh dražby'}</label>
	<select class="form-control" n:name="auction_kind" rel="required"></select>
</div>
{include CP_DIR."/Forms/templates/addressInput.latte", _form => $_form, name => "auction_place", labelAddress => "Místo konání dražby"}
<div class="form-group">
	<label class="control-label" for="auction_date"><span class="required">*</span> {_'Datum konání dražby'}</label>
	<input class="form-control date" n:name="auction_date" rel="required" type="text">
</div>
<div class="row">
	<div class="col-xs-6">
		<div class="form-group">
			<label class="control-label" for="auction_date_tour"><span class="required">*</span> {_'Termín 1. prohlídky'}</label>
			<input class="form-control date" n:name="auction_date_tour" rel="required" type="text">
		</div>
	</div>
	<div class="col-xs-6">
		<div class="form-group">
			<label class="control-label" for="auction_date_tour2"><span class="required">*</span> {_'Termín 2. prohlídky'}</label>
			<input class="form-control date" n:name="auction_date_tour2" type="text">
		</div>
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="price_auction_principal"><span class="required">*</span> {_'Aukční jistina'} <small>({_'měna dle ceny'})</small></label>
	<input class="form-control" rel="required" n:name="price_auction_principal" type="number">
</div>
<div class="form-group">
	<label class="control-label" for="price_expert_report"><span class="required">*</span> {_'Cena znaleckého posudku'} <small>({_'měna dle ceny'})</small></label>
	<input class="form-control" rel="required" n:name="price_expert_report" type="number">
</div>
<div class="form-group">
	<label class="control-label" for="price_minimum_bid"><span class="required">*</span> {_'Minimální příhoz'} <small>({_'měna dle ceny'})</small></label>
	<input class="form-control" rel="required" n:name="price_minimum_bid" type="number">
</div>

<h3>{_'Dražební vyhláška'} <small>({_'doporučujeme formát PDF'})</small></h3>
{include CP_DIR."/Forms/templates/attachments.latte", _form => $_form, name => "auction_advertisement_pdf"}

<h3>{_'Posudek znalce'} <small>({_'doporučujeme formát PDF'})</small></h3>
{include CP_DIR."/Forms/templates/attachments.latte", _form => $_form, name => "auction_review_pdf"}