<div class="form-group">
	<label class="control-label" for="building_type"><span class="required">*</span> {_'Budova'}</label>
	<select class="form-control" n:name="building_type" rel="required"></select>
</div>
<div class="form-group">
	<label class="control-label" for="building_condition"><span class="required">*</span> {_'Stav objektu'}</label>
	<select class="form-control" n:name="building_condition" rel="required"></select>
</div>
<div class="form-group">
	<label class="control-label" for="object_type">{_'Typ domu'}</label>
	<select class="form-control" n:name="object_type"></select>
</div>

<div class="row">
	<div class="col-sm-4 group-floors">
		<h2><i class="fa fa-bars"></i> {_'Podlaží'}</h2>
		{include "floors.latte" _form => $_form}
	</div>
	<div class="col-sm-4 group-counts">
		<h2><i class="fa fa-th"></i> {_'Počet'}</h2>
		{include "counts.latte" _form => $_form}
	</div>
	<div class="col-sm-4 group-dimensions">
		<h2><i class="fa fa-crop"></i> {_'Rozměry'}</h2>
		{include "dimensions.latte" _form => $_form}
	</div>
</div>

<div class="group-energy collapsible" data-preserve-values="1" data-force-collapsed="1">
	<h2 class="collapsible-trigger text-center">{_'Energetická náročnost budovy'}</h2>
	<div class="collapsible-content">
		{include "energy.latte" _form => $_form}
	</div>
</div>
