<div class="form-group">
	<label class="control-label" for="buyer_name">{_'Jméno'}</label>
	<input class="form-control" n:name="buyer_name" type="text" placeholder="{_'Uveďte jméno'}">
</div>
<div class="form-group">
	<label class="control-label" for="buyer_phone">{_'Telefon'}</label>
	<input class="form-control" n:name="buyer_phone" type="text" placeholder="{_'Uveďte telefon'}">
</div>
<div class="form-group">
	<label class="control-label" for="buyer_email">{_'E-mail'}</label>
	<input class="form-control" n:name="buyer_email" type="email" placeholder="{_'Uveďte email'}">
</div>
<div class="form-group">
	<label class="control-label" for="buyer_poznamka">{_'Poznámka'}</label>
	<textarea class="form-control html" n:name="buyer_poznamka" placeholder="{_'Uveďte poznámky - slouží pouze pro interní účely'}"></textarea>
</div>

<h3>{_'Smlouva o budoucí kupní smlouvě'}</h3>

<div class="form-group">
	<label class="control-label" for="contract_sobks_sign_date">{_'Datum podpisu'}</label>
	<input class="form-control" n:name="contract_sobks_sign_date" type="text" placeholder="{_'Uveďte datum podpisu SOBKS'}">
</div>

<label>{_'Smlouva o budoucí kupní smlouvě'} <small>({_'doporučujeme formát PDF'})</small></label>
{include CP_DIR."/Forms/templates/attachments.latte", _form => $_form, name => "contract_sobks_pdf"}

<h3>{_'Kupní smlouva'}</h3>

<div class="form-group">
	<label class="control-label" for="contract_ks_sign_date">{_'Datum podpisu KS'}</label>
	<input class="form-control" n:name="contract_ks_sign_date" type="text" placeholder="{_'Uveďte datum podpisu kupní smlouvy'}">
</div>

<label>{_'Kupní smlouva'} <small>({_'doporučujeme formát PDF'})</small></label>
{include CP_DIR."/Forms/templates/attachments.latte", _form => $_form, name => "contract_ks_pdf"}