<div class="row">
	<div class="col-sm-8">
		{capture $estate_title_description}
			<small><i class="fa fa-info"></i> {_'Pokud ponecháte název inzerátu nevyplněný, bude automaticky vytvořen'}</small>
		{/capture}

		{include CP_DIR."/Forms/templates/localeInput.latte", name => "estate_title", label => "Název", placeholder => "Uveďte vlastní název inzerátu pro Váš web a pro inzertní portály", size => "lg", "description" => $estate_title_description}
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label class="control-label" for="advert_code"><span class="required">*</span> {_'Evidenční číslo'}</label>
			<input class="form-control input-lg" rel="required" n:name="advert_code" type="text" placeholder="{_'Uveďte evidenční číslo pro tuto zakázku'}">
		</div>
	</div>
</div>

<div class="form-group">
	<label class="control-label" for="advert_function"><span class="required">*</span> {_'Typ nabídky'}</label>
	<select class="form-control" n:name="advert_function" rel="required"></select>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<label class="control-label" for="advert_type"><span class="required">*</span> {_'Druh'}</label>
			<select class="form-control" n:name="advert_type" rel="required"></select>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label class="control-label" for="advert_subtype"><span class="required">*</span> {_'Kategorie'}</label>
			<select class="form-control" n:name="advert_subtype" rel="required" id="advert_subtype"></select>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label class="control-label" for="advert_room_count">{_'Počet pokojů'} <small>({_'bez kuchyně'})</small></label>
			<select class="form-control" n:name="advert_room_count"></select>
		</div>
		<div class="form-group">
			<label class="control-label" for="floor_number"><span class="required">*</span> {_'Podlaží'} <small>({_'v jakém se nachází'})</small></label>
			<input rel="required" class="form-control" n:name="floor_number" type="number" placeholder="{_'Uveďte v jakém podlaží se nemovitost nachází'}">
		</div>
	</div>
</div>

<div class="form-group">
	<label class="control-label" for="flat_class">{_'Třída bytu'}</label>
	<select class="form-control" n:name="flat_class"></select>
</div>

{include CP_DIR."/Forms/templates/localeTextArea.latte", name => "estate_description", label => "Kompletní popis nemovitosti", placeholder => "Uveďte kompletní popis nemovitosti pro Váš web a inzertní portály", required => true}

{if $presenter->thisDomainEntity->isComponentAllowed("Projects", $user)}
	<div class="form-group">
		<label class="control-label" n:name="project_id">{_'Developerský projekt'}</label>
		<select class="form-control" n:name="project_id"></select>
	</div>
{/if}

