<div class="form-group">
	<label class="control-label" for="contract_type">{_'Typ smlouvy'}</label>
	<select class="form-control" n:name="contract_type"></select>
</div>
<div class="form-group">
	<label class="control-label" for="contract_sign_date">{_'Datum uzavření'}</label>
	<input class="form-control date" n:name="contract_sign_date" type="text" placeholder="{_'Zvolte datum uzavření smlouvy'}">
</div>
<div class="form-group">
	<label class="control-label" for="contract_valid_date">{_'Datum platnosti'}</label>
	<input class="form-control date" n:name="contract_valid_date" type="text" placeholder="{_'Zvolte datum platnosti smlouvy'}">
</div>
<div class="form-group">
	<label class="control-label" for="contract_exkl_valid_date">{_'Datum platnosti exkluzivity'}</label>
	<input class="form-control date" n:name="contract_exkl_valid_date" type="text" placeholder="{_'Zvolte datum platnosti exkluzivity'}">
</div>

<label>{_'Zprostředkovatelká smlouva'} <small>({_'doporučujeme formát PDF'})</small></label>
{include CP_DIR."/Forms/templates/attachments.latte", _form => $_form, name => "contract_pdf"}
