<div class="form-group">
	<label class="control-label" n:name="advert_status">{_'Stav zakázky'}</label>
	<select class="form-control input-lg" n:name="advert_status"></select>
</div>

{if $user->isAllowed('Admin:Estates', 'setUser')}
	<div class="form-group">
		<label class="control-label" for="userId"><span class="required">*</span> {_'Makléř'}</label>
		<select class="form-control" n:name="userId" rel="required"></select>
	</div>
{else}
	<input n:name="userId" type="hidden">
{/if}

<div class="row">
	<div class="col-sm-{if $user->isAllowed('Admin:Estates', 'setHomepage')}6{else}12{/if}">
		<div class="checkbox text-center">
			<input n:name="visible">
			<label n:name="visible" class="control-label">{_'Zobrazit na webu'}</label>
		</div>
	</div>
	<div class="col-sm-6" n:if="$user->isAllowed('Admin:Estates', 'setHomepage')">
		<div class="checkbox text-center">
			<input n:name="advert_onhomepage">
			<label n:name="advert_onhomepage" class="control-label">{_'Zobrazit na úvodní stránce'}</label>
		</div>
	</div>
	<input n:if="!$user->isAllowed('Admin:Estates', 'setHomepage')" type="hidden" n:name="advert_onhomepage" value="{$estateEntity->advert_onhomepage}" />
</div>

{include CP_DIR."/Slugs/AdminModule/templates/forms/slugPart.latte", slugEntity => $estateEntity->estate_slug}