<div class="form-group">
	<label class="control-label" for="parking_lots">{_'Parkovaní'}</label>
	<div class="input-group">
		<span class="input-group-addon">
			<input name="parking_lots" value="0" type="hidden">
			<input n:name="parking_lots" value="1" rel="parking" type="checkbox">
		</span>
		<input class="form-control" n:name="parking" type="number">
	</div>
</div>

<div class="form-group">
	<label class="control-label" for="garage">{_'Garáž'}</label>
	<div class="input-group">
		<span class="input-group-addon">
			<input name="garage" value="0" type="hidden">
			<input n:name="garage" value="1" id="garage" rel="garage_count" type="checkbox">
		</span>
		<input class="form-control" n:name="garage_count" type="number">
	</div>
</div>