<div class="row">
	<div class="col-xs-6">
		<div class="form-group">
			<label class="control-label" for="first_tour_date">{_'Prohlídky od'}</label>
			<input class="form-control date" n:name="first_tour_date">
		</div>
	</div>
	<div class="col-xs-6">
		<div class="form-group">
			<label class="control-label" for="first_tour_date_to">{_'Prohlídky do'}</label>
			<input class="form-control date" n:name="first_tour_date_to">
		</div>
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="ready_date">{_'Nastěhování'}</label>
	<input class="form-control date" n:name="ready_date">
</div>

<div class="row">
	<div class="col-xs-6">
		<div class="form-group">
			<label class="control-label" for="beginning_date">{_'Zahájení výstavby'}</label>
			<input class="form-control date" n:name="beginning_date">
		</div>
	</div>
	<div class="col-xs-6">
		<div class="form-group">
			<label class="control-label" for="finish_date">{_'Ukončení výstavby'}</label>
			<input class="form-control date" n:name="finish_date">
		</div>
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="sale_date">{_'Zahájení prodeje'}</label>
	<input class="form-control date" n:name="sale_date">
</div>

{*<div class="form-group">
	<label class="control-label" for="steps">{_'Etapa'}</label>
	<input class="form-control" n:name="steps" type="text">
</div>*}