<div class="form-group">
	<label class="control-label" for="width">{_'Šířka'}</label>
	<div class="input-group">
		<input class="form-control" n:name="width" type="number">
		<span class="input-group-addon">
			m
		</span>
	</div>
</div>

<div class="form-group">
	<label class="control-label" for="height">{_'Výška'}</label>
	<div class="input-group">
		<input class="form-control" n:name="height" type="number">
		<span class="input-group-addon">
			m
		</span>
	</div>
</div>

<div class="form-group">
	<label class="control-label" for="ceiling_height">{_'Výška stropu'}</label>
	<div class="input-group">
		<input class="form-control" n:name="ceiling_height" type="number">
		<span class="input-group-addon">
			m
		</span>
	</div>
</div>