<div class="form-group">
	<label class="control-label" for="energy_efficiency_rating">{_'Třída en. náročnosti'}</label>
	<select class="form-control" n:name="energy_efficiency_rating"></select>
</div>
<div class="form-group">
	<label class="control-label" for="energy_performance_summary">{_'Ukazatel náročnosti'}</label>
	<div class="input-group">
		<input class="form-control" n:name="energy_performance_summary" type="number">
		<span class="input-group-addon">{_'kWh/m² za rok'}</span>
	</div>
</div>

<h3>{_'Energetický průkaz'} <small>({_'doporučujeme formát PDF'})</small></h3>
{include CP_DIR."/Forms/templates/attachments.latte", _form => $_form, name => "energy_performance_attachment"}

<div class="form-group">
	<label class="control-label" for="energy_performance_certificate">{_'Podle vyhlášky'}</label>
	<select class="form-control" n:name="energy_performance_certificate"></select>
</div>
<div class="form-group">
	<label n:name="advert_low_energy">
	<input n:name="advert_low_energy" value="1" type="checkbox"> {_'Nízkoenergetický'}</label>
</div>