<div class="form-group">
	<label class="control-label" n:name="advert_lifetime">{_'Doba zveřejnění na SReality.cz'}</label>
	<select class="form-control" n:name="advert_lifetime"></select>
</div>

{formContainer portals}
	<div class="list">
		<table class="table users fixed-header">
			<thead>
				<tr>
					<th class="title">
						{_'Realitní server'}
					</th>
					<th>
						{_'Detail inzerátu'}
					</th>
					<th>
						{_'Aktualizováno'}
					</th>
					<th>
						{_'Exportovat'}
					</th>
				</tr>
			</thead>
			<tbody>
				
				{var $count = 0}
				
				<tr n:foreach="$portalsCollection->getAll() AS $portalEntity">
					{if array_key_exists($portalEntity->portal_key, $exportSettings) && $exportSettings[$portalEntity->portal_key] == true}
						
						{? $count++;}

						{formContainer $portalEntity->portal_id}
							<td class="title">
								<strong>{$portalEntity->portal_title}</strong>
								<span class="ellipsis">{$portalEntity->portal_url}</span>
							</td>
							<td>
								{if isset($estateEntity->estate_exports[$portalEntity->portal_id][url]) && $estateEntity->estate_exports[$portalEntity->portal_id][url] != "nourl"}
									<a href="{$estateEntity->portals[$portalEntity->portal_id][url]}/" target="_blank">{_'Detail inzerátu'}</a>
								{else}
									-
								{/if}
							</td>
							<td>
								{if isset($estateEntity->estate_exports[$portalEntity->portal_id][url])}
									<span data-toggle="tooltip" data-placement="bottom" title="{$estateEntity->portals[$portalEntity->portal_id][message]}">
										{$estateEntity->estate_exports[$portalEntity->portal_id][last_export_timestamp]|smartdate}
									</span>
								{else}
									<span>{_'Neexportováno'}</span>
								{/if}
							</td>
							<td>
								<div class="checkbox text-center">
									<input n:name="export_id">
									<input n:name="export">
									<label n:name="export" class="control-label"></label>
								</div>
							</td>
						{/formContainer}
					{/if}
				</tr>
				<tr n:if="!$count" class="empty">
					<td colspan="4">{_'Nejsou aktivní žádné exportní můstky'}</td>
				</tr>
			</tbody>
		</table>
	</div>
{/formContainer}