<div class="form-group">
	<label class="control-label" for="floors">{_'Počet'} <small>({_'počet podlaží'})</small></label>
	<input class="form-control" n:name="floors" type="number" placeholder="{_'Uveďte počet podlaží'}">
</div>
<div class="form-group">
	<label class="control-label" for="underground_floors">{_'Podzemní'} <small>({_'podzemních podlaží'})</small></label>
	<input class="form-control" n:name="underground_floors" type="number" placeholder="{_'Uveďte počet podzemních podlaží'}">
</div>

