<h3>{_'Interní poznámky'}</h3>

<div class="form-group">
	<label class="control-label" for="internal_description">{_'Interní poznámky'}</label>
	<textarea class="form-control html" n:name="internal_description" placeholder="{_'Uveďte poznámky k zakázce, který bude sloužit pouze pro interní specifikaci'}"></textarea>
</div>
