<h3>{_'Údaje pro získání dat z katastru nemovitostí'}</h3>
<div class="form-group">
	<label class="control-label" for="locality_pc">{_'Parcelní číslo'}</label>
	<input class="form-control" n:name="locality_pc" type="text">
</div>
<div class="form-group">
	<label class="control-label" for="locality_ce">{_'Evidenční číslo'} <small>({_'ev. č. budovy'})</small></label>
	<input class="form-control" n:name="locality_ce" type="text">
</div>
<div class="form-group">
	<label class="control-label" for="locality_cj">{_'Číslo jednotky'}</label>
	<input class="form-control" n:name="locality_cj" type="text">
</div>