<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<label class="control-label" for="locality_city"><span class="required">*</span> {_'Město / obec'}</label>
			<input class="form-control" n:name="locality_city">
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
			<label class="control-label" for="locality_district">{_'Městská část'}</label>
			<input class="form-control" n:name="locality_district">
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
			<label title="PSČ" class="control-label" for="locality_zip"><span class="required">*</span> {_'PSČ'}</label>
			<input class="form-control" n:name="locality_zip">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<label class="control-label" for="locality_street">{_'Ulice'}</label>
			<input class="form-control" n:name="locality_street">
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
			<label class="control-label" for="locality_cp">{_'Č.P.'}</label>
			<input class="form-control" n:name="locality_cp">
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
			<label class="control-label" for="locality_co">{_'Č.O.'}</label>
			<input class="form-control" n:name="locality_co">
		</div>
	</div>
</div>

<div class="form-group">
	<label class="control-label" for="locality_inaccuracy_level">{_'Znepřesnění adresy'}</label>
	<select class="form-control" n:name="locality_inaccuracy_level"></select>
</div>

{include CP_DIR."/Forms/templates/addressInput.latte", _form => $_form, name => "locality", id => "locality_address"}

<div class="form-group">
	<label class="control-label" for="object_kind"><span class="required">*</span> {_'Poloha objektu'}</label>
	<select class="form-control" n:name="object_kind" rel="required"></select>
</div>
<div class="form-group">
	<label for="object_location">{_'Umístění objektu'} <small>({_'povinné pro realitymix.cz'})</small></label>
	<select class="form-control" n:name="object_location" rel="required"></select>
</div>
<div class="form-group">
	<label class="control-label" for="surroundings_type">{_'Okolní zástavba'}</label>
	<select class="form-control" n:name="surroundings_type"></select>
</div>
<div class="form-group">
	<label class="control-label" for="protection" title="Ochrana okolí">{_'Ochrana okolí'}</label>
	<select class="form-control" n:name="protection"></select>
</div>
