<div class="form-group">
	<label class="control-label" for="advert_price"><span class="required">*</span> {_'Cena'} <small class="advert_price_hidden" data-label-0="{_'veřejný údaj'}" data-label-1="{_'cena se nezobrazuje veřejnosti'}">&nbsp;</small></label>
	<div class="row">
		<div class="col-sm-8">
			<input rel="required" class="form-control input-lg" n:name="advert_price" type="number" placeholder="{_'Uveďte cenu nemovitosti'}">
		</div>
		<div class="col-sm-2">
			<select class="form-control input-lg" n:name="advert_price_currency" rel="required"></select>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				{*<label n:name="advert_price_unit" class="control-label">{_'Cena za'}</label>*}
				<select class="form-control input-lg" n:name="advert_price_unit" rel="required"></select>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<select class="form-control" n:name="advert_price_commission"></select>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<select class="form-control" n:name="advert_price_charge"></select>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<select class="form-control" n:name="advert_price_vat"></select>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<select class="form-control" n:name="advert_price_legal_services"></select>
		</div>
	</div>
</div>

{include CP_DIR."/Forms/templates/localeInput.latte", name => "advert_price_text_note", label => "Poznámka k ceně", placeholder => "Uveďte případné poznámky k ceně"}

<div class="row">
	<div class="col-sm-4 text-center">
		<div class="checkbox">
			<input n:name="advert_price_negotiation" value="1" type="checkbox">
			<label n:name="advert_price_negotiation">
				<i class="fa fa-comments"></i>
				{_'Cena k jednání'}
			</label>
		</div>
	</div>
	<div class="col-sm-4 text-center">
		<div class="checkbox">
			<input n:name="advert_price_hidden" value="1" type="checkbox" class="advert_price_hidden">
			<label class="control-label" n:name="advert_price_hidden">
				<i class="fa fa-eye-slash"></i>
				{_'Nezobrazovat cenu'}
			</label>
		</div>
	</div>
	<div class="col-sm-4 text-center">
		<div class="checkbox">
			<input n:name="mortgage" value="1" type="checkbox" rel="mortgage_percent">
			<label class="control-label" n:name="mortgage">
				<i class="fa fa-money"></i>
				{_'Možnost hypotéky'}
			</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<label class="control-label" for="ownership"><span class="required">*</span> {_'Vlastnictví'}</label>
			<select class="form-control" n:name="ownership" rel="required"></select>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label class="control-label" for="personal">{_'Převod do OV'}</label>
			<select class="form-control" n:name="personal"></select>
		</div>
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="mortgage_percent">{_'Úroková sazba'}</label>
	<div class="input-group">
		<input class="form-control" n:name="mortgage_percent" type="text">
		<span class="input-group-addon">%</span>
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="spor_percent">{_'Stavební spoření'}</label>
	<div class="input-group">
		<input class="form-control" n:name="spor_percent" type="text">
		<span class="input-group-addon">%</span>
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="annuity">{_'Anuita'} <small>({_'při prodeji'})</small></label>
	<input class="form-control" n:name="annuity" type="text">
</div>