<div class="form-group">
	<label class="control-label" for="furnished">{_'Zařízeno'}</label>
	<select class="form-control" n:name="furnished"></select>
</div>
<div class="form-group">
	<label class="control-label" for="elevator">{_'Výtah'}</label>
	<select class="form-control" n:name="elevator"></select>
</div>
<div class="form-group">
	<label class="control-label" for="easy_access">{_'Bezbariérový'}</label>
	<select class="form-control" n:name="easy_access"></select>
</div>
<div class="form-group text-center">
	<div class="checkbox">
		<input n:name="garret" value="1" type="checkbox">
		<label class="control-label" n:name="garret">{_'Půdní vestavba'}</label>
	</div>
</div>
<div class="form-group">
	<label class="control-label">{_'Voda'}</label>
	<div class="checkboxset">
		{input water}
	</div>
</div>

<div class="form-group">
	<label class="control-label">{_'Elektřina'}</label>
	<div class="checkboxset">
		{input electricity}
	</div>
</div>

<div class="form-group">
	<label class="control-label">{_'Plyn'}</label>
	<div class="checkboxset">
		{input gas}
	</div>
</div>

<div class="form-group">
	<label class="control-label">{_'Odpad'}</label>
	<div class="checkboxset">
		{input gully}
	</div>
</div>

<div class="form-group">
	<label class="control-label">{_'Topení'}</label>
	<div class="checkboxset">
		{input heating}
	</div>
</div>

<div class="form-group">
	<label class="control-label">{_'Telekomunikace'}</label>
	<div class="checkboxset">
		{input telecommunication}
	</div>
</div>

<div class="form-group">
	<label class="control-label">{_'Komunikace'}</label>
	<div class="checkboxset">
		{input road_type}
	</div>
</div>

<div class="form-group">
	<label class="control-label">{_'Doprava'}</label>
	<div class="checkboxset">
		{input transport}
	</div>
</div>