<div class="form-group">
	<label class="control-label" for="reservation_name">{_'Jméno'}</label>
	<input class="form-control" n:name="reservation_name" type="text" placeholder="{_'Uveďte jméno'}">
</div>
<div class="form-group">
	<label class="control-label" for="reservation_phone">{_'Telefon'}</label>
	<input class="form-control" n:name="reservation_phone" type="text" placeholder="{_'Uveďte telefon'}">
</div>
<div class="form-group">
	<label class="control-label" for="reservation_email">{_'E-mail'}</label>
	<input class="form-control" n:name="reservation_email" type="email" placeholder="{_'Uveďte email'}">
</div>

<div class="row">
	<div class="col-xs-6">
		<div class="form-group">
			<label class="control-label" for="reservation_sign_date">{_'Datum podpisu'}</label>
			<input class="form-control date" n:name="reservation_sign_date" type="text" placeholder="{_'Zvolte datum podpisu'}">
		</div>
	</div>
	<div class="col-xs-6">
		<div class="form-group">
			<label class="control-label" for="reservation_valid_date">{_'Datum platnosti'}</label>
			<input class="form-control date" n:name="reservation_valid_date" type="text" placeholder="{_'Zvolte datum platnosti'}">
		</div>
	</div>
</div>

<label>{_'Rezervační smlouva'} <small>({_'doporučujeme formát PDF'})</small></label>
{include CP_DIR."/Forms/templates/attachments.latte", _form => $_form, name => "reservation_pdf"}

<div class="form-group">
	<label class="control-label" for="reservation_poznamka">{_'Poznámka'}</label>
	<textarea class="form-control html" n:name="reservation_poznamka" placeholder="{_'Uveďte poznámky - slouží pouze pro interní účely'}"></textarea>
</div>