<div class="form-group">
	<label class="control-label" for="object_age">Výstavby</label>
	<input class="form-control" n:name="object_age" type="text">
</div>
<div class="form-group">
	<label class="control-label" for="acceptance_year">Kolaudace</label>
	<input class="form-control" n:name="acceptance_year" type="text">
</div>
<div class="form-group">
	<label class="control-label" for="reconstruction_year">Rekonstrukce</label>
	<input class="form-control" n:name="reconstruction_year" type="text">
</div>