{block navbarTitle}
	<i class="fa fa-lock"></i>
	<span n:block="title">{_'Změnit heslo'}</span>
	<small>/</small>
	<small>
		<a n:href="User:myProfile" title="{_'Zobrazit informace o mém účtu'}"><i class="fa fa-user"></i> {_'Můj účet'}</a>
	</small>
{/block}

{block content}

<div class="container">

	{include CP_DIR."/Users/templates/changePasswordForm.latte"}

</div>