{block navbarTitle}
	<i class="fa fa-pencil"></i>
	<span n:block="title">{_'Upravit účet'}</span>
	<small>/</small>
	<small>
		<a n:href="User:myProfile" title="{_'Zpět na informace o mém účtu'}"><i class="fa fa-user"></i> {_'Můj účet'}</a>
	</small>
{/block}

{block content}
<div class="container">

	{include "../../../templates/User/edit/{$profile['role']}Form.latte"}

</div>