{layout "../@unauthorized.latte"}

{block navbar}

	<h1>
		<i class="fa fa-question-circle"></i>
		<span n:block="title">{_"Obnovit heslo"}</span>
		<small>{_"žádost o obnovení hesla"}</small>
	</h1>

{/block}

{block content}

{include CP_DIR."/Users/templates/forgottenPasswordForm.latte"}

