{layout "../@unauthorized.latte"}

{block navbar}

<h1>
	<i class="fa fa-sign-in"></i>
	<span n:block="title">{_"Přihlášení"}</span>
	<small>{_"do administrace"}</small>
</h1>

{/block}

{block content}

{include CP_DIR."/Users/templates/loginForm.latte"}
