{block navbarTitle}
	<i class="fa fa-user"></i>
	<span n:block="title">{_'Můj účet'}</span>
	<small>{_"informace o mém účtu"}</small>
{/block}

{block navbarButtons}
	<a n:href="User:edit" title="{_'Upravit můj účet'}" class="btn btn-primary">
		<i class="fa fa-pencil fa-fw"></i>
		<span>{_'Upravit účet'}</span>
	</a>
	<a n:href="User:changePassword" title="{_'Změnit heslo'}" class="btn btn-primary">
		<i class="fa fa-lock fa-fw"></i>
		<span>{_'Změnit heslo'}</span>
	</a>
{/block}

{block content}

<div class="container">
	
	{include "../../../templates/User/myProfile/{$profile['role']}.latte"}

</div>
