{layout "../@unauthorized.latte"}

{block navbar}
	<h1>
		<i class="fa fa-unlock"></i>
		<span n:block="title">{_"Zadání nového hesla"}</span>
		<small>{_"pro Váš účet"}</small>
	</h1>
{/block}

{block content}

{include CP_DIR."/Users/templates/resetPasswordForm.latte"}
