{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Homepage/adminToolbarButtons.latte"}
{/block}

{block title}{_'Vítejte'}{/block}

{block content}
<div id="intro">
	<div id="video-container">
		<video loop="loop" poster="{$thisDomainEntity->getBasePath()}/img/intro.jpg" autoplay="autoplay" controls="true"> 
			<source src="{$thisDomainEntity->getBasePath()}/img/video/mistoler.mp4" type="video/mp4">
			<source src="{$thisDomainEntity->getBasePath()}/img/video/mistoler.webm" type="video/webm">
			<source src="{$thisDomainEntity->getBasePath()}/img/video/mistoler.ogg" type="video/ogg">
		</video>
		
	</div>
	<div id="logo"></div>
</div>
<div id="info">
	<div class="watermark">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 col-lg-8">
					<h1 class="text-center">
						Certifikovaný makléř<br/><small>a řádný člen Asociace realitních kanceláří ČR</small>
					</h1>
					<p class="lead">
						Věnuji se prodeji bytů, rodinných domů a pozemků v Praze a Středočeském kraji. Dále se specializuji na pronájem nebytových prostor, určených především k obchodním účelům. Mám bohaté realitní zkušenosti v oblasti prodeje developerských projektů.
					</p>
					<p class="lead">
						Dobře vím, jak důležitým krokem v životě člověka je každá realitní transakce. Je jedno, zda se jedná o prodej či koupi nemovitosti či vyřízení hypotečního úvěru. Vždy jsem tady pro Vás s pomocnou rukou, která Vás provede celým obchodním procesem rychle, bezpečně a k Vaší spokojenosti.
					</p>
					<p class="text-center lead">
						Jakýkoliv obchod může být dobrý jen tehdy, jsou-li spokojeny všechny zúčastněné strany.
					</p>
					<p class="socials text-center lead">
						<a href="https://www.facebook.com/pages/Jan-Mistoler-realitn%C3%AD-makl%C3%A9%C5%99/265461630271971" title="Jan Mistoler - realitní makléř">
							<i class="fa fa-fw fa-facebook"></i>
						</a>
						<a href="https://twitter.com/JanMistoler" title="Jan Mistoler - realitní makléř">
							<i class="fa fa-fw fa-twitter"></i>
						</a>
						<a class="item item-pdf-karta" href="{$thisDomainEntity->getBasePath()}/docs/jan-mistoler-karta.pdf" title="PDF karta">
							<i class="fa fa-file-pdf-o"></i>
						</a>
						<a class="item item-blog" n:href="Blog:default" title="Blog">
							<i class="fa fa-fw fa-rss"></i>
						</a>
					</p>
				</div>
				<div class="hidden-xs col-sm-5 col-lg-4">
					<img src="{$thisDomainEntity->getBasePath()}/img/info.png" class="img-portrait hidden-xs" alt="Jan Mistoler - reality | finance" />
				</div>
			</div>
		</div>
	</div>
</div>
<div id="portfolio" class="homepage-section">
	<div class="row">
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-odhad-nemovitosti" href="odhad-nemovitosti" title="Odhad nemovitosti">
				<strong></strong>
				<span>Odhad nemovitosti</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-katastr365" href="katastr365" title="Katastr 365">
				<strong></strong>
				<span>Katastr 365</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-reality" href="reality" title="Reality">
				<strong></strong>
				<span>Reality</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-broker-trust" href="broker-trust" title="Broker Trust">
				<strong></strong>
				<span>Broker Trust</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-buldoci" href="buldoci" title="Buldoci">
				<strong></strong>
				<span>Buldoci</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-rada-cutkova-koptis" href="rada-cutkova-koptis" title="Rada Čutková Koptiš">
				<strong></strong>
				<span>Rada Čutková Koptiš</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-prukaz-energeticke-narocnosti-budov" href="prukaz-energeticke-narocnosti-budov" title="PKV">
				<strong></strong>
				<span>PKV</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-uvery-na-bydleni" href="uvery-na-bydleni" title="Úvěry na bydlení">
				<strong></strong>
				<span>Úvěry na bydlení</span>
			</a>
		</div>
		{*<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-blog" href="blog" title="Blog">
				<strong></strong>
				<span>Blog</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-bezbatour" href="bezbatour" title="Bezbatour">
				<strong></strong>
				<span>Bezbatour</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-zlaty-plan" href="zlaty-plan" title="Zlatý plán">
				<strong></strong>
				<span>Zlatý plán</span>
			</a>
		</div>
		<div class="col-xxs-12 col-xs-6 col-md-4 col-lg-3">
			<a class="item item-pdf-karta" href="{$thisDomainEntity->getBasePath()}/docs/jan-mistoler-karta.pdf" title="PDF karta">
				<strong></strong>
				<span>PDF karta</span>
			</a>
		</div>*}
	</div>
</div>
<div id="estates" class="homepage-section">
	<div class="container">
		
		{centeredTitle "h2", icon => "fa fa-home", label => "Zakázky", small => "přehled aktuálních zakázek"}

		<div class="row estates list">
			<div n:foreach="$estatesCollection->getAll() AS $estateEntity" class="col-sm-6 col-md-3 item">
				<div class="body">
					<a n:href="Estates:detail $estateEntity->estate_id" class="image" title="{_'Zobrazit detail nemovitosti'}">
						{image $estateEntity->getImages()->getMain()}
					</a>
					<strong>
						<a n:href="Estates:detail $estateEntity->estate_id" title="{_'Zobrazit detail nemovitosti'}" class="title">
							{$estateEntity->getFormattedTitle($user)}
						</a>
					</strong>
					<p>
						{$estateEntity->estate_description|truncate:200}
					</p>

					{include APP_DIR."/FrontModule/templates/components/price.latte", estateEntity => $estateEntity, showNote => false, showProperties => false}
				</div>
			</div>
		</div>
		<p class="text-center lead">
			<a n:href="Estates:default">
				<i class="fa fa-chevron-right"></i>
				<span> všechny moje zakázky ... </span>
			</a>
		</p>
	</div>
</div>
<div id="video" class="homepage-section">
	<div class="container">
		
		{centeredTitle "h2", icon => "fa fa-video-camera", label => "Video", small => "prezentace mých zakázek"}
		
		<div class="row videos">

			{default $videos = array(
				array(
					video_youtube_code => "IuNLQ0CtIW0",
					video_title => "Residence RoSa, Praha - Kobylisy",
					video_description => "Byty 1+kk a 2+kk v Rezidenci RoSa - bydlení s veškerým komfortem - recepce se 24h provozem, kavárna s milou obsluhou, obchod, kadeřnictví, knihovna a relaxační centrum. Metro Kobylisy jen 250 metrů od rezidence, tramvajová zastávka 100 metrů. Přijďte se podívat, rád vás provedu."
				),
				array(
					video_youtube_code => "lWeGTblHFTY",
					video_title => "Rodinný dům 4+kk se šatnou - Předboj",
					video_description => "RD 4+kk se šatnou a zahradou, na klidném místě u Prahy - Předboj. Dům na prodej včetně vybavení."
				),
				array(
					video_youtube_code => "RGAQZ1TALFI",
					video_title => "Byt 3+kk s terasami – výhled na Pražský hrad a Národní divadlo",
					video_description => "Jedinečný byt o výměře 230 m2 v historickém centru Prahy. Terasy s výhledem na Národní divadlo a Pražský hrad. Dům s recepcí po rekonstrukci – skvělá adresa na rozhraní Starého a Nového města."
				)
			)}

			{? shuffle($videos)}
		
			<div class="col-sm-6 item" n:foreach="$videos AS $video" data-video="{$video[video_youtube_code]}">
				<a class="screenshot" href="https://www.youtube.com/watch?v={$video[video_youtube_code]}" style="background-image: url('http://img.youtube.com/vi/{$video[video_youtube_code]}/hqdefault.jpg')" alt="Přehrát video: {$video[video_title]}">
					<i class="fa fa-chevron-right"></i>
				</a>
				<h3>{$video[video_title]}</h3>
				<p>
					{$video[video_description]}
				</p>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="video-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://www.youtube.com/embed/{$video[video_youtube_code]}?rel=0&vq=hd1080" frameborder="0" allowfullscreen>
					</iframe>
				</div>
				<h3></h3>
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
			</div>
		</div>
	</div>
</div>
<div id="docs" class="homepage-section">
	<div class="container">
		
		{centeredTitle "h2", label => "Osvědčení", small => "moje certifikace a osvědčení"}
		
		<div class="row">
			<div class="col-sm-3">
				<a href="{$thisDomainEntity->getBasePath()}/docs/clen-ark.pdf">
					<img class="img-thumbnail img-responsive" src="{$thisDomainEntity->getBasePath()}/img/docs/clen-ark.jpg" alt="Člen Asociace realitních kanceláří">
				</a>
			</div>
			<div class="col-sm-6">
				<a href="{$thisDomainEntity->getBasePath()}/docs/ark-certifikace-2015.pdf">
					<img class="img-thumbnail img-responsive" src="{$thisDomainEntity->getBasePath()}/img/docs/ark-certifikace-2015.jpg" alt="Asociace realitních kanceláří - Certifikace 2015">
				</a>
			</div>
			<div class="col-sm-3">
				<a href="{$thisDomainEntity->getBasePath()}/docs/zivnostensky-list.pdf">
					<img class="img-thumbnail img-responsive" src="{$thisDomainEntity->getBasePath()}/img/docs/zivnostensky-list.jpg" alt="Živnostenský list">
				</a>
			</div>
		</div>
	</div>
</div>
<div id="reviews" class="homepage-section">
	<div class="container">
		
		{centeredTitle "h2", icon => "fa fa-comments-o", label => "Reference", small => "vyjádřete se k mé práci"}

		{include CP_DIR."/Reviews/FrontModule/templates/list.latte", showRating => false, noReviews => "Zatím nebyly přidány žádné reference", reviews => $reviewsCollection->get()}

		<br/>
		<br/>

		<div class="collapsible" data-force-collapsed="1" data-remove-trigger="1">
			<h3 class="text-center collapsible-trigger" data-icon-collapsed="fa fa-pencil">
				Přidat referenci
			</h3>
			<div class="collapsible-content">
				{form reviewForm}

					{control reviewForm errors}

					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label class="control-label">{_'Vaše jméno'}</label>
								<input class="form-control" placeholder="{_'Vaše jméno'}" n:name="review_author_name" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="control-label">{_'Město'}</label>
								<input class="form-control" placeholder="{_'Město'}" n:name="review_author_city" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="control-label">{_'Váš email'}</label>
								<input class="form-control" placeholder="{_'Váš email'}" n:name="review_author_email" type="email" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">{_'Text'}</label>
						<textarea class="form-control" placeholder="{_'Text'}" n:name="review_text"></textarea>
					</div>

					<div class="buttonpane text-center">
						<button n:name="save" class="btn btn-primary btn-lg">
							<i class="fa fa-fw fa-check"></i>
							<span>{_'Vložit referenci'}</span>
						</button>
					</div>
					
				{/form}
			</div>
		</div>
	</div>
</div>