{block adminToolbarButtons}
	{include "default/adminToolbarButtons.latte"}
{/block}

{block title}{_'Poptáváme'}{/block}

{block content}
<div class="container"> 
    <h1>{_'Poptáváme'}</h1>
	
	{include "form.latte"}
</div>
