{form demandForm}

	{control demandForm errors}

	<div class="form-group">
		<label class="control-label" n:name="demand_client_title"><span class="required">*</span> {_'Vaše jméno'}</label>
		<input class="form-control" n:name="demand_client_title" placeholder="{_'Zadejte své jméno'}">
	</div>

	<div class="form-group">
		<label class="control-label" n:name="demand_client_phone"><span class="required">*</span> {_'Váš telefon'}</label>
		<input class="form-control" n:name="demand_client_phone" placeholder="{_'Zadejte svůj telefon'}">
	</div>

	<div class="form-group">
		<label class="control-label" n:name="demand_client_email"><span class="required">*</span> {_'Váš email'}</label>
		<input class="form-control" n:name="demand_client_email" placeholder="{_'Zadejte svůj email'}">
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label" n:name="advert_function">{_'Hledám'}</label>
				<select class="form-control" n:name="advert_function"></select>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="control-label" n:name="advert_type">{_'Typ nemovitosti'}</label>
				<select class="form-control" n:name="advert_type"></select>
			</div>
		</div>
	</div>
	
	<div class="form-group advert_subtype">
		<label class="control-label">{_'Upřesnění typu'}</label>
		<div class="checkboxlist">
			{input advert_subtype}
		</div>
	</div>

	{include CP_DIR."/Forms/templates/addressInput.latte", _form => $_form, required => true, setRadius => true, name => "demand_locality", address => true, labelAddress => "Požadovaná lokalita", placeholderAddress => "Zadejte adresu požadované lokality", placeholderRadius => "Hledat v okruhu"}

	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
				<label class="control-label" n:name="demand_area_from">{_'Plocha od'}</label>
				<div class="input-group">
					<input class="form-control" n:name="demand_area_from" placeholder="{_'Zadejte minimální plochu'}" type="number">
					<span class="input-group-addon">
						m<sup>2</sup>
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label class="control-label" n:name="demand_area_to">{_'Plocha do'}</label>
				<div class="input-group">
					<input class="form-control" n:name="demand_area_to" placeholder="{_'Zadejte maximální plochu'}" type="number">
					<span class="input-group-addon">
						m<sup>2</sup>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
				<label class="control-label" n:name="demand_price_from">{_'Cena od'}</label>
				<div class="input-group">
					<input class="form-control" n:name="demand_price_from" placeholder="{_'Zadejte minimální cena'}" type="number">
					<span class="input-group-addon">
						Kč
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label class="control-label" n:name="demand_price_to">{_'Cena do'}</label>
				<div class="input-group">
					<input class="form-control" n:name="demand_price_to" placeholder="{_'Zadejte maximální cenu'}" type="number">
					<span class="input-group-addon">
						Kč
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label" n:name="demand_description">{_'Další požadavky'}</label>
		<textarea class="form-control" n:name="demand_description" placeholder="{_'Uveďte případné další požadavky'}"></textarea>
	</div>

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit poptávku'}</span>
		</button>
	</div>

{/form}