{var $count = 0}
{default $visibleTypes = [1,2]}

<div class="items">
	<div class="item" n:if="$estateEntity->isVisible($user, $visibleTypes)" n:foreach="$estatesCollection->getAll() AS $estateEntity">
		
		{? $count++}

		<div class="row">
			<div class="col-sm-4">
				<a n:href="Estates:detail $estateEntity->estate_id" class="image" title="{_'Zobrazit detail nemovitosti'}">
					{image $estateEntity->getImages()->getMain(), forced => true}
				</a>
			</div>
			<div class="col-sm-8">
				<strong>
					<a n:href="Estates:detail $estateEntity->estate_id" title="{_'Zobrazit detail nemovitosti'}">
						{$estateEntity->getTitle()|m2}

						<small n:if="$estateEntity->isVisible($user) === 'logged'" class="status">
							({$estateEntity->getReadableStatus()})
						</small>
						<small n:if="$estateEntity->advert_status == 2" class="status">
							{_'Rezervováno'}
						</small>
					</a>
				</strong>

				<em class="address">
					{$estateEntity->getPublicAddress($user)}
				</em>

				<p>
					{$estateEntity->estate_description|m2|truncate:150:' ...'}
				</p>

				{include "../../components/price.latte", estateEntity => $estateEntity, showNote => false}

			</div>
		</div>
		<em n:if="$estateEntity->advert_status == 4" class="stamp {if $estateEntity->advert_function == 1}sale{elseif $estateEntity->advert_function == 2}rent{elseif $estateEntity->advert_function == 3}auction{/if}">{if $estateEntity->advert_function == 1}{_'Prodáno'}{elseif $estateEntity->advert_function == 2}{_'Pronajmuto'}{elseif $estateEntity->advert_function == 3}{_'Vydraženo'}{/if}</em>
	</div>

	<p n:if="!$count" class="empty">
		{_'Nenalezeny žádné nemovitosti'}
	</p>
</div>