<div class="row">
	<div class="col-sm-8">
		
		{include "items.latte", estatesCollection => $estatesCollection}

		<div class="row">
			<div class="col-xs-6 text-left pagination">
				{$estatesCollection->pagination->getControl()}
			</div>
			<div class="col-xs-6 text-right sorting">
				{include CP_DIR."/Collections/templates/forms/sortingForm.latte"}
			</div>
		</div>
	</div>
	<div class="col-sm-4 filter">
		{include CP_DIR."/Collections/templates/forms/filterForm.latte"}
	</div>
</div>