{layout "@layoutHtml.latte"}

{block body}
<body {block bodyclass}{/block}>
	<div id="header">
		<div class="container">
			<div id="flashes" n:if="count($flashes)">
				{include "../../templates/components/messages.latte", messages => $flashes}
			</div>
	
			<div class="row">
				<div class="col-sm-1 col-md-3 col-lg-4">
					<h1 id="logo"><a title="StránkyRealitky.Cz - služby pro realitní kanceláře" href="#intro">StránkyRealitky.Cz <small>služby pro realitní kanceláře</small></a></h1>
				</div>
				<div class="col-xs-12 col-sm-11 col-md-9 col-lg-8">
					<ul class="menu">
						<li>
							<a href="#web" title="Kompletní online řešení">Kompletní online řešení</a>
						</li>
						<li>
							<a href="#video" title="Profefionální videoprezentace">Videoprezentace</a>
						</li>
						<li>
							<a href="#styl" title="Jednotný vizuální styl">Vizuální styl</a>
						</li>
						<li>
							<a class="btn btn-primary" href="#contact" title="Mám zájem o více informací a cenovou nabídku na míru">Mám zájem</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		{include content}
	</div>
	{include CP_DIR."/Base/templates/javascript.latte"}
</body>

{/block}