<!DOCTYPE html>
{htmlTag}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="description" content="Webové stránky, realitní software, intranet, videoprezentace, fotografie a CI pro moderní realitní kanceláře">
		<meta name="keywords" content="reality,realitní web,software,realitní software">
		<meta name="author" content="Creative Projects s.r.o. | everything's possible | www.creativeprojects.cz">
		<meta name="robots" content="all">

		<title>{block title|striptags}{/block} - StránkyRealitky.Cz - kompletní řešení pro moderní realitní kanceláře</title>

		{include CP_DIR."/Base/templates/favicon.latte", dir => $thisDomainEntity->getBackend()->getFaviconDir(), defaultDir => "backend/img/favicon"}

		{control css}
	</head>

	{block body}

</html>
