<a n:if="$user->isAllowed('Admin:BrokerProfiles','edit')" n:href=":Admin:BrokerProfiles:edit $brokerProfileEntity->getId()" title="{_'Upravit tento profil makléře'}">
	<i class="fa fa-pencil"></i> 
	<span>{_'Upravit profil'}</span>
</a>