{block adminToolbarButtons}
	{include "adminToolbarButtons.latte"}
{/block}

{block content}
<div class="brokerprofiles detail">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h1 n:block="title">
					{$brokerProfileEntity->profile_title} 
					<small>{$brokerProfileEntity->profile_position}</small>
				</h1>
				<hr/>

				{$brokerProfileEntity->profile_description}

				<div class="row lead">
					<div class="col-sm-6">
						<a title="Napište mi" href="mailto:{$brokerProfileEntity->profile_user->getEmail()|encryptemail}"><i class="fa fa-envelope"></i> {$brokerProfileEntity->profile_user->getEmail()|encryptemail}</a>
					</div>
					<div class="col-sm-6 text-right">
						<i class="fa fa-phone"></i> {$brokerProfileEntity->profile_user->getPhone()|phone}
					</div>
				</div>
			</div>
			<div class="col-sm-4">

				{gallery $brokerProfileEntity->profile_broker_images, rowClass => "row images broker"}

				<h2 class="text-center">Regiony <small>kde především působím</small></h2>
				<div id="map">
					{include "../Estates/blindMap.latte", activeRegions => $brokerProfileEntity->activeRegions}
				</div>

			</div>
		</div>
		<h2 class="text-center">
			<i class="fa fa-camera"></i> Ukázky mé práce <small>fotografie prodaných nemovitostí</small>
		</h2>
	</div>

	<div class="stripe">
		<div class="container-fluid images estates">

			{gallery $brokerProfileEntity->profile_estates_images}

		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div n:if="$estatesCollection->count()" class="estates list">
					<h2>
						<i class="fa fa-map-marker"></i> Nemovitosti <small>v mé nabídce</small>
					</h2>

					{include "../Estates/default/items.latte", grid => $estatesCollection}

				</div>
			</div>
			<div class="col-sm-6 testimonials">
				<h2>
					<i class="fa fa-comment"></i> Reference <small>reakce spokojených klientů</small>
				</h2>

				<div n:foreach="$brokerProfileEntity->profile_testimonials AS $testimonialEntity">
					<q>
						{$testimonialEntity->testimonial_text}
					</q>
					<p class="text-right author">
						<strong>{$testimonialEntity->testimonial_author}</strong>
					</p>
					{last}{else}<hr/>{/last}
				</div>
			</div>
		</div>
		{*<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="text-center">Regiony <small>kde především působím</small></h2>
				<div id="map">
					{include "../Estates/blindMap.latte", activeRegions => $brokerProfileEntity->activeRegions}
				</div>
			</div>
		</div>*}
		<h2 id="video" class="text-center">
			<i class="fa fa-video-camera"></i> Videoprohlídka <small>videoprezentace vybraných nemovitostí</small>
		</h2>

		<div class="row">
			<div  n:foreach="$brokerProfileEntity->profile_videos AS $videoEntity" class="col-sm-6{if count($brokerProfileEntity->profile_videos) == 1} col-sm-offset-3{/if}">
				<div class="video">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="100%" height="315" src="https://www.youtube.com/embed/{$videoEntity->video_code}?html5=1" frameborder="0" allowfullscreen>
						</iframe>
					</div>
				</div>
				<h3>
					{$videoEntity->video_title} <small n:if="$videoEntity->video_address">{$videoEntity->video_address}</small>
				</h3>
				<div n:if="$videoEntity->video_description">
					{$videoEntity->video_description}
				</div>
			</div>
		</div>
	</div>
</div>