<div class="list">
	<table class="table slugs fixed-header">
		<thead>
			<tr>
				<th class="title">{sortableTh $slugsCollection, field => "label", label => "Název"}</th>
				<th class="text-left width-auto">{sortableTh $slugsCollection, field => "url", label => "URL"}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody n:snippet="tbodySnippet">
			<tr n:foreach="$slugsCollection->getAll() AS $slugEntity">
				<td class="title">
					<strong>
						<a href="{$basePath}/{$slugEntity->url}" title="{$slugEntity->label}">{$slugEntity->label|truncate:40}</a>
					</strong>
					<span class="ellipsis">
						{$slugEntity->metaDescription|truncate:150}
					</span>
				</td>
				<td class="text-left width-auto">
					<span title="{$slugEntity->url}">{$slugEntity->url|truncate:40}</span>
				</td>
				<td class="tools">
					<a n:href="Slugs:edit $slugEntity->getId(), backlink => $backlink" title="{_'Upravit tuto URL adresu'}" class="btn btn-ico btn-primary">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!$slugsCollection->count()" class="empty">
				<td colspan="6">{_'Nenalezeny žádné URL adresy'}</td>
			</tr>
		</tbody>
	</table>

	{$slugsCollection->pagination->getControl()}
	
</div>