{form advicesQuestionForm}
	{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
	<div class="form-group">
		<label class="control-label" n:name="name">Jméno</label>
		<input class="form-control" n:name="name" placeholder="Uveďte jméno">
	</div>
	<div class="form-group">
		<label class="control-label" n:name="email">Email</label>
		<input class="form-control" n:name="email" type="email" placeholder="Uveďte emailovou adresu">
	</div>
	<div class="form-group">
		<label class="control-label" n:name="question">Vaše otázka</label>
		<textarea class="form-control" n:name="question" placeholder="Položte otázku"></textarea>
	</div>
	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Odeslat otázku'}</span>
		</button>
	</div>
{/form}