{form homepageForm class=>"confirm-leave"}

	{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}

	{include CP_DIR."/Slugs/AdminModule/templates/forms/slugPart.latte", _form => $_form, slugEntity => $homepageEntity->slug}

	<div class="buttonpane">
		<button n:name="save" class="btn btn-primary btn-lg">
			<i class="fa fa-check"></i>
			<span>{_'Uložit'}</span>
		</button>
	</div>

{/form}