{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Homepage/adminToolbarButtons.latte"}
{/block}

{block content}
<div class="screen" id="intro">
	<div id="homepage-broker">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-4 col-sm-offset-6 col-lg-offset-8">
					<strong class="title">
						<i class="fa fa-search"></i>
						<span n:block="title">{_'Najděte si svůj domov'}</span>
					</strong>

					{form searchForm}

						{control searchForm errors}

						<div class="form-group">
							<label class="control-label" n:name="advert_type">{_'Hledám'}</label>
							<select class="form-control" n:name="advert_type"></select>
						</div>
						<div class="form-group">
							<label class="control-label" n:name="advert_subtype">{_'Dispozice'}</label>
							<select class="form-control" n:name="advert_subtype"></select>
						</div>
						<div class="form-group">
							<label class="control-label" n:name="locality">{_'Lokalita'}</label>
							<input class="form-control" n:name="locality" placeholder="{_'Zadejte požadovanou lokalitu'}" />
						</div>
						<div class="row">
							<div class="col-xs-6">
								{formContainer area}
									<div class="form-group">
										<label class="control-label" n:name="from">{_'Plocha od'} [m<sup>2</sup>]</label>
										<input class="form-control" n:name="from" placeholder="{_'Zadejte plochu od'}" type="number" />
									</div>
								{/formContainer}
							</div>
							<div class="col-xs-6">
								{formContainer price}
									<div class="form-group">
										<label class="control-label" n:name="to">Cena do [Kč]</label>
										<input class="form-control" n:name="to" placeholder="{_'Zadejte cenu do'}" type="number" />
									</div>
								{/formContainer}
							</div>
						</div>
						<div class="buttonpane">
							<button class="btn btn-primary btn-lg" n:name="search">
								<i class="fa fa-search"></i>
								<span>{_'Najít bydlení'}</span>
							</button>
						</div>
					{/form}
				</div>
			</div>
		</div>
		<a href="#lists" title="{_'Více informací'}" id="homepage-more"><span>{_'Více informací'} ...</span><i class="fa fa-chevron-down"></i></a>
	</div>
</div>
<div id="lists">
	<div class="container">
		
		{include "$appTemplatesDir/lists.latte", showAdvertSubtype => false, showAdvertFunction => false}

	</div>
</div>

<div class="container">
	<div class="row services homepage">
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<i class="fa fa-eye"></i>
			<strong>Moderní Corporate Identity</strong>
			<p>
				Zpracujeme logo a celý vizuální styl Vaší realitní kanceláře. Vizitky, tištěné propagační materiály, velkoplošnou reklamu, jednotný vizuální styl Vašich strategií, statistik, smluv a všech ostatních dokumentů.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<i class="fa fa-paint-brush"></i>
			<strong>Moderní design na míru</strong>
			<p>
				Námi vytvořené stránky pro realitní kanceláře jsou moderní, přehledné a vzbuzují důvěryhodnost což jsou klíčové aspekty pro úspěšné dokončení obchodu.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<i class="fa fa-mobile"></i>
			<strong>Správu i na mobilních zařízeních</strong>
			<p>
				Naše stránky, intranet i realitní software můžete pohodlně spravovat i na mobilních zařízeních.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<i class="fa fa-signal"></i>
			<strong>Exporty na realitní servery</strong>
			<p>
				Automaticky exportujeme zvolené inzeráty i makléře na největší české realitní portály.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<i class="fa fa-users"></i><br/>
			<strong>Makléřské účty a profily</strong>
			<p>
				Správa makléřů, včetně fotografií, přehledů i profiových stránek makléřů Vám pomůže dostat Vaši realitní kancelář na přední místa ve vyhledávačích.
			</p>
		</div>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<i class="fa fa-comment"></i>
			<strong>Poptávky a jejich párování</strong>
			<p>
				Evidence poptávek Vašich makléřu i sběr poptávek od návštěvníků Vašich stránek Vám poskytne přehled a zajistí, že o žádný potenciální obchod nepřijdete.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-7">
			<h1>
				<img src="{$thisDomainEntity->basePath}/img/strankyrealitky-logo.svg" width="40" /> StránkyRealitky.Cz
			</h1>
			<p class="lead">
				Pro realitní kanceláře umíme nabídnout všechny moderní prostředky propagace. Počínaje zpracování vizuální identity kanceláře, přes návrhy a realizaci všech tištěných materiálů, přes moderní webové stránky včetně administrace nemovitostí, poptávek a makléřů. Automatické exporty nemovitostí a makléřů na největší české realitní portály.
			</p>
			<p>
				Při samotném prodeji umíme připravit nemovitosti pro profesionální focení, samotné focení zrealizovat, udělat postprodukci snímků ve vysokém rozlišení. V neposlední řadě nabízíme i přípravu, realizaci, střih, postprodukci a publikaci profesionálních videoprezentací nemovitostí a realitních kanceláří ve vysokém rozlišení.
			</p>
			<p class="text-center">
				<br/>
				<a class="btn btn-facebook" href="https://www.facebook.com/strankyrealitky.cz" title="StránkyRealitky.Cz na facebooku">
					<i class="fa fa-facebook"></i> 
					StránkyRealitky.Cz na facebooku
				</a>
			</p>
		</div>
		<div class="col-sm-5">
			<h2>
				<i class="fa fa-map-marker"></i> 
				Kde působíme
			</h2>
			
			<style>
				{var $regions = array()}
				
				{foreach array_filter($activeRegions) AS $region}
					{? $regions[] = "#" . $region}
				{/foreach}

				{if count($regions)}
					{! implode(",", $regions)}{
						fill: #1F70B4;
					}
				{/if}
			</style>

			{var $map = $thisDomainEntity->getWwwDir() . "/img/map.svg"}

			{include $map}

		</div>
	</div>
</div>
<br/>
<br/>
<div id="map">
	{include "$appTemplatesDir/../Estates/map.latte", estatesCollection => $estatesCollection}
</div>
