{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Demands/default/adminToolbarButtons.latte"}
{/block}

{block title}I am looking for a real estate{/block}

{block content}
<div class="container"> 
	{include CP_DIR."/Utils/templates/centeredTitle.latte", label => "I am looking for a real estate"}

	<p class="lead text-center">
		Are you looking for an exclusive real estate? Aren't you able to find living or investment of your dreams?
	</p>
	<p class="text-center">
		Please fill the form bellow and we will discreetly send you an offer from our private and non-public database according to your expectations.
	</p>
	
	{include APP_DIR."/FrontModule/templates/Demands/form.latte"}

</div>