<div class="list">
	<table class="table demands fixed-header">
		<thead>
			<tr>
				<th class="title">{sortableTh $demandsCollection, field => "demand_client_title", label => "Poptávající"}</th>
				<th>{sortableTh $demandsCollection, field => "advert_function", label => "Obchod"}</th>
				<th>{sortableTh $demandsCollection, field => "advert_type", label => "Typ"}</th>
				<th>{sortableTh $demandsCollection, field => "advert_subtype", label => "Upřesnění"}</th>
				<th class="address">{sortableTh $demandsCollection, field => "demand_locality", label => "Lokalita"}</th>
				<th n:if="$user->isAllowed('Admin:Demands', 'setUser')" class="name">{sortableTh $demandsCollection, field => "userId", label => "Makléř"}</th>
				<th class="tools">&nbsp;</th>
			</tr>
		</thead>
		<tbody n:snippet="tbodySnippet">
			<tr n:foreach="$demandsCollection->getAll() AS $demandEntity" class="{if $demandEntity->demand_status == 0}new{/if}">
				<td class="title">
					{ifset $demandEntity->demand_client_email}
						<strong>
							<a href="mailto: {$demandEntity->demand_client_email|encryptemail}" title="{_'Kontaktovat poptávajícícho'}">{$demandEntity->demand_client_title}</a>
						</strong>
					{else}
						{$demandEntity->demand_client_title}
					{/ifset}

					<span class="ellipsis">tel.: {$demandEntity->demand_client_phone}</span>
				</td>
				<td>
					{$estatesParameters[advert_function][options][$demandEntity->advert_function]}
				</td>
				<td>
					{$estatesParameters[advert_type][options][$demandEntity->advert_type]}
				</td>
				<td>
					{ifset $demandEntity->advert_subtype}
						{var $chunks = array()}

						{foreach json_decode($demandEntity->advert_subtype, true) AS $chunk}
							{? $chunks[] = $estatesParameters[advert_subtype][options][$demandEntity->advert_type][$chunk]}
						{/foreach}

						{implode(", ", array_filter($chunks))}
					{else}
						<em>{_'Nezadáno'}</em>
					{/ifset}
				</td>
				<td class="address">
					{$demandEntity->demand_locality}
					<small n:if="$demandEntity->demand_locality->radius">
						<br>
						v okolí {$demandEntity->demand_locality->radius} km
					</small>
				</td>
				<td n:if="$user->isAllowed('Admin:Demands', 'setUser')">
					{$demandEntity->demand_user->getName()|empty:'Nezadáno'}
				</td>
				<td class="tools">
					<a n:if="$demandEntity->demand_status != 2 && $demandEntity->isEditAllowed($user)" n:href="Archive! $demandEntity->getId()" class="btn btn-primary btn-ico ajax" title="{_'Archivovat tuto poptávku'}">
						<i class="fa fa-check"></i>
						<span>{_'Archivovat'}</span>
					</a>
					<a n:if="$demandEntity->demand_status == 2 && $demandEntity->isEditAllowed($user)" n:href="Unarchive! $demandEntity->getId()" class="btn btn-primary btn-ico ajax" title="{_'Obnovit poptávku'}">
						<i class="fa fa-refresh"></i>
						<span>{_'Obnovit'}</span>
					</a>
					<a n:if="$demandEntity->isEditAllowed($user)" n:href="Demands:Edit $demandEntity->getId()" class="btn btn-primary btn-ico" title="{_'Upravit tuto poptávku'}">
						<i class="fa fa-pencil"></i>
						<span>{_'Upravit'}</span>
					</a>
					<a n:if="$demandEntity->isRemoveAllowed($user)" n:href="Remove! $demandEntity->getId()" class="btn btn-default btn-ico remove ajax" title="{_'Odebrat tuto poptávku'}" data-confirm-title="{_'Odebrat tuto poptávku'}" data-confirm-message="{_'Opravdu chcete tuto poptávku odebrat?'}">
						<i class="fa fa-trash-o"></i>
						<span>{_'Odebrat'}</span>
					</a>
				</td>
			</tr>

			<tr n:if="!$demandsCollection->count()" class="empty">
				<td colspan="{if $user->isAllowed('Admin:Demands', 'setUser')}7{else}6{/if}">{_'Nenalezeny žádné poptávky'}</td>
			</tr>

		</tbody>
	</table>

	{$demandsCollection->pagination->getControl()}

</div>