{block title}{_'Kontakty'}{/block}

{block adminToolbarButtons}
	{include CP_DIR."/Contacts/FrontModule/templates/default/adminToolbarButtons.latte"}
{/block}

{block content}
<div class="container">
    <h1>{_'Kontakty'}</h1>
	<div class="row">
		<div class="col-sm-6">
			<h2>{$contactsEntity->contacts_company_title}</h2>
			<address>
				{! implode("<br/>", explode(",", $contactsEntity->contacts_company_address))}
			</address>
			<p>
				IČ: {$contactsEntity->contacts_company_ic}
				<span n:if="$contactsEntity->contacts_company_dic">
					<br/>DIČ: {$contactsEntity->contacts_company_dic}
				</span>
			</p>
			<p n:if="$contactsEntity->contacts_company_incorporation">{$contactsEntity->contacts_company_incorporation}</p>
			<div class="lead">
				<div n:if="$contactsEntity->contacts_phone">
					<i class="fa fa-phone"></i> {$contactsEntity->getFormattedPhones()}
				</div>
				<div n:if="$contactsEntity->contacts_email">
					<a href="mailto: {$contactsEntity->contacts_email|encryptemail}" title="{_'Napište nám'}">
						<i class="fa fa-envelope"></i> {$contactsEntity->contacts_email|encryptemail}
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<h2>Vedení společnosti</h2>

			<div class="row user-card" n:foreach="$contactsEntity->contacts_persons AS $personEntity">
				<div class="col-sm-4">
					{image $personEntity->getPortrait(), forced => true, ratio => 1, noImageSrc => "assets/img/no-image/no-user-image.svg", alt => $personEntity->getName(), class => "img-thumbnail img-circle"}
				</div>
				<div class="col-sm-8">
					<h3>{$personEntity->getName()}</h3>
					<p class="lead">
						<i class="fa fa-phone"></i>
						{$personEntity->getPhone()}
					<br/>
						<i class="fa fa-envelope"></i>
						<a href="mailto:{$personEntity->getEmail()}" title="{_'Napsat email'}">{$personEntity->getEmail()}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div n:foreach="$contactsEntity->contacts_offices AS $officeEntity">
	<div class="container">
		<h3>
			<i class="fa fa-map-marker"></i> {$officeEntity->office_title} <small>{$officeEntity->office_address}</small>
		</h3>
	</div>

	{map $officeEntity->office_address}

	<p class="text-center">
		GPS: <strong>{decToDms($officeEntity->office_address->latitude, $officeEntity->office_address->longitude)}</strong>
	</p>
	<div n:if="$officeEntity->office_description">
		{$officeEntity->office_description}
	</div>
</div>

<div class="container">
	<h3 class="text-center">
		<i class="fa fa-users"></i>
		<span>Naši makléři</span>
	</h3>
</div>

<div class="estates brokers text-center">
	<div class="item" n:foreach="$brokersCollection->getAll() AS $userEntity">
		{include "$appTemplatesDir/userCard.latte", userEntity => $userEntity, forced => true, autoThb => false}
	</div>
</div>



