<!DOCTYPE html>
{htmlTag}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="designer" content="Software a služby pro moderní realitní kanceláře | www.strankyrealitky.cz">
		
		{block meta}
			{include CP_DIR."/Base/FrontModule/templates/metaTags.latte", currentSlug => $currentSlug}
		{/block}
		<title>{block title|striptags|strip}{/block} | Elite Living - premium estates by Aktivreality</title>
		{include CP_DIR."/Base/templates/favicon.latte", dir => $thisDomainEntity->getBackend()->getFaviconDir(), defaultDir => "backend/img/favicon"}

		{control css}

	</head>
	<body{ifCurrent 'Homepage:*'} class="homepage"{/ifCurrent}>
		{includeblock CP_DIR."/Base/FrontModule/templates/adminToolbar.latte"}

		<div id="messages" n:if="count($flashes)">
			<div class="container">
				{include CP_DIR."/Utils/templates/messages.latte", messages => $flashes}
			</div>
		</div>

		<div id="header">
			<div class="container">
				<div class="body">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-3">
							<div id="logo">
								<a title="Elite Living - premium estates by Aktivreality" n:href="Homepage:default">Elite Living - premium estates by Aktivreality</a>
							</div>
						</div>
						<div class="col-sm-8 col-md-8 col-lg-9">

							{include CP_DIR."/Regions/templates/menuLocales.latte"}

							<nav class="menu" n:inner-foreach="$presenter->getMenu('main') AS $itemEntity">
								<a href="{$itemEntity->href}" title="{$itemEntity->item_slug->title}"{ifCurrent $itemEntity->item_slug->action} class="active"{/ifCurrent}>
									<span>{$itemEntity->item_slug->label}</span>
								</a>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content">

			{include content}

		</div>
		<div id="footer">
			
			{include "footer/$locale.latte"}

		</div>
		{include CP_DIR."/Base/templates/javascript.latte"}
	</body>
</html>