<!DOCTYPE html>
{htmlTag}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="designer" content="Software a služby pro moderní realitní kanceláře | www.strankyrealitky.cz">
		{block meta}
			{include CP_DIR."/Base/FrontModule/templates/metaTags.latte", currentSlug => $currentSlug}
		{/block}

		<title>{block title|striptags|strip}{/block} | Jan Mistoler - reality | finance</title>

		{include CP_DIR."/Base/templates/favicon.latte", dir => $thisDomainEntity->getBackend()->getFaviconDir(), defaultDir => "backend/img/favicon"}

		{control css}

	</head>
	<body {ifCurrent 'Homepage:default'}id="homepage"{/ifCurrent}>
		{includeblock CP_DIR."/Base/FrontModule/templates/adminToolbar.latte"}
		<div id="messages" n:if="count($flashes)">
			{include CP_DIR."/Utils/templates/messages.latte", messages => $flashes}
		</div>
		<div id="header">
			<div class="container">
				<nav id="mainmenu">
					<a data-target="#info" n:href="Homepage:default#info" title="Informace"><i class="fa fa-info"></i><span>Informace</span></a>
					<a data-target="#portfolio" n:href="Homepage:default#portfolio" title="Portfolio" {ifCurrent Pages:*}class="active"{/ifCurrent}><i class="fa fa-desktop"></i><span>Portfolio</span></a>
					<a data-target="#estates" n:href="Homepage:default#estates" title="Zakázky" {ifCurrent Estates:*}class="active"{/ifCurrent}><i class="fa fa-home"></i><span>Zakázky</span></a>
					<a data-target="#video" n:href="Homepage:default#video" title="Video"><i class="fa fa-video-camera"></i><span>Video</span></a>
					<a data-target="#reviews" n:href="Homepage:default#reviews" title="Reference"><i class="fa fa-comments-o"></i><span>Reference</span></a>
					<a data-target="#contact" n:href="Homepage:default#contact" title="Kontakt"><i class="fa fa-phone"></i><span>Kontakt</span></a>	
				</nav>
			</div>
		</div>
		<div id="content">

			{include content}

		</div>
		<div id="contact">
			<div class="watermark">
			<div class="container">
				<div class="row">
					<div class="col-xxs-12 col-xs-6 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3">
						<img src="{$thisDomainEntity->getBasePath()}/img/logo/ark.svg" alt="Asociace Realitních Kanceláří" class="img-ark" />
					</div>
					<div class="col-xxs-12 col-xs-6 col-sm-5 col-md-4 col-lg-3">
						<h3>Jan Mistoler</h3>
						<p class="lead">
							<i class="fa fa-fw fa-phone"></i> 774 883 375
						</p>
						<p class="lead">
							<a href="mailto: {$thisDomainEntity->getEmail()|encryptemail}" title="Napište mi">
								<i class="fa fa-fw fa-envelope"></i> {$thisDomainEntity->getEmail()|encryptemail}
							</a>
						</p>
						<p class="lead socials">
							<a href="https://www.facebook.com/pages/Jan-Mistoler-realitn%C3%AD-makl%C3%A9%C5%99/265461630271971" title="Jan Mistoler - realitní makléř">
								<i class="fa fa-fw fa-facebook"></i>
							</a>
							<a href="https://twitter.com/JanMistoler" title="Jan Mistoler - realitní makléř">
								<i class="fa fa-fw fa-twitter"></i>
							</a>
							<a class="item item-pdf-karta" href="{$thisDomainEntity->getBasePath()}/docs/jan-mistoler-karta.pdf" title="PDF karta">
								<i class="fa fa-file-pdf-o"></i>
							</a>
							<a class="item item-blog" n:href="Blog:default" title="Blog">
								<i class="fa fa-fw fa-rss"></i>
							</a>
						</p>
					</div>
				</div>
			<div id="author">
					<p class="text-center">
						<a href="http://www.strankyrealitky.cz" title="StránkyRealitky.Cz - Software a služby pro moderní realitní kanceláře">Moderní realitní software na míru od <strong>StránkyRealitky.Cz</strong>.</a>
					</p>
				
			</div>
			</div>
		</div>
		{include CP_DIR."/Base/templates/javascript.latte"}
	</body>
</html>