{block navbarTitle}
	<i class="fa fa-users"></i>
	<span n:block="title">{_'Uživatelé'}</span>
	<small>{_"přehled uživatelských účtů"}</small>
{/block}

{block navbarButtons}
	{include CP_DIR."/Users/AdminModule/templates/default/navbarButtons.latte"}
{/block}

{block content}

<div class="container">
	{snippetArea listSnippetArea}
		{include "default/list.latte"}
	{/snippetArea}
</div>