{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Homepage/adminToolbarButtons.latte"}
{/block}

{block title}{_'Prémiové nemovitosti'}{/block}

{block content}
<div id="roundabout">
<div class="container">
	<div id="intro">
		
		{var $ite = 1}
		
		<div n:inner-foreach="$estatesCollection->getAll() AS $estateEntity">
			<div n:if="$estateEntity->isVisible($user) && $estateEntity->advert_onhomepage" class="item{if $iterator->isFirst()} active{/if}" id="intro-slide-{$ite}">
				
				{? $ite++}

				<div class="item-inner" style="background-image: url('{if $estateEntity->getImages()->getMain()->exists()}{$estateEntity->getImages()->getSrc()}{else}{$basePath."/img/no-image.png"}{/if}')">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-6 estate-description">
							<div class="lead">
								<p>
									{$estateEntity->estate_description|m2|truncate:200}
								</p>
								<p class="text-right">
									<a n:href="Estates:detail $estateEntity->estate_id" title="{_'Zobrazit detail nemovitosti'}">
										<small><i class="fa fa-chevron-right"></i></small>
										<span>{_'více'} ...</span>
									</a>
								</p>
							</div>	
						</div>
					</div>
				</div>
				<div class="shadow">
				</div>
			</div>
		</div>
	</div>
</div>
</div>