<!DOCTYPE html>
{htmlTag}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="description" content="Webové stránky, realitní software, intranet, videoprezentace, fotografie a CI pro moderní realitní makléře">
		<meta name="keywords" content="reality,realitní web,software,realitní software, makléř">
		<meta name="author" content="Creative Projects s.r.o. | everything's possible | www.creativeprojects.cz">
		<meta name="robots" content="all">

		<title>{block title|striptags}{/block} - StránkyMakléře.Cz - kompletní řešení pro moderní realitní makléře</title>

		{include CP_DIR."/Base/templates/favicon.latte", dir => $thisDomainEntity->getBackend()->getFaviconDir(), defaultDir => "backend/img/favicon"}

		{control css}
	</head>

	<body>
		<div id="flashes" n:if="count($flashes)">
			{include "../../templates/components/messages.latte", messages => $flashes}
		</div>
		<div id="content">
			{include content}
		</div>
		<footer>
			{form questionForm}
				{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
		
				{include CP_DIR."/Emails/templates/form/fromName.latte", _form => $_form}
		
				{include CP_DIR."/Emails/templates/form/fromEmail.latte", _form => $_form}

				{include CP_DIR."/Emails/templates/form/body.latte", _form => $_form}

				<div class="buttonpane">
					<button n:name="send" class="btn btn-primary">
						<i class="fa fa-check"></i>
						<span>{_'Odeslat'}</span>
					</button>
				</div>
			{/form}
		</footer>
		{include CP_DIR."/Base/templates/javascript.latte"}
	</body>
</html>