<div class="row">
	<div n:if="$userEntity->getAvatar()->exists()" class="col-sm-4">
		<span class="image">
			{image $userEntity->getAvatar(), class => "img-circle", ratio => 1}
		</span>
	</div>
	<div class="{if $userEntity->getAvatar()->exists()}col-sm-8{else}col-sm-12{/if}">
		<h2>{_'Informace o makléřské účtu'}</h2>
		{var $informationRow = CP_DIR."/Utils/templates/informationRow.latte"}

		{include $informationRow, label => "Název účtu", value => $userEntity->getName()}

		{include $informationRow, label => "Email", value => $userEntity->getEmail()}

		{include $informationRow, label => "Registrace", value => $userEntity->getCreated()->timestamp}

		{include $informationRow, label => "Poslední přihlášení", value => $userEntity->getLastLogged()->timestamp}

		{include $informationRow, label => "Přihlášeno z IP", value => $userEntity->getLastLogged()->ip}

		{include $informationRow, label => "Telefon", value => $userEntity->getPhone()}

		{if $multiLocale}
			{include $informationRow, label => "Preferovaný jazyk", value => $presenter->regionsService->settings[locales][$userEntity->getLocale()]}
		{/if}
	</div>
</div>