{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Estates/default/adminToolbarButtons.latte"}
{/block}

{block content}

<div class="container list estates">
	
	<h1 class="text-center">
		<span n:block="title">{_'Naše nemovitosti'}</span><br/>
		<small>{_'aktuální nabídka prémiových nemovitostí'}</small>
	</h1>

	<nav class="lead text-center">
		<a n:href="Estates:default" title="{_'Zobrazit všechny nemovitosti'}"{if !$presenter->getParameter('advert_type')}class="active"{/if}>{_'Všechny'}</a>
		<a n:foreach="$advertTypeList AS $advert_type => $advertType" n:href="Estates:default $advert_type" title="{_'Zobrazit všechny'} {$advertType[title]}" {ifCurrent 'Estates:default', $advert_type}class="active"{/ifCurrent}>{_$advertType[title]}</a>
	</nav>
	
	{var $count = 0}

	<div class="row items" n:inner-foreach="$estatesCollection->getAll() AS $estateEntity">
		<div class="col-sm-6 col-md-4 item" n:if="$estateEntity->isVisible($user)">
			
			{? $count++}

			<a n:href="Estates:detail $estateEntity->estate_id" class="image" title="{_'Zobrazit detail nemovitosti'}">
					{image $estateEntity->getImages()->getMain()}
			</a>
				
			<strong>
				<a n:href="Estates:detail $estateEntity->estate_id" title="{_'Zobrazit detail nemovitosti'}">

					{$estateEntity->getTitle()|m2|truncate:50}

					<em>
						{$estateEntity->getPublicAddress()}
					</em>
				</a>
			</strong>

			<p>
				{$estateEntity->estate_description|truncate:170:' ...'}
			</p>

			{include APP_DIR."/FrontModule/templates/components/price.latte", estateEntity => $estateEntity, showProperties => false, showNote => false}

		</div>
	</div>

	<p n:if="!$count" class="empty">
		{_'Nenalezeny žádné nemovitosti'}
	</p>

	{$estatesCollection->pagination->getControl()}
	
</div>