{block adminToolbarButtons}
	{include APP_DIR."/FrontModule/templates/Estates/detail/adminToolbarButtons.latte"}
{/block}

{block title}{$estateEntity->getTitle()}{/block}

{block locality}
	<h2>
		<i class="fa fa-map-marker"></i>
		{_'Lokalita'}
	</h2>

	{include APP_DIR."/FrontModule/templates/Estates/detail/locality.latte", estate => $estateEntity}
{/block}

{block content}

<div class="detail estates">
	<div class="container">
		{if $estateEntity->isVisible($user)}
			<div class="title">
				<h1 class="text-center">
					{$estateEntity->getFormattedTitle($user)}
				</h1>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					{var $offset = 0}

					{if $estateEntity->youtube_video}
						<div class="video">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item img-thumbnail" src="//www.youtube.com/embed/{$estateEntity->youtube_video}" allowfullscreen></iframe>
							</div>
						</div>
					{else}
						{var $mainImage = $estateEntity->getImages()->getFirst()}

						{if $mainImage}
							<a href="{$basePath}/{$mainImage->getSrc()}" class="image colorbox main-image" title="{_'Zvětšit obrázek'}" data-rel="album">
								{image $mainImage}
							</a>

							{? $offset++}
						{/if}
					{/if}
				</div>
			</div>

			
			{gallery $estateEntity->estate_images, gridClass => "item", offset => $offset, autoThb => false}

			{var $sentences = array_filter(explode(". ", $estateEntity->estate_description))}
			{var $leadSentencesCount = ceil(count($sentences) * 0.3)}

			<div n:if="count($sentences)">
				<p n:if="$leadSentencesCount" class="lead">
					{for $i = 0;$i < $leadSentencesCount;$i++}
						{$sentences[$i]|m2}.
						{? unset($sentences[$i])}
					{/for}
				</p>
				<p>
					{implode(". ", $sentences)|m2}
				</p>
			</div>

			<div class="row">
				<div class="col-sm-6">
					
					{include APP_DIR."/FrontModule/templates/Estates/detail/information.latte"}	

					{if $estateEntity->advert_type == 3}
						{include locality}
					{else}
						{include APP_DIR."/FrontModule/templates/Estates/detail/price.latte"}
					{/if}

					<div class="text-center">
						<div class="share">
							{include CP_DIR."/Utils/templates/share.latte"}
						</div>
					</div>

				</div>
				<div class="col-sm-6">
					{if $estateEntity->advert_type == 3}
						{include APP_DIR."/FrontModule/templates/Estates/detail/price.latte"}
					{else}
						{include locality}
					{/if}

					<h2>{_'Kontakt'} <small>{_'Kontaktujte makléře této nemovitosti'}</small></h2>

					<div class="broker">
						{default $forced = false}

						<div class="row user-card">
							<div class="col-xxs-12 col-xs-7 text-right">
								<h3>
									{if $estateEntity->estate_user->brokerProfileExists()}
										<a n:href="BrokerProfiles:detail $estateEntity->estate_user->getId()" title="{_'Zobrazit profil makléře'}">
											{$estateEntity->estate_user->getName()}
										</a>
									{else}
										{$estateEntity->estate_user->getName()}
									{/if}
								</h3>
								<p class="lead">
									{$estateEntity->estate_user->getPhone()}
									<br/>
									<a href="mailto:{$estateEntity->estate_user->getEmail()|encryptemail}" title="{_'Napsat makléři'}">{$estateEntity->estate_user->getEmail()|encryptemail}</a>
								</p>
							</div>
							<div n:if="$estateEntity->estate_user->avatar->exists() || $forced" class="col-xxs-12 col-xs-5">
								{define avatar}
									<div class="image">
										{image $estateEntity->estate_user->avatar, forced => $forced, ratio => 0.7, noImageSrc => "assets/img/no-image/no-user-image.svg", alt => $estateEntity->estate_user->getName()}
									</div>
								{/define}

								{if $estateEntity->estate_user->brokerProfileExists()}
									<a n:href="BrokerProfiles:detail $estateEntity->estate_user->getId()" title="{_'Zobrazit profil makléře'}">
										{include avatar}
									</a>
								{else}
									{include avatar}
								{/if}
							</div>
						</div>
						<hr/>
						
						{form emailForm}
							{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
	
							{include CP_DIR."/Emails/templates/form/fromName.latte", _form => $_form}
	
							{include CP_DIR."/Emails/templates/form/fromEmail.latte", _form => $_form}

							{include CP_DIR."/Emails/templates/form/body.latte", _form => $_form}

							<div class="buttonpane">
								<button n:name="send" class="btn btn-primary">
									<i class="fa fa-check"></i>
									<span>{_'Odeslat dotaz'}</span>
								</button>
							</div>
						{/form}

					</div>

					{include APP_DIR."/FrontModule/templates/Estates/detail/project.latte"}

				</div>
			</div>
		{else}
			<p class="text-center lead">
				<br/>
				<i class="fa fa-times"></i><br/>
				<br/>
				{_'Tato nemovitost již není v nabídce'}
			</p>
		{/if}
	</div>
</div>
