<a n:if="$estateEntity->isEditAllowed($user)" n:href=":Admin:Estates:edit $estateEntity->estate_id, backlink => $backlink" title="{_'Upravit tuto nemovitost'}">
	<i class="fa fa-pencil"></i> 
	<span>{_'Upravit nemovitost'}</span>
</a>
{*<a n:if="$estateEntity->isRemoveAllowed($user)" n:href=":Admin:Estates:default, do => 'Remove', estate_id => $estateEntity->estate_id, backlink => $backlink" title="{_'Odebrat tuto nemovitost'}" data-confirm-title="{_'Odebrat tuto nemovitost'}" data-confirm-message="{_'Opravdu chcete tuto nemovitost odebrat?'}" class="confirm">
	<i class="fa fa-trash"></i> 
	<span>{_'Odebrat'}</span>
</a>*}