{var $showForm = isset($showForm) ? $showForm : true}

<div class="broker">
	
	{include "../../Contacts/userCard.latte", userEntity => $estateEntity->estate_user}

	{if $showForm}
		{form emailForm}
			{include CP_DIR."/Forms/templates/errors.latte", _form => $_form}
	
			{include CP_DIR."/Emails/templates/form/fromName.latte", _form => $_form}
	
			{include CP_DIR."/Emails/templates/form/fromEmail.latte", _form => $_form}

			{include CP_DIR."/Emails/templates/form/body.latte", _form => $_form}

			<div class="buttonpane">
				<button n:name="send" class="btn btn-primary">
					<i class="fa fa-check"></i>
					<span>{_'Odeslat dotaz'}</span>
				</button>
			</div>
		{/form}
	{/if}

</div>