{if @count($group)}
	<h2>{_$title}</h2>
	<table class="table-label-value">
		<tbody n:inner-foreach="$group AS $key => $field">
			<tr>
				<td class="td-label">{_$field[title]}</td>
				<td class="td-value">
					{if $field[type] == "codebook"}
						{_$estatesParameters[$key][options][$estateEntity->$key]}
					{elseif $field[type] == "multiselect"}
						{var $chunks = array()}
						
						{foreach $estateEntity->$key AS $chunk}
							{capture $chunks[]}{_$estatesParameters[$key][options][$chunk]}{/capture}
						{/foreach}

						{implode(", ", array_filter($chunks))}
					{elseif $field[type] == "bool"}
						{if $estateEntity->$key}{_'Ano'}{else}{_'Ne'}{/if}
					{else}
						{_$estateEntity->$key}
					{/if}

					<span n:if="@$field[unit]"> {_$field[unit]}</span>
				</td>
			</tr>
		</tbody>
	</table>
{/if}