<p class="lead">
	{$estateEntity->getPublicAddress()}
</p>

{if $estateEntity->locality_inaccuracy_level == 1}
	{map $estateEntity->locality}
{else}
	{map address => $estateEntity->getPublicAddress()}
{/if}

<table class="table-label-value">
	<tbody>
		<tr>
			<td class="td-label">{_'Umístění'}</td>
			<td class="td-value">{_$estateEntity->getReadableObjectLocation()}</td>
		</tr>
		<tr>
			<td class="td-label">{_'Okolní zástavba'}</td>
			<td class="td-value">{_$estateEntity->getReadableSurroundingType()}</td>
		</tr>
	</tbody>
</table>