{*
<div n:if="@$estateEntity->estate_project" class="project-card">
	<h2>{_'Developerský projekt'}</h2>
	<div class="project">
		<a n:href="Projects:detail $estateEntity->estate_project->getId()" title="{_'Zobrazit informace o projektu'}" class="image">
			{image $estateEntity->estate_project->imagesCollection->getMain(), forced => true}
		</a>
		<h3>
			<a n:href="Projects:detail $estateEntity->estate_project->getId()" title="{_'Zobrazit informace o projektu'}">
				{$estateEntity->estate_project->title}
			</a>
		</h3>
		<p n:if="$estateEntity->estate_project->address" class="lead">
			{$estateEntity->estate_project->address}
		</p>
		<p>
			{strip_tags($estateEntity->estate_project->description)|truncate:200}
		</p>
		<p class="text-right">
			<a n:href="Projects:detail $estateEntity->estate_project->getId()" title="{_'Zobrazit informace o projektu'}">
				<i class="fa fa-chevron-right"></i> {_'více o projektu'}
			</a>
		</p>
	</div>
</div>
*}
